﻿@{
    ViewBag.Title = "站內搜尋";
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
}
@section head{
    <title>新光保全-站內搜尋</title>
    <meta name="description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <meta name="twitter:title" content="新光保全-站內搜尋" />
    <meta name="twitter:description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <meta property="og:title" content="新光保全-站內搜尋" />
    <meta property="og:description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <link rel="canonical" href="@url" />
    <style>
        .gsc-adBlock {
            display: none !important;
        }
    </style>
}
<section class="text-white text-center font-bold" id="page-top">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">站內搜尋</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">

    @section scripts{
        <script>
            (function () {
                //測試
                //var cx = '008956685246726567578:5aeir-ltyre';
                //正式
                var cx = '013764421759539850933:x3p_jllmv5a';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
    }
    <gcse:search></gcse:search>

</div>
