﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "機器人AIoT服務的領航家";
}
@section head{
    <title>新光保全-機器人AIoT服務的領航家</title>
    <meta name="description" content="新光保全於2004年起投入機器人研發，以智慧自動化科技，輔具保全、巡邏等需要高度人力的服務，持續和產學合作，開發以家庭個人為主的服務型機器人為提供AIoT服務新動能。"/>
    <meta name="twitter:title" content="新光保全-機器人AIoT服務的領航家"/>
    <meta name="twitter:description" content="新光保全於2004年起投入機器人研發，以智慧自動化科技，輔具保全、巡邏等需要高度人力的服務，持續和產學合作，開發以家庭個人為主的服務型機器人為提供AIoT服務新動能。"/>
    <meta property="og:title" content="新光保全-機器人AIoT服務的領航家"/>
    <meta property="og:description" content="新光保全於2004年起投入機器人研發，以智慧自動化科技，輔具保全、巡邏等需要高度人力的服務，持續和產學合作，開發以家庭個人為主的服務型機器人為提供AIoT服務新動能。"/>
    <link rel="canonical" href="@url" />

    <style>
        .st2 {
            fill: #fff000
        }

        .st3 {
            fill: #6bc7f1
        }

        .st0 {
            fill: none;
            stroke: #999899;
            stroke-width: 2
        }
    </style>
}

<section class="h5 font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item text-lg-center active" data-interval="10000">
                <div class="bg-cover bg-right text-vertical-center vh-75 bg-x-60" style="background-image:url(/Content/sks/img/robots-bn.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="h1 leading-none">機器人</h2>
                                <h3>AIoT服務的提供者</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-cover bg-right py-6 py-lg-8" style="background-image:url(/Content/sks/img/robot-bg.jpg);">
    <div class="container text-white h6">
        <div class="row">
            <div class="col-md-6 col-xl-5 py-md-8 py-lg-10 py-xl-12">
                <h2>機器人研發</h2>
                <p class="mb-0">新光保全於2004年起投入機器人研發</p>
                <p class="mb-0">希望以智慧自動化科技</p>
                <p class="mb-0">輔具保全、巡邏等需要高度人力的服務</p>
                <p class="mb-0">未來也持續和產學合作，</p>
                <p class="mb-0">開發以家庭個人為主的服務型機器人為提供AIoT服務新動能。</p>
            </div>
            <div class="col-md-6 col-xl-7 text-center"><img class="img-fluid" src="~/Content/sks/img/robot.png" alt="" /></div>
        </div>
    </div>
</section>
<section class="bg-gray-tri py-6">
    <div class="container h6 text-paragraph-gray">
        <div class="row items-center">
            <div class="col-4 col-md-2">
                <ul class="list-unstyled text-center">
                    <li class="mb-4"><a class="list-change active" href="robot-0">新保1號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-1">新保2號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-2">新保3號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-3">新保4號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-4">新保5號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-5">新保6號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-6">新保7號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-7">新保8號</a></li>
                    <li class="mb-4"><a class="list-change" href="robot-8">Shinbobo</a></li>
                </ul>
            </div>
            <div class="col-8 col-md-10">
                <div class="row no-gutters items-center" id="robot-0">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-1.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保1號</h2>
                        <p class="h4 text-gray-57-b">- 2004 / 企業用 / 保全&amp;導覽</p>
                        <p>具有安全監控及防災預警的功能。可透過接觸螢幕及語音辯識系統執行接待服務。有人接近時，它會親切地問好，詢問需要的服務或作簡介和資訊報告，也可藉由影像辯識系統及感知器偵測入侵者、災害等狀況發生。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-1">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-2.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保2號</h2>
                        <p class="h4 text-gray-57-b">- 2005 / 企業用 / 保全&amp;導覽</p>
                        <p>環境保全系統整合的機器人，可有效取代高危險或勝任繁瑣枯燥的工作來提升生活品質。其有360度環場監控系統，可透過網路傳至監控中心監視，且有自動追蹤功能，依據鏡頭所取得的影像判斷物體移動，自動將頭部轉至物體方向監控。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-2">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-3.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保3號</h2>
                        <p class="h4 text-gray-57-b">- 2006 / 企業用 / 定點巡邏</p>
                        <p>利用群體定點巡邏機器人之概念以及結合現有的保全系統，使環境中的任何狀況可以完全掌握，除可進行路障迴避之功能，對火災的感應偵測是採用煙霧、火焰和高溫等3項指標進行研判，對於竊賊的入侵還可結合攝影和網路回傳系統比對身分，研判是否為歹徒侵入。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-3">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-4.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保4號</h2>
                        <p class="h4 text-gray-57-b">- 2007 / 家庭用 / 遠端遙控</p>
                        <p>應用於室內場所，機器人以兩輪差動式驅動或藉由手機無線通訊模組，可進行前進、後退及迴轉。接觸到障礙物會自動後退。影像監視器，可將影像藉由無線通訊模組傳送至使用者行動電話。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-4">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-5.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保5號</h2>
                        <p class="h4 text-gray-57-b">- 2009 / 家庭用 / 遠端遙控</p>
                        <p>讓使用者透過手機，就可以簡易的控制機器人裝置，並利用語音辨識技術，由遠端語音下達命令，啟動機器人內建的多媒體程式來與遠端的人進行娛樂通訊以及互動，讓機器人可以完全的融入家庭的生活，希望讓家用機器人不僅只擁有固定的簡單功能。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-5">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-6.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保6號</h2>
                        <p class="h4 text-gray-57-b">- 2010 / 家庭用 / 遠端遙控</p>
                        <p>居家安全、看護照料、資訊提供、代做家事、娛樂服務及陪伴等多項功能，而在居家安全方面則有居家監控巡邏、瓦斯漏氣偵測、火災偵測等。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-6">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-7.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保7號</h2>
                        <p class="h4 text-gray-57-b">- 2014 / 學校用 / 交通安全導護</p>
                        <p>以手的概念作為發展的主軸，使之不單是一個移動平台，機械手臂的建置賦予機器人更多活動性及肢體語言的表達因為觀察到學童上下學時會有家長擔任導護人員阻擋車輛保護學童過馬路安全，但若是遇到車輛剎車不及、導護人員指示錯誤、各種突發狀況…勢必會危害到學童安全。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-7">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-8.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">新保8號</h2>
                        <p class="h4 text-gray-57-b">- 2015 / 機器人競賽 / 標準共用載具平台</p>
                        <p>針對機器人競賽特別設計標準化的專用載具底盤，規定參賽選手，必須使用共用平台，達成參賽基礎一致化。</p>
                    </div>
                </div>
                <div class="row no-gutters items-center d-none" id="robot-8">
                    <div class="col-md-6 text-center py-6 py-md-10 py-lg-12"><img class="img-fluid" src="~/Content/sks/img/robot-9.png" alt="" /></div>
                    <div class="col-md-6">
                        <h2 class="text-blue">Shinbobo</h2>
                        <p class="h4 text-gray-57-b">- 2016 / 家庭用 / 遠端遙控</p>
                        <p>遠端使用手機、平板及PC透過Shinbobo隨時關心您所在意的事。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8 bg-robot">
    <div class="container py-6 py-lg-8 h6">
        <div class="row no-gutters flex-column items-end mb-8">
            <div class="col-md-10 mr-auto"><img class="img-fluid" src="~/Content/sks/img/competition.jpg" alt="" /></div>
            <div class="z-top col-8 col-md-5 col-xl-3 mt-n8 mt-md-n11 mt-lg-n12 break-xl-1 mt-xl-n13">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 230">

                    <path d="M410.6 138.2c1-1.5 1.4-3.4 1.1-5.2l-1.2-6.1c-.3-1.4-.7-2.7-1.1-3.9v-.1c-.4-1-.9-2-1.4-2.9l-7.7-16.1-6.7 2.1-.2 3c-1.6-.4-3.2-.6-4.8-.6 1.4-2.5 1-5.7-1-7.9-2.5-2.6-5.2-4.9-8.1-6.6-.2-2.8-.5-5.6-1.2-8.3l-.3-.9c0-.2-.1-.5-.1-.7-.5-1.7-1.1-3.3-1.8-4.9l-.3-.5c-.2-.5-.5-1-.7-1.5l-9.7-19.5-1.7 6.8c-.1-.1-.3-.2-.4-.3-.3-.2-.6-.4-.9-.5-.2-.2-.5-.4-.8-.5-1.5-.8-3.1-1.6-4.7-2.2-.3-.1-.6-.2-.8-.2-.3-.2-.6-.3-.9-.4-.9-.3-1.8-.6-2.8-.8l3.2-8.8c3.9-1.9 7.1-5.4 8.6-9.4 1.4-3.9 1-8-1.2-11.1L356.3 16l-13.4 12.8.7.4c-2.5 1.9-4.4 4.5-5.5 7.4-1.2 3.3-1.1 6.7.2 9.5.3.5.6 1.1.9 1.6l-4 11c-2.6.3-5.2.8-7.8 1.5-.4.1-.8.2-1.1.4-.4.1-.8.1-1.1.2-1.9.6-3.7 1.2-5.6 2-.4.1-.7.3-1 .5-.4.1-.8.2-1.1.4-9 4-17.9 10-25.5 17.5-.3.3-.5.5-.7.8-.2.2-.5.4-.7.6-3 3.1-5.8 6.4-8.3 9.8l-.3.1c-3.9 1.4-8.2 3.5-12.6 6l-.6-.6c2.3-.5 4.2-2.2 5-4.4l5.2-14.8c.7-2.1.4-4.4-.9-6.3-.4-.6-.9-1.1-1.5-1.5L271 57.6l-6.5 9v2.9h-45.3c-3 0-5.7.6-7.9 1.8-1.3-1.1-2.9-1.8-4.6-1.8h-17c-2.9 0-5.5 1.9-6.5 4.6l-6.3 18.2h-15.2l5.1-13.5c.8-2.1.5-4.5-.8-6.3l-7.1-14.8-3.4 4-3.7 7.9h-9c-2.5 0-4.7 1.3-5.9 3.4-.1-.2-.2-.3-.3-.5-1.3-1.8-3.4-2.9-5.6-2.9H77.7c-8 0-13.7 4.4-15.6 12.1-.2.6-1.2 3.6-6 17.6-.8 2.4-1.2 4.7-1.2 7 0 4.7 1.8 8.6 5.1 11.5-2.9 0-5.5 1.8-6.5 4.6l-5.3 14.8c-.8 2.1-.4 4.5.9 6.3.2.2.3.5.5.7h-4.2c-2.9 0-5.5 1.8-6.5 4.6l-18.8 52.8H9.4l6.9 14.4c.2.7.5 1.4 1 2 1.3 1.8 3.4 2.9 5.6 2.9H40c2.9 0 5.5-1.8 6.5-4.6l7.5-20.9h15.5l-1.6 4.5-3.4-.3-7.9 1.8 7 14.5c.2.7.5 1.3.9 1.9 1.3 1.8 3.4 2.9 5.6 2.9h17.6c2.9 0 5.6-1.9 6.5-4.6 2.6 2.8 6.6 4.6 12.6 4.6h45.7c2.9 0 5.6-.7 8.1-1.9h.1c1.3 1.3 3 2 4.8 2h58.1c5 0 9.2-2 12.2-5.6 2.5 3.3 6.8 5.6 13.4 5.6H295c2.9 0 5.6-.7 8.1-1.9 0 0 .1 0 .1-.1 3.4-1.9 5.9-4.8 7.2-8.4l13.3-37.7h16.1l-9.9 28.1-5.2-3.3-6.5 2.1 7.8 16c.2.8.6 1.6 1.1 2.3 1.3 1.8 3.4 2.9 5.6 2.9l16.2-.1c.3.1.7.1 1 .1 2.9 0 5.5-1.8 6.5-4.6l3.5-10c.6.4 1.3.8 2 1 2.3.7 4.6 1 7 1 1.5 0 3-.1 4.5-.4 3.3-.6 6.4-1.9 9.1-3.8 6.3-4.3 10.1-11.5 10.3-19.1l4.5-3.1c.1 0 .1-.1.2-.2.2 0 .3 0 .4-.1 1.1-.2 2.1-.5 3.1-.9 2-.8 3.8-2.1 5.3-3.7.2-.2.3-.4.5-.5 3.1-3.6 4.4-8.4 3.5-13.1-.2-.9-.4-1.9-.8-2.8-.5-1.2-1.1-2.4-1.9-3.4l-.1-.1v-.3l-1.8-9.4c1.3-2.2 2.1-4.6 2.4-7 1-.4 1.9-1.2 2.5-2.1z" fill="#0057a8"></path>
                    <path d="M402.7 121.8c1-1.5 1.4-3.4 1.1-5.2l-1.2-6.1c-2-10.6-11.2-18.3-22-18.4 1.4-2.5 1-5.7-1-7.9-2.5-2.6-5.3-4.9-8.1-6.6-.2-2.9-.5-5.6-1.2-8.3l-.3-.9c0-.2-.1-.5-.1-.7-2.5-8.5-7.5-15.4-14.6-19.9-.3-.2-.6-.4-.9-.5-.3-.2-.5-.4-.8-.5-1.5-.8-3.1-1.6-4.7-2.2-.3-.1-.6-.2-.8-.2-.3-.2-.6-.3-.9-.4-.9-.3-1.8-.6-2.8-.8l3.2-8.8c3.9-2 7.1-5.4 8.6-9.4 1.4-3.9 1-8-1.2-11.1-2.1-3-5.6-4.7-9.5-4.7-6.5 0-13.1 4.8-15.4 11.1-1.2 3.3-1.1 6.7.2 9.5.3.5.6 1.1.9 1.6l-4 11c-2.6.3-5.2.8-7.8 1.5-.4.1-.8.2-1.1.4-.4 0-.8.1-1.1.2-1.9.6-3.7 1.2-5.6 2-.4.1-.7.3-1 .5-.4.1-.8.2-1.1.4-9 4-17.9 10-25.5 17.5-.3.3-.5.5-.7.8-.3.2-.5.4-.7.6-3 3.1-5.8 6.4-8.3 9.8l-.3.1c-3.9 1.4-8.2 3.5-12.6 6l-.6-.6c2.3-.5 4.2-2.2 5-4.4l5.2-14.8c.7-2.1.4-4.4-.9-6.3-1.3-1.8-3.4-2.9-5.6-2.9h-53.2c-3 0-5.6.6-7.9 1.8-1.3-1.1-2.9-1.8-4.6-1.8h-19.4c-2.9 0-5.5 1.9-6.5 4.6L166.5 76h-12.8l5.1-13.5c.8-2.1.5-4.5-.8-6.3-1.3-1.9-3.4-3-5.7-3h-17.5c-2.5 0-4.7 1.3-5.9 3.4-.1-.2-.2-.3-.3-.5-1.3-1.8-3.4-2.9-5.6-2.9H69.8c-8 0-13.7 4.4-15.6 12-.2.6-1.2 3.6-6 17.6-.8 2.4-1.2 4.7-1.2 7 0 4.7 1.8 8.6 5.1 11.5-2.9 0-5.5 1.8-6.5 4.6l-5.3 14.9c-.7 2.1-.4 4.4.9 6.3.2.2.4.5.5.7h-4.2c-2.9 0-5.5 1.8-6.5 4.6L8.6 195.2c-.8 2.1-.4 4.4.9 6.3 1.3 1.8 3.4 2.9 5.6 2.9h17.1c2.9 0 5.5-1.8 6.5-4.6l7.5-20.9h15.5l-5.9 16.2c-.8 2.1-.5 4.5.8 6.3s3.4 2.9 5.6 2.9h17.6c2.9 0 5.6-1.9 6.5-4.6 2.6 2.8 6.6 4.6 12.6 4.6h45.7c2.9 0 5.6-.7 8.1-1.9h.1c1.3 1.3 3 2 4.8 2h58.1c5 0 9.2-2 12.2-5.6 2.5 3.3 6.8 5.6 13.4 5.6H287c2.9 0 5.6-.7 8.1-1.9 0 0 .1 0 .1-.1 3.4-1.9 5.9-4.8 7.2-8.4l13.3-37.7H332l-13.7 38.9c-.7 2.1-.4 4.5.9 6.3s3.4 2.9 5.6 2.9l16.2-.1c.3 0 .7.1 1 .1 2.9 0 5.5-1.8 6.5-4.6l3.5-10c.6.4 1.3.8 2 1 2.3.7 4.6 1 7 1 1.5 0 3-.1 4.5-.4 3.3-.6 6.3-1.9 9.1-3.8 6.3-4.3 10.1-11.5 10.3-19l4.5-3.1c.1 0 .1-.1.2-.2.2 0 .3 0 .4-.1 1.1-.2 2.1-.5 3.1-.9 2-.8 3.8-2.1 5.3-3.7.2-.2.3-.4.5-.5 3.1-3.6 4.4-8.4 3.5-13.1-.2-.9-.4-1.9-.8-2.8-.5-1.2-1.1-2.4-1.9-3.4l-.1-.1v-.3l-1.8-9.4c1.3-2.2 2.1-4.6 2.4-7 1.1-.5 1.9-1.3 2.5-2.2z" fill="#0068b6"></path>
                    <path class="st2" d="M123 60.1L117.8 75H80.5c-1.9 0-3.4.4-4.5 1.2-.6.4-2.3 5-2.3 5.3 0 1.6 1.2 2.3 3.6 2.3H106c3.2 0 5.8.8 7.9 2.3 2 1.5 3 3.7 3 6.4 0 1.5-.3 3.1-.9 4.8-1.6 4.3-3.9 10.5-7 18.7-.8 2.4-1.8 4.1-3 5.1-1.4 1.3-3.4 2-6 2H46.7l5.3-14.8h37.2c3.4 0 5.5-1.2 6.5-3.5.8-2 1.6-3.3 1.6-3.5 0-1.7-1.3-2.5-4-2.5H64.6c-3.2 0-5.7-.7-7.7-2.2-2.1-1.6-3.2-3.8-3.2-6.6 0-1.5.3-3 .9-4.7 4-11.6 6-17.6 6.2-18 1.2-4.7 4.2-7 9-7H123v-.2zM263.1 60.1L257.9 75h-37.3c-1.9 0-3.4.4-4.5 1.2-.6.4-2.3 5-2.3 5.3 0 1.6 1.2 2.3 3.6 2.3H246c3.2 0 5.8.8 7.9 2.3 2 1.5 3 3.7 3 6.4 0 1.5-.3 3.1-.9 4.8-1.6 4.3-3.9 10.5-6.9 18.7-.8 2.4-1.8 4.1-3 5.1-1.4 1.3-3.4 2-6 2h-53.2l5.3-14.8h37.2c3.4 0 5.5-1.2 6.5-3.5.8-2 1.6-3.3 1.6-3.5 0-1.7-1.3-2.5-4-2.5h-28.7c-3.2 0-5.7-.7-7.7-2.2-2.1-1.6-3.2-3.8-3.2-6.6 0-1.5.3-3 .9-4.7 4-11.6 6.1-17.6 6.2-18 1.2-4.7 4.2-7 9-7h53.1v-.2zM167.9 151.2l-14.3 40.4c-.7 2.1-2.1 3.6-4 4.7-1.5.8-3.2 1.2-5 1.2H98.9c-6.3 0-9.5-2.7-9.5-8.1 0-2.4.6-5.2 1.8-8.5l1.3-3.3 13-37.1c.7-2.1 2-3.6 3.9-4.7 1.6-.8 3.3-1.3 5-1.3h45.7c6.3 0 9.4 2.7 9.4 8.1.1 2.4-.5 5.2-1.6 8.6zm-18.4 3.1c.2-.5.3-1.1.3-1.6 0-2.2-1-3.3-2.8-3.3h-22.9c-3.1 0-5.1 1.6-6.2 4.7l-8.2 23.6c-.2.5-.3 1.1-.3 1.7 0 2.2.9 3.2 2.8 3.2H135c1.9 0 3.3-.5 4.3-1.4.6-.6 1.2-1.7 1.8-3.2l8.4-23.7zM239.6 148.1l-3.7 10.3c-1.5 4.1-4 6.5-7.7 7.3.8.2 1.5.8 2.1 1.8s.8 2.1.8 3.4c0 .7-.1 1.5-.4 2.2l-6 17.4c-1.6 4.7-4.6 7-9 7h-58.1l22.3-62.9h49.6c3.2 0 5.8.8 7.9 2.2 2 1.5 3 3.7 3 6.4.1 1.5-.2 3.1-.8 4.9zm-27.2 28.3c.1-.4.2-.7.2-1.1 0-2.1-1.2-3.2-3.5-3.2h-25.3l-3.7 10.6H205c3.4 0 5.6-1.2 6.4-3.5l1-2.8zm8.4-23.9c.1-.2.1-.4.1-.6 0-1.7-1.3-2.5-3.9-2.5h-25l-2.8 8h25.6c1.8 0 3.2-.2 3.9-.6.6-.4 1.1-1 1.4-2l.7-2.3zM310.4 151.2l-14.3 40.4c-.7 2.1-2.1 3.6-4 4.7-1.5.8-3.2 1.2-5 1.2h-45.7c-6.3 0-9.5-2.7-9.5-8.1 0-2.4.6-5.2 1.8-8.5l1.3-3.3 13-37.1c.7-2.1 2-3.6 4-4.7 1.6-.8 3.3-1.3 5.1-1.3h45.7c6.3 0 9.4 2.7 9.4 8.1-.1 2.4-.6 5.2-1.8 8.6zm-18.4 3.1c.2-.5.3-1.1.3-1.6 0-2.2-.9-3.3-2.8-3.3h-22.9c-3.1 0-5.1 1.6-6.2 4.7l-8.2 23.6c-.2.5-.3 1.1-.3 1.7 0 2.2.9 3.2 2.8 3.2h22.9c1.9 0 3.3-.5 4.3-1.4.6-.6 1.2-1.7 1.8-3.2l8.3-23.7zM344.1 168.5h-.1c-.4 0-.9-.2-1.2-.5-.4-.3-.5-.8-.5-1.3.4-5.7 3.4-11 8-14.2 2.2-1.5 4.6-2.5 7.1-3 1.2-.2 2.3-.3 3.5-.3 1 0 2.1.1 3.1.3h8l4.3-3c.3-.2.6-.3 1-.3h.1s0-.1.1-.1l.1-.2s0-.1.1-.1c-.3-.3-.5-.6-.6-1l-2-10.3h-53.9l-5.4 15h25.9l-17 48.1 17.2-.1v.1l10.5-29.7h-.1l-8.2.6zM94.9 136.8c-2-1.5-4.6-2.2-7.9-2.2H37.4l-22.3 62.9h17.1l9.1-25.4h25.3c2.3 0 3.5 1.1 3.5 3.2 0 .4 0 .7-.2 1.1l-7.7 21.1h17.6l8.4-24.4c.3-.7.4-1.5.4-2.2 0-1.3-.3-2.4-.8-3.4-.6-1-1.3-1.6-2.1-1.8 3.6-.7 6.2-3.2 7.7-7.3l3.7-10.3c.6-1.7.9-3.3.9-4.8-.1-2.8-1.1-5-3.1-6.5zm-48.4 20.6l2.8-8h25c2.6 0 4 .8 4 2.5 0 .2 0 .4-.1.6l-.8 2.2c-.3 1-.8 1.7-1.4 2-.8.4-2.1.6-4 .6l-25.5.1zM179.7 60.1l-8.1 21.2H144l7.5-21.2h-17L112.1 123h17l8.8-24.7h2.4l16.3 24.7h20.6l-17-24.7h16.7c3.7 0 6.9-1.9 8.7-4.8l1.3-3 .4-.8 10.9-29.6h-18.5z"></path>
                    <path class="st3" d="M392.9 141.7l-2-10.6c-1.8 1.7-4.1 3-6.7 3.5s-5.2.2-7.5-.8l2 10.6c1.4-2.2 3.7-3.8 6.5-4.4 2.8-.5 5.5.2 7.7 1.7z"></path>
                    <path class="st3" d="M374.9 131.2c.2.2.5.3.8.5.2.1.5.3.7.4 2.3 1.1 4.9 1.6 7.5 1.1 2.7-.5 4.9-1.9 6.6-3.7.2-.2.4-.4.5-.7.2-.2.4-.5.5-.7 1.5-2.3 2.2-5.2 1.8-8.1l-23.3 4.4c.9 2.9 2.6 5.2 4.9 6.8zM377.5 99.4c-8.5 1.6-14.1 9.9-12.5 18.4l1.2 6.1 2.5-.5.7-.1.7-.1 23.3-4.4.7-.1.7-.1 2.5-.5-1.2-6.1c-1.8-8.6-10.1-14.2-18.6-12.6zM377.3 151.7c-.3-1.3-.2-2.6 0-3.9l-6.5 4.5c2 1.3 3.8 3 5.3 5.1s2.4 4.4 2.9 6.8l6.5-4.5c-4.1-.7-7.4-3.8-8.2-8z"></path>
                    <path class="st3" d="M369.6 153.2c-.2-.1-.4-.2-.7-.4-.2-.1-.4-.2-.7-.3-3.2-1.5-6.9-2-10.5-1.4-2.3.4-4.5 1.4-6.5 2.7-4.3 3-7 7.7-7.3 12.9l8.2-.7c.5-2.2 1.8-4.3 3.7-5.6 1-.7 2.2-1.2 3.4-1.4 3.5-.7 7 .8 9 3.7 2.8 4.1 1.8 9.6-2.3 12.4-1 .7-2.2 1.2-3.4 1.4-1 .2-2.1.2-3.1 0l-3.5 7.5c2.6.8 5.5.9 8.2.4 2.3-.4 4.5-1.4 6.5-2.7 5.2-3.6 7.7-9.5 7.3-15.4 0-.3-.1-.5-.1-.8 0-.2-.1-.5-.1-.7-.4-2.4-1.3-4.7-2.8-6.9-1.4-1.8-3.2-3.5-5.3-4.7zM394.1 144.8c-.3-.4-.6-.7-.9-1-2-2-4.8-3-7.8-2.4l-1.2.3c-.3.1-.6.2-.9.4-.8.4-1.6.9-2.2 1.6-.6.5-1.1 1.1-1.4 1.8-.2.3-.4.7-.5 1.1 0 .1 0 .1-.1.2-.1.4-.3.7-.4 1.1-.2.7-.3 1.4-.3 2.2 0 .5.1 1.1.2 1.6.8 4.2 4.5 7.1 8.6 7 .4 0 .9 0 1.3-.1h.3c.6-.1 1.2-.3 1.7-.5 1.1-.5 2.1-1.2 2.9-2l.3-.3c1.7-1.9 2.5-4.6 2-7.3-.1-.5-.3-1-.5-1.5-.3-1-.6-1.6-1.1-2.2zM300.8 85.3c-2.7 0-5.9 2.8-7.1 6.2-1.2 3.4 0 6.2 2.7 6.2s5.9-2.8 7.1-6.2c1.2-3.5 0-6.2-2.7-6.2zM339.9 85.3c-2.7 0-5.9 2.8-7.1 6.2-1.2 3.4 0 6.2 2.7 6.2s5.9-2.8 7.1-6.2c1.2-3.5 0-6.2-2.7-6.2zM363.3 69.7c-2-6.9-6-12.4-11.7-16.1-.1.2-.1.5-.2.7-4 10.9-16 19.7-26.9 19.7S308 65.2 312 54.3c.1-.2.2-.5.3-.7-8.4 3.7-16.4 9.2-23.4 16.1 8.3 5.5 20.4 8.5 34.2 8.5 13.6 0 27.9-3 40.2-8.5z"></path>
                    <path class="st3" d="M327.1 66.7c6.8 0 14.4-5.6 16.9-12.4.4-1.1.7-2.2.8-3.3 0-.2.1-.3.2-.5-3.4-1.1-7.2-1.7-11.4-1.7-4.1 0-8.3.6-12.4 1.7-.9 1.2-1.5 2.5-2 3.9-2.5 6.8 1 12.3 7.9 12.3zM316.2 103.8l-.9-4.5-4.2 4.5h2.6c.8-.1 1.6-.1 2.5 0z"></path>
                    <path class="st3" d="M363.6 71.1c-12.5 5.6-27.2 8.7-41.3 8.7-14.1 0-26.5-3.1-35-8.7-3.3 3.4-6.3 7-9 10.9.8 6 .4 13.3-1.3 21.1-.8 3.7-1.8 7.3-3.1 10.9 10.6-5.8 23.1-9.4 35.3-10.1l7.1-7.6 1.6 7.6c11.6.7 21.6 4.3 27.9 10.1 1.3-3.5 2.9-7.2 4.8-10.9 4-7.8 8.8-15.1 14-21.1.2-3.9-.1-7.6-1-10.9zm-67.9 28.1c-3.6 0-5.2-3.5-3.7-7.8 1.6-4.3 5.7-7.8 9.3-7.8 3.6 0 5.2 3.5 3.7 7.8s-5.7 7.8-9.3 7.8zm39.1 0c-3.6 0-5.2-3.5-3.7-7.8 1.6-4.3 5.7-7.8 9.3-7.8 3.6 0 5.2 3.5 3.7 7.8s-5.7 7.8-9.3 7.8z"></path>
                    <path class="st3" d="M325 72.4c10 0 21.1-8.1 24.7-18.1.2-.5.3-1 .5-1.5-1.2-.7-2.4-1.3-3.8-1.8-.1 1.1-.4 2.2-.8 3.3-2.8 7.7-11.4 14-19.1 14s-11.7-6.3-8.9-14c.4-1.1.9-2.2 1.6-3.3-1.7.5-3.4 1.1-5.1 1.8l-.6 1.5c-3.6 10 1.5 18.1 11.5 18.1zM313 105.3c-13.6 0-28.1 3.9-39.8 10.6-1 2.5-2.1 5-3.2 7.3h22.7c3.7-6.4 11.1-11.3 17.9-11.3s10.7 4.8 9.7 11.3H343c.5-2.3 1.2-4.8 2.1-7.3-6.7-6.7-18.5-10.6-32.1-10.6z"></path>
                    <path class="st3" d="M310.1 113.5c-6 0-12.5 4.2-15.8 9.7h24.5c.7-5.5-2.8-9.7-8.7-9.7zM276.9 84.2c0-.4-.1-.7-.1-1.1 0-.2-.1-.4-.1-.6-.1.1-.3.1-.4.2-3.9 1.4-8.3 3.6-12.8 6.3.7 3.8 1.1 7.9 1 12.2 0 3.1-.3 6.2-.7 9.3-.2 1.4-.5 2.8-.7 4.2-.6 2.9-1.4 5.8-2.4 8.5h7.8c1.3-2.6 2.6-5.5 3.6-8.4 1.4-3.8 2.5-7.7 3.4-11.6 1.4-6.9 1.9-13.4 1.4-19zM366.4 82.7c-.1-.1-.2-.1-.3-.2-.2.2-.3.4-.5.6-.3.4-.6.7-.9 1.1-4.6 5.6-8.8 12.1-12.4 19.1-2 3.9-3.7 7.8-5 11.6-1 2.9-1.9 5.7-2.5 8.4h7.8c1-2.7 2.3-5.6 3.8-8.5.7-1.4 1.5-2.8 2.4-4.2 1.8-3.1 3.8-6.2 6-9.3 3.1-4.3 6.4-8.4 9.9-12.2-2.7-2.8-5.5-5-8.3-6.4zM338.9 28.9c.3.1.4.4.3.8l-6.4 17.5h2.8l6.4-17.5c.1-.3.5-.7.8-.8 3.1-.9 5.8-3.4 6.9-6.3 1.3-3.6-.5-6.6-4.2-6.6-3.6 0-7.6 2.9-8.9 6.6-1.1 2.9-.1 5.4 2.3 6.3z"></path>
                </svg>
            </div>
            <div class="bg-white p-4 p-md-6 col-md-11 mt-n4 col-lg-10 mt-md-n8 mt-lg-n10 col-xl-8 break-xl-1" style="box-shadow:7px 7px 20px rgba(0,0,0,0.2)">
                <h2 class="text-gray-57-b">機器人競賽</h2>
                <p>新光保全積極與相關協會、產業跨界合作</p>
                <p>迄2009起辦理機器人競賽，每年邀請全台各大專生院校參與</p>
                <p>透過產學交流發掘國內機器人好手，共同提升機器人產業技術與產值</p>
            </div>
        </div>
        <div class="relative">
          <div class="form-row justify-center">
            <div class="col-3 col-md-2 col-xl-1 text-right">
              <svg width="60" height="60" style="height: 60px;">
                <use fill="#365595" xlink:href="~/Content/sks/img/sprite.svg#icon-fb"></use>
              </svg>
            </div>
            <div class="col-9 col-md-6 col-lg-4 col-xl-3">
              <div class="input-group border border-gray bg-white rounded-lg p-1">
                <input class="h4 bg-white form-control" type="text" value="新保機器人競賽" disabled="disabled"/>
                <div class="input-group-append">
                  <svg width="50" height="50" style="height: 50px;">
                    <style>.st0{fill:none;stroke:#999899;stroke-width:2}</style>
                    <circle class="st0" cx="22.2" cy="22.2" r="12.4"></circle>
                    <path class="st0" d="M30.5 30.5l15.6 15.6"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div><a class="inset-0" target="_blank" href="https://www.facebook.com/sksrobot"></a>
        </div>
      </div>
    </section>