﻿@using sks.Models
@using sks.Utility.Cmind
@using System.Text.RegularExpressions
@model sks.ViewModels.Event.EventView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    Regex MobileCheck = new Regex(@"mobile", RegexOptions.IgnoreCase | RegexOptions.Multiline | RegexOptions.Compiled);
    var u = Request.Headers["User-Agent"].ToString();
    var moblie = MobileCheck.IsMatch(u);
    var now = DateTime.Now.Date;
    var defalutDate = DateTime.Parse("0001-1-1");
    var endDate = Model.EndDate.Date == defalutDate ? now : Model.EndDate.Date;
    int j = 0;
    var fontstyle = "";
    switch (Model.FontFamily)
    {
        case FontFamilyType.DFKaiSB:
            fontstyle = "DFKai-sb";
            break;
        case FontFamilyType.MingLiU:
            fontstyle = "PMingLiU";
            break;
        default:
            fontstyle = "Microsoft JhengHei";
            break;
    }
}
@section head{
    <title>@Model.MetaTitle</title>
    <meta name="description" content="@Model.MetaDesc" />
    <meta name="twitter:title" content="@Model.MetaTitle" />
    <meta name="twitter:description" content="@Model.MetaDesc" />
    <meta property="og:title" content="@Model.MetaTitle" />
    <meta property="og:description" content="@Model.MetaDesc" />
    <link rel="canonical" href="@url" />
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/sks/css/popup.css" />

    <style type="text/css">
        body {
            font-family: @fontstyle
        }
        .col-md-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>
}

@if (Model.StartDate <= now && endDate.Date >= now)
{
    foreach (var item in Model.EventInformations)
    {
        var value = item.EventInformationItems.Where(p => p.EventInformationId == item.ID);
        if (item.EventInformationItems.Count() > 0)
        {
            switch (item.Arrangement)
            {
                case EventInformationType.A:
                    foreach (var eventInformationsitem in item.EventInformationItems)
                    {
                        <section class="d-flex items-center py-9" style="min-height:@item.BgHeight;background:@eventInformationsitem.BackgroundLink">
                            <div class="container">
                                @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                {
                                    <h2 class="mb-4">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                }
                                @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                {
                                    @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                }

                            </div>
                        </section>
                    }
                    break;
                case EventInformationType.B:
                    j = 0;
                    <div class="carousel slide" id="carousel-b" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < item.EventInformationItems.Count(); i++)
                            {
                                var activeclass = i == 0 ? "active" : null;
                                <li class="@activeclass" data-target="#carousel-b" data-slide-to="@i"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var eventInformationsitem in item.EventInformationItems)
                            {

                                var activeclass = j == 0 ? "active" : null;
                                <!--B-->
                                <div class="carousel-item @activeclass" data-interval="10000">
                                    <div class="bg-cover d-flex items-center py-9" style="min-height:@item.BgHeight;background-image:url(/FileUploads/EventPhoto/@eventInformationsitem.Background)">
                                        <div class="container">
                                            <div class="row justify-center">
                                                <div class="col-md-6 col-xl-5 text-center text-md-left">
                                                    <img class="img-fluid mb-4" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@eventInformationsitem.Icon" alt="" />
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                                    {
                                                        <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                    {
                                                        @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link1))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName1))
                                                        {
                                                            eventInformationsitem.LinkName1 = Regex.Replace(eventInformationsitem.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a class="btn rounded-pill px-5 mr-4" href="@eventInformationsitem.Link1" style="background:@eventInformationsitem.BtnBgColor1;">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName1)</a>
                                                    }

                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link2))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName2))
                                                        {
                                                            eventInformationsitem.LinkName2 = Regex.Replace(eventInformationsitem.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a class="btn rounded-pill px-5" href="@eventInformationsitem.Link2" style="background:@eventInformationsitem.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName2)</a>
                                                    }
                                                </div>
                                                <div class="col-md-6 col-xl-5 text-vertical-center items-center">
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.MainPic))
                                                    {
                                                        <img class="img-fluid" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@eventInformationsitem.MainPic" alt="" />
                                                    }
                                                    <!-- 360*高度自訂-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                j++;
                            }

                        </div>
                    </div>
                    break;
                case EventInformationType.C:
                    foreach (var eventInformationsitem in item.EventInformationItems)
                    {
                        var target = eventInformationsitem.isTargetBlank ? "_blank" : "_parent";
                        <section class="d-flex items-center py-8" style="min-height:@item.BgHeight;background-color:@eventInformationsitem.BackgroundLink">
                            <div class="container">
                                <div class="row justify-center items-center">
                                    @if (eventInformationsitem.TextPosition == CssPosition.Left)
                                    {
                                        <div class="col-md-6 col-xl-5 text-md-left">
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                            {
                                                <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                            }
                                            <div class="row">

                                                <div class="col-md-12 mb-4">
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                    {
                                                        @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link1))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName1))
                                                        {
                                                            eventInformationsitem.LinkName1 = Regex.Replace(eventInformationsitem.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a target="@target" class="btn rounded-pill px-5 mr-4" href="@eventInformationsitem.Link1" style="background:@eventInformationsitem.BtnBgColor1">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName1)</a>
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link2))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName2))
                                                        {
                                                            eventInformationsitem.LinkName2 = Regex.Replace(eventInformationsitem.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a target="@target" class="btn rounded-pill px-5" href="@eventInformationsitem.Link2" style="background:@eventInformationsitem.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName2)</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-5 text-vertical-center items-center">
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.MainPic) && eventInformationsitem.MainPicType == ObjectType.Image)
                                            {
                                                <img class="img-fluid" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@eventInformationsitem.MainPic" alt="" />
                                            }
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.VideoUrl) && eventInformationsitem.MainPicType == ObjectType.Video)
                                            {
                                                var videourl1 = eventInformationsitem.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                                                var str1 = eventInformationsitem.VideoUrl.Replace(videourl1, "");
                                                var videoId1 = str1.IndexOf("&") != -1 ? str1.Substring(0, str1.IndexOf("&")) : str1;
                                                <iframe class="embed-responsive-item" width="100%" height="315" ; src="https://www.youtube.com/embed/@videoId1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-6 col-xl-5 text-vertical-center items-center">
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.MainPic) && eventInformationsitem.MainPicType == ObjectType.Image)
                                            {
                                                <img class="img-fluid" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@eventInformationsitem.MainPic" alt="" />
                                            }
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.VideoUrl) && eventInformationsitem.MainPicType == ObjectType.Video)
                                            {
                                                var videourl1 = eventInformationsitem.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                                                var str1 = eventInformationsitem.VideoUrl.Replace(videourl1, "");
                                                var videoId1 = str1.IndexOf("&") != -1 ? str1.Substring(0, str1.IndexOf("&")) : str1;
                                                <iframe class="embed-responsive-item" width="100%" height="315" ; src="https://www.youtube.com/embed/@videoId1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>}
                                        </div>
                                        <div class="col-md-6 col-xl-5 text-md-left">
                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                            {
                                                <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                            }
                                            <div class="row">
                                                <div class="col-md-12 mb-4">
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                    {
                                                        @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link1))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName1))
                                                        {

                                                            eventInformationsitem.LinkName1 = Regex.Replace(eventInformationsitem.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a target="@target" class="btn rounded-pill px-5 mr-4" href="@eventInformationsitem.Link1" style="background:@eventInformationsitem.BtnBgColor1">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName1)</a>
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Link2))
                                                    {
                                                        if (!string.IsNullOrEmpty(eventInformationsitem.LinkName2))
                                                        {
                                                            eventInformationsitem.LinkName2 = Regex.Replace(eventInformationsitem.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                        }
                                                        <a target="@target" class="btn rounded-pill px-5" href="@eventInformationsitem.Link2" style="background:@eventInformationsitem.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName2)</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </section>
                    }
                    break;
                case EventInformationType.D:
                    <!--D-->
                    <div class="carousel slide" id="carousel-d" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < item.EventInformationItems.Count(); i++)
                            {
                                var activeclass = i == 0 ? "active" : null;
                                <li class="@activeclass" data-target="#carousel-d" data-slide-to="@i"></li>
                            }
                        </ol>

                        <div class="carousel-inner">
                            @{ j = 0;}
                            @foreach (var eventInformationsitem in item.EventInformationItems)
                            {
                                var textPosition = eventInformationsitem.TextPosition == CssPosition.Left ? "offset-xl-1" : "offset-lg-6";
                                var btnPosition = eventInformationsitem.BtnPosition == CssPosition.Left ? "text-left" : "text-right";
                                var activeclass = j == 0 ? "active" : null;
                                <div class="carousel-item @activeclass" data-interval="10000">
                                    <div class="bg-cover d-flex items-center py-9" style="min-height:@item.BgHeight; background-image:url(/FileUploads/EventPhoto/@eventInformationsitem.Background);">
                                        <div class="container">
                                            <div class="row items-center">
                                                <div class="col-md-6 col-lg-5  @textPosition" style="background-color: @eventInformationsitem.TextBgColor;">
                                                    <div class="row justify-center items-center" style="min-height:@eventInformationsitem.TextContentHeight">
                                                        <div class="col-md-12">
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                                            {
                                                                <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                                            }
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                            {
                                                                @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                                            }
                                                            <div class="@btnPosition">
                                                                @if (!string.IsNullOrEmpty(eventInformationsitem.Link1))
                                                                {
                                                                    if (!string.IsNullOrEmpty(eventInformationsitem.LinkName1))
                                                                    {
                                                                        eventInformationsitem.LinkName1 = Regex.Replace(eventInformationsitem.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                                    }
                                                                    <a class="btn rounded-pill px-5 mr-4" href="@eventInformationsitem.Link1" style="background:@eventInformationsitem.BtnBgColor1">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName1)</a>
                                                                }
                                                                @if (!string.IsNullOrEmpty(eventInformationsitem.Link2))
                                                                {
                                                                    if (!string.IsNullOrEmpty(eventInformationsitem.LinkName2))
                                                                    {
                                                                        eventInformationsitem.LinkName2 = Regex.Replace(eventInformationsitem.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                                    }
                                                                    <a class="btn rounded-pill px-5" href="@eventInformationsitem.Link2" style="background:@eventInformationsitem.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName2)</a>
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                j++;
                            }
                        </div>
                    </div>

                    break;
                case EventInformationType.E:
                    <!--E-->
                    <div class="carousel slide" id="carousel-e" data-ride="carousel" data-pause="false">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < item.EventInformationItems.Count(); i++)
                            {
                                var activeclass = i == 0 ? "active" : null;
                                <li class="@activeclass" data-target="#carousel-e" data-slide-to="@i"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @{ j = 0;}

                            @foreach (var eventInformationsitem in item.EventInformationItems)
                            {
                                var textPosition = eventInformationsitem.TextPosition == CssPosition.Left ? "justify-start" : "justify-end";
                                var btnPosition = eventInformationsitem.BtnPosition == CssPosition.Left ? "text-left" : "text-right";
                                var activeclass = j == 0 ? "active" : null;
                                <div class="carousel-item @activeclass" data-interval="10000">
                                    <div class="bg-cover d-flex items-center py-9 relative" style="min-height:@item.BgHeight;background-image:url(/FileUploads/EventPhoto/@eventInformationsitem.Background)">
                                        <div class="mask d-none" style="background-color: rgba(0,0,0,.3)"></div>
                                        <div class="container">
                                            <div class="row  @textPosition items-center" style="min-height:@(moblie ? "100%" : eventInformationsitem.TextContentHeight)@(moblie ? ";margin:60px" : "")">
                                                <div class="col-auto col-md-6 col-lg-5 break-xl-1">
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                                    {
                                                        <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                                    }
                                                    @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                    {
                                                        @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)
                                                    }
                                                    <div class="@btnPosition">
                                                        @if (!string.IsNullOrEmpty(eventInformationsitem.Link1))
                                                        {
                                                            if (!string.IsNullOrEmpty(eventInformationsitem.LinkName1))
                                                            {
                                                                eventInformationsitem.LinkName1 = Regex.Replace(eventInformationsitem.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                            }
                                                            <a class="btn rounded-pill px-5 mr-4" href="@eventInformationsitem.Link1" style="background:@eventInformationsitem.BtnBgColor1">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName1)</a>
                                                        }
                                                        @if (!string.IsNullOrEmpty(eventInformationsitem.Link2))
                                                        {
                                                            if (!string.IsNullOrEmpty(eventInformationsitem.LinkName2))
                                                            {
                                                                eventInformationsitem.LinkName2 = Regex.Replace(eventInformationsitem.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                            }
                                                            <a class="btn rounded-pill px-5" href="@eventInformationsitem.Link2" style="background:@eventInformationsitem.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.LinkName2)</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                j++;
                            }
                        </div>
                    </div>
                    break;
                case EventInformationType.F:
                    var showitem = item.ShowItem;
                    var carditem = item.EventInformationItems.Count() % showitem != 0 ? (item.EventInformationItems.Count() / showitem) + 1 : (item.EventInformationItems.Count() / showitem);
                    <!--F-->
                    <section class="d-flex items-center py-4" style="background:@item.BgColor;min-height:@item.BgHeight">

                        <div class="container-fluid">
                            @if (!string.IsNullOrEmpty(item.HeadLine))
                            {
                                <h2 class="mb-4">@HtmlHelperExtensions.AntiXssRaw(item.HeadLine)</h2>
                            }
                            <div class="carousel slide" id="card-carousel" data-ride="carousel" data-pause="false">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < carditem; i++)
                                    {
                                        var activeclass = i == 0 ? "active" : null;
                                        <li class="@activeclass" style="background-color:gray" data-target="#card-carousel" data-slide-to="@i"></li>
                                    }
                                </ol>
                                <div class="carousel-inner">
                                    @for (int i = 0; i < carditem; i++)
                                    {
                                        var activeclass = i == 0 ? "active" : null;
                                        int printitem = i == carditem - 1 && item.EventInformationItems.Count() % showitem != 0 ? item.EventInformationItems.Count() % showitem : showitem;
                                        <div class="carousel-item @activeclass" data-interval="10000">
                                            <div class="container py-4 text-center">
                                                <div class="row justify-around">
                                                    @for (int k = 0; k < printitem; k++)
                                                    {
                                                        var items = item.EventInformationItems[(i * showitem) + k];
                                                        <div class="col-md-4 col-lg-3 mb-8 mb-md-0">
                                                            <div class="card bg-transparent border-0">
                                                                <h5 class="card-title">@HtmlHelperExtensions.AntiXssRaw(items.Title)</h5>
                                                                <div class="border mb-4"></div>
                                                                <div class="card-img-cover mb-4" style="background-image: url(/FileUploads/EventPhoto/@items.MainPic)"></div>
                                                                <div class="card-body border-0" style="background-color:transparent;">
                                                                    <div class="card-text text-left card-text-4-lines mb-4" style="font-size:16px">
                                                                        @HtmlHelperExtensions.AntiXssRaw(items.Content)
                                                                    </div>
                                                                    @if (!string.IsNullOrEmpty(items.Link1))
                                                                    {
                                                                        if (!string.IsNullOrEmpty(items.LinkName1))
                                                                        {
                                                                            items.LinkName1 = Regex.Replace(items.LinkName1, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                                        }
                                                                        <a class="btn rounded-pill px-5" href="@items.Link1" style="background:@items.BtnBgColor1">@HtmlHelperExtensions.AntiXssRaw(items.LinkName1)</a>
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(items.Link2))
                                                                    {
                                                                        if (!string.IsNullOrEmpty(items.LinkName2))
                                                                        {
                                                                            items.LinkName2 = Regex.Replace(items.LinkName2, String.Format("<(?!{0}).*?>", "span"), String.Empty);
                                                                        }
                                                                        <a class="btn rounded-pill px-5" href="@items.Link2" style="background:@items.BtnBgColor2">@HtmlHelperExtensions.AntiXssRaw(items.LinkName2)</a>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    break;
                case EventInformationType.G:
                    showitem = item.ShowItem;
                    carditem = item.EventInformationItems.Count() % showitem != 0 ? (item.EventInformationItems.Count() / showitem) + 1 : (item.EventInformationItems.Count() / showitem);
                    var iscontent = item.EventInformationItems.Where(p => !string.IsNullOrEmpty(p.Content)).Any();
                    <!--G-->
                    <section class="d-flex items-center @(iscontent ? "py-6" : "py-4") " style="min-height:@item.BgHeight;background:@item.BgColor">
                        <div class="container-fluid">
                            @if (!string.IsNullOrEmpty(item.HeadLine))
                            {
                                <h2 class="mb-4">@HtmlHelperExtensions.AntiXssRaw(item.HeadLine)</h2>
                            }
                            <div class="carousel slide" id="feature-carousel" data-ride="carousel" data-pause="false">
                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < carditem; i++)
                                    {
                                        var activeclass = i == 0 ? "active" : null;
                                        <li class="@activeclass" data-target="#feature-carousel" data-slide-to="@i"></li>
                                    }
                                </ol>
                                <div class="carousel-inner">
                                    @for (int i = 0; i < carditem; i++)
                                    {
                                        var activeclass = i == 0 ? "active" : null;
                                        int printitem = i == carditem - 1 && item.EventInformationItems.Count() % showitem != 0 ? item.EventInformationItems.Count() % showitem : showitem;
                                        <div class="carousel-item @activeclass" data-interval="10000">
                                            <div class="container">
                                                <div class="row justify-around">
                                                    @for (int k = 0; k < printitem; k++)
                                                    {
                                                        var items = item.EventInformationItems[(i * showitem) + k];
                                                        <div class="col-md-4 col-lg-3 mb-8 mb-md-0">
                                                            <div class="card bg-transparent border-0">
                                                                <div class="img-fluid text-center">
                                                                    @if (!string.IsNullOrEmpty(items.Link1))
                                                                    {
                                                                        var target = items.isTargetBlank ? "_blank" : "_parent";
                                                                        <a href="@items.Link1" target="@target"><img class="mb-4" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@items.Icon" alt="" /></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <img class="mb-4" src="https://wwwadmin.sks.com.tw/FileUploads/EventPhoto/@items.Icon" alt="" />
                                                                    }
                                                                    <h5 class="card-title">@HtmlHelperExtensions.AntiXssRaw(items.Title)</h5>
                                                                </div>
                                                                @if (!string.IsNullOrEmpty(items.Content))
                                                                {

                                                                    <div class="border w-25 mx-auto mb-4"></div>
                                                                    <div class="card-body border-0" style="background-color:transparent;">
                                                                        <div class="card-text card-text-4-lines mb-4">
                                                                            @HtmlHelperExtensions.AntiXssRaw(items.Content)
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                    break;
                case EventInformationType.H:
                    var videourl = "";
                    var str = "";
                    var videoId = "";

                    foreach (var eventInformationsitem in item.EventInformationItems)
                    {

                        if (!string.IsNullOrEmpty(eventInformationsitem.VideoUrl))
                        {
                            if (eventInformationsitem.VideoUrl.IndexOf("http") != -1)
                            {
                                videourl = eventInformationsitem.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                                str = eventInformationsitem.VideoUrl.Replace(videourl, "");
                                videoId = str.IndexOf("&") != -1 ? str.Substring(0, str.IndexOf("&")) : str;
                            }
                            <section class="bg-cover d-flex items-center py-9 modal-trigger" data-toggle="modal" data-target="#sksVideo" data-video="@videoId" style="min-height:@item.BgHeight;background-image:url('http://img.youtube.com/vi/@videoId/maxresdefault.jpg');">
                                <div class="container">
                                    <div class="row justify-between items-center">
                                        @{
                                            var iconstyle = string.IsNullOrEmpty(eventInformationsitem.Title) && string.IsNullOrEmpty(eventInformationsitem.Content) ? "offset-lg-3" : null;
                                        }

                                        @if (eventInformationsitem.TextPosition == CssPosition.Right)
                                        {

                                            <div class="col-md-5 text-center @iconstyle">
                                                <svg width="100" height="100">
                                                    <circle cx="50" cy="50" r="40" fill="none" stroke="@eventInformationsitem.BtnBgColor1" stroke-width="5"></circle>
                                                    <polygon points="66.66 50 45 33.33 45 65.7 66.66 50" fill="@eventInformationsitem.BtnBgColor1"></polygon>
                                                </svg>
                                            </div>
                                            <div class="col-md-5 col-lg-4 py-4" style="background-color:@eventInformationsitem.TextBgColor">
                                                @if (!string.IsNullOrEmpty(eventInformationsitem.Title) || !string.IsNullOrEmpty(eventInformationsitem.Content))
                                                {
                                                    <div class="row justify-center items-center" style="min-height:@eventInformationsitem.TextContentHeight">
                                                        <div class="col-md-12">
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                                            {
                                                                <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                                            }
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                            {
                                                                @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)

                                                            }
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-5 col-lg-4 py-4" style="background-color:@eventInformationsitem.TextBgColor">
                                                @if (!string.IsNullOrEmpty(eventInformationsitem.Title) || !string.IsNullOrEmpty(eventInformationsitem.Content))
                                                {
                                                    <div class="row justify-center items-center" style="min-height:@eventInformationsitem.TextContentHeight">
                                                        <div class="col-md-12">
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Title))
                                                            {
                                                                <h2>@HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Title)</h2>
                                                            }
                                                            @if (!string.IsNullOrEmpty(eventInformationsitem.Content))
                                                            {
                                                                @HtmlHelperExtensions.AntiXssRaw(eventInformationsitem.Content)

                                                            }
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                            <div class="col-md-5 text-center @iconstyle">
                                                <svg width="100" height="100">
                                                    <circle cx="50" cy="50" r="40" fill="none" stroke="@eventInformationsitem.BtnBgColor1" stroke-width="5"></circle>
                                                    <polygon points="66.66 50 45 33.33 45 65.7 66.66 50" fill="@eventInformationsitem.BtnBgColor1"></polygon>
                                                </svg>
                                            </div>
                                        }



                                    </div>
                                </div>
                            </section>
                        }
                    }
                    break;
                default:
                    break;
            }
        }
    }
    if (Model.isContactStatus)
    {
        <!--Contact us-->
        using (Html.BeginForm("Index", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.LinkName)
            @Html.HiddenFor(model => model.IsVerification)
            <section class="d-flex items-center py-9" style="min-height:80vh;background-color:@Model.ContactBg">
                <div class="container">
                    <div class="row justify-between">
                        <div class="col-md-8 pr-xl-12 mb-6 mb-md-0 border-md-right">
                            <h2>@HtmlHelperExtensions.AntiXssRaw(Model.ContactTitle)</h2>
                            <p class="mb-6">@HtmlHelperExtensions.AntiXssRaw(Model.ContactDesc)</p>

                            <div class="row">
                                @if (Model.EventContactChangeFieldNames.Count() > 0)
                                {
                                    var coumnList = Model.EventContactChangeFieldNames.Where(p => p.CoumnId != 0).OrderBy(p => p.CoumnId);
                                    var eventCategory = Model.EventContactChangeFieldNames.Where(p => p.CoumnId == 0).OrderBy(p => p.Sort);

                                    if (eventCategory.Count() > 0)
                                    {
                                        <div class="form-group col-md-12">
                                            @Html.DropDownListFor(p => p.EventContactCategory, Model.EventContactCategoryList, new { @class = "form-control border-bottom" })
                                        </div>
                                    }

                                    if (coumnList.Count() > 0)
                                    {
                                        foreach (var item in coumnList)
                                        {
                                            switch (item.CoumnId)
                                            {
                                                case 1:
                                                    <div class="form-group col-md-12">
                                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control border-bottom", @placeholder = item.EventCoumnText + "*(請填寫，中文姓名或公司行號)" })
                                                    </div>
                                                    break;
                                                case 2:
                                                    <div class="form-group col-md-12">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control border-bottom", @placeholder = item.EventCoumnText + "(請填寫全數字，市話請加縣市區碼)" })
                                                    </div>
                                                    break;
                                                case 3:
                                                    <div class="form-group col-md-12">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-bottom", @placeholder = item.EventCoumnText + "*" })
                                                    </div>
                                                    break;
                                                case 4:
                                                    <div class="form-group col-md-3">
                                                        @Html.DropDownListFor(m => m.City, Model.CityList, new { @class = "form-control", id = "js-city" })
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        @Html.DropDownListFor(m => m.Area, Model.AreaList, new { @class = "form-control", id = "js-area" })
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control border-bottom", @placeholder = item.EventCoumnText + "*" })
                                                    </div>

                                                    break;
                                                case 5:
                                                    <br />
                                                    <div class="form-group col-md-12">
                                                        @Html.TextAreaFor(m => m.Remark, new { @class = "form-control border-bottom", @placeholder = item.EventCoumnText + "*(請填寫，您的需求及所在地址，只能填寫中文)" })
                                                    </div>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    }
                                    @*<div class="form-group col-md-12">
                                            <div class="form-check form-check-inline">
                                                @Html.CheckBoxFor(m => m.isContact, new { @class = "form-check-input" })
                                                <label class="form-check-label" for="checkPrivacy"><span class="text-sksRed">*</span>請填入真實基本資料，3天內將會有專人與您聯繫我同意收到新光保全後續優惠通知與新品試用等相關促銷活動，看更多<a href="#" target="_blank">隱私權說明</a></label>
                                            </div>
                                        </div>*@
                                }
                            </div>

                            <div class="row">
                                @*@if (Model.IsVerification)
                                    {
                                        <div class="form-group col-md-auto">
                                            @Html.TextBoxFor(x => x.Verifycode, new { @class = "form-control border-bottom", @placeholder = "驗證碼" })
                                            @Html.ValidationMessageFor(model => model.Verifycode, "", new { @class = "text-red" })
                                            <p>請注意英文大小寫</p>
                                        </div>
                                        <div class="form-group col-md-auto">
                                            <img src="/Event/VerificationCode" alt="驗證圖碼" id="imgCode" class="img-fluid" />
                                            <a onclick="Refresh()" value="Refresh" style="text-decoration:underline;cursor:pointer;">換一組</a>
                                        </div>
                                    }*@
                                <div id="recaptcha" class="g-recaptcha"></div>
                                <div class="form-group col-md-12">
                                    <button class="btn px-5 rounded-0" type="submit" style="background:@Model.ContactBtnBgColor">@HtmlHelperExtensions.AntiXssRaw(Model.ContactBtnText.Replace("p>", "span>"))</button>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.ContactPhoneText))
                        {
                            <div class="col-md-3 text-vertical-center">
                                <div class="min-vh-33" style="background-color:@Model.ContactPhoneBgColor">
                                    <img src="~/Content/sks/img/phone-call.png" alt="phnone-call" style="margin:-32px 0 0 -32px" />
                                    <div class="text-vertical-center h-100">
                                        <div class="pb-4 text-center">
                                            <h4 class="font-bold">服務專線</h4>
                                            <ul class="list-unstyled">
                                                @HtmlHelperExtensions.AntiXssRaw(Model.ContactPhoneText)
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }

    }


}
else
{
    <section class="text-white text-center font-bold" id="page-top">
        <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                    <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                        <div class="mask-dark">
                            <h2 class="h1 lineheight-vh-33">活動</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid full-fluid border-bottom-light-gray">
        <div class="row items-center">
            <div class="col-md-5 col-lg-4 bg-cover bg-top vh-50" style="background-image:url(/Content/sks/img/BN2-01.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-7 cc_cursor">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-xl-3">

                    </div>
                    <div class="col-lg-8 col-xl-9 text-vertical-center">
                        <p class="h2 font-bold">活動已經結束或是尚未開始</p>
                        <p class="h4">
                            <span style="font-size:24px">
                                您可以回到<a class="" style="margin:20px 0;color:blue" href="@Url.Action("Index","Home")">首頁</a>或使用菜單上方的搜尋 <br />
                                或是<a class="" style="margin:20px 0;color:blue" href="@Url.Action("Index","Contact")">聯絡我們</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<a class="fix-round2 fix-btn2 h6 show" href="https://wlsecurity999.sks.com.tw/webagent/client.html" target="_blank">
    <div class="mwt_border fixed-pill2 fix-btn3 show">
        <span class="arrow_b_int"></span>
        <span class="arrow_b_out"></span>
        在此為您服務<br />
        新光保全線上客服
    </div>
    <img src="~/Content/sks/img/CS.svg" width="125" height="125" />
</a>
<div class="modal" id="sksVideo" tabindex="-1" role="dialog" aria-labelledby="sksVideo" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="100%" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script src="../Scripts/front/city.js"></script>
    <script src="~/Scripts/front/grecaptcha.js"></script>
    <script src="~/Scripts/front/cusom.js"></script>
    <script src="../Scripts/Admin/toastr/toastr.min.js"></script>

    <script>
        var result = '@TempData["Result"]';
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "2000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    if (null != result && '' != result) {
        toastr.success(result);
        @{TempData["Result"] = null;}
    }

    var err = '@TempData["Error"]';
    if (null != err && '' != err) {
        toastr.error(err);
        @{TempData["Error"] = null;}
    }
    </script>
    <script type="text/javascript">
        //var onSubmit;
        $('form').submit(e => {
            e.preventDefault();
            var isVaild = true;
            var isname = $('input[name=Name]');
            var name = $('input[name=Name]').val();
            if (!name && isname) {
                alert('請填寫姓名');
                return false;
            } else {
                if (!checkName(name)) {
                    alert('姓名請填寫中文3到15個字');
                    isVaild = false;
                }
            }
            var isemail = $('input[name=Email]');
            var email = $('input[name=Email]').val();
            if (isemail.length) {
                if (!email) {
                    alert('請填寫Email');
                    isVaild = false
                } else {
                    if (!checkEmail(email)) {
                        alert('請填寫正確格式的email');
                        isVaild = false
                    }
                }
              
            }
            var isphone = $('#Phone');
            var phone = $('#Phone').val();
            if (isphone.length) {
                if (!phone) {
                    alert('請填寫電話');
                    isVaild = false
                } else {
                    var re = /09/;

                    if (re.test(phone)) {
                        if (!checkMobliePhone(phone)) {
                            alert('請填寫正確手機格式');
                            isVaild = false
                        }
                       
                    } else {
                        if (!checkPhone(phone)) {
                            alert('請填寫正確電話格式');
                            isVaild = false
                        }
                    }              
                }           
            }
            var $city = $("#js-city")
            var $area = $("#js-area")
            var cityName = $city.val();
            var areaName = $area.val();
            if (cityName === '' || areaName === '' && ($city && $area)) {

                if (cityName === '' || areaName === '') {
                    alert('請選擇縣市與區域');
                    isVaild = false
                }
            }
            var isaddress = $('input[name=Address]');
            var address = $('input[name=Address]').val();
            if (isaddress.length) {
                if (!address) {
                    alert('請填寫地址');
                    isVaild = false
                }
            }
            var ismessage = $('textarea[name=Remark]');
            var message = $('textarea[name=Remark]').val();
            if (ismessage.length) {
                if (!message) {
                    alert('請填寫訊息');
                    isVaild = false
                } else {
                    if (!checkMessage(message)) {
                        alert('需求請填寫15個字以上，只能填寫中文英文數字逗號逗點跟-');
                        isVaild = false;
                    }
                }
            }

            var response = grecaptcha.getResponse()
            if (response.length && isVaild) {
                $(e.target).unbind('submit').submit();
            }
        });

    </script>
}
