﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "用戶專區";
}
@section head{
    <title>新光保全-用戶專區</title>
    <meta name="description" content="新光保全聯絡人異動、設定服務變更、客戶查詢、冷凍溫度查詢、監控網、GPS車隊管理。"/>
    <meta name="twitter:title" content="新光保全-用戶專區"/>
    <meta name="twitter:description" content="新光保全聯絡人異動、設定服務變更、客戶查詢、冷凍溫度查詢、監控網、GPS車隊管理。"/>
    <meta property="og:title" content="新光保全-用戶專區"/>
    <meta property="og:description" content="新光保全聯絡人異動、設定服務變更、客戶查詢、冷凍溫度查詢、監控網、GPS車隊管理。"/>
    <link rel="canonical" href="@url" />
}

<section class="font-bold mb-4">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item text-center text-white active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">用戶專區</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-center text-paragraph-gray h5 font-bold fade-in table-list">
        <div class="row justify-start divider border-3n1-none border-md-2n1-none">
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
               <svg class="img-fluid mb-3" height="100" viewBox="0 0 82.61 91.55" ><defs><style>.cls-1{stroke-width:1.82px;}.cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10{stroke:#666767;}.cls-1,.cls-3,.cls-11,.cls-4,.cls-6,.cls-7,.cls-8,.cls-9,.cls-12{fill:#fff;}.cls-1,.cls-3,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10{stroke-miterlimit:10;}.cls-2,.cls-13,.cls-5,.cls-10,.cls-14{fill:#666767;}.cls-2,.cls-4,.cls-5{stroke-linecap:round;stroke-linejoin:round;stroke-width:.91px;}.cls-3,.cls-9{stroke-width:1.13px;}.cls-4,.cls-5,.cls-6,.cls-7,.cls-8,.cls-9,.cls-10,.cls-14,.cls-12{fill-rule:evenodd;}.cls-6{stroke-width:2.73px;}.cls-7{stroke-width:1.88px;}.cls-8{stroke-width:2.03px;}.cls-10{stroke-width:.91px;}</style></defs><path class="cls-9" d="M65.17,38.1c0-13.88-11.25-25.14-25.14-25.14S14.9,24.22,14.9,38.1c0,11.73,8.03,21.58,18.9,24.36,.2,.87,.21,2.09,.13,3.42-.39,6.95-2.73,7.27-2.73,7.27l13.75,.53,3.53-1.44c0-.13-.77-8.67-.43-10.31,9.95-3.35,17.13-12.75,17.13-23.83Z"/><path class="cls-6" d="M46.74,15.45c.51,1.19-3.07,5.65-4,6.52-2.16,2.04-5.03,2.92-7.96,3.05,.84-2.14,2.92-4.41,1.94-6.81-1.5,.51-3.27,2.11-4.48,3.3-3.89,3.82-11.93,8.36-13.85,13.5-1.43,3.82-1.65,7.75-.37,11.53,1.9,5.63,3.77,9.7,8.35,12.55,2.86,1.78,9.82,3.6,7.09,7.24-1.42,1.89-8.28-3.62-10.15-5-11.56-8.52-11.6-11.44-12.37-21.53-.65-8.46-.24-17.72,5.74-24.35C23.38,8.04,31.54,.19,42.32,1.51c16.39,2.01,24.6,17.13,26.19,32.2,.44,4.12,.92,8.26,.63,12.41-.21,2.96-.69,6.08-2.16,8.7-2.42,4.34-7.67,6.97-12.22,8.37-2.09,.64-4.25,1.08-6.43,1.21-.65,.04,1.12,.67,.58,.11-.07-.07,2.73,.91,0,0-4.37-1.46,4.04-5.12,7.8-7.77,3.89-2.75,6.23-6.19,6.94-10.95,.64-4.29,.17-8.89-1.3-12.97-1.53-4.25-5.17-5.89-8.72-8.12-3.77-2.36-5.15-5.22-6.89-9.25Z"/><path class="cls-13" d="M35.34,51c1.13,2.2,3.24,3.94,5.75,3.87,2.35-.03,5-1.35,5.53-3.87,.24,2.85-2.91,4.84-5.53,4.82-2.79,.09-5.29-2.16-5.75-4.82h0Z"/><g><path class="cls-14" d="M42.2,45.95s.75,.02-1.23,.47c-1.98,.45-2.17-1.84-2.17-1.84l3.4,1.37Z"/><g><path class="cls-14" d="M27.82,37.63c-.69-.16-1.39-.11-2.01,.1,.28,.25,.42,.65,.33,1.04-.13,.58-.72,.95-1.3,.81-.35-.08-.62-.32-.75-.62-.32,.41-.55,.89-.68,1.43-.45,1.98,.78,3.96,2.77,4.41,1.98,.45,3.96-.78,4.41-2.77,.45-1.98-.78-3.96-2.77-4.41Z"/><circle class="cls-11" cx="26.67" cy="39.67" r="1.54"/></g><g><path class="cls-14" d="M53.6,37.54c-.71,0-1.38,.2-1.94,.55,.33,.19,.55,.54,.55,.94,0,.6-.49,1.08-1.08,1.08-.36,0-.67-.17-.87-.44-.22,.47-.34,.99-.34,1.55,0,2.03,1.65,3.68,3.68,3.68s3.68-1.65,3.68-3.68-1.65-3.68-3.68-3.68Z"/><circle class="cls-11" cx="51.61" cy="39.67" r="1.54"/></g></g><path class="cls-13" d="M24.28,34.35c1.76-.45,4.59-2.11,5.86,0l-.05,.04c-.91-.5-1.78-.48-2.79-.46-.96,.02-2.13,.49-3.02,.41h0Z"/><path class="cls-13" d="M55.59,34.41c-1.97-.31-4-.85-5.85-.05,.48-1.08,1.92-1.2,2.91-.91,.98,.25,2.15,.54,2.94,.96h0Z"/><g><path class="cls-7" d="M27.04,62.76s-15.1-4.83-14.78,21.22c1.16,.43,3.56,.04,7.68,1.58-.59-6.74,1.8-15.04,5.75-17.78,.59-.71,1.27-2.96,1.36-5.02Z"/><path class="cls-7" d="M20.25,85.16c0,1.86-2.02,3.37-4.52,3.37s-4.52-1.51-4.52-3.37c0-3.37,0-2.02,5.42-2.02,3.61,0,3.61,.16,3.61,2.02Z"/></g><g><path class="cls-7" d="M52.25,63.7s14.49-6.44,16.99,19.5c-1.1,.55-3.53,.43-7.46,2.4-.14-6.76-3.42-14.75-7.64-17.06-.66-.65-1.58-2.8-1.89-4.84Z"/><path class="cls-7" d="M61.42,85.23c.2,1.85,2.38,3.13,4.86,2.86s4.33-1.99,4.13-3.84c-.36-3.35-.22-2.01-5.61-1.42-3.59,.39-3.58,.55-3.37,2.4Z"/></g><path class="cls-8" d="M58.01,60.88h-2.45l-6.89,5.62c-3.75,3.05-10.89,3.09-14.7,.07l-7.18-5.69h-2.46c-2.72,0-4.95,1.64-4.95,3.64,1.24,9.42,1.86,17.86,0,22.39,0,2,2.23,3.64,4.95,3.64H58.01c2.72,0,4.95-1.64,4.95-3.64-3-5.09-2.49-12.95,0-22.39,0-2-2.23-3.64-4.95-3.64Z"/><g><path class="cls-14" d="M36.94,77.96l-.16,.95s-.45-.12-.68-.16c-.23-.04-.7-.13-1.01-.11-.31,.02-.64,.02-.93,.16-.29,.15-.34,.34-.34,.43s.08,.36,.39,.52c.3,.17,.92,.41,1.04,.46,.13,.06,.69,.28,1.17,.6,.49,.32,.6,.55,.64,.7,.04,.16,.03,.35-.07,.56-.11,.22-.29,.37-.36,.43-.08,.06-.34,.23-.41,.27-.07,.03-.33,.16-.4,.18-.06,.03-.38,.13-.47,.15-.09,.03-.49,.13-.55,.13-.05,0-.4,.06-.48,.07-.08,0-.42,.05-.58,.05s-.5,.01-.61,0c-.11,0-.43-.02-.48-.03-.05,0-.58-.06-.64-.06-.06,0-.5-.09-.53-.09-.03,0-.15-.03-.15-.03l.16-1s.58,.15,.74,.18c.16,.03,.64,.11,.88,.12,.24,.01,.43,.03,.74-.02,.31-.05,.65-.2,.73-.35,.09-.15,.09-.15,.09-.34,0-.18-.29-.4-.37-.43-.09-.04-.37-.19-.65-.3-.28-.11-.82-.35-.94-.41-.13-.07-.62-.32-.83-.51-.22-.19-.38-.39-.38-.62s.06-.43,.16-.58c.1-.14,.3-.38,.64-.55,.34-.17,.63-.29,1.11-.41,.49-.11,1.22-.16,1.46-.15,.24,.01,.65,0,1.11,.05,.46,.06,.65,.08,.76,.11,.11,.02,.22,.05,.21,.04Z"/><path class="cls-14" d="M50.51,77.88l-.16,.95s-.45-.13-.68-.17c-.23-.03-.71-.13-1.01-.12-.3,.02-.63,.02-.93,.17-.29,.15-.34,.34-.34,.42,0,.09,.08,.36,.39,.53,.3,.17,.91,.4,1.04,.45,.13,.06,.68,.28,1.18,.6,.49,.32,.59,.55,.64,.71,.04,.15,.03,.34-.07,.56-.11,.21-.28,.37-.36,.42-.08,.06-.34,.24-.41,.27-.07,.03-.34,.16-.4,.18-.06,.03-.37,.13-.46,.16-.1,.02-.49,.12-.55,.13-.06,0-.4,.06-.48,.07-.09,0-.42,.05-.59,.05s-.5,.01-.61,0c-.1,0-.43-.02-.47-.02-.05,0-.58-.06-.64-.07-.06,0-.5-.08-.52-.09-.03-.01-.16-.03-.16-.03l.16-.99s.58,.14,.74,.17c.16,.03,.63,.11,.88,.13,.24,0,.43,.02,.74-.03,.31-.05,.64-.2,.73-.36,.09-.15,.09-.15,.09-.34,0-.19-.29-.4-.37-.43-.09-.04-.38-.19-.66-.3-.27-.11-.81-.35-.94-.41-.12-.06-.61-.32-.82-.51-.22-.2-.39-.39-.39-.63s.07-.43,.17-.58c.1-.14,.3-.37,.64-.54,.33-.17,.62-.29,1.11-.41,.49-.11,1.22-.17,1.46-.16,.24,.01,.64,0,1.11,.05,.46,.05,.64,.09,.76,.11,.11,.03,.21,.04,.21,.04Z"/><polygon class="cls-14" points="38.05 77.92 40.33 77.92 39.92 80.54 40.19 80.54 43.06 77.92 45.35 77.91 42.43 80.6 44.44 83.2 41.96 83.2 40.11 80.87 39.87 80.87 39.5 83.2 37.22 83.2 38.05 77.92"/></g><g><path class="cls-10" d="M71.19,26.53c0-13.51-13.79-24.46-30.8-24.46S9.59,13.02,9.59,26.53h-1.93C7.66,12.17,22.31,.54,40.39,.54s32.72,11.64,32.72,25.99h-1.92Z"/><g><path class="cls-5" d="M58.43,60.61c13.27,1.25,19.83-7.35,21.2-11.11,.15,.05,.31,.1,.47,.16-.98,3.47-7.55,12.93-21.47,11.56-.07-.21-.14-.42-.2-.6Z"/><g><g><path class="cls-1" d="M14.92,26.6h.59c1.18,0,2.14,.96,2.14,2.14v21.36c0,1.18-.96,2.14-2.14,2.14h-.59c-1.18,0-2.14-.96-2.14-2.14V28.73c0-1.18,.96-2.14,2.14-2.14Z" transform="translate(-4.21 1.9) rotate(-6.27)"/><path class="cls-6" d="M1.43,40.92c-.69-6.28,3.85-11.93,10.13-12.62,.05,0,.09,0,.14-.01-.06,.24-.08,.5-.06,.77l2.33,21.23c.03,.26,.11,.51,.22,.74-.05,0-.09,.01-.14,.02-6.28,.69-11.93-3.85-12.62-10.12Z"/></g><g><path class="cls-3" d="M8.49,19.45h.45c.9,0,1.62,.73,1.62,1.62v13.67c0,.9-.73,1.62-1.62,1.62h-.45c-.9,0-1.62-.73-1.62-1.62v-13.67c0-.9,.73-1.62,1.62-1.62Z" transform="translate(-2.98 1.11) rotate(-6.23)"/><g><path class="cls-12" d="M8.09,21.38c-.36-.25-.18,.84-.06,1.51,.38,.83,.42-1.26,.06-1.51Z"/><path class="cls-12" d="M8.27,23.21c-.09,0-.18,.05-.2,.11-.01,.06,.04,.08,.11,.1,.07,.01,.15-.03,.18-.1,.03-.07-.01-.1-.1-.11Z"/><path class="cls-12" d="M8.3,23.6c-.06,0-.13,.03-.14,.08,0,.05,.03,.06,.08,.07,.05,.01,.11-.02,.13-.07,.02-.05,0-.07-.07-.08Z"/><path class="cls-12" d="M7.92,21.11s.02,.08,.06,.09c.04,0,.06-.01,.07-.04,.01-.03,0-.07-.05-.08-.04-.02-.07,0-.08,.04Z"/><path class="cls-12" d="M8.23,23.95s.02,.08,.06,.09c.04,0,.06-.01,.07-.04,.01-.03,0-.07-.05-.08-.04-.02-.07,0-.08,.04Z"/></g><g><path class="cls-12" d="M9.51,34.37c-.3,.32-.36-.78-.38-1.46,.19-.89,.68,1.14,.38,1.46Z"/><path class="cls-12" d="M9.29,32.54c-.08,.03-.19,0-.22-.06-.02-.06,.02-.09,.09-.12,.07-.03,.15,0,.2,.06,.05,.06,.01,.1-.07,.13Z"/><path class="cls-12" d="M9.24,32.16c-.06,.02-.14,0-.15-.05-.02-.04,.02-.06,.06-.09,.05-.02,.11,0,.14,.04,.03,.04,0,.07-.05,.09Z"/><path class="cls-12" d="M9.41,34.67s0-.08,.04-.1c.04-.02,.06,0,.08,.03,.02,.03,0,.07-.03,.09-.04,.03-.07,.02-.09-.02Z"/><path class="cls-12" d="M9.1,31.83s0-.08,.04-.1c.04-.02,.06,0,.08,.03,.02,.03,0,.07-.03,.09-.04,.03-.07,.02-.09-.02Z"/></g></g></g><g><g><path class="cls-1" d="M54.46,36.98h21.36c1.18,0,2.14,.96,2.14,2.14v.59c0,1.18-.96,2.14-2.14,2.14h-21.36c-1.18,0-2.14-.96-2.14-2.14v-.59c0-1.18,.96-2.14,2.14-2.14Z" transform="translate(18.85 99.86) rotate(-83.73)"/><path class="cls-6" d="M78.93,40.92c.69-6.28-3.85-11.93-10.13-12.62-.05,0-.09,0-.14-.01,.06,.24,.09,.5,.06,.77l-2.32,21.23c-.03,.26-.11,.51-.22,.74,.05,0,.09,.01,.14,.02,6.28,.69,11.93-3.85,12.61-10.12Z"/></g><path class="cls-3" d="M64.54,26.33h13.67c.9,0,1.62,.73,1.62,1.62v.45c0,.9-.73,1.62-1.62,1.62h-13.67c-.9,0-1.62-.73-1.62-1.62v-.45c0-.9,.73-1.62,1.62-1.62Z" transform="translate(35.64 96.08) rotate(-83.78)"/></g><g><path class="cls-9" d="M81.88,44.45c.62-2.06-.57-4.22-2.63-4.81,.12,1.6-1.25,6.12-2.22,7.39,2.04,.66,4.23-.54,4.85-2.57Z"/><g><path class="cls-12" d="M80.53,44.79c-.04-.14-.14,.17-.3,.29-.1,.23,.34-.14,.3-.29Z"/><path class="cls-12" d="M80.21,45.18s-.04-.02-.05-.01c-.01,.01,0,.02,0,.04,0,.02,.03,.02,.05,.01,.02,0,.02-.02,0-.04Z"/><path class="cls-12" d="M80.12,45.24s-.03-.02-.04,0c-.01,0,0,.02,0,.03,0,.01,.02,.01,.03,0s.01-.02,0-.03Z"/><path class="cls-12" d="M80.56,44.71s-.01,.02,0,.03c0,0,.01,0,.02,0,0,0,.01-.01,0-.03,0-.01-.01-.01-.02,0Z"/><path class="cls-12" d="M80.66,44.58s.08,0,.09,0l-.09,.03s.03,.03,.03,.03l-.04-.02s0,.08,0,.09l-.03-.08-.03,.04,.02-.05s-.07,0-.08,0l.07-.03s-.03-.03-.04-.03l.05,.02s0-.09,0-.1l.03,.09,.03-.04-.02,.05Z"/><polygon class="cls-12" points="80.01 45.26 79.92 45.39 80.05 45.49 79.91 45.41 79.8 45.54 79.89 45.4 79.75 45.3 79.9 45.38 80.01 45.26"/></g></g><rect class="cls-3" x="78.55" y="43.41" width="2.66" height="6.68" rx="1.17" ry="1.17"/><g><rect class="cls-2" x="55.15" y="59.78" width="4.07" height="2.11" rx=".57" ry=".57"/><path class="cls-4" d="M51.88,63.15c2.72,0,4.93-1.04,4.93-2.31s-2.21-2.31-4.93-2.31-4.93,1.04-4.93,2.31,2.21,2.31,4.93,2.31Z"/></g></g></g>
                @*<svg class="img-fluid mb-3" height="100">*@
                    @*<title>線上客服</title>*@
                    @*<use xlink:href="~/Content/sks/img/sprite.svg#icon-client"></use>*@
                </svg>
                <h3 class="h4 mb-4">線上客服</h3><a class="table-item btn btn-outline-pill-dark" href="https://wlsecurity999.sks.com.tw/webagent/client.html" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>客戶查詢</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-01"></use>
                </svg>
                <h3 class="h4 mb-4">客戶查詢</h3><a class="table-item btn btn-outline-pill-dark" href="http://www2.sks.com.tw/svc/" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>冷凍溫度查詢</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-02"></use>
                </svg>
                <h3 class="h4 mb-4">冷凍溫度查詢</h3><a class="table-item btn btn-outline-pill-dark" href="http://www.skgps.com.tw/skstemp/tlogin.aspx" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>監控網</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-03"></use>
                </svg>
                <h3 class="h4 mb-4">監控網</h3><a class="table-item btn btn-outline-pill-dark" href="http://www.isee24.com.tw/Login.aspx" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>聯絡人異動</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-04"></use>
                </svg>
                <h3 class="h4 mb-4">聯絡人異動</h3><a class="table-item btn btn-outline-pill-dark" href="http://www2.sks.com.tw/kman/changekmanreq.aspx" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>設定服務變更</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-05"></use>
                </svg>
                <h3 class="h4 mb-4">設定服務變更</h3><a class="table-item btn btn-outline-pill-dark" href="http://www2.sks.com.tw/kman/changeNO.aspx" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>GPS車隊管理</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-06"></use>
                </svg>
                <h3 class="h4 mb-4">GPS車隊管理</h3><a class="table-item btn btn-outline-pill-dark" href="http://www.skgps.com.tw/sksfleetweb2/" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>健康照護網</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-USER-07"></use>
                </svg>
                <h3 class="h4 mb-4">健康照護網</h3><a class="table-item btn btn-outline-pill-dark" href="http://careu.sklc.com.tw/login" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100" viewBox="0 0 412.7 412.7">
                    <title>新保季刊</title>
                    <path fill="#666" d="M403.7,85.4L403.7,85.4L403.7,85.4H374v-9.1c0.1-3.6-2.2-6.9-5.7-7.8c-18.4-4.8-37.4-7.3-56.5-7.3
			            c-31.4,0-74.1,7.1-105.6,39.2C174.8,68,131.8,61.2,100.6,61.2c-19.1,0-38.1,2.4-56.5,7.3c-3.4,1-5.8,4.2-5.7,7.8v9H10
			            c-4.3,0-7.8,3.5-7.8,7.8v250.4c0,4.3,3.5,7.8,7.8,7.8c1.4,0,2.6-0.4,3.8-1C14.6,350,95,307,204.4,334.7h1.2h0.7
			            c0.6,0.1,1.3,0.1,1.9,0c109.8-27.8,191.2,15,191.7,15.7c2.4,1.4,5.4,1.4,7.8,0c2.5-1.4,3.9-3.9,3.9-6.8V93.2
			            C411.6,88.9,408,85.4,403.7,85.4z M14,333.7V98.9h21.1v200.6c0,4.4,3.5,8,7.9,8.1c0.4,0,0.9,0,1.3-0.1c16.5-2.5,33.3-3.9,50-4
			            c23.2-0.4,46.3,3.1,68.3,10.3C112.9,307.9,60.4,314.7,14,333.7z M94.3,287.7c-14.6,0-29.1,1-43.5,2.8V80
			            c15.6-3.5,31.5-5.2,47.4-5.3c29.9,0,71.2,6.9,99.8,39.2l0.2,199.3C181.7,302.3,149.2,287.7,94.3,287.7z M214.3,113.9
			            c28.6-32,69.9-39.2,99.8-39.2c16,0,31.9,1.8,47.4,5.3v210.5c-14.4-1.8-28.8-2.8-43.3-2.9c-54.6,0-87.1,14.6-104,25.5L214.3,113.9
			            L214.3,113.9z M399.6,333.7c-46.5-19-100.1-25.8-150-19.8c22.1-7.3,45.3-10.7,68.6-10.3c16.8,0.1,33.7,1.4,50.3,3.9
			            c4.4,0.7,8.4-2.3,9.1-6.7c0.1-0.4,0.1-0.9,0.1-1.3V98.9H400L399.6,333.7z" />
                </svg>
                <h3 class="h4 mb-4">新保季刊</h3><a class="table-item btn btn-outline-pill-dark" href="https://www.sks.com.tw/Event/publication" target="_blank">了解更多</a>
            </div>
        </div>
    </div>
</section>
