﻿@model sks.ViewModels.Contact.ContactView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "聯絡我們";
}
@section head{
    <title>聯絡我們 | 新光保全</title>
    <meta name="description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務" />
    <meta name="twitter:title" content="聯絡我們 | 新光保全" />
    <meta name="twitter:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務" />
    <meta property="og:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務" />
    <meta property="og:title" content="聯絡我們 | 新光保全" />
    <link rel="canonical" href="@url" />
    <style>
        .text-red {
            color: red
        }
    </style>
}

<section class="mb-4">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item text-white text-center font-bold active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image: url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">聯絡我們</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container">
        <div class="bg-svg-contact border-light-gray mb-6">
            <p>親愛的用戶您好：</p>
            <p class="mb-0">
                若您有任何建議或疑問，我們誠摯地邀請您撥打服專線北區
                <a href="tel:0800097668">0800-097-668</a>、中區<a href="tel:0800697668">0800-697-668</a>、南區<a href="tel:0800897668">0800-897-668</a>
                ，將由專人為您服務。或填寫表單與我們聯繫，我們將盡速與您聯絡。
            </p>
        </div>
        @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { enctype = "multipart/form-data", @class = "h6" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ProductId)
            <div class="row justify-center items-center">
                <div class="form-group col-12 col-md-12">
                    @Html.DropDownListFor(model => model.ProductId, Model.ProductList, new { @class = "form-control" })
                </div>
                <div class="form-group col-7 col-md-3">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "請填寫，中文姓名或公司行號" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-red" })
                </div>
                <div class="form-group col-5 col-md-3">
                    <div class="custom-control custom-radio custom-control-inline mr-0">
                        @Html.RadioButtonFor(model => model.Gender, "false", new { @class = "custom-control-input", @id = "gen1", @value = 0, @checked = true })
                        <label class="custom-control-label" for="gen1">先生</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline mr-0">
                        @Html.RadioButtonFor(model => model.Gender, "true", new { @class = "custom-control-input", @id = "gen2", @value = 1 })
                        <label class="custom-control-label" for="gen2">女士</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.DropDownListFor(model => model.ContactTime, Model.ContactTimeList, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "連絡電話(請填寫全數字，手機號碼或區碼+市話)" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-red" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "電子郵件" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-red" })
                </div>

                <div class="form-group col-6">
                    @Html.DropDownListFor(m => m.City, Model.CityList, new { @class = "form-control", id = "js-city" })
                </div>
                <div class="form-group col-6">
                    @Html.DropDownListFor(m => m.Area, Model.AreaList, new { @class = "form-control", id = "js-area" })
                </div>
                <div class="form-group col-12">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control js-recipientInput", @placeholder = "地址（選填）" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-red" })
                </div>
                <div class="form-group col-12">
                    @Html.DropDownListFor(m => m.Subject, Model.SubjectList, new { @class = "form-control", @placeholder = "主旨" })
                </div>
                <div class="form-group col-12">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "5", @placeholder = "輸入您的訊息，只允許填寫中文" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-red" })
                </div>
                @*<div class="form-group col-6 col-lg-3">
                        @Html.TextBoxFor(x => x.Verifycode, new { @class = "form-control", @placeholder = "驗證碼" })
                        @Html.ValidationMessageFor(model => model.Verifycode, "", new { @class = "text-red" })
                    </div>*@
                <div id="recaptcha" class="g-recaptcha"></div>
                @*<div class="form-group text-center col-6 col-lg-3">
                        <img src="/Contact/VerificationCode" alt="驗證圖碼" id="imgCode" class="img-fluid" />
                    </div>
                    <a onclick="Refresh()" value="Refresh" style="text-decoration:underline;cursor:pointer ;color: #3476bd;">換一組</a>*@

            </div>
            <div class="row justify-center items-center">
                <div class="form-group col-6 col-md-3 col-lg-2">
                    <button class="btn btn-primary btn-block rounded-pill bg-dark-blue text-white" type="submit">送出</button>
                </div>
            </div>
        }
    </div>
</section>


@section scripts{
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script src="~/Scripts/front/city.js"></script>
    <script src="~/Scripts/front/grecaptcha.js"></script>
    <script src="~/Scripts/front/cusom.js"></script>
    <!--reCaptcha-->

    <script type="text/javascript">
        $('form').submit(e => {
            e.preventDefault();
            var isVaild = true;
            var name = $('input[name=Name]').val();
            if (!name) {
                alert('請填寫姓名');
                isVaild = false;
            } else {
                if (!checkName(name)) {
                    alert('姓名請填寫中文2到15個字');
                    isVaild = false;
                }
            }

            var email = $('input[name=Email]').val();
            if (!email) {
                alert('請填寫Email');
                isVaild = false;

            } else {
                if (!checkEmail(email)) {
                    alert('請填寫正確格式的email');
                    isVaild = false;
                }
            }
            var phone = $('input[name=Phone]').val();
            if (!phone) {
                alert('請填寫電話');
                isVaild = false;
            } else {
                var re = /09/;

                if (re.test(phone)) {
                    if (!checkMobliePhone(phone)) {
                        alert('請填寫正確手機格式');
                        isVaild = false
                    }

                } else {
                    if (!checkPhone(phone)) {
                        alert('請填寫正確電話格式');
                        isVaild = false
                    }
                }
            }

            var $city = $("#js-city")
            var $area = $("#js-area")
            var cityName = $city.val();
            var areaName = $area.val();

            if (cityName === '' || areaName === '') {
                alert('請選擇縣市與區域');
                isVaild = false;
            }

            var message = $('textarea[name=Message]').val();
            if (!message) {
                alert('請填寫訊息');
                isVaild = false;
            } else {
                if (!checkMessage(message)) {
                    alert('訊息請填寫15個字以上，只能填寫中文英文數字逗號逗點跟-');
                    isVaild = false;
                }
            }
            var response = grecaptcha.getResponse()
            if (response.length && isVaild) {
                $(e.target).unbind('submit').submit();
            }
        })
    </script>
}
