﻿@{ ViewBag.Title = "聯絡我們"; }
@section head{
    <meta property="og:title" content="聯絡我們 | 新光保全" />
    <meta property="og:description" content="建置專屬的智慧家庭，透過無線技術及行動APP，輕鬆轉動安全，舒適且便捷的居家生活。" />
    <title>聯絡我們 | 新光保全</title>
    <meta name="description" content="建置專屬的智慧家庭，透過無線技術及行動APP，輕鬆轉動安全，舒適且便捷的居家生活。" />
}

<section class="text-white text-center font-bold mb-4">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">聯絡我們</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container">
        <div class="bg-svg-contact border-light-gray">
            <p>親愛的用戶您好：</p>
            <p class="mb-0">聯絡表單填寫成功，我們將盡速與您聯絡。</p>
            <p>將於<span id="count"></span>秒後轉跳到首頁</p>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
    //設定倒數秒數
    var count = 5;
    //寫一個方法，顯示倒數秒數  數到0後跳轉頁面
    function countDown() {
        //將count顯示在div中
        document.getElementById("count").innerHTML = count;
        //沒執行一次，count減1
        count -= 1;
        //count=0時，跳轉頁面
        if (count == 0) {
            location.href = '@Request.Url.Scheme://@Request.Url.Host';
        }
        //每秒執行一次,showTime()
        setTimeout("countDown()", 1000);
    }
    //執行countDown方法
    countDown();
    </script>
}