﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "利害關係人";
}
@section head{
    <title>新光保全-利害關係人</title>
    <meta name="description" content="誠懇經營、永續發展、善盡企業社會責任、一直是新光保全營運的宗旨，利害關係人識別與溝通，不僅是企業社會責任的核心基礎，參考GRI準則與AA1000當責任原則準則標準進行利害關係人識別、議合與重大主題鑑別。" />
    <meta name="twitter:title" content="新光保全-利害關係人" />
    <meta name="twitter:description" content="誠懇經營、永續發展、善盡企業社會責任、一直是新光保全營運的宗旨，利害關係人識別與溝通，不僅是企業社會責任的核心基礎，參考GRI準則與AA1000當責任原則準則標準進行利害關係人識別、議合與重大主題鑑別。" />
    <meta property="og:title" content="新光保全-利害關係人" />
    <meta property="og:description" content="誠懇經營、永續發展、善盡企業社會責任、一直是新光保全營運的宗旨，利害關係人識別與溝通，不僅是企業社會責任的核心基礎，參考GRI準則與AA1000當責任原則準則標準進行利害關係人識別、議合與重大主題鑑別。" />
    <link rel="canonical" href="@url" />
}

<section>
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item text-white text-center font-bold active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image: url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">利害關係人專區</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-stakeholder">
        <div class="container text-anchor-gray-97 leading-loose tracking-tight tracking-md-normal py-6 py-lg-8">
            <div class="row no-gutters">
                <div class="col-6 col-md-4 col-lg-fifth">
                    <h4 class="font-bold border-left-thick pl-1 leading-none">顧客</h4>
                    <ul class="list-unstyled text-gray">
                        <li><a class="d-block" href="tel:0800668850">0800-668-850</a></li>
                        <li><a class="d-block" href="mailto:service@sks.com.tw">service@sks.com.tw</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-fifth">
                    <h4 class="font-bold border-left-thick pl-1 leading-none">股東</h4>
                    <ul class="list-unstyled text-gray">
                        <li>財務本部-郭美玲副課</li>
                        <li><a class="d-block" href="tel:0277199888">(02)7719-9888#28010</a></li>
                        <li><a class="d-block" href="mailto:kitty@sks.com.tw">kitty@sks.com.tw</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-fifth">
                    <h4 class="font-bold border-left-thick pl-1 leading-none">供應商</h4>
                    <ul class="list-unstyled text-gray">
                        <li>管理本部-許瑞祥經理</li>
                        <li><a class="d-block" href="tel:0277199888">(02)7719-9888#25010</a></li>
                        <li><a class="d-block" href="mailto:david.hsu@sks.com.tw">david.hsu@sks.com.tw</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-fifth">
                    <h4 class="font-bold border-left-thick pl-1 leading-none">員工</h4>
                    <ul class="list-unstyled text-gray">
                        <li>人資本部-孫孝忠經理</li>
                        <li><a class="d-block" href="tel:0277199888">(02)7719-9888#20163</a></li>
                        <li><a class="d-block" href="mailto:marlon.sun@sks.com.tw">marlon.sun@sks.com.tw</a></li>
                    </ul>
                </div>
                <div class="col-10 col-md-4 col-lg-fifth">
                    <h4 class="font-bold border-left-thick pl-1 leading-none">發言人</h4>
                    <ul class="list-unstyled text-gray">
                        <li>發言人：黃春明資深副總</li>
                        <li>代理發言人：鄒國民資深協理</li>
                        <li><a class="d-block" href="tel:0277199888">(02)7719-9888#20200</a></li>
                        <li><a class="d-block" href="mailto:arther@sks.com.tw">arther@sks.com.tw</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
       @*<div class="container text-anchor-gray-97 leading-loose py-6">
            <div class="row no-gutters">
                <div class="col-12 col-md-12">
                    <p>
                        CSR 委員會依循「P-D-C-A」(規劃-執行-查核-行動)管理模式運作，鑑別利害關係人及蒐集檢視利害關係人所關切議題。為確保各項重大性議題之落實及目標達成情形，CSR 委員會定期辦理經濟、社會及環境面向重大議題討論、各單位目標達成情形及未來方向擬定，並彙整相關成果資料、與利害關係人議合結果及CSR 討論建議事項每年呈送董事長報告及確認， 與利害關係人溝通情形於110 年7 月27 日向董事會報告。 最近年度各類別利害關係人溝通情形與報告內容如下：
                    </p>
                </div>
            </div>
        </div>*@
</section>

<section>
    <div class="container text-paragraph-gray h5 font-bold text-center fade-in py-6 py-lg-8">
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>隱私權保護聲明</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_05"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter">隱私權保護聲明</h3><a class="btn btn-outline-pill-dark mt-6 table-item" target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E9%9A%B1%E7%A7%81%E6%AC%8A%E4%BF%9D%E8%AD%B7%E8%81%B2%E6%98%8E.pdf">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>個人資料檔案 安全維護計畫</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_06"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter mt-n1">個人資料檔案</h3>
                <h3 class="h4 leading-none tracking-tighter mb-0">安全維護計畫</h3><a class="btn btn-outline-pill-dark mt-6 table-item" target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E5%80%8B%E4%BA%BA%E8%B3%87%E6%96%99%E6%AA%94%E6%A1%88%E5%AE%89%E5%85%A8%E7%B6%AD%E8%AD%B7%E8%A8%88%E7%95%AB.pdf">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>性騷擾法防治法</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_07"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter">性騷擾防治措施</h3>
		<h3 class="h4 leading-none tracking-tighter mb-0">申訴及懲戒辦法</h3><a class="btn btn-outline-pill-dark mt-6 table-item" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/%E6%80%A7%E9%A8%B7%E6%93%BE%E9%98%B2%E6%B2%BB%E6%8E%AA%E6%96%BD%E7%94%B3%E8%A8%B4%E5%8F%8A%E6%87%B2%E6%88%92%E8%BE%A6%E6%B3%95(20230307).pdf">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">新保運通股份有限公司
                <svg class="img-fluid mb-3" height="100">
                    <title>利害關係人關注議題及溝通管道</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_12"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter">
                    利害關係人關注議題及溝通管道
                </h3>
                <a class="btn btn-outline-pill-dark mt-6" href="https://www.sks.com.tw/about/pub/2022%20%E5%88%A9%E5%AE%B3%E9%97%9C%E4%BF%82%E4%BA%BA%E8%BA%AB%E4%BB%BD%E3%80%81%E9%97%9C%E6%B3%A8%E8%AD%B0%E9%A1%8C%E3%80%81%E6%BA%9D%E9%80%9A%E7%AE%A1%E9%81%93%E8%88%87%E5%9B%9E%E6%87%89%E6%96%B9%E5%BC%8F.pdf" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>職業安全與健康</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_13"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter">
                    職業安全與健康
                </h3><a class="btn btn-outline-pill-dark mt-6 table-item" href="https://www.sks.com.tw/FileUploads/Document/2022%E6%96%B0%E5%85%89%E4%BF%9D%E5%85%A8%E6%B0%B8%E7%BA%8C%E5%A0%B1%E5%91%8A%E6%9B%B8%E8%81%B7%E5%A0%B4%E5%AE%89%E5%85%A8%E8%88%87%E5%81%A5%E5%BA%B7.pdf" target="_blank">了解更多</a>
            </div>
            <div class="col-6 mb-6 col-md-4 d-flex flex-column justify-between items-center">
                <svg class="img-fluid mb-3" height="100">
                    <title>企業永續網</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-J_14"></use>
                </svg>
                <h3 class="h4 leading-none tracking-tighter">企業永續網</h3><a class="btn btn-outline-pill-dark mt-6" href="https://esg.sks.com.tw" target="_blank">了解更多</a>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        function toggleContainer(cb) {
            $('.table-list,.table-item-content').toggleClass('active')
            setTimeout(() => {
                cb()
                $('.table-list,.table-item-content').toggleClass('d-none')

            }, 150)
        }
        let tab
        $('.table-item').on('click', function (e) {
            tab = $(this).attr('href')
            toggleContainer(() => {
                $(tab).tab('show')
            }
            )
        }
        )
        //-返回
        $('#list-return-list').on('click', () =>
            toggleContainer(() =>
                $('#list-privacy-list').click()
            )
        )
        if (location.hash) {
            toggleContainer(() => $(location.hash).tab('show'))
        }
    </script>
}
