﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "關於新保";
}
@section head{
    <title>新光保全-關於新保</title>
    <meta name="description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <meta name="twitter:title" content="新光保全-關於新保" />
    <meta name="twitter:description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <meta property="og:title" content="新光保全-關於新保" />
    <meta property="og:description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <link rel="canonical" href="@url" />
}

<section class="text-white text-center font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">關於新保</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="py-6 py-lg-8">
    <div class="container py-6 py-lg-8">
        <table class="table table-borderless table-responsive-sm border-y-light-gray mb-8">
            <caption class="h3 mb-4">
                <div class="d-none" id="icon">
                    <svg id="svglogo" class="img-fluid" width="50" height="50">
                        <use id="sprite" xlink:href="~/Content/sks/img/sprite.svg"></use>
                    </svg>
                </div><span id="name"></span>
            </caption>
            <thead class="text-center h4">
                <tr>
                    <th class="font-normal" scope="col">成立<br class="d-md-none">日期</th>
                    <th class="font-normal" id="legal1" width="25%" scope="col">董事長</th>
                    <th class="font-normal" id="legal2" width="25%" scope="col">總經理</th>
                    <th class="font-normal" scope="col">資本額</th>
                </tr>
            </thead>
            <tbody class="text-center h5 font-bold">
                <tr>
                    <td id="est"></td>
                    <td id="chairman"></td>
                    <td id="manager"></td>
                    <td id="capital"></td>
                </tr>
            </tbody>
        </table>
        <h5>經營理念</h5>
        <p id="idea"></p>
    </div>
    <div class="container py-6 py-lg-8"><a href="/About/Index#list-groups">< &nbsp; 返回列表</a></div>
</main>

@section scripts{
    <script>
        (function () {
            let groups = {
                1: {
                    name: "新光保全(上海)管理有限公司", sprite: "g4-06", est: "2014 / 12 / 19", capital: "200萬美元", chairman: "賴國銘", manager: "賴國銘", idea: "「台灣新光保全股份有限公司」經過多年對外的投資與考察，擴大亞太地區發展，特別選定於具有國際商業城市條件的上海設立區域總部，從事經營活動。目前在大陸地區已設立三家企業，注冊資本超過1,000萬人民幣。未來隨著全球景氣變化與復甦之際將秉持『信實、專業、服務、創新』的經營理念，提供客戶更優質的安心保障與安全服務。"
                },
                2: {
                    name: "聯安服務股份有限公司", sprite: "g10-06", est: "1996 / 11 / 7", capital: "新台幣2,500萬", chairman: "林伯峰", manager: "李嵩柏", idea: "金融科技不斷發展，自動櫃員機（ATM）功能從早期「提領現金、跨行轉帳」逐漸發展成「存提款機、繳費機、入金機（含硬幣機）、外幣兌換機」等多功能自動化設備，提供消費者24小時全年無休的服務。新光保全在20多年前結合國內知名11家金融機構共同組成專業的自動化設備服務管理公司，嚴格甄選優秀人員及專業的教育訓練，提供自動化設備故障維修及定期保養等服務，承接各金融機構委託自動化設備機台，大幅降低金融機構人事及各項營運成本。聯安公司有完善的保險責任、專業迅速的服務，並秉持『信實、專業、服務、創新』四大經營理念，成為金融機構最堅強的後盾，提供金融機構多元化之服務。"
                },
                3: {
                    name: "新工光電科技股份有限公司", sprite: "g2-06", est: "2000 / 1 / 31", capital: "新台幣1,600萬", chairman: "周海帆", manager: "周海帆", idea: "新工光電是新光保全施工包商的管理機構，培育工作人員的專業素養，嚴格管控保全材料的規格與品質，並將量產所獲得的價格，優惠回饋給下游包商，藉此與上、下游建立穩固合作模式。新工不斷提升對包商管理、專業施工品質與售後服務，不但讓客戶滿意，更讓業務端無後顧之憂。"
                },
                4: {
                    name: "Security Shin Kong (Thai) International Co., Ltd.", sprite: "g4-06", est: "2010 / 04 / 01", capital: "泰銖3,010萬元", chairman: "蔡定昌", manager: "蔡定昌", idea: ""
                },
                5: {
                    name: "新昕國際股份有限公司", sprite: "c3-06", est: "2005 / 07 / 01", capital: "新台幣5,000萬", chairman: "林伯峰", manager: "黃春明", idea: ""
                },
                6: {
                    name: "昕誼國際股份有限公司 ", sprite: "c3-07", est: "2022 / 09 / 21", capital: "新台幣5,000萬", chairman: "林伯峰", manager: "黃春明", idea: ""
                }
            }

            const sksURL = new URL(location)
            const { searchParams } = sksURL
            let group
            for (const [key, value] of searchParams.entries()) {
                group = groups[value]
            }

            for (const key in group) {
                $('#' + key).text(group[key])
            }
            if (group.sprite) {
                $('#icon').addClass('d-inline-block')
                $('#sprite').attr('xlink:href', '/Content/sks/img/sprite.svg#icon-' + group.sprite)
            }
            if (!group.idea) {
                $('#idea').addClass('d-none').prev().addClass('d-none')
            }
            let cid = sksURL.search.split('=')[1]
            if (cid === '4') {
                $('#legal1').text('授權董事')
                $('#legal2').text('總經理')
            }
        }())
    </script>
}
