﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "關於新保";
}
@section head{
    <title>新光保全-關於新保</title>
    <meta name="description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <meta name="twitter:title" content="新光保全-關於新保" />
    <meta name="twitter:description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <meta property="og:title" content="新光保全-關於新保" />
    <meta property="og:description" content="新光保全(9925)於1980年成立，提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。24小時監控中心，全年365天服務，免費到府諮詢規劃。" />
    <link rel="canonical" href="@url" />
    <style>
        .st7 {
            fill: #fff
        }

        .st8 {
            font-size: 13.802px
        }

        .st9 {
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st0 {
            fill: none;
            stroke: #002f82;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st1 {
            fill: #002f82
        }

        .steye-1 {
            fill: #fff
        }

        .steye-2 {
            fill: #d61518
        }
    </style>
}

<section class="text-white text-center font-bold" id="page-top">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">關於新保</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid full-fluid border-bottom-light-gray">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3 col-xl-2 bg-aside py-6 py-lg-8">
            <aside class="list-group h5 text-center" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active change-hash" id="list-intro-list" href="#list-intro" aria-controls="list-intro" role="tab" data-toggle="list">新保簡介</a>
                @*<a class="list-group-item list-group-item-action change-hash" id="list-milestone-list" href="#list-milestone" aria-controls="list-milestone" role="tab" data-toggle="list">里程碑</a>*@
                <a class="list-group-item list-group-item-action change-hash" id="list-award-list" href="#list-award" aria-controls="list-award" role="tab" data-toggle="list">獲獎紀錄</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index","News")">新聞中心</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index","Robots")">機器人專區</a>
                <a class="list-group-item list-group-item-action change-hash" id="list-groups-list" href="#list-groups" aria-controls="list-groups" role="tab" data-toggle="list">事業群</a>
                <a class="list-group-item list-group-item-action change-hash" id="list-cooperations-list" href="#list-cooperations" aria-controls="list-cooperations" role="tab" data-toggle="list">關係企業</a>
            </aside>
        </div>
        <div class="col-lg-9 col-xl-10 py-6 py-xl-8">
            <div class="tab-content">
                <main class="tab-pane fade show active" id="list-intro" role="tabpanel" aria-labelledby="list-intro-list">
                    <div class="row flex-column items-center">
                        <div class="col-12 text-center">
                            <h2 class="text-gray-57 mb-4">新保簡介</h2><img class="img-fluid mb-4" src="~/Content/sks/img/about-1-1.jpg" alt="關於新光保全" />
                        </div>
                        <div class="col-10 col-sm-9">
                            <article class="mx-auto py-6 py-lg-8">
                                <h3 class="text-gray-57 text-center">關於新光保全</h3>
                                <p>新光保全(9925)於1980年成立，當時台灣社會大眾對保全業陌生的情況下，創辦人吳東進先生便從日本引進最尖端的器材與觀念，為台灣社會提供一股穩定的力量。</p>
                                <p>隨著全球經濟局勢改變，物聯網日漸普及，電子支付改變商業模式，台灣社會結構轉型，新光保全也不斷與時俱進，同時跟上國際發展趨勢，到今日已經是擁有眾多事業群的上市公司，且皆在穩定成長中。</p>
                                <p>我們以保全本業深厚經驗為基礎，整合關係企業與事業群資源，努力數位轉型，將物聯網、大數據結合監控，將服務從安全保障，擴大到安心照護、進而提昇到智慧生活。</p>
                                <p>為大家提供智慧生活所需的解決方案，引領產業升級，成為AIoT領航家。</p>
                            </article>
                        </div>
                    </div>
                    <section>
                        <div class="bg-lighter-gray">
                            <div class="container text-center text-md-left">
                                <div class="row flex-column items-center">
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-6 text-vertical-center">
                                                <h3 class="text-gray-57">企業願景</h3>
                                                <p>提供顧客最佳安全保障、安心服務與智慧生活解決方案</p>
                                            </div>
                                            <div class="col-md-6">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 550 550">
                                                    <linearGradient id="SVGID_1_" gradientunits="userSpaceOnUse" x1="436.036" y1="281.23" x2="279.33" y2="607.575" gradienttransform="matrix(1 0 0 -1 0 549)">
                                                        <stop offset=".009" stop-color="#fff" stop-opacity="0"></stop>
                                                        <stop offset=".347" stop-color="#05a8d4" stop-opacity=".568"></stop>
                                                        <stop offset=".699" stop-color="#0366cc"></stop>
                                                    </linearGradient>
                                                    <path d="M397.8 56.1c-4.7-3.3-9.8-6.2-15.2-8.4-9.8-4.1-20.5-6.4-31.8-6.4-45.2 0-81.8 36.6-81.8 81.8 0 21.5 8.7 42.5 23.9 57.7 12.9 12.9 30.2 20 43.3 32.7 13.7 13.3 25.2 31.8 27.8 50.9l153.4-35.7c-.1-.1-26.7-115.8-119.6-172.6z" fill="url(#SVGID_1_)"></path>
                                                    <lineargradient id="SVGID_2_" gradientunits="userSpaceOnUse" x1="3134.801" y1="-1745.764" x2="2978.095" y2="-1419.419" gradienttransform="matrix(0 -1 -1 0 -1486.606 3244.743)">
                                                        <stop offset=".009" stop-color="#fff" stop-opacity="0"></stop>
                                                        <stop offset=".347" stop-color="#05a8d4" stop-opacity=".568"></stop>
                                                        <stop offset=".699" stop-color="#0366cc"></stop>
                                                    </lineargradient>
                                                    <path d="M47.5 148.2c-3.3 4.7-6.2 9.8-8.4 15.2-4.1 9.8-6.4 20.5-6.4 31.8 0 45.2 36.6 81.8 81.8 81.8 21.5 0 42.5-8.7 57.7-23.9 12.9-12.9 20-30.2 32.7-43.3 13.3-13.7 31.8-25.2 50.9-27.8L220.1 28.6S104.3 55.2 47.5 148.2z" fill="url(#SVGID_2_)"></path>
                                                    <lineargradient id="SVGID_3_" gradientunits="userSpaceOnUse" x1="931.174" y1="-4879.61" x2="774.469" y2="-4553.265" gradienttransform="matrix(-1 0 0 1 1045.2 5161.959)">
                                                        <stop offset=".009" stop-color="#fff" stop-opacity="0"></stop>
                                                        <stop offset=".347" stop-color="#05a8d4" stop-opacity=".568"></stop>
                                                        <stop offset=".699" stop-color="#0366cc"></stop>
                                                    </lineargradient>
                                                    <path d="M152.2 493.9c4.7 3.3 9.8 6.2 15.2 8.4 9.8 4.1 20.5 6.4 31.8 6.4 45.2 0 81.8-36.6 81.8-81.8 0-21.5-8.7-42.5-23.9-57.7-12.9-12.9-30.2-20-43.3-32.7-13.7-13.3-25.2-31.8-27.8-50.9L32.7 321.4s26.6 115.7 119.5 172.5z" fill="url(#SVGID_3_)"></path>
                                                    <lineargradient id="SVGID_4_" gradientunits="userSpaceOnUse" x1="-2026.158" y1="-2240.964" x2="-2182.863" y2="-1914.619" gradienttransform="matrix(0 1 1 0 2531.805 2466.216)">
                                                        <stop offset=".009" stop-color="#fff" stop-opacity="0"></stop>
                                                        <stop offset=".347" stop-color="#05a8d4" stop-opacity=".568"></stop>
                                                        <stop offset=".699" stop-color="#0366cc"></stop>
                                                    </lineargradient>
                                                    <path d="M502.5 401.8c3.3-4.7 6.2-9.8 8.4-15.2 4.1-9.8 6.4-20.5 6.4-31.8 0-45.2-36.6-81.8-81.8-81.8-21.5 0-42.5 8.7-57.7 23.9-12.9 12.9-20 30.2-32.7 43.3-13.3 13.7-31.8 25.2-50.9 27.8l35.7 153.4s115.8-26.6 172.6-119.6z" fill="url(#SVGID_4_)"></path>
                                                    <text transform="translate(239.507 312.344)" font-size="22.535">領航家</text>
                                                    <defs>
                                                        <path id="SVGID_5_" d="M214.3 231.8h121.3v56.4H214.3z"></path>
                                                    </defs>
                                                    <clippath id="SVGID_6_">
                                                        <use xlink:href="#SVGID_5_" overflow="visible"></use>
                                                    </clippath>
                                                    <g clip-path="url(#SVGID_6_)">
                                                        <defs>
                                                            <path id="SVGID_7_" d="M214.3 231.8h121.3v56.4H214.3z"></path>
                                                        </defs>
                                                        <clippath id="SVGID_8_">
                                                            <use xlink:href="#SVGID_7_" overflow="visible"></use>
                                                        </clippath>
                                                        <g clip-path="url(#SVGID_8_)">
                                                            <image width="1373" height="653" xlink:href="~/Content/sks/img/A2801DC8.png" transform="matrix(.08643 0 0 .08632 215.668 231.77)" overflow="visible"></image>
                                                        </g>
                                                    </g>
                                                    <text class="st7 st8" transform="translate(171.236 471.296)">保全經驗</text>
                                                    <path class="st9" d="M177.5 396.6c8.2-.4 16-4.1 21.5-10.3l1.1-1.2 1.5 1.6c6.4 6.8 15.4 10.4 24.7 9.8h.4s5.5 42.3-26.3 52.1c0 0-29.8-9.1-27-52.1 1.5.2 2.8.2 4.1.1"></path>
                                                    <path class="st9" transform="rotate(-1.58 200.162 422.046) scale(.99998)" d="M189.9 413.4h20.6v17.3h-20.6z"></path>
                                                    <path class="st9" d="M200.2 401.1c-2.6 0-4.7 2.1-4.7 4.7v7.8h9.5v-7.8c0-2.6-2.2-4.7-4.8-4.7z"></path>
                                                    <text class="st7 st8" transform="translate(96.376 238.97)">AI</text>
                                                    <text class="st7 st8" transform="translate(334.552 88.99)">IoT</text>
                                                    <text class="st7 st8" transform="translate(408.532 324.007)">事業群與</text>
                                                    <text class="st7 st8" transform="translate(394.032 344.707)">關係企業資源</text>
                                                    <path class="st9" d="M454.1 407.3c-.6.5-1.2.9-1.9 1.3l-2.6 1.5c-4.3 2.3-9.4 3.4-14.7 2.9-12.4-1.2-22.3-11.3-23.3-23.8-1.2-15.6 11.3-28.6 26.8-28.1 13.2.4 24.2 11 25.1 24.2.4 6.4-1.5 12.4-5 17.2l-1 1.4c-1 1.3-2.1 2.5-3.4 3.4z"></path>
                                                    <ellipse class="st9" cx="437.5" cy="386.9" rx="11.3" ry="25.4"></ellipse>
                                                    <path class="st9" d="M413.7 376.6h47.8M413.7 396.9h47.8M362.8 142.6c7.1 0 12.9-5.8 12.9-12.9 0-7.1-5.8-12.9-12.9-12.9-5 0-9.4 2.9-11.5 7.1"></path>
                                                    <path class="st9" d="M359.6 116.9c-2.6-5.9-8.4-10-15.3-10-7.8 0-14.4 5.4-16.2 12.6h-.5c-6.4 0-11.6 5.2-11.6 11.6 0 6.4 5.2 11.6 11.6 11.6"></path>
                                                    <circle class="st9" cx="345.3" cy="160.3" r="3.1"></circle>
                                                    <circle class="st9" cx="363.4" cy="153.4" r="3.1"></circle>
                                                    <circle class="st9" cx="335.1" cy="150.5" r="3.1"></circle>
                                                    <path class="st9" d="M335.1 146.6v-4.8M345.3 157.1v-15.3M355.6 141.8v11.4h4M99 182.3l-1.5 2.5 5.1 3.1 1.6-2.6c1-1.7 3.5-1.6 4.4.1l1.5 2.7 5.2-2.9-1.5-2.6c-1-1.7.3-3.8 2.3-3.8h3.1l.1-6h-3c-2 0-3.2-2.2-2.2-3.8l1.6-2.7-5.2-3-1.5 2.6c-1 1.7-3.4 1.7-4.4 0l-1.5-2.7-5.2 3 1.5 2.6c1 1.7-.3 3.8-2.2 3.8h-3.1v6h2.8c1.9-.2 3.2 2 2.1 3.7z"></path>
                                                    <circle class="st9" cx="106.8" cy="175.7" r="4.4"></circle>
                                                    <path class="st9" d="M120.9 202.7c-.6-4-.3-8.1 2-11.3 6.6-9.3 6.5-15.1 6.5-15.1 0-13-10.6-23.6-23.6-23.6s-23.6 10.6-23.6 23.6c0 0 1.6 4.5.4 6.9l-3.3 5.3c-.8 1.3-.5 3.1.8 4l2.5 1.7 1.9 7.5c.7 2.9 3.3 4.9 6.3 4.9h6.3l5.5 9.8 21.1-4.2c-1.1-2.7-2.3-6.1-2.8-9.5"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container py-6 py-lg-8 text-nowrap">
                            <div class="row flex-column items-center">
                                <div class="col-xl-9">
                                    <h3 class="text-gray-57 text-center">經營理念</h3>
                                </div>
                                <div class="col-xl-9">
                                    <div class="row justify-center">
                                        <div class="col-8 col-md-5 col-lg-4 mb-4">
                                            <div class="bg-circle-grad"></div>
                                            <div class="absolute-center text-center h6">
                                                <h4 class="h3 text-dark-blue font-bold">經營理念</h4>
                                                <p class="mb-0">信實 專業</p>
                                                <p class="mb-0">服務 創新</p>
                                            </div>
                                        </div>
                                        <div class="col-8 col-md-5 col-lg-4 mb-4">
                                            <div class="bg-circle-grad"></div>
                                            <div class="absolute-center text-center h6">
                                                <h4 class="h3 text-dark-blue font-bold">企業願景</h4>
                                                <p class="mb-0">提供顧客最佳安全</p>
                                                <p class="mb-0">的保障與安心服務</p>
                                            </div>
                                        </div>
                                        <div class="col-8 col-md-5 col-lg-4 mb-4">
                                            <div class="bg-circle-grad"></div>
                                            <div class="absolute-center text-center h6">
                                                <h4 class="h3 text-dark-blue font-bold">創業精神</h4>
                                                <p class="mb-0">維持現狀 即是落伍</p>
                                                <p class="mb-0">研究發展 才有進步</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-lighter-gray">
                            <div class="container text-center py-6 py-lg-8">
                                <div class="row justify-center">
                                    <div class="col-6 col-lg-4 mb-4">
                                        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 369">
                                            <path class="st0" d="M13.2 368.1l22.2-237.6L287.6 3.1l72.2 128.1 30.9 237.7M287.6 3.1l35.8 365.7"></path>
                                            <path class="st0" d="M292 368.7L264.4 60.9l-7.3-6.5M48.9 368.2l3.4-46.2 156.6-12.4-.1 58.9M228.8 368.6l-1.8-59 26.7-2.6 2.7 61.6M26.1 368.1l3.5-44.8h11.3l-2.1 44.8M334.3 368.8l-6.7-66.7 29.2 5.2 7 61.6M162.5 97.2l-8.2 3.7M113.7 119.2l-7.6 3.5"></path>
                                            <path class="st0" d="M220.2 71.1V56.2l58.4-26.1 2.3 21.7-18.1 7.6M257.6 61.7l20.3 307M220.2 71.1l-10.8 4.8"></path>
                                            <path class="st0" d="M220.2 71.1l36.9-16.7.5 7.3M162.5 97.2l46.9-21.3M72.8 137.7l-6.9 3.2M38.1 153.4l27.8-12.5M38.1 153.4l-5 2.3M72.8 137.7l33.3-15M113.7 119.2l40.6-18.3M209.4 75.9v-16l-46.9 22v15.3M154.3 100.9V85.6L114.9 105l-1.2 14.2M106.1 122.7l1.7-14-33.7 16-1.3 13M65.9 140.9l1.4-12.8-27.7 14.1-1.5 11.2M173.9 199l-.1 34.1 11-2.3-.5-34.7zM117.7 214.4l-1.2 31 9.2-2 1-31.5zM100.1 219.2l-1.5 30 9.4-2 1.4-30.6zM135.5 209.5l-.8 32 9.8-2.1.4-32.5zM153.2 204.6l-.3 33 11-2.4v-33.5zM184.1 180.8l-.5-32.7-9.6 3.5-.1 32.3zM145.1 192.6l.4-30.8-9 3.3-.7 30.2zM94.4 207.8l1.5-28.2-6.8 2.4-1.7 27.9zM81.1 184.9l-6.5 2.3-2 27.1 6.9-2zM164 186.9v-31.7l-10.3 3.7-.3 31.2zM71.6 227l-2.1 28.5 7.5-1.6 1.7-28.8zM86.6 222.9l-1.8 29.3 7.5-1.6 1.5-29.7zM127.1 198l.9-29.9-8.7 3.1-1.1 29.4zM110 203.1l1.4-29-9.2 3.3-1.4 28.5zM64.6 228.9l-7.4 2.1-2 27.5 7.5-1.6zM111.9 161.8l1.3-27.3-9.1 3.8-1.3 26.9zM54.3 271.7l-2.1 29.8 7.6-1 2-30.1zM96.5 167.6l1.3-26.6-6.3 2.7-1.6 26.3zM69.6 153.1l-7.1 3-1.7 24.8 7.1-2.7zM68.5 269.1l-2.3 30.5 8.1-1.1 1.9-30.8zM67.1 189.9l-7.2 2.6-1.8 26.2 7.3-2.2zM152.7 253.6l-.4 34.2 11.5-1.6v-34.7zM173.8 249.7l-.1 35.1 11.8-1.6-.5-35.6zM134.4 257l-.8 33.3 10.2-1.4.5-33.7zM208.1 243.4l-12 2.2.4 36.1L209 280zM83.9 266.3L82 297.4l7.9-1.1 1.6-31.4zM97.9 263.7l-1.6 31.8 9.6-1.3 1.4-32.2zM116 260.4l-1.2 32.5 9.5-1.3 1-32.9zM81.9 173l1.5-25.8-6 2.6-1.9 25.6zM164.1 142.4v-29.7l-9.9 4.2-.3 29.3zM128.4 155.7l.8-28.1-8.4 3.6-1 27.7zM183.5 135.2l-.4-30.6-9 3.8-.1 30.3zM145.6 149.3l.4-28.9-8.6 3.7-.6 28.5zM195.9 228.4l11.7-2.6-.9-35.8-11.2 3.1zM195.3 177.4l11.1-3.3-.9-33.8-10.5 3.8zM205.2 127.1l-.8-31.7-9.9 4.3.3 31.2z"></path>
                                            <path d="M344.4 142.4l6.9-1c-1.9-9.9-10-20.5-19.6-24.9-9.8-4.6-18-1.3-19.7 7.2l7.1 6.9-7 .6c1.8 10.1 9.9 20.8 19.6 25.4 9.8 4.6 17.9 1.4 19.7-7l-7-7.2z"></path>
                                            <path class="steye-1" d="M331.7 149.1c7 3.3 12.7.2 12.7-6.8s-5.7-15.3-12.7-18.6c-7-3.3-12.6-.2-12.6 6.8 0 7.1 5.6 15.4 12.6 18.6z"></path>
                                            <path class="steye-2" d="M331.7 148.3c6.6 3.1 11.9.2 11.9-6.3s-5.3-14.3-11.9-17.4c-6.5-3-11.8-.2-11.8 6.3 0 6.6 5.3 14.4 11.8 17.4z"></path>
                                            <path class="steye-1" d="M343.6 142s-4 4.3-12 .5c-7.8-3.7-11.7-11.6-11.7-11.6s3.9-4.2 11.7-.6c8 3.7 12 11.7 12 11.7z"></path>
                                            <path class="steye-2" d="M331.7 142.3c3.2 1.5 5.8.1 5.8-3.1s-2.6-7.1-5.8-8.6c-3.2-1.5-5.8-.1-5.8 3.1 0 3.3 2.6 7.1 5.8 8.6z"></path>
                                        </svg>
                                    </div>
                                    <div class="col-6 col-lg-4 mb-4">
                                        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 369">
                                            <path class="st0" d="M169.7 175.7V145h-61.6v79.5h61.6v-18.6"></path>
                                            <path class="st0" d="M161.8 189.3l5.3 7.2 6.7-11.6M120.2 166.9h22M120.2 185.6h22M120.2 203.9h22"></path>
                                            <circle class="st0" cx="168" cy="190.7" r="15.4"></circle>
                                            <text class="st1 h6" transform="translate(98.201 261.156)">ISO 9001</text>
                                            <path class="st0" d="M289.2 175.7V145h-61.6v79.5h61.6v-18.6"></path>
                                            <path class="st0" d="M281.3 189.3l5.3 7.2 6.7-11.6M239.7 166.9h22M239.7 185.6h22M239.7 203.9h22"></path>
                                            <circle class="st0" cx="287.5" cy="190.7" r="15.4"></circle>
                                            <text class="st1 h6" transform="translate(214.7 261.156)">ISO 27001</text>
                                        </svg>
                                    </div>
                                    <div class="col-lg-9">
                                        <h4>智慧財產權保證</h4>
                                        <p>自2009年導入台灣智慧財產管理規範，並於內部設置「智慧財產權審查小組」，建立智慧財產管理制度。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters justify-center text-center text-xl-left">
                            <div class="col-12 text-center"><img class="img-fluid" src="~/Content/sks/img/about-1-6.jpg" alt="跨國服務" /></div>
                            <div class="col-md-7 col-lg-7 col-xl-6 text-vertical-center mb-4">
                                <div class="text-gray h2">
                                    <p class="mb-0">深耕台灣 跨國服務</p>
                                </div>
                                <div class="font-xxl tracking-lg-tighter">
                                    <p class="d-inline-block mb-0 mr-md-4"><span class="h1 text-light-blue">7</span><span class="h3">區部</span></p>
                                    <p class="d-inline-block mb-0 mr-lg-4"><span class="h1 text-blue">31</span><span class="h3">駐區</span></p>
                                    <p class="d-inline-block mb-0">
                                        <span class="h1 text-darker-blue">69</span>
                                        <span class="h3">營運處</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5 col-xl-5"><img class="img-fluid" src="~/Content/sks/img/about-1-7-04.png" alt="深耕台灣" /></div>
                        </div>
                    </section>
                </main>
                @*<section class="tab-pane fade" id="list-milestone" role="tabpanel" aria-labelledby="list-milestone-list">
                    <div class="container h3 text-center">
                        <h2 class="text-gray-57 mb-4">里程碑</h2>
                        <ul class="tabs-brand-red border-y-light-gray nav nav-tabs justify-center" id="milestone" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="true">2001 - 目前</a></li>
                            <li class="nav-item"><a class="nav-link" id="past-2000-tab" data-toggle="tab" href="#past-2000" role="tab" aria-controls="past-2000" aria-selected="false">1980 - 2000</a></li>
                        </ul>
                        <div class="tab-content timeline-content" id="milestoneContent">
                            <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                                <ul class="list-unstyled text-left">

                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2019</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>與關貿、華電一同打造資訊安全防護閘門，保障客戶資訊安全</li>
                                            <li>攜手鴻海旗下「肚肚」，搶攻智慧餐飲</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2015</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>發表「新保智慧家」結合雲端照護、智慧生活及Shinbobo機器人</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2012</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>用心實踐CSR，獲台灣企業永續獎「服務業銅獎」肯定</li>
                                            <li>榮獲第22屆國家品質獎，客戶服務有保障</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2007</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>成立行動安全教育「安心教室」，帶著安全知識深入偏鄉</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2004</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>與中正大學產學合作，開發全台第1台保全服務機器人</li>
                                            <li>成立新光保全文化藝術基金會，支持文藝回饋社會</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="past-2000" role="tabpanel" aria-labelledby="past-2000-tab">
                                <ul class="list-unstyled text-left">
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">2000</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>結合台灣思科等公司，組成「EHome21聯盟」打造數位家庭好生活</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1998</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>通過ISO-9002認證，品質管理有一套</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1995</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>股票掛牌上市，代號9925</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1990</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>護送首批愛心彩券，拓展安全服務範圍</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1982</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>管制中心完成電腦化，客戶服務效率大大提升</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1981</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>第一批保全機動隊成立，為客戶服務更有機動性</li>
                                        </ul>
                                    </li>
                                    <li class="border-bottom-light-gray px-lg-10 px-xl-11 py-6">
                                        <h3 class="h2 font-normal d-xl-inline-block">1980</h3>
                                        <ul class="d-xl-inline-block h6">
                                            <li>與當時日本最具規模的SOK綜合警備保障株式會社聯盟正式成立「台灣綜合保全公司」</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>*@
                <section class="tab-pane fade" id="list-award" role="tabpanel" aria-labelledby="list-award-list">
                    <div class="container h3 text-center">
                        <h2 class="text-gray-57 mb-4">獲獎紀錄</h2>
                        <div class="row">
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/ISO14064查證聲明書_0.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">ISO 14064</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/TCFD符合性聲明_0.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">TCFD符合性聲明</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2023台北市中高齡者暨高齡者友善企業認證.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">台北市中高齡者暨<br />高齡者友善企業認證</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2023 亞洲最佳企業雇主獎.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">亞洲最佳企業雇主獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2023 ATLife 臺灣長照 租賃輔具精品獎.png" alt="2023" /></div>
                                <h3>2023<span class="d-block"> ATLife 臺灣長照<br />租賃輔具精品獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2023 人才永續行動倡議夥伴.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">人才永續行動<br />倡議夥伴</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2023 1.5°C溫控目標認證.png" alt="2023" /></div>
                                <h3>2023<span class="d-block">1.5°C溫控目標認證</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 SIA協助治安 有功人員表揚.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">SIA協助治安<br />有功人員表揚</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 SNQ國家品質標章.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">SNQ國家品質標章</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 環保署 綠色採購表揚大會.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">綠色採購</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <a href="https://www.sgs.com/en" target="_blank">
                                    <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022ISO27001.png" alt="2022" /></div>
                                    <h3>2022<span class="d-block">ISO 27001</span></h3>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 幸福企業獎盃.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">幸福企業獎盃</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 永續報告類服務業銀獎.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">永續報告類<br />服務業銀獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022 永續韌性領航獎.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">永續韌性領航獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022award1.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">淨零綠級標章</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2022Health.png" alt="2022" /></div>
                                <h3>2022<span class="d-block">健康職場認證</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2021-reward.png" alt="2021" /></div>
                                <h3>2021<span class="d-block">永續韌性領航獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <a href="https://www.sgs.com/en" target="_blank">
                                    <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/ISO27001.png" alt="2020" /></div>
                                    <h3>2021<span class="d-block">ISO 27001</span></h3>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <a href="https://www.sgs.com/en" target="_blank">
                                    <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-6.png" alt="2015" /></div>
                                    <h3>2021<span class="d-block">ISO 9001</span></h3>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/2020-reward.png" alt="2020" /></div>
                                <h3>2020<span class="d-block">永續韌性傑出獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-1.png" alt="2019" /></div>
                                <h3>2019<span class="d-block">永續領航獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-3.png" alt="2018" /></div>
                                <h3>2018<span class="d-block">永續卓越獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-4.png" alt="2017" /></div>
                                <h3>2017<span class="d-block">永續卓越獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-5.png" alt="2016" /></div>
                                <h3>2016<span class="d-block">CSR實踐獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-7.png" alt="2015" /></div>
                                <h3>2015<span class="d-block">TTQS人才發展品質管理系統銀獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <a href="https://www.sgs.com/en" target="_blank">
                                    <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-8.png" alt="2014" /></div>
                                    <h3>2014<span class="d-block">ISO 50001</span></h3>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-9.png" alt="2014" /></div>
                                <h3>2013<span class="d-block">智慧建築標章銅級</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-10.png" alt="2013" /></div>
                                <h3>2013<span class="d-block">年度最佳報告書獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-11.png" alt="2013" /></div>
                                <h3>2013<span class="d-block">智慧建築優良系統整合商證書</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/Taiwan_CSR_Award.png" alt="2012" /></div>
                                <h3>2012<span class="d-block">Taiwan CSR Award服務業銅獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-12.png" alt="2012" /></div>
                                <h3>2012<span class="d-block">幸福企業獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-13.png" alt="2012" /></div>
                                <h3>2012<span class="d-block">綠色成長獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-14.png" alt="2012" /></div>
                                <h3>2012<span class="d-block">國品獎</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-15.png" alt="2011" /></div>
                                <h3>2011<span class="d-block">企業足超額進用認證標章</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-16.png" alt="2010" /></div>
                                <h3>2010<span class="d-block">TIPS驗證登錄證書</span></h3>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3 mb-4">
                                <div class="bg-lighter-gray mb-4"><img class="img-fluid" src="~/Content/sks/img/h1-3-17.png" alt="2008" /></div>
                                <h3>2008<span class="d-block">文馨獎</span></h3>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tab-pane fade" id="list-groups" role="tabpanel" aria-labelledby="list-groups-list">
                    <div class="container h6">
                        <h2 class="text-gray-57 text-center mb-4">新光保全事業群</h2>
                        <ul class="list-unstyled row justify-center hover-bg-gray-ee">
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.sks-tws.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>台灣保全股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g1-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">台灣保全股份有限公司<span class="text-gray-57 font-xs d-block">Taiwan Security Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="@Url.Action("Group","About",new { cid = 2 })">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>聯安服務股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g10-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">聯安服務股份有限公司<span class="text-gray-57 font-xs d-block">Lan An Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.yks.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>誼光保全股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g9-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">誼光保全股份有限公司<span class="text-gray-57 font-xs d-block">Yi Kong Security Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.yks.com.tw/services">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>誼光國際公寓大廈管理維護股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g9-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">誼光國際公寓大廈管理維護股份有限公司<span class="text-gray-57 font-xs d-block">YI-KONG INTERNATIONAL APARTMENT BUILDING MANAGEMENT AND MAINTENANCE CO.,LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.shinsoft.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新誼整合科技股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g8-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新誼整合科技股份有限公司<span class="text-gray-57 font-xs d-block">Shin Soft Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skcar.com.tw/index.php/zh/">
                                    <div class="col-2">
                                        <svg class="img-fluid ml-2" height="32" width="32">
                                            <title>昕保租賃股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g7-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">昕保租賃股份有限公司<span class="text-gray-57 font-xs d-block">Shin-Po Leasing Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skctw.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光電通股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g3-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光電通股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Communications Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.ecluster.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新群電子股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g11-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新群電子股份有限公司<span class="text-gray-57 font-xs d-block">Shincluster Electronics Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://skenet.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新工光電科技股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g2-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新工光電科技股份有限公司<span class="text-gray-57 font-xs d-block">SHIN KONG OPTICAL NETWORKING CO., LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.sklc.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新保生活關懷股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g5-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新保生活關懷股份有限公司<span class="text-gray-57 font-xs d-block">Shin-Po Life Care Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.etechpro.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新堡科技股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g6-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新堡科技股份有限公司<span class="text-gray-57 font-xs d-block">E TECH PRO LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="@Url.Action("Group","About",new { cid = 5 })">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新昕國際股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新昕國際股份有限公司<span class="text-gray-57 font-xs d-block">New Light International Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.sks-tws.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>台保服務科技股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g4-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">台保服務科技股份有限公司<span class="text-gray-57 font-xs d-block">TAI-PO SERVICE TECHNOLOGY CO., LTD</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="@Url.Action("Group","About",new { cid = 1 })">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光保全(上海)管理有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g4-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光保全(上海)管理有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Security (Shanghai) Management Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="@Url.Action("Group","About",new { cid = 4})">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50" style="height: 50px;">
                                            <title>@*新光保全國際(泰國)有限公司*@</title>
                                            <use xlink:href="/Content/sks/img/sprite.svg#icon-g4-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">@*新光保全國際(泰國)有限公司*@<span class="text-gray-57 font-xs d-block">Security Shin Kong (Thai) International Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.hundure.com">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="45" style="height: 50px;">
                                            <title>漢軍科技股份有限公司</title>
                                            <use xlink:href="/Content/sks/img/sprite.svg#icon-hundure"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">漢軍科技股份有限公司<span class="text-gray-57 font-xs d-block">HUNDURE TECHNOLOGY CO., LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" href="/About/Group?cid=6">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="45" style="height: 50px;">
                                            <title>昕誼國際股份有限公司</title>
                                            <use xlink:href="/Content/sks/img/sprite.svg#icon-c3-07"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">昕誼國際股份有限公司<span class="text-gray-57 font-xs d-block">Shin Yi International Co.,Ltd. </span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.nutribullet.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>
                                                薩摩亞商思邁特國際股份有限公司
                                            </title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-g4-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">薩摩亞商思邁特國際股份有限公司<span class="text-gray-57 font-xs d-block">Smart Verge Holding Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="tab-pane fade" id="list-cooperations" role="tabpanel" aria-labelledby="list-cooperations-list">
                    <div class="container h6">
                        <h2 class="text-gray-57 text-center mb-4">新光保全關係企業</h2>
                        <ul class="list-unstyled row justify-center hover-bg-gray-ee">
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.skfh.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光金融控股股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光金融控股股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Financial Holding Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skl.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光人壽保險股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光人壽保險股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Life Insurance Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skbank.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>臺灣新光商業銀行股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">臺灣新光商業銀行股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Bank Co., Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.masterlink.com.tw/index.aspx">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>元富證券股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">元富證券股份有限公司<span class="text-gray-57 font-xs d-block">MasterLink Securities Corporation</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skit.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光證券投資信託股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光證券投資信託股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Investment Trust CO.,LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.shinkonggroup.com/tw/sk_property.html">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光金保險代理人股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光金保險代理人股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong PIA</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.skfh.com.tw/bd75d1a214.html">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光金國際創業投資股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06t"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光金國際創業投資股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong VC</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.skinsurance.com.tw/SKI/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光產物保險股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光產物保險股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Insurance Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.sktextile.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光紡織股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光紡織股份有限公司<span class="text-gray-57 font-xs d-block">SHINKONG TEXTILE CO., LTD.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.shinkong.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光合成纖維股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c3-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光合成纖維股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Syntheic Fibers Corp.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.taipeigas.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>大台北區瓦斯股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c1-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">大台北區瓦斯股份有限公司<span class="text-gray-57 font-xs d-block">The Great Taipei Gas Corp.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.shinhaigas.com.tw/">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新海瓦斯股份有限公司</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-c6-06"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新海瓦斯股份有限公司<span class="text-gray-57 font-xs d-block">Shin Hai Gas Corp.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.skcf.com.tw/">
                                    <div class="col-2">
                                        <img class="img-fluid" src="~/Content/sks/img/harvest.png" alt="" />
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光兆豐股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Chao Feng Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.skm.com.tw/">
                                    <div class="col-2">
                                        <img src="~/Content/sks/img/sk-store.jpg" width="50" alt="" />

                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光三越百貨股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Mitsukoshi Department Store Co.,Ltd.</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="http://www.sksy.com.tw/">
                                    <div class="col-2">
                                        <img class="img-fluid" src="~/Content/sks/img/shienya.png" alt="" />
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光嫺雅國際股份有限公司<span class="text-gray-57 font-xs d-block">Shin Kong Shien Ya International CO.,LTD</span></h4>
                                    </div>
                                </a>
                            </li>
                            <li class="col-md-6 col-xl-5 py-4">
                                <a class="row no-gutters" target="_blank" href="https://www.skh.org.tw/skh/index.html">
                                    <div class="col-2">
                                        <svg class="img-fluid" height="50" width="50">
                                            <title>新光醫療財團法人新光吳火獅紀念醫院</title>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-hospital"></use>
                                        </svg>
                                    </div>
                                    <div class="col-10 col-xl-9">
                                        <h4 class="text-black h6">新光醫療財團法人新光吳火獅紀念醫院<span class="text-gray-57 font-xs d-block">Shin Kong Wu Ho-Su Memorial Hospita</span></h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
