﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "智慧綠建築 開創綠色智慧生活";
}
@section head{
    <title>新光保全-智慧綠建築 開創綠色智慧生活 </title>
    <meta name="description" content="以無線取代繁雜的佈線成本，針對自動化控制、系統整合、安全監控、能源管理、5G等，推動智慧綠建築發展，達到綠建築效能升級之目的。"/>
    <meta name="twitter:title" content="新光保全-智慧綠建築 開創綠色智慧生活 "/>
    <meta name="twitter:description" content="以無線取代繁雜的佈線成本，針對自動化控制、系統整合、安全監控、能源管理、5G等，推動智慧綠建築發展，達到綠建築效能升級之目的。"/>
    <meta property="og:title" content="新光保全-智慧綠建築 開創綠色智慧生活 "/>
    <meta property="og:description" content="以無線取代繁雜的佈線成本，針對自動化控制、系統整合、安全監控、能源管理、5G等，推動智慧綠建築發展，達到綠建築效能升級之目的。"/>
    <link rel="canonical" href="@url" />
}
<section class="mb-6 mb-md-12">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/green-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/green-Banner.jpg);">
                    <div class="container text-white h5">
                        <h2 class="h1">智慧綠建築</h2>
                        <p>針對「自動化」控制、系統整合、安全監控、能源管理、5G等，</p>
                        <p>推動智慧綠建築發展，達到綠建築效能升級之目的。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-black text-center leading-tight">
        <div class="row border-y-white">
            <div class="col-6 border-right-white SKS fadeIn slow">
                <div class="row items-center">
                    <div class="col-12 bg-cover vh-33" style="background-image:url(/Content/sks/img/c2-btn1.jpg);background-position-x:25%;"></div>
                    <div class="col-lg-8 col-xl-6 bg-gray-ee py-4 sticked-text">
                        <h2 class="mb-md-0 leading-tight">智慧社區</h2>
                        <h2 class="text-sm-h4 leading-tight mb-4">物業管理平台</h2><a class="btn-tab btn-pill-white h5 font-bold px-4" href="#smart-community">了解更多</a>
                    </div>
                </div>
            </div>
            <div class="col-6 border-left-white SKS fadeIn slow delay-200ms">
                <div class="row items-center">
                    <div class="col-12 bg-cover vh-33 bg-left" style="background-image:url(/Content/sks/img/c2-btn2.jpg);"></div>
                    <div class="col-lg-8 col-xl-6 bg-gray-ee py-4 sticked-text">
                        <h2 class="mb-md-0 leading-tight">智慧大樓</h2>
                        <h2 class="text-sm-h4 leading-tight mb-4">商辦系統</h2><a class="btn-tab btn-pill-white h5 font-bold px-4" href="#smart-building">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tab-container text-center d-none" id="smart-community">
    <h2 class="text-gray-57">智慧社區物業管理平台</h2>
    <div class="container-fluid text-paragraph-gray h6 bg-gray-ee">
        <div class="row">
            <div class="col-md-6 offset-lg-1 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/c2-bn1.png);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 col-lg-4 text-vertical-center py-4">
                <h2>社區管理</h2>
                <p>「物業管理平台」 ，讓您的社區更智慧化，生活更便利。擁有訪客管理、社區公告、設施管理、信件管理；並依客戶需求，量身客製化打造。</p><a style="margin-top:20px" class="btn btn-outline-pill-dark self-center h5 font-bold" target="_blank" href="https://www.sks.com.tw/catalog/pms2022/%E6%96%B0%E5%85%89%E4%BF%9D%E5%85%A8_%E7%89%A9%E6%A5%AD%E7%AE%A1%E7%90%86%E5%B9%B3%E5%8F%B0%E5%9E%8B%E9%8C%84.pdf">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/c2-bn2.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>公共區域監控</h2>
                <p>重點公設區域經由室內主機或手機ＡＰＰ監視</p>
                <p>如：中庭花園、遊戲室、ＫＴＶ室、泳池、會議室</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/c2-bn3.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>停車場管理系統</h2>
                <p>使用柵欄機管制車輛進出通行，可結合車牌</p>
                <p>辨識、ETC 辨識、門禁卡辨識、智慧充電樁</p>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/c2-bn4.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>居家情境控制系統</h2>
                <ul class="list-style-circle text-left mx-auto">
                    <li>燈光、窗簾、音響、電視、投影機經由ＡＰＰ操作控制</li>
                    <li>智能音箱，自然語言情境控制</li>
                    <li>各種情境模式操作：視聽模式、閱讀模式、睡眠模式等設計</li>
                </ul>
            </div>
        </div>
        <div class="row justify-center">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/Office.png);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>品質監測</h2>
                <ul class="list-style-circle text-left mx-auto">
                    <li>室內空氣品質監測</li>
                    <li>戶外空氣品質監測</li>
                    <li>戶外環境品質監測</li>
                </ul>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/c2-bn6.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>防災安全</h2>
                <p>火災煙霧/瓦斯偵測</p>
                <p>當偵測到煙霧時，發出警聲提醒</p>
                <p>手機即時接收訊息，降低損害</p>
            </div>
        </div>
        @*<div class="row flex-row-reverse justify-center" style="background-image:url(/Content/sks/img/c2-bn7.jpg);">
            <div class="col-lg-4 py-4 text-vertical-center">
                <h2 class="text-lg-left">智慧能源管理</h2>
            </div>
            <div class="col-lg-8 py-4 SKS fadeIn slow delay-300ms"><img class="img-fluid" src="~/Content/sks/img/c2-bn8.png" alt="" /></div>
        </div>*@
        @*<div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/c2-bn8.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>AI電子圍籬設計</h2>
                <ul class="list-style-circle text-left mx-auto">
                    <li>警報推播</li>
                    <li>即時監控</li>
                </ul>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/c2-bn8.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>AI電子圍籬設計</h2>
                <ul class="list-style-circle text-left mx-auto">
                    <li>警報推播</li>
                    <li>即時監控</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="tab-container text-center d-none" id="smart-building">
    <h2 class="text-gray-57">智慧大樓商辦系統</h2>
    <div class="container-fluid text-paragraph-gray h6 bg-gray-ee">
        @*<div class="row justify-center items-center bg-cover" style="background-image:url(/Content/sks/img/c2-bn9.jpg);">
            <div class="col-md-10 col-lg-6 py-4 SKS fadeIn slow delay-300ms">
                <h2 class="text-center">智慧綠建築標章申請</h2>
                <div class="row">
                    <div class="col-6 text-right"><img class="img-fluid" src="~/Content/sks/img/bn1icon.png" alt="" /></div>
                    <div class="col-6 text-left"><img class="img-fluid" src="~/Content/sks/img/bn1icon2.png" alt="" /></div>
                </div>
            </div>
        </div>*@
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/OfficeSystem.png);">
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>中央監控系統</h2>
                <p class="text-left">
                    一、將大樓內之消防、電力、照明、空調、給排水、進排風系統，經由監控設備連線整合成完整之中央監控系統。
                </p>
                <p class="text-left">
                    二、全中文化全彩圖形顯示，即時多工作業，操作容易，具親和力，且執行效率佳。
                </p>
                <p class="text-left">
                    三、模組化設計，功能擴充及維護容易，提供系統硬體設備偵測功能，由螢幕畫面可檢查現場控制器信號傳輸狀態。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/Security.jpg);">
                @*<div class="bg-gray-ee-gradient tobottom toleft-md"></div>*@
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>訪客管理系統</h2>
                <p>系統組成包含，KIOSK無人發卡系統，通關機，門禁（臉型、</p>
                <p>QR Code、感應卡），電梯層控管制等</p>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/c2-bn11.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 col-xl-4 text-vertical-center py-4">
                <h2>AI智慧辨識系統</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/FireSystem.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>消防總機警報連線服務</h2>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.SmartGreen })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>