﻿@model sks.ViewModels.Shared.BaseView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "科技智慧守護城市，真實感受智慧住宅";
}
@section head{
    <title>新光保全-科技智慧守護城市，真實感受智慧住宅</title>
    <meta name="description" content="智慧城市是由建築、交通、辦公大樓及住家、公共設施所串接起來，藉由智慧建築的發展，可以帶動整體產業鏈的提升，如何讓城市有效結合運用，正是新光保全所積極推"/>
    <meta name="twitter:title" content="新光保全-科技智慧守護城市，真實感受智慧住宅"/>
    <meta name="twitter:description" content="智慧城市是由建築、交通、辦公大樓及住家、公共設施所串接起來，藉由智慧建築的發展，可以帶動整體產業鏈的提升，如何讓城市有效結合運用，正是新光保全所積極推"/>
    <meta property="og:title" content="新光保全-科技智慧守護城市，真實感受智慧住宅"/>
    <meta property="og:description" content="智慧城市是由建築、交通、辦公大樓及住家、公共設施所串接起來，藉由智慧建築的發展，可以帶動整體產業鏈的提升，如何讓城市有效結合運用，正是新光保全所積極推"/>
    <link rel="canonical" href="@url" />
}

<section class="text-white h5 font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75" style="background-image:url(/Content/sks/img/C0-BN.jpg);">
                    <div class="container">
                        <h2 class="h1">智慧建築</h2>
                        <p>智慧城市是由建築、交通、辦公大樓及住家、公共設施所串接起來</p>
                        <p>藉由智慧建築的發展，可以帶動整體產業鏈的提升, 如何讓城市有效結合運用，正是新光保全所積極推廣</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-wave py-6 py-lg-8">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-4 pt-lg-8">
                <h6>我們提供一站式樓控整合服務，包含感知、控制、整合到管理層的完整軟硬體、相關規劃與設計服務。</h6>
                <h6>從空調、照明、機電、安防、消防的樓宇控制整合平台，輕鬆實現樓宇智慧化管理。</h6>
            </div>
            <div class="col-lg-8 col-12" >
                <img class="img-fluid"  src="~/Content/sks/img/GreenBulid.jpg"/>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container-fluid text-paragraph-gray h6 text-center">
        <h2 class="text-gray-57">主要服務</h2>
        <div class="row">
            <a href="@Url.Action("Architecture","Green")" class="col-md-6 bg-cover vh-50 bg-left SKS fadeIn slow" style="background-image:url(/Content/sks/img/BN5.jpg);"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms">
                <h2>智慧綠建築</h2>
                <ul class="list-style-checked d-flex justify-center h4">
                    <li>智慧建築</li>
                </ul><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Architecture","Green")">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <a href="@Url.Action("Prevention","Green")" class="col-md-6 offset-xl-1 bg-cover vh-50 SKS fadeIn slow" style="background-image:url(/Content/sks/img/BN2-02.jpg);"></a>
            <div class="col-md-6 col-xl-3 text-vertical-center py-4 SKS fadeIn slow delay-300ms">
                <h2>智慧防災</h2>
                <p class="mb-4">更合乎效益的物聯網社區安全解決方案</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Prevention","Green")">了解更多</a>
            </div>
        </div>
    </div>
</section>
@*<section class="py-6 py-lg-8 text-center">
    <div class="container-fluid">
        <h2 class="text-gray-57 mb-4">服務案例</h2>
    </div>
    <div class="carousel slide" id="sub-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container text-white h6 pb-6 pb-lg-8 border-bottom-light-gray">
                    <div class="row justify-evenly no-gutters">
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case1.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">勝堡村營造<br/>【台中三商美邦大樓】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>保全門禁系統｜監視系統｜停管系統｜FTTH系統｜電視電話系統｜行動電話改善</pe>
                        </div>
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case2.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">潤泰創新國際<br />【松山車站BOT】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>門禁系統｜監視系統｜停管系統</pe>
                        </div>
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case3.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">新光人壽<br />【寒舍艾美酒店】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>保全系統｜監視系統｜對講系統｜停管系統</pe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container text-white h6 pb-6 pb-lg-8 border-bottom-light-gray">
                    <div class="row justify-evenly no-gutters">
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case4.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">新光人壽<br />【新板金融大樓】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>保全門禁系統｜對講系統｜監視系統｜停管號誌｜BA系統｜AED</pe>
                        </div>
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case5.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">信義傑仕堡<br /></h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>保全系統｜門禁系統｜監視系統｜B A系統｜停管系統</pe>
                        </div>
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case6.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">互助營造<br />【瑞安傑仕堡】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>對講系統｜保全系統｜門禁系統｜監視系統｜B A系統｜停管系統</pe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container text-white h6 pb-6 pb-lg-8 border-bottom-light-gray">
                    <div class="row justify-evenly no-gutters">
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case7.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">群光電子<br />【群光總部大樓】</h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>門禁系統｜監視系統｜停管系統</pe>
                        </div>
                        <div class="col-10 col-md-3 mb-6 p-4 py-md-8 bg-cover" style="background-image:url(/Content/sks/img/case8.jpg);">
                            <h4 class="pb-4 mb-4 border-bottom border-white">
                                亞洲大學<br />【現代美術館】
                            </h4>
                            <h5 class="font-bold">銷售產品</h5>
                            <pe>門禁系統｜數位監視系統｜保全系統｜電子圍籬IVS系統</pe>
                        </div>
                    </div>
                </div>
            </div><a class="d-none d-md-flex carousel-control-prev text-hide" href="#sub-banner" role="button" data-slide="prev">prev<span class="carousel-control-prev-icon ml-xl-6 prev-icon-dark" aria-hidden="true"></span></a><a class="d-none d-md-flex carousel-control-next text-hide" href="#sub-banner" role="button" data-slide="next">next<span class="carousel-control-next-icon mr-xl-6 next-icon-dark" aria-hidden="true"></span></a>
        </div>
    </div>
</section>*@