﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "智慧防災，就是比你早一步";
}
@section head{
    <title>新光保全-智慧防災，就是比你早一步</title>
    <meta name="description" content="面對各式各樣的災害，應做好萬全準備，讓防災體系全面智慧化，自動滅火系統、大樓安全防災、提升災害預防、應變及搶救復建之機能。"/>
    <meta name="twitter:title" content="新光保全-智慧防災，就是比你早一步"/>
    <meta name="twitter:description" content="面對各式各樣的災害，應做好萬全準備，讓防災體系全面智慧化，自動滅火系統、大樓安全防災、提升災害預防、應變及搶救復建之機能。"/>
    <meta property="og:title" content="新光保全-智慧防災，就是比你早一步"/>
    <meta property="og:description" content="面對各式各樣的災害，應做好萬全準備，讓防災體系全面智慧化，自動滅火系統、大樓安全防災、提升災害預防、應變及搶救復建之機能。"/>
    <link rel="canonical" href="@url" />
    <style>
        .st2 {
            fill: #231815
        }

        .st3 {
            font-weight: Bold
        }

        .st4 {
            font-size: 24px
        }

        .st5 {
            fill: #fff
        }

        .st7 {
            fill: none;
            stroke: #878787;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round
        }

        .st10, .st8, .st9 {
            fill: none;
            stroke: #231815;
            stroke-width: .2;
            stroke-miterlimit: 2
        }

        .st10, .st9 {
            stroke: #878787;
            stroke-width: 1
        }

        .st10 {
            stroke: #231815;
            stroke-width: .5;
            stroke-linecap: round;
            stroke-linejoin: round
        }

        .st11, .st12 {
            fill: #b3b3b4;
            stroke: #b3b3b4;
            stroke-width: .2;
            stroke-miterlimit: 2
        }

        .st12 {
            fill: #9d9d9e;
            stroke: #9d9d9e
        }

        .st13, .st14 {
            fill: none;
            stroke: #8cc11f;
            stroke-width: 1;
            stroke-linecap: round;
            stroke-linejoin: round
        }

        .st14 {
            stroke: #004f7d;
            stroke-width: 2
        }

        .st15 {
            fill: #bfbebd
        }

        .st18, .st27 {
            fill: none;
            stroke: #e99a14;
            stroke-width: 2
        }

        .st27 {
            stroke-dasharray: 3,2,4
        }

        .st29 {
            fill: #fceed6
        }

        .st30 {
            font-weight: Bold
        }

        .st31 {
            font-size: 12px
        }

        .st32 {
            fill: #2c5c6b
        }

        .st33 {
            font-size: 22px
        }

        .st35 {
            fill: none;
            stroke: #231815;
            stroke-width: .6
        }

        .st36 {
            fill: #231815
        }

        .st38 {
            fill: #e4e4e3
        }
        .bg-blue-ee-gradient.tobottom {
            background-image: linear-gradient(to bottom,transparent 90%,#0F89D4)
        }
        .bg-blue-ee-gradient, .mask-dark, .mask-light, .overlay, .mask {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
        }
        @@media(min-width: 768px) {
            .bg-blue-ee-gradient.toleft-md {
                background-image: linear-gradient(to left,#1495DE,transparent 50%);
            }
        }
    </style>
}

<section class="h5">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item text-white active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/prevention-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/C1-BN.jpg);">
                    <div class="container">
                        <h2 class="h1">智慧防災</h2>
                        <p>針對大型複合式場域客製規劃</p>
                        <p>提供預防/預測/預警設備安全防災規劃</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #1495DE">
    <div class="container-fluid text-center border-y-white">
        <div class="row items-center">
            <div class="col-md-6 col-lg-6 bg-cover bg-top vh-50" style="background-image:url(/Content/sks/img/GreenE.jpg);">
                <div class="bg-blue-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center  py-4">
                <p class="h2 font-bold">離岸風電及太陽能儲能櫃</p>
                <p class="h2 font-bold">自動滅火系統解決方案</p>
                <a class="btn btn-outline-pill-dark self-center h5 font-bold" target="_blank" href="https://www.sks.com.tw/catalog/SKSFireSystem.pdf">了解更多</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee">
    <div class="container-fluid text-paragraph-gray h6">
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url('/Content/sks/img/FireExtinguishing System.png');"></div>
            <div class="col-md-6 col-xl-5 mx-auto text-vertical-center py-4">
                <h2>潔淨環保自動滅火系統</h2>
                <p>提供對人體無害的滅火系統</p>
                <p>潔淨安心環保 好品質</p>
                <p>IG55, FK-5-1-12,HFC-227ea,HFC-23等自動滅火系統</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 h-sm-vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/prevention-2.jpg);"></div>
            <div class="col-md-6 col-xl-5 mx-auto py-6">
                <h2>保護重要資產免遭火災</h2>
                <ul class="list-unstyled">
                    <li class="mb-4">
                        <span class="bg-white-circle pt-1 mr-2">
                            <svg class="img-fluid" height="70">
                                <use xlink:href="~/Content/sks/img/sprite.svg#icon-C2-72"></use>
                            </svg>
                        </span>
                        <div class="d-inline-block align-middle">
                            <p>無人時</p>
                            <p class="mt-0">自動滅火/警急通報</p>
                        </div>
                    </li>
                    <li class="mb-4">
                        <span class="bg-white-circle pt-1 mr-2">
                            <svg class="img-fluid" height="70">
                                <use xlink:href="~/Content/sks/img/sprite.svg#icon-C2-73"></use>
                            </svg>
                        </span>
                        <div class="d-inline-block align-middle">
                            <p>瞬間滅火</p>
                            <p class="mt-0">無第二次污染</p>
                        </div>
                    </li>
                    <li>
                        <span class="bg-white-circle pt-1 mr-2">
                            <svg class="img-fluid" height="70">
                                <use xlink:href="~/Content/sks/img/sprite.svg#icon-C2-74"></use>
                            </svg>
                        </span>
                        <div class="d-inline-block align-middle">
                            <p>緊急狀況發生時</p>
                            <p class="mt-0">自動切斷電源</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/prevention-3.jpg);"></div>
            <div class="col-md-6 col-xl-5 mx-auto text-vertical-center py-4">
                <h2>高規格安全守護</h2>
                <ul class="list-style-circle">
                    <li>內政部消防署通案審核認可</li>
                    <li>日本消防設備安全中心設備認證</li>
                    <li>日本原裝進口，設備零組件完整一致性，安全可靠</li>
                    <li>機櫃式設計，無需配管搬遷移動方便，有效利用防護現場空間</li>
                    <li>保全系統連線加值服務，防止深層火災發生，減少二次傷害</li>
                </ul>
            </div>
        </div>
        <div class="row justify-center items-center text-center bg-cover" style="background-image:url(/Content/sks/img/prevention-4.jpg);">
            <div class="col-md-6 py-4 SKS fadeIn slow delay-300ms">
                <h2>專業認證</h2><img class="img-fluid" src="/Content/sks/img/license-prevention.png" alt="" />
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8 text-center">
    <div class="container mb-6 mb-lg-8">
        <h2 class="text-gray-57">服務架構</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 423.4 216.7" xml:space="preserve">
                <path opacity=".3" fill="#cfd0d0" d="M-.5 1.1h424.1V153H-.5z"></path>
                <path fill="none" stroke="#004f7d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M18.4 26.1H137"></path>
                <text class="st2 st3 st4" transform="translate(148.04 30.759)">&#x914D;&#x7BA1;CNS 4626&#x3001;Sch40</text>
                <path fill="none" stroke="#8cc11f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M18.4 80.9H137"></path>
                <text class="st2 st3 st4" transform="translate(148.04 86.386)">&phi;4mm &#x9285;&#x7BA1;</text>
                <path fill="none" stroke="#e99a14" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="3,2,4" d="M18.4 125.1H137"></path>
                <text class="st2 st3 st4" transform="translate(148.04 130.559)">&#x96FB;&#x7DDA;</text>
                    </svg>
            </div>
            <div class="col-lg-8">
                <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewbox="0 0 786.9 777.1">
                    <path fill="#eaeaea" d="M444.2 381.2l332.6 48.3V86.6L444.2 38.3z"></path>
                    <path fill="#e1e5e7" d="M776.8 429.5l-329.6-47.9L15.1 644.3l343.4 48.6z"></path>
                    <path class="st5" d="M444.8 37.7L15.1 300.1v344.2l429.7-262.5z"></path>
                    <path fill="#eef1f2" d="M15.1 644.3l432.1-262.7-3-343.3L14.8 300.4z"></path>
                    <path class="st7" d="M444.4 382.2L14.8 644.7"></path>
                    <path class="st5" d="M113.6 378.9v253.8l-34.5 21.1V399.9zM188.7 389.4v253.9l-75.1-10.6V378.9z"></path>
                    <path class="st5" d="M188.7 643.3l-75.1-10.6-34.5 21.1 75.3 10.5zM691.4 163l-34.3 21-75.1-10.5 34.3-21zM657.1 184.1v253.8L582 427.4V173.6z"></path>
                    <path class="st5" d="M691.4 163v253.9l-34.3 21V184z"></path>
                    <path class="st8" d="M776.4 86.3v344.2M776.4 430.5L358.5 692.9M358.5 692.9L14.8 644.7M14.8 644.7V300.4"></path>
                    <path class="st9" d="M776.4 86.3L444.4 38"></path>
                    <path class="st8" d="M444.4 38v344.2"></path>
                    <path class="st9" d="M444.4 38L14.8 300.4"></path>
                    <path class="st10" d="M188.7 408.7v234.6M188.7 643.3l-34.3 21M79.1 419.2v234.6"></path>
                    <path class="st8" d="M154.4 664.3l-75.3-10.5"></path>
                    <path class="st10" d="M188.7 389.4l-34.3 21M188.7 389.4l-75.1-10.5M113.6 378.9l-34.5 21M188.7 389.4v19.3M79.1 399.9v19.3"></path>
                    <path class="st11" d="M113.5 396.3l.1-.1.1.1v2l-.1.1-.1-.1-.1-.1v-1.8l.1-.1zm0-4.5h.2V394.6h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1V390.3h-.2l-.1-.2v-2.5l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2V381.5h-.2l-.1-.1v-2.6l.1-.1zM114.7 632.8v.2l-.2.1-.9-.1-.1-.1-.1-.1.1-.1h.1l.9.1h.2zm4.3.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6v.2l-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.5.7l-.1.2-2.6-.4-.1-.1v-.2h.1l2.7.5zm4.3.5v.2l-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.4.7v.2l-.2.1-2.5-.3-.1-.1-.1-.1.1-.1h.1l2.5.3h.2zm4.4.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6v.2l-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.4.7l-.1.2-2.6-.4-.1-.1v-.2h.1l2.7.5zm4.3.5v.2l-.1.1-2.5-.3-.1-.1-.1-.1.1-.1h.1l2.6.3zm4.5.6v.2l-.2.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.5.4h.2zm4.3.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6v.2l-.1.1-2.5-.4h-.1l-.1-.1.1-.1h.1l2.5.4.1-.1zm4.4.8l-.1.2-2.6-.4-.1-.1v-.2h.1l2.7.5zm4.3.5v.2l-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.5.6v.2l-.2.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.5.4h.2zm4.3.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6v.2l-.1.1-2.5-.3-.1-.1-.1-.1.1-.1h.1l2.6.3z"></path>
                    <path class="st11" d="M82.2 651.8l.1.2-.1.1-2 1.2-.1.1-.1-.1v-.2l2-1.3h.2zm3.4-2.1l.2.2-.1.1-2 1.2-.1.1-.1-.1-.1-.1.1-.1 2.1-1.3zm3.5-2.2l.1.2v.1l-2 1.2-.1.1-.1-.1-.1-.1.1-.1 2.1-1.3zm3.6-2.1l.1.2-.1.1-1.9 1.2H90.5v-.1l.1-.1 2-1.3h.1zm3.4-2.1h.2v.2l-.1.1-2 1.2H94V644.5l2.1-1.2zm3.5-2.1l.2.2-.1.1-2 1.2h-.2l-.1-.2.1-.1 2.1-1.2zm3.5-2.2l.1.2v.1l-2 1.2H100.9v-.2l.1-.1 2-1.2h.1zm3.5-2.1v.2l-2 1.3h-.2v-.2l.1-.1 1.9-1.2h.2zm3.4-2.1l.2.1-.1.1-2 1.3h-.2v-.4l2.1-1.1zm3.6-2.2l.1.2-2 1.3h-.2l-.1-.2.1-.1 2.1-1.2z"></path>
                    <path class="st11" d="M113.5 629.8h.2V632.6h-.2l-.1-.1.1-2.7zm0-4.3h.2V628.3h-.2l-.2-.3v-2.5h.2zm0-4.4h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.4h.2V619.5h-.2l-.1-.1.1-2.7zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V610.7h-.2l-.1-.1.1-2.7zm0-4.3h.2V606.4h-.2l-.1-.2.1-2.6zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V597.6h-.2l-.1-.1.1-2.7zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.4h.2V588.9h-.2l-.1-.1.1-2.7zm0-4.4h.2V584.5h-.2l-.1-.2.1-2.6zm0-4.3h.2v2.7l-.1.1-.1-.1-.2-.1v-2.5l.2-.1zm0-4.4h.2V575.8h-.2l-.1-.1.1-2.7zm0-4.4h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.4h.2V567h-.2l-.1-.1.1-2.7zm0-4.3h.2V562.7h-.2l-.1-.2.1-2.6zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V553.9h-.2l-.1-.1.1-2.7zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V545.1h-.2l-.1-.1.1-2.7zm0-4.3h.2V540.8h-.2l-.1-.2.1-2.6zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V532h-.4v-2.6l.2-.2zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.4h.2V523.3h-.2l-.1-.1.1-2.7zm0-4.3h.2V519h-.2l-.1-.2.1-2.6zm0-4.4h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.4h.2V510.2h-.2l-.1-.1.1-2.7zm0-4.3h.2v2.7l-.1.1-.1-.1-.1-.1.1-2.6zm0-4.5h.2V501.4h-.2l-.1-.1.1-2.7zm0-4.3h.2V497.1h-.2l-.1-.2.1-2.6zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2V488.3h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V479.6h-.2l-.1-.1v-2.6l.1-.1zm0-4.4l.1-.1.1.1V475.2h-.2l-.2-.2v-2.5l.2-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V466.5h-.2l-.1-.1v-2.6l.1-.1zm0-4.4l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V457.7h-.2l-.1-.1V455l.1-.1zm0-4.3l.1-.1.1.1V453.4h-.2l-.1-.2v-2.5l.1-.1zm0-4.4l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V444.6h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2V435.8h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1V431.5h-.2l-.1-.2v-2.5l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.2-.1v-2.5l.2-.1zm0-4.5h.2V422.7h-.2l-.1-.1V420l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V414h-.2l-.1-.1v-2.6l.1-.1zm0-4.4l.1-.1.1.1V409.6h-.2l-.1-.2v-2.5l.1-.1zm0-4.3l.1-.1.1.1v2.7l-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2V400.9h-.2l-.1-.1v-2.6l.1-.1z"></path>
                    <path class="st10" d="M657.1 203.3v234.6M691.4 182.3v234.6M691.4 416.9l-34.3 21M582 192.8v234.6M657.1 437.9L582 427.4M691.4 163l-34.3 21M691.4 163l-75.1-10.5M616.3 152.5l-34.3 21M691.4 163v19.3M657.1 184v19.4M582 173.5v19.3"></path>
                    <path class="st12" d="M616.2 169.9l.1-.1.1.1.1.1v1.8l-.1.1-.1.1-.1-.1-.1-.1V170l.1-.1zm0-4.5h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.2l-.1-.2v-2.5l.1-.1zm.1-4.4l.1.1.1.1v2.5l-.1.1-.1.1-.2-.2v-2.5l.2-.2zm-.1-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zM617.4 406.4v.2l-.1.1-1-.1-.2-.3.1-.1h.1l1.1.2zm4.4.6l.1.1-.2.2-2.5-.4-.2-.3v-.1h.2l2.6.5zm4.4.6v.2l-.2.1-2.5-.4-.2-.3.1-.1h.1l2.5.4.2.1zm4.3.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6l.1.1-.1.1-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.5.7v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6l.1.1-.2.2-2.5-.4-.2-.3v-.1h.2l2.6.5zm4.4.6v.2l-.2.1-2.5-.3-.2-.3.1-.1h.1l2.5.3.2.1zm4.3.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.4.6l.1.1-.1.1-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.4.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6l.1.1-.2.2-2.5-.3-.2-.3v-.1h.2l2.6.4zm4.4.6v.2l-.2.1-2.5-.3-.2-.3.1-.1h.1l2.5.3.2.1zm4.4.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.7l.1.1-.1.1-.1.1-2.5-.4-.1-.1-.1-.1.1-.1h.1l2.6.4zm4.4.6v.2l-.1.1-2.6-.4-.1-.1v-.2h.1l2.7.4zm4.3.6l.1.1-.2.2-2.5-.3-.2-.3v-.1h.2l2.6.4zm4.5.6v.2l-.2.1-2.5-.4-.2-.3.1-.1h.1l2.5.4.2.1z"></path>
                    <path class="st12" d="M584.9 425.4l.1.1v.1l-.1.1-2 1.2-.1.1-.1-.1v-.1l.1-.1 1.9-1.3h.2zm3.4-2.2l.1.1.1.1-.1.1-2 1.2-.1.1-.1-.1v-.2l2.1-1.3zm3.6-2.1l.1.1v.2l-2 1.2-.1.1-.1-.1-.1-.1.1-.1 2.1-1.3zm3.5-2.1l.1.1v.2l-2 1.2-.2.1-.1-.1v-.1l.1-.1 2.1-1.3zm3.5-2.1l.1.2-.1.1-2 1.2-.1.1-.1-.1v-.2l2-1.3h.2zm3.4-2.2l.2.2-.1.1-2 1.2-.1.1-.1-.1-.1-.1.1-.1 2.1-1.3zm3.5-2.1l.1.2v.1l-2 1.2h-.2l-.1-.1.1-.1 2.1-1.3zm3.6-2.1l.1.2-.1.1-2 1.2h-.2v-.1l.1-.2 1.9-1.2h.2zm3.4-2.1l.2.2-.1.1-2 1.2h-.2V409.6l2.1-1.2zm3.5-2.2l.1.2v.1l-2 1.2h-.2l-.1-.2.1-.1 2.1-1.2z"></path>
                    <path class="st12" d="M616.3 403.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.4l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1V386l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.4l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1V316h.2zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.4l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.5l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3V268l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.2v-2.5l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1.1-2.7zm0-4.4l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1V233l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.2v-2.5l.1-.1zm0-4.4l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.5l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.3l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.5h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm.1-4.4l.2.1v2.6l-.1.1h-.1l-.2-.1v-2.6l.2-.1zm-.1-4.4l.1-.1.1.1.1.1v2.5l-.1.2h-.1l-.2-.3.1-2.5zm0-4.3l.1-.1.1.1.1.1v2.5l-.1.1-.1.1-.1-.1-.1-.1v-2.5l.1-.1zm0-4.4h.2l.1.1v2.6l-.1.1h-.2l-.1-.1v-2.6l.1-.1z"></path>
                    <path class="st13" d="M609.5 70.8v151.8M92.1 465.3V326.5"></path>
                    <path class="st10" d="M206.6 199.8l27.9-14.8M206.6 200v26.5M234.5 185v26.7M206.6 226.5l27.9-14.8M206.6 205.4l27.9-14.4M206.6 216.2l27.9-14.1M206.6 211l27.9-14M206.6 221.4l27.9-14M204.4 197.9l32.3-17M204.4 197.9v31.8M236.7 180.9v31.9M204.4 229.8l32.3-17"></path>
                    <path class="st5" d="M71.3 506.6l-8.7 5.3-42.9-6 8.6-5.3zM71.3 506.6v30.2l-8.7 5.1v-30z"></path>
                    <path class="st5" d="M62.6 511.9v30l-42.9-6v-30z"></path>
                    <path class="st10" d="M62.6 541.9l-42.9-6v-30l42.9 6z"></path>
                    <path class="st5" d="M58.4 517.8V535L24 530.1v-17.2z"></path>
                    <path class="st10" d="M58.4 535L24 530.1v-17.2l34.4 4.9zM71.3 506.6l-43-6M19.7 505.9l8.6-5.3M62.6 511.9l8.7-5.3M62.6 541.9l8.7-5.1M71.3 506.6v30.2"></path>
                    <path class="st14" d="M636.1 217.5v-51.1"></path>
                    <path class="st15" d="M637.1 221.1v10.8l-16.8-2.4v-10.8z"></path>
                    <path class="st10" d="M637.1 231.9l-16.8-2.4v-10.8l16.8 2.4z"></path>
                    <path class="st15" d="M646.7 224.7v7.4l-12-1.7V223z"></path>
                    <path class="st10" d="M646.7 232.1l-12-1.7V223l12 1.7z"></path>
                    <path class="st15" d="M640.7 219.1v27.7l-9.6-1.3v-27.8z"></path>
                    <path class="st10" d="M640.7 246.8l-9.6-1.3v-27.8l9.6 1.4z"></path>
                    <path class="st15" d="M657.1 428V255.9l-4.3-8.2-4.4-4.3-8.7-5-8.7-1.2-8.7 2.5-4.4 3.1-4.3 7v172.1z"></path>
                    <path class="st10" d="M657.1 428V255.9l-4.3-8.2-4.4-4.3-8.7-5-8.7-1.2-8.7 2.5-4.4 3.1-4.3 7v172.1z"></path>
                    <path class="st15" d="M642.2 150.6v18.5l-12.2-1.7v-18.5z"></path>
                    <path class="st10" d="M642.2 169.1l-12.2-1.7v-18.5l12.2 1.7z"></path>
                    <path class="st15" d="M639.9 153.4v3L630 155v-3z"></path>
                    <path class="st10" d="M639.9 156.4L630 155v-3l9.9 1.4z"></path>
                    <path fill="none" stroke="#878787" stroke-width=".586" stroke-miterlimit="2" d="M776.4 86.3v344.2"></path>
                    <path class="st9" d="M14.8 300.6v344.1"></path>
                    <path class="st7" d="M776.4 430.5l-85-13.6M582 401.5l-137.6-19.3"></path>
                    <path class="st5" d="M358.5 440l-2.7 1.7-80.7-11.4 2.6-1.7z"></path>
                    <path class="st5" d="M358.5 440l-2.7 1.7-.1 31.1 2.8-1.9zM355.7 441.6v31.2l-80.6-11.3v-31.2z"></path>
                    <path class="st10" d="M355.7 472.8l-80.6-11.3v-31.2l80.6 11.3z"></path>
                    <path fill="#ea6851" stroke="#231815" stroke-width=".385" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M350.7 469.1l-71.3-10v-25.3l71.3 10z"></path>
                    <path class="st10" d="M355.8 472.7l2.7-1.8M355.8 441.7l2.7-1.7M358.5 440v30.9M358.5 440l-80.8-11.4M275.1 430.3l2.6-1.7"></path>
                    <path class="st14" d="M123.1 441.7v-50.9"></path>
                    <path class="st15" d="M138.3 447.1v10.8l-16.7-2.3v-10.8z"></path>
                    <path class="st10" d="M121.6 455.6l16.7 2.3v-10.8l-16.7-2.3z"></path>
                    <path class="st15" d="M123.9 447.5v7.3l-11.9-1.7v-7.3z"></path>
                    <path class="st10" d="M112 453.1l11.9 1.7v-7.3l-11.9-1.7z"></path>
                    <path class="st15" d="M127.6 443.1v27.8l-9.7-1.4v-27.8z"></path>
                    <path class="st10" d="M117.9 469.5l9.7 1.4v-27.8l-9.7-1.4z"></path>
                    <path class="st15" d="M144.1 652.1V479.9l-4.3-8.1-4.3-4.4-8.8-4.9-8.6-1.2-8.7 2.5-4.4 3.1-4.4 6.9V646z"></path>
                    <path class="st10" d="M144.1 652.1V479.9l-4.3-8.1-4.3-4.4-8.8-4.9-8.6-1.2-8.7 2.5-4.4 3.1-4.4 6.9V646z"></path>
                    <path class="st15" d="M129.3 373.6v18.3l-12.2-1.7v-18.4z"></path>
                    <path class="st10" d="M129.3 391.9l-12.2-1.7v-18.4l12.2 1.8zM157.9 484.1l5.7-3.5M179.4 487.2l5.5-3.6M184.9 483.6l-21.3-3M179.4 525.9l5.5-3.6M184.9 483.6v38.7M179.4 487.2l-21.5-3.1M179.4 487.2v38.7M157.9 484.1v38.7M179.4 525.9l-21.5-3.1M163.6 480.6v38.7M157.9 522.8l5.7-3.5M184.9 522.3l-21.3-3"></path>
                    <path class="st15" d="M184.9 483.6v38.7l-5.5 3.6v-38.7z"></path>
                    <path class="st10" d="M184.9 483.6v38.7l-5.5 3.6v-38.7z"></path>
                    <path class="st15" d="M184.9 483.6l-21.3-3-5.7 3.5 21.5 3.1z"></path>
                    <path class="st10" d="M184.9 483.6l-21.3-3-5.7 3.5 21.5 3.1z"></path>
                    <path class="st15" d="M179.4 487.2v38.7l-21.5-3.1v-38.7z"></path>
                    <path class="st10" d="M179.4 487.2v38.7l-21.5-3.1v-38.7z"></path>
                    <path class="st5" d="M358.5 477.8v215.1l-86-12V465.7z"></path>
                    <path class="st10" d="M358.5 692.9l-86-12V465.7l86 12.1z"></path>
                    <path class="st5" d="M276.8 557.7l.1-1 .4-1 .4-.8.7-.7.8-.6.9-.3 1-.2h1.1l1.1.3 1 .5.9.6.8.8.6.9.6.9.3 1.1.1 1-.1 1.2-.3.9-.6.9-.6.7-.8.6-.9.3-1 .2h-1.1l-1.1-.3-1-.5-.9-.6-.8-.7-.7-1-.4-.9-.4-1.1z"></path>
                    <path class="st10" d="M276.8 557.7l.1-1 .4-1 .4-.8.7-.7.8-.6.9-.3 1-.2h1.1l1.1.3 1 .5.9.6.8.8.6.9.6.9.3 1.1.1 1-.1 1.2-.3.9-.6.9-.6.7-.8.6-.9.3-1 .2h-1.1l-1.1-.3-1-.5-.9-.6-.8-.7-.7-1-.4-.9-.4-1.1-.1-1.2"></path>
                    <path class="st7" d="M776.4 430.5L358.5 692.9M358.5 692.9L14.8 644.7"></path>
                    <path class="st13" d="M180.5 339L609.4 70.7"></path>
                    <path class="st5" d="M246.8 104.3v-2.6l-.9-2.4-2.9-5.1-.3-4 .9-3.9 2.3-2.9.9-3.1-.9-5.5.9-4.1v-3.2l1.6-3 6.4-1.6 3.8-.1 1.6-1.4 2.7-.2 1.1-.9 23.1 3.2-23.7 9.5v27.6l-.9-1.1-7.1 6zM272.4 107.7l-8.9 3.6 4.5-4.2z"></path>
                    <path class="st5" d="M294.8 60.3v4.2l-1.6-.2-26.6 10.6v22.9l-3.1 2.7V72.9z"></path>
                    <path class="st5" d="M266.6 74.9v32l25 3.5V76.8l23.7-9.4-22.2-3.1z"></path>
                    <path class="st5" d="M322.9 64.4v4.1l-1.7-.3L294.8 79v31.9l5.7.8-8.9 3.5V76.8z"></path>
                    <path class="st5" d="M321.9 122.6v16.1l32 4.5 26.4-10.8v-15.9l-.5-3.9-.7-4-1.1-3.9-1.5-3.8-1.7-3.6-2.1-3.5-2.3-3.4-2.6-3.2-2.9-3-2.9-2.7-3.3-2.5-3.4-2.3-3.6-2-3.7-1.6-3.8-1.3-3.9-.9-19.1-2.7L294.8 79v31.9l19.2 2.7 1.8.1 1.7.6 1.5.8 1.1 1.1 1.1 1.3.5 1.6.4 1.7z"></path>
                    <path class="st10" d="M321.9 122.6v16.1l32 4.5 26.4-10.8v-15.9l-.5-3.9-.7-4-1.1-3.9-1.5-3.8-1.7-3.6-2.1-3.5-2.3-3.4-2.6-3.2-2.9-3-2.9-2.7-3.3-2.5-3.4-2.3-3.6-2-3.7-1.6-3.8-1.3-3.9-.9-19.1-2.7L294.8 79v31.9l19.2 2.7 1.8.1 1.7.6 1.5.8 1.1 1.1 1.1 1.3.5 1.6.4 1.7-.2 1.8M353.9 143.2v-16.1"></path>
                    <path class="st10" d="M314 81.6l4.2.6 4.2 1 4 1.4 3.7 1.7 3.7 2.1 3.4 2.5 3.1 2.6 2.8 3 2.6 3.2 2.2 3.4 1.9 3.7 1.6 3.8 1.3 3.9.7 4.1.5 4.2v4.3M291.6 76.8l31.3-12.6M291.6 76.8v38.4M322.9 64.4v4.1M291.6 110.4l-24.9-3.5M291.6 115.2l8.9-3.5M315.3 67.4l-22.1-3.1M291.6 78.4l-24.9-3.5M314 81.6l-19.3-2.7M263.5 72.9l31.3-12.6M263.5 72.9v38.4M294.8 60.4v4.1M263.5 111.3l8.9-3.6M287.2 63.4l-22.9-3.2M266.7 74.9l26.4-10.6M266.6 74.9v32M263.5 106.5l-16.6-2.3M263.5 74.5l-16.6-2.3M267 57.5l-1 1.4-3.1 2.1-2.6.3-1.5 1.4h-3.9l-6.4 1.7-1.6 3v3.2l-1 4 1 5.5-1 3.1-2.2 2.9-1 4 .4 4 2.8 5.1 1 2.4v4.1l-.7 1.6"></path>
                    <path class="st5" d="M259.5 114.1l-6-6.9 9.1-7.8 6 6.9z"></path>
                    <path class="st10" d="M259.5 114.1l-6-6.9 9.1-7.8 6 6.9z"></path>
                    <path class="st5" d="M267.7 105.3l-4.2-4.8 10.6-9.3 4.3 5z"></path>
                    <path class="st10" d="M267.7 105.3l-4.2-4.8 10.6-9.3 4.3 5z"></path>
                    <path class="st5" d="M278.5 90.3l.4-.2.4-.1.4.2.4.3.3.3v.9l-.3.3-.4.1-.4.1-.4-.2-.4-.3-.2-.3-.1-.5.1-.3z"></path>
                    <path class="st10" d="M278.5 90.3l.4-.2.4-.1.4.2.4.3.3.3v.9l-.3.3-.4.1-.4.1-.4-.2-.4-.3-.2-.3-.1-.5.1-.3.2-.3M280 92.1l-3 2.5M278.5 90.3l-3 2.5"></path>
                    <path class="st5" d="M258.9 107.6l.1-.4.2-.3.3-.2h.4l.4.1.4.3.2.4.1.4-.1.4-.2.3-.4.2h-.4l-.4-.1-.3-.3-.2-.4z"></path>
                    <path class="st10" d="M258.9 107.6l.1-.4.2-.3.3-.2h.4l.4.1.4.3.2.4.1.4-.1.4-.2.3-.4.2h-.4l-.4-.1-.3-.3-.2-.4-.1-.4M315.3 67.4l-22.1-3.1-26.5 10.6"></path>
                    <path class="st9" d="M358.5 348.7v344.2M358.5 348.7L14.8 300.6"></path>
                    <path class="st10" d="M657.1 184L582 173.5"></path>
                    <path class="st9" d="M358.5 348.7L776.4 86.3"></path>
                    <path class="st10" d="M154.4 410.4l-75.3-10.5"></path>
                    <path class="st5" d="M269.1 538.4V575l-4.5 3.1v-36.5z"></path>
                    <path class="st5" d="M269.1 538.4l-52.3-7.3-4.3 3 52.1 7.5zM264.6 541.6v36.5l-52.3-7.3v-36.6z"></path>
                    <path class="st10" d="M212.3 570.8l52.3 7.3v-36.5l-52.3-7.4z"></path>
                    <path class="st8" d="M218.1 540.8l40.8 5.8"></path>
                    <path class="st10" d="M212.3 534.2l52.3 7.4"></path>
                    <path class="st8" d="M258.5 546.7l-23.2-3.2M234.1 548.1v-3.4M234.1 544.7l.1-.7.4-.4.7-.1M235.3 567.9l-.7-.4-.4-.5-.1-.7M218.1 565.7v-24.9M258.9 546.6v24.8M258.5 546.7v24.4M235.5 543.5v24.4M234.1 566.3v-18.4M258.9 571.4l-40.8-5.7"></path>
                    <path class="st10" d="M264.6 578.1l-52.3-7.3"></path>
                    <path class="st8" d="M258.5 571.1l-23.2-3.2"></path>
                    <path class="st10" d="M264.7 541.6l4.3-3.2M212.5 534.1l4.2-3M264.7 578.1l4.3-3M269.1 538.4l-52.3-7.3M269.1 538.4V575"></path>
                    <path class="st15" d="M156.5 415v12.9l-4.3-.6v-12.9z"></path>
                    <path class="st10" d="M156.5 427.9l-4.3-.6v-12.9l4.3.6z"></path>
                    <path class="st15" d="M160.9 433.4l-.3-1.6-.3-1.5-.6-1.5-.8-1.2-.9-1.2-1.1-.8-1.3-.6-1.2-.3-1.4-.1-1.1.3-1.2.5-.9.9-.8 1-.5 1.3-.5 1.4-.1 1.6V471l13 1.8z"></path>
                    <path class="st10" d="M160.9 433.4l-.3-1.6-.3-1.5-.6-1.5-.8-1.2-.9-1.2-1.1-.8-1.3-.6-1.2-.3-1.4-.1-1.1.3-1.2.5-.9.9-.8 1-.5 1.3-.5 1.4-.1 1.6V471l13 1.8v-39.4"></path>
                    <path class="st15" d="M183.4 430.8v4.1l.7.1.2-.1.1-.3v-3.3l-.1-.3-.2-.1zM183.4 431v3.9l-2.5-.4v-3.8z"></path>
                    <path class="st15" d="M183.8 425.9l-.2.2-.5.1-1.7-.2v.5l-.3.2-.3.1v9.6l-.1.5-.3.3-.4.1-15.8-2.3-.6-.3-.3-.4-1.8-5.8v-3.4h-.1v.3l-.5-.1-.5-.7v-.7h-.1v1.4h-.1l-1-.2v-.1l-1.9-.3-.2-.2-.2-.1-.1-.1V415.4l.1-.1.2.1.2-.2 1.9.1h1l.1.2v1.3l.1.1v-.7l.5-.7.5.1v.2l.1.1v-1.2l1.8-5.2.3-.4h.6v-.1h.2v-.5l1.5.2v-1l3.7.5v1.1l1.4.2v.4l.3.1v.1l11.8 1.6.5.2.2.4.1.3v12.9z"></path>
                    <path class="st10" d="M184.4 431.3l-.1-.3-.2-.1M184.4 433v-1.7M183.4 430.8l.7.1M183.4 430.8v2M180.9 431.9h-.1M180.9 432.9h-.1M183.1 434.4V431M183.4 431.7l-.3-.1M181.1 431.4l-.2-.1M181.1 434.1v-3.4M183.1 434.4l-2-.3M182.1 434.7v.1l.1.2M182.6 434.8l.2.2.1.3.2.3.1.4v.4l.2.5-.2.4v.4l-.1.3-.1.3-.2.4-.1.2-.2.1h-.3"></path>
                    <path class="st10" d="M182.2 435l.3.1.1.1.1.3.1.2.1.4v1.3l-.1.3v.4l-.1.2-.2.2-.1.1h-.2M181.9 434.9l-.1.1-.1.1-.2.2-.1.2-.1.3-.1.4v.7l.1.3v.3l.1.4.1.2.2.3.1.1.2.1"></path>
                    <path class="st10" d="M181.5 434.6l-.1.2-.2.2-.1.3-.1.4-.1.4v.8l.1.5v.3l.2.4.1.4.2.2.3.2.2.1M181.9 434.9l.1-.1.1-.1M180.9 430.7l2.5.3M180.9 430.7v3.8M183.4 434.9V431M182 438.2h.2M180.9 434.5l2.5.4M161.5 414.7l1.8-5.2M164.2 409.1h-.5l-.4.4M171.3 410.1v-.1M164.2 409v.1M164.2 409l7.1 1M164.2 409.1l18.9 2.6M161.5 414.7v5.8M161.4 415.8v4.7M161.4 415.8l.1.1M161.4 425.1h.1M161.4 425.1v-4.6M161.5 428.5l1.8 5.7M161.5 428.5v-8M163.3 434.2l.4.5.5.2M164.2 434.9l15.8 2.2M180 437.1h.4l.3-.2.1-.5M180.8 432.5v3.9M180.8 426.8v5.7M180.8 426.8l.3-.1.3-.3.1-.3M181.5 426.1v-.1M181.5 426l1.6.2M183.1 426.2l.5-.1.2-.2.1-.4M183.9 423.7v1.8M183.9 412.6v11.1M183.9 412.6l-.1-.4-.2-.3-.5-.2M156.8 416.8v6M156.8 419.9v4.3M156.8 422.8v1.4M157 424.3l.1.2M156.8 424.2v.1h.2M157.1 424.5l.2.1M157.3 424.5l1.9.4M157.1 424.4l.2.2M157.1 424.4v.1M157.3 424.6l1.9.4M157.3 424.6v-.1M159.2 415.3v-.1M157 415.3l.1.1M157 415.3h-.2v.2M157.3 415.2v.1M157.1 415.5l.2-.2M157.1 415.4l.2-.2M157.3 415.3l1.9.1M157.1 415.5l2.1.1M157.1 415.5v-.1M156.8 416.8v-1.3M156.8 419.9v-4.4M169.6 408.2l-1.8-.2M165.9 408.6l1.9.3M165.9 408.7l.1-.1M166 408.6v-.9M165.9 407.7l1.9.3M165.9 408.7v-1M167.8 409l-1.9-.3M171 409.5v.4M169.6 409.3v-1.1M169.5 409.1v-.9M169.6 409.3l-.1-.2M167.8 409l3.2.5M167.8 409l1.8.3M169.6 409.2l-1.8-.3M160.9 425.2l.5.1M160.9 415.5l.5.1M161.4 415.6v4.9M161.4 425.3v-4.8M160.3 425.3v-.1M159.2 425.1l1.1.2M160.3 415.3v.2M159.2 415.2l1.1.1M161.4 415.8v9.3M164.5 408.6v.4M167.8 409l-3.3-.4M182 442.6v-4.4M182.2 438.2v4.5M182.2 442.7l-.2-.1M183.4 434.9v-2.1M184.1 435l.2-.1.1-.3M183.4 434.9l.7.1M184.4 433v1.6M154.4 429.7v234.6M154.4 410.4v19.4"></path>
                    <path class="st13" d="M151.6 418.7l-17.1-2.4M134.1 445.9v-29.6M180.5 339l-88.4-12.5M620.3 224l-10.6-1.4M134.1 471.8V458M133.9 472.1l-41.8-5.8"></path>
                    <path class="st18" d="M505.3 122.5V121"></path>
                    <path d="M505.3 119.9v-6.1" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.2303,1.6728,1.1152,2.2303"></path>
                    <path d="M505.3 112.6v-8.9" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="1.6728,1.1152,2.2303,1.6728,1.1152,2.2303"></path>
                    <path class="st18" d="M505.2 102.6v-1.5c-.4.3-.9.5-1.3.8"></path>
                    <path d="M502.3 102.9c-3.1 1.9-6.1 3.8-9.2 5.6" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="3.9323,2.9493,1.9662,3.9323"></path>
                    <path d="M491.4 109.6c-48.8 29.9-97.7 59.8-146.5 89.8-56.2 34.4-112.4 68.9-168.7 103.3" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.9493,1.9662,3.9323,2.9493,1.9662,3.9323"></path>
                    <path class="st18" d="M174.5 303.7c-.4.3-.9.5-1.3.8v1.5"></path>
                    <path d="M173.2 307.9c0 3.5.1 7 .1 10.4" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="3.7991,2.8493,1.8995,3.7991"></path>
                    <path d="M173.4 320.2c.5 50.7 1.1 101.3 1.6 152" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.8493,1.8995,3.7991,2.8493,1.8995,3.7991"></path>
                    <path class="st18" d="M175 474.1v1.5l-1.5-.3"></path>
                    <path d="M172.1 475.1c-2.7-.5-5.4-.9-8-1.4" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.9682,2.2262,1.4841,2.9682"></path>
                    <path d="M162.6 473.5c-3.9-.7-7.8-1.3-11.7-2" fill="none" stroke="#e99a14" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.2262,1.4841,2.9682,2.2262,1.4841,2.9682"></path>
                    <path class="st18" d="M149.4 471.3l-1.5-.3"></path>
                    <path class="st27" d="M259.9 109.5c-.1 7-.1 13.9-.2 20.9-70.9 43.7-141.9 87.3-212.8 131v244.8"></path>
                    <path fill="none" d="M347.3 466.8l-64.4-9.1v-21.3l64.4 9z"></path>
                    <text class="st29 st30 st31" transform="matrix(.9782 .1369 -.00013 1 282.839 446.49)">&#x5167;&#x90E8;&#x5145;&#x6EFF;&#x6C23;&#x9AD4;</text>
                    <text class="st29 st30 st31" transform="matrix(.9782 .1369 -.00013 1 282.837 457.99)">&#x5371;&#x96AA;&#x7981;&#x6B62;&#x9032;&#x5165;</text>
                    <text class="st32 st30 st33" transform="translate(590.864 23.823)">&#x5674;&#x982D;</text>
                    <text class="st32 st30 st33" transform="translate(590.864 47.935)">GMP&#x578B;</text>
                    <text class="st32 st30 st33" transform="translate(2.126 203.552)">&#x5674;&#x982D;</text>
                    <text class="st32 st30 st33" transform="translate(2.126 227.663)">GMP&#x578B;</text>
                    <text class="st32 st30 st33" transform="translate(138.548 80.396)">&#x9632;&#x706B;&#x98A8;&#x9580;</text>
                    <text class="st32 st30 st33" transform="translate(152.648 104.508)">(PDF)</text>
                    <text class="st32 st30 st33" transform="translate(91.937 171.67)">&#x6D29;&#x58D3;&#x98A8;&#x9580;</text>
                    <text class="st32 st30 st33" transform="translate(103.43 247.98)">&#x96FB;&#x6C23;&#x5F0F;&#x92FC;&#x74F6;&#x95A5;&#x958B;&#x653E;&#x5668;</text>
                    <text class="st32 st30 st33" transform="translate(103.43 271.38)">&#x555F;&#x52D5;&#x7528;&#x6C23;&#x9AD4;&#x5BB9;&#x5668;</text>
                    <text class="st32 st30 st33" transform="translate(504.09 184.261)">&#x611F;&#x77E5;&#x5668;</text>
                    <text class="st32 st30 st33" transform="translate(351.806 287.885)">&#x611F;&#x77E5;&#x5668;</text>
                    <text class="st32 st30 st33" transform="translate(224.736 381.315)">&#x63A7;&#x5236;&#x88DD;&#x7F6E;</text>
                    <text class="st32 st30 st33" transform="translate(373.248 532.034)">&#x653E;&#x5C04;&#x8868;&#x793A;&#x71C8;</text>
                    <text class="st30 st33" transform="translate(489.883 291.832)" fill="#437986">&#x63DA;&#x8072;&#x5668;</text>
                    <text class="st32 st30 st33" transform="translate(697.922 200.854)">Gerbera</text>
                    <text class="st32 st30 st33" transform="translate(697.922 224.254)">(&#x526F;&#x6A5F;)</text>
                    <text class="st32 st30 st33" transform="translate(2.126 433.814)">Gerbera</text>
                    <text class="st32 st30 st33" transform="translate(2.126 456.502)">&#x6A5F;&#x6AC3;</text>
                    <text class="st32 st30 st33" transform="translate(703.447 332.403)">&#x6EC5;&#x706B;&#x5291;</text>
                    <text class="st32 st30 st33" transform="translate(703.447 355.803)">&#x92FC;&#x74F6;</text>
                    <text class="st32 st30 st33" transform="translate(483.287 450.625)">&#x6C23;&#x58D3;&#x5F0F;</text>
                    <text class="st32 st30 st33" transform="translate(483.287 474.025)">&#x92FC;&#x74F6;&#x95A5;&#x958B;&#x653E;&#x5668;</text>
                    <path class="st35" d="M616.5 55l17.9 84.9"></path>
                    <path class="st36" d="M632.5 139.1l2.9 5.9.4-6.6z"></path>
                    <path class="st35" d="M528.3 429.3l82.5-195.5"></path>
                    <path class="st36" d="M611.9 235.6l.9-6.5-4 5.1z"></path>
                    <path class="st35" d="M706.1 331.7l-71.4-11.3"></path>
                    <circle class="st36" cx="634.6" cy="320.4" r="1.5"></circle>
                    <path class="st35" d="M207.8 279.9l-31 138.6"></path>
                    <circle class="st36" cx="176.8" cy="418.4" r="1.5"></circle>
                    <path class="st35" d="M230.9 388.6l-63.4 176.9"></path>
                    <circle class="st36" cx="167.5" cy="565.5" r="1.5"></circle>
                    <text class="st32 st30 st33" transform="translate(124.686 711.669)">&#x6EC5;&#x706B;&#x5291;</text>
                    <text class="st32 st30 st33" transform="translate(124.686 735.069)">&#x92FC;&#x74F6;</text>
                    <path class="st35" d="M137.5 691.2l-13.6-62.4"></path>
                    <circle class="st36" cx="123.8" cy="628.8" r="1.5"></circle>
                    <path class="st35" d="M35 237.1L120.3 366"></path>
                    <path class="st36" d="M118.2 366l5 4.3-2.1-6.2z"></path>
                    <path class="st35" d="M402.4 509.6l-32.5-38"></path>
                    <path class="st36" d="M371.9 471.4l-5.4-3.7 2.8 5.9z"></path>
                    <text class="st32 st30 st33" transform="translate(248.94 712.782)">&#x624B;&#x52D5;</text>
                    <text class="st32 st30 st33" transform="translate(248.94 736.182)">&#x555F;&#x52D5;&#x88DD;&#x7F6E;</text>
                    <path class="st35" d="M265.6 692l-27.4-102.8"></path>
                    <path class="st36" d="M240.2 589.9l-3.3-5.7v6.6z"></path>
                    <text class="st32 st30 st33" transform="translate(2.124 692.596)">&#x6392;&#x6C23;</text>
                    <path class="st35" d="M54.8 671.2l-9.9-115.6"></path>
                    <path class="st36" d="M46.7 556.6l-2.2-6.2-1.2 6.5z"></path>
                    <path class="st5" d="M494.5 311.7h.5v3.6h-.5z"></path>
                    <path class="st5" d="M492.1 316.3h1.8l.5-.3.1-.3v-4.3l-.2-.4-.1-.1-.6-.2h-1.5zM491.2 310.4h.8v6.3h-.8zM459.9 292.3v-.5l-.3-.4-.3-.2h-.8l-.4.2-.2.4-.1.5.1.3.2.3.4.3.3.1.5-.1.3-.3.3-.3zM459.9 324.8v-.3l-.3-.4-.3-.2-.5-.1-.3.1-.4.2-.2.4-.1.3.1.5.2.2.4.2.3.1.5-.1.3-.2.3-.2z"></path>
                    <path class="st5" d="M457.8 292.3h2v32.6h-2zM459.9 323.8l5.5-2.1 6.1-1.7 6.1-1.1 5.9-.5v7.9h4.2V318l2.5-.3.6-.2.3-.4.1-.5v-6.2l.5-.6 2.9-.2.5-.2.4-.4.2-.5v-8.1l-.3-.4-.3-.5-.5-.1-1.8-.1-7.5-.4h-.6l-.9-.2-.1.2-.4-.4-6.1-.6-5.9-1-5.9-1.7-5.5-2.1z"></path>
                    <path class="st10" d="M459.9 293.1l5.6 2.1 5.8 1.7 5.9 1 6.1.6M483.6 318.4l-6.1.5-6 1.1-5.8 1.6-5.8 2.3M457.8 292.3v16.1M459.9 292.3v16.1M459.9 292.3l-.2-.6-.3-.4-.6-.1-.6.1-.3.5-.1.5M457.8 324.6l.1.6.3.4.6.1.6-.1.3-.3.2-.6M457.8 324.7v-16.3M459.9 324.7v-16.3M481.4 318.6l-.1.1M491.4 310.4v6.2M494.5 311.4l-.1-.4-.5-.2M492 316.5v-5.9M491.2 316.7v-8.2M490.2 317.7l-2.5.2M495 311.8v3.4M494.5 311.4v4.2M493.9 316.3H492M491.8 316.6h.2v-.1M490.2 317.7l.6-.2.3-.3.1-.5M491.2 316.6l.1.1.1-.1M491.8 316.6h-.4M493.9 316.3l.5-.3.1-.4M494.9 315.2h.1M494.9 315.2h-.4M495 311.8v-.1h-.1M485.3 298.9l7.4.3M485.3 298.9l-.2 6.3M483.8 298.7v7M484.9 299v6.2M483.7 305.8v-6.9M487.7 305.9l-1-.6-1.2-.1-1.1.1-.9.6M484.5 308.4l.1.6.5.3.4.3.6-.3.4-.3.1-.6"></path>
                    <path class="st10" d="M486.6 308.5l-.1-.5-.4-.5-.6-.1-.4.1-.5.5-.1.5M485.5 307.3l1.1.6M484.5 307.9l1-.6M484.5 309.1l1 .6M485.5 309.7l1.1-.6"></path>
                    <path class="st10" d="M485.1 308.4l.1.5.3.1.4-.1.2-.5"></path>
                    <path class="st10" d="M485 308.4l.1.5.4.2.5-.2.2-.5"></path>
                    <path class="st10" d="M486.2 308.5l-.2-.4-.5-.2-.4.2-.1.4"></path>
                    <path class="st10" d="M486.1 308.5l-.2-.4-.4-.1-.3.1-.1.4M484.5 308.4v.7M484.5 308.5v-.6M486.6 309.1v-.7M486.6 307.9v.6M483.7 298.9h.2M483.7 298.9l-.1-.3-.3-.1M485.3 299h-.4M484.7 298.9l.2.1M483.8 298.7h.8M484.7 298.9v-.2h-.1M495.7 300.4v8.1M494.6 309.6l-2.9.2M493.9 310.8H492M491.7 309.8l-.4.1-.1.5M491.4 310.4h-.2M492 310.6v-.1l-.2-.1M495.7 300.4l-.3-.4-.3-.5-.5-.1M494.6 299.4l-1.9-.1M483.5 326.3h4.2M483.5 326.3v-20.4M487.7 326.3v-20.4"></path>
                    <path class="st5" d="M565.5 142.1h-42.9l.6 5.3 2.8 1.8 1.1 1.8 4.9 1.7 2 7.5-1.8 1.2-1.7.2.7 1H557l.7-1-1.8-.2-1.8-1.2 1.8-7.4 5.2-1.9 1-1.7 2.7-1.8z"></path>
                    <path class="st15" d="M555.4 159.3v.8l-.1.1h-22.4l-.1-.1v-.8z"></path>
                    <path class="st10" d="M565.5 142.1h-42.9M535.5 160.2h17.2M535.4 159.3h17.3M523.2 147.4h41.6M536.6 161.4h15M531.4 162.5h25.4M544.1 148.7l.7.1M542 152.3h4.1M532 147h24.1M531.6 142.5h24.9M544.1 155.6h8.1M540.9 161.3h6.3M540.4 158.4h7.3M562.1 149.2l2.7-1.8M564.8 147.4l.7-5.3M556.2 151.2l-2.5 10.8M552.7 160.5l.6-8.5M554.1 160.2h1.2M555.9 161.4l-1.8-.9M557.7 161.6l-.1.2M557.6 161.8v.2M556.9 162.5h-.1M557.1 162.4l-.2.1M557.3 162.4h-.2M557.5 162.2l-.2.2M557.6 162l-.1.2M557.6 161.8v.2M555.9 161.4h1.8M557.7 161.4v.2M554.3 159.3h1.1M555.4 159.3v.8M555.3 160.1v.1M555.4 160.1h-.1M553 162.2v-.2M552.9 162.3l.1-.1M552.8 162.4l.1-.1M552.7 162.5l.1-.1M552.6 162.5h.1M552.4 162.5h.2M553.6 162.2l.1-.2M553.6 162.3v-.1M553.5 162.4l.1-.1M553.4 162.5l.1-.1M553.1 162.5h.3M553 162.5h.1M551.6 161.4l1.9-.9M550.7 161.4l2-.9M552.7 160.5h.8M553 154.7l-.8.7M547.7 158.4l.4-2.5M547 158.4l.5-2.5M547 161.3v.1M548.5 158.9l-.9-.5M548.5 159.3v-.4M547.2 160.2v1.1M548.5 155.6h.1M548.4 155.6h.1M548.3 155.6h.1M548.1 155.7l.2-.1M548.1 155.8v-.1M548.1 155.9v-.1M547.8 155.6h.1M547.7 155.6h.1M547.6 155.6h.1M547.5 155.7l.1-.1M547.5 155.8v-.1M547.5 155.9v-.1M562.1 149.2h-16.5M561.1 150.9h-14.9M554.1 151.6l.1-.1M558.9 151.5l1.2-.3M560.1 151.2l.9-.2M561.1 150.9l1-1.7M555.9 152.8l1-.4M557.9 151.9l1-.4M556.9 152.4l1-.5M555.4 151.2h.2M555.3 151.2h.1M555.2 151.2h.1M555.1 151.2h.1M555 151.3l.1-.1M554.8 151.3h.2M554.7 151.3h.1M554.6 151.3h.1M554.5 151.3h.1M554.4 151.5l.1-.2M554.3 151.5h.1M554.2 151.5h.1M555.6 151.2h.6M556.4 142.5l-.3 4.5M553.9 151.6h.2M553.8 151.7l.1-.1M553.7 151.7h.1M553.7 151.8v-.1M553.6 151.8h.1M553.5 151.8h.1M553.5 151.9v-.1M553.3 152l.2-.1M546.1 151v1.3M545.5 149.2l.6 1.8M544.8 148.8l.7.4M526 149.2l-2.8-1.8M531.9 151.2l2.6 10.8M535.5 160.5l-.7-8.5M532.9 160.2h1.1M532.2 161.4l2-.9M535.2 162.2l-.1-.2M535.2 162.3v-.1M535.3 162.4l-.1-.1M535.4 162.5l-.1-.1M535.6 162.5h-.2M535.7 162.5h-.1M534.5 162.2v-.2M534.6 162.3l-.1-.1M534.7 162.4l-.1-.1M534.8 162.5l-.1-.1M534.9 162.5h-.1M535.2 162.5h-.3M536.1 155.6h8M540.4 158.4l-.3-2.7M541.1 158.4l-.4-2.5M541.1 161.3v.1M539.6 159.3v-.4M539.6 158.9l1-.5M540.9 160.2v1.1M540 155.7h.1M540 155.6v.1M539.8 155.6h.2M540.4 155.6h-.1M540.5 155.6h-.1M540.6 155.6h-.1M540.6 155.7v-.1M540.7 155.8l-.1-.1M540.7 155.9v-.1M539.1 155.6h.2M539.1 155.7v-.1M539 155.7h.1M539 155.8v-.1M539 156v-.2M539 156v.1M535.7 158.2v-2M537.9 158.2v-2M536.6 161.4l-1.9-.9M537.3 161.4l-1.8-.9M536.6 159.1h-.3M536.9 159.2l-.3-.1M537.1 159.1l-.2.1M537.3 159.1h-.2M537.6 158.9l-.3.2M537.8 158.6l-.2.3M537.8 158.4v.2M537.9 158.2l-.1.2M535.5 160.5h-.8M535.9 158.4l-.2-.2M536 158.6l-.1-.2M536.1 158.9l-.1-.3M536.3 159.1l-.2-.2M535.2 156.2h3.7M538.9 156.1v.1M539 156.1h-.1M536.1 155.6l-1-.9M530.5 161.6v.2M531.2 162.5h.2M531 162.4l.2.1M530.9 162.4h.1M530.8 162.2l.1.2M530.6 162l.2.2M530.5 161.8l.1.2M530.5 161.4h1.7M532.8 159.3h1M532.8 160.2v-.1M532.9 160.2h-.1M532.8 159.3v.8M530.5 161.4v.2M526 149.2h16.7M527.1 151H542M534 151.6l-.1-.1M542 151v1.3M542.6 149.2l-.6 1.8M542.6 149.2l.8-.4M543.4 148.8l.7-.1M534.2 151.6h-.2M534.3 151.6h-.1M534.4 151.7l-.1-.1M534.5 151.8l-.1-.1M534.6 151.8h-.1M534.7 151.9l-.1-.1M534.8 152l-.1-.1M528.1 151.2l1.2.4M531.4 152.4l.8.4M532.8 151.2h-.3M532.9 151.2h-.1M533 151.2h-.1M533.1 151.3l-.1-.1M533.2 151.3h-.1M533.4 151.3h-.2M533.5 151.3h-.1M533.6 151.3h-.1M533.7 151.5l-.1-.2M533.8 151.5h-.1M533.9 151.5h-.1M532.5 151.2h-.6M530.3 151.9l1.1.5M529.3 151.6l1 .3M527.1 151l1 .2M526 149.2l1.1 1.8M531.6 142.5l.4 4.5M523.2 147.4l-.6-5.3"></path>
                    <path class="st5" d="M554.3 159.3l-.2.9h-1.4v-.9z"></path>
                    <path class="st10" d="M555.6 151.2L553 162"></path>
                    <path class="st5" d="M535.4 159.3l.1.9H534l-.2-.9z"></path>
                    <path class="st10" d="M532.5 151.2l2.6 10.8"></path>
                    <path class="st5" d="M407.4 242.8v10.4l-.3.5-4.7 1-4.9 2.3-1.6 5.5-.3.4-.4.4h-19l-.8-.5v-.9l-1.8-4.9-4.7-2.3-4.7-1-.4-.5v-10.4z"></path>
                    <path class="st38" d="M395 257v4.2l-.5 1.3h-5.9l-2.4-1.1V257zM385 257v4.4l-2.4 1.1h-5.8l-.6-1.3V257z"></path>
                    <path class="st10" d="M397.6 257h-24M407.4 242.8h-43.6M363.8 248.5h43.6M407.4 252.8h-43.6M395 263.3h-18.8M382.6 262.5h-6.2M397.6 257l4.6-2.3 4.9-1M407.4 242.8v10.4M407.4 253.2l-.1.4-.2.1M388.6 262.5l-2.4-1.1M397.5 257l-1.6 4.6M395 257v4.2M388.6 262.5h6.2M395.9 261.6l-.4.6-.7.3M395.9 261.5l-.9-.3M395.9 262.5l-.3.5-.6.3M395.9 261.8v.7M395 261.2l-.5 1.3M386.2 257v5M385 262v-5M382.6 262.5l2.4-1.1M386.2 262l-.3.3-.3.2-.3-.2-.3-.3M363.8 242.8v10.4M369.3 255.4h1.1M364.2 253.7l4.9 1 4.5 2.3M376.2 257v4.2M373.7 257l1.6 4.6M376.2 261.2l.6 1.3M375.3 261.5l.9-.3M376.4 262.5l-.7-.3-.4-.6M375.4 261.8v.7M376.2 263.3l-.6-.3-.2-.5M373.6 257h.2M369.9 255.4"></path>
                    <path class="st10" d="M371.4 256l-.6.4-.6-.2-.3-.8M369.6 255.4h-.3M369.2 255.3v-.4M369.3 255.4l-.1-.1M369 254.7l.1.1.1.1M364.2 253.7l-.3-.1-.1-.4"></path>
                    <path class="st27" d="M347.3 197v15.5M169.4 434.9v46.6"></path>
                    <path d="M496.9 308.5l31.8 5.1c-56 31.9-112 63.7-168 95.6-38.9-4.7-77.8-9.5-116.7-14.2-.1 47-.1 94.1-.2 141.1" fill="none" stroke="#e99a14" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="3,2,4"></path>
                    <path class="st27" d="M242.5 441.9c10.6 1.5 21.1 3 31.7 4.5"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-gray-57 mb-6 mb-lg-8">
            <h2>實績案例</h2>
            <p>
                行政院工程委員會、法務部、雲林縣政府、金門縣政府、台灣高等法院、國家圖書館、國家太空中心、調查局。
            </p>
            <p>
                台大癌醫中心、台大醫院、長庚醫院、振興醫院、彰化基督教醫院、門諾醫院、馬偕醫院、耕莘醫院。
            </p>
            <p>
                新光金控、台新金控、中信金控、日盛金控、元大金控、富邦證券、新光人壽、上海商銀、渣打銀行、玉山銀行。
            </p>
            <p>
                台灣大學、北科大、華碩電腦、神達公司、德國萊茵、星宇航空、國瑞汽車、萬能科大、東南科大、城市科大… 等等。
            </p>
        </div>
    </div>
    <div class="bg-lighter-gray py-4">
        <h4 class="mb-0">
            連絡電話<a href="tel:0800668850">
                <svg class="img-fluid" height="25" width="25">
                    <use stroke="#e50013" fill="none" xlink:href="~/Content/sks/img/sprite.svg#icon-footer-2"></use>
                </svg>0800-668-850
            </a>
        </h4>
    </div>
</section>
<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.SmartDisasterPrevention })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>