﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "智慧門管 您好的合作夥伴和安防守護者";
}
@section head{
    <meta property="og:title" content="智慧門管 | 新光保全" />
    <meta property="og:description" content="建置專屬的智慧家庭，透過無線技術及行動APP，輕鬆轉動安全，舒適且便捷的居家生活。" />
    <title>智慧門管 | 新光保全</title>
    <meta name="description" content="建置專屬的智慧家庭，透過無線技術及行動APP，輕鬆轉動安全，舒適且便捷的居家生活。" />
    <link rel="canonical" href="@url" />
}

<section class="text-white h5 font-bold text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
            <li data-target="#main-banner" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/access-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 bg-x-40 d-none d-lg-flex" style="background-image:url(/Content/sks/img/B3-BN-01.jpg);">
                    <div class="col-lg-6 col-xl-4 offset-lg-6">
                        <h2 class="h1">智慧門管</h2>
                        <h3>企業人士管理 輕鬆方便的好助手</h3>
                        <p>員工差勤、訪客進出</p>
                        <p>從內到外 安全管理好安心</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75" style="background-image:url(/Content/sks/img/B3-BN-02.jpg);">
                    <div class="col-lg-6 col-xl-4 offset-lg-6">
                        <h2 class="h1">智慧門管</h2>
                        <h3>社區住宅 門禁管理好幫手</h3>
                        <p>社區住戶管理，停車場進出</p>
                        <p>享受安心  安全生活每一天</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray h6 text-center">
        <h2 class="text-gray-57 mb-4">服務優勢</h2>
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>租賃式服務</title>
                    <desc>免買斷系統不斷更新升級</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-01"></use>
                </svg>
                <h3>租賃式服務</h3>
                <p>免買斷</p>
                <p>系統不斷更新升級</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>24H客服</title>
                    <desc>全年無休解決大小事</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-64"></use>
                </svg>
                <h3>24H客服</h3>
                <p>全年無休</p>
                <p>解決大小事</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>安全管制</title>
                    <desc>提高門禁安全強化安全防護</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-03"></use>
                </svg>
                <h3>安全管制</h3>
                <p>提高門禁安全</p>
                <p>強化安全防護</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>客製化服務</title>
                    <desc>彈性調整選項快速簡單設定</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-04"></use>
                </svg>
                <h3>客製化服務</h3>
                <p>彈性調整選項</p>
                <p>快速簡單設定</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>自有軟體</title>
                    <desc>可因應政策改變做調整</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-05"></use>
                </svg>
                <h3>自有軟體</h3>
                <p>可因應政策改變做調整</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>彈性整合</title>
                    <desc>市售軟硬體皆可彈性整合</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-06"></use>
                </svg>
                <h3>彈性整合</h3>
                <p>市售軟硬體皆可彈性整合</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee all-icon-80 text-paragraph-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 bg-cover vh-50" style="background-image:url(/Content/sks/img/b3-product.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5 z-top text-vertical-center py-4">
                <h2>多樣化辨識方式</h2>
                <div class="row justify-center justify-xl-between text-center">
                    <div class="col-4 col-xl-2">
                        <svg class="img-fluid">
                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-07"></use>
                        </svg>
                        <h4 class="font-bold">卡片式</h4>
                    </div>
                    <div class="col-4 col-xl-2">
                        <svg class="img-fluid">
                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-08"></use>
                        </svg>
                        <h4 class="font-bold">悠遊卡</h4>
                    </div>
                    <div class="col-4 col-xl-2">
                        <svg class="img-fluid">
                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-09"></use>
                        </svg>
                        <h4 class="font-bold">人臉</h4>
                    </div>
                    <div class="col-4 col-xl-2">
                        <svg class="img-fluid">
                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-10"></use>
                        </svg>
                        <h4 class="font-bold">指紋</h4>
                    </div>
                    <div class="col-4 col-xl-2">
                        <svg class="img-fluid">
                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-11"></use>
                        </svg>
                        <h4 class="font-bold">指靜脈</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray text-center py-4 border-bottom-d9">
        <h2 class="font-normal mb-4">軟體功能</h2>
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>依勞基法修訂</title>
                    <desc>勞檢安心</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-12"></use>
                </svg>
                <h3>依勞基法修訂</h3>
                <p>勞檢安心</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>符合各項需求</title>
                    <desc>不論國定假日、班表排列、跨日上班、加班方式，皆方便於管理</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-13"></use>
                </svg>
                <h3>符合各項需求</h3>
                <p>不論國定假日、班表排列、跨日上班、加班方式，皆方便於管理</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>web化</title>
                    <desc>線上請假與簽核取代紙本更方便</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-14"></use>
                </svg>
                <h3>web化</h3>
                <p>線上請假與簽核</p>
                <p>取代紙本更方便</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>分層簽核管理</title>
                    <desc>依照職位提供不同權限</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-15"></use>
                </svg>
                <h3>分層簽核管理</h3>
                <p>依照職位</p>
                <p>提供不同權限</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>差勤薪資自動化</title>
                    <desc>整合 HR/ERP 系統流程更簡便</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-16"></use>
                </svg>
                <h3>差勤薪資自動化</h3>
                <p>整合 HR/ERP 系統</p>
                <p>流程更簡便</p>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Access })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>