﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "智能旅館 櫃台代管";
}

@section head{
    <title>新光保全-智能旅館 櫃台代管</title>
    <meta name="description" content="以旅客為中心導入智能科技，更智慧、舒適的智能旅館解決方案，結合新光保全24小時管制中心，防災、防盜、即時連動安心保障" />
    <meta name="twitter:title" content="新光保全-智能旅館 櫃台代管" />
    <meta name="twitter:description" content="以旅客為中心導入智能科技，更智慧、舒適的智能旅館解決方案，結合新光保全24小時管制中心，防災、防盜、即時連動安心保障" />
    <meta property="og:title" content="新光保全-智能旅館 櫃台代管" />
    <meta property="og:description" content="以旅客為中心導入智能科技，更智慧、舒適的智能旅館解決方案，結合新光保全24小時管制中心，防災、防盜、即時連動安心保障" />
    <link rel="canonical" href="@url" />
}

<section class="h5 font-bold text-center text-lg-left">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active leading-tight" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/hotel-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/hotel-banner.jpg);">
                    <div class="container">
                        <div class="col-lg-6">
                            <img class="img-fluid" src="~/Content/sks/img/aih-logo.png" alt="SONAS" />
                            <h2 class="h1 leading-tight">智能旅館&nbsp;<span class="d-block d-xl-inline">櫃台代管</span></h2>
                            <p class="mb-1">我們與旅館所賣的商品一樣，那就是服務!</p>
                            <p class="mb-1">櫃台代管並非取代!</p>
                            <p class="mb-1">而是增加效能，讓旅館更拉近與旅客服務的深度。</p>
                            <p>結合新光保全派遣維護，防災、即時連動安心保障</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-white h5 bg-aihotel">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 vh-50 bg-cover" style="background-image:url(/Content/sks/img/hotel-revervation.jpg);"></div>
            <div class="col-sm-6 py-4 text-vertical-center">
                <h2>直覺式操作系統</h2>
                <p class="mb-0">從訂房、入住、退房　旅客自助式操作</p>
                <p>擁有絕對的隱私、降低等待時間、保持社交距離</p>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray h6 text-center border-bottom-light-gray py-6 py-lg-8">
        <h2 class="text-gray-57 mb-4">一站式解決方案，輕鬆解決</h2>
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>智能櫃檯</title>
                    <desc>自助式ckeck in/out旅客隱私有保障</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-1"></use>
                </svg>
                <h3>智能櫃檯</h3>
                <p>自助式ckeck in/out</p>
                <p>旅客隱私有保障</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>後台管理</title>
                    <desc>PMS管理系統串連350個國際OTAs</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-2"></use>
                </svg>
                <h3>後台管理</h3>
                <p>PMS管理系統</p>
                <p>串連350個國際OTAs</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>降低成本</title>
                    <desc>善用科技減少工時有效降低檯櫃70%人力成本</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-3"></use>
                </svg>
                <h3>降低成本</h3>
                <p>善用科技減少工時</p>
                <p>有效降低檯櫃70%人力成本</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>科技轉型</title>
                    <desc>導入數位科技2-4週輕鬆轉型</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-4"></use>
                </svg>
                <h3>科技轉型</h3>
                <p>導入數位科技</p>
                <p>2-4週輕鬆轉型</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>線上訂房</title>
                    <desc>支援各大訂房網站快速便捷自助入住</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-5"></use>
                </svg>
                <h3>線上訂房</h3>
                <p>支援各大訂房網站</p>
                <p>快速便捷自助入住</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>安全服務</title>
                    <desc>7x24 全年無休即時安全控管</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-aih-6"></use>
                </svg>
                <h3>安全服務</h3>
                <p>7x24 全年無休</p>
                <p>即時安全控管</p>
            </div>
        </div>
    </div>
    <div class="container h6 border-bottom-light-gray py-6 py-lg-8">
        <h2 class="text-gray-57 text-center mb-4">產品服務</h2>
        <div class="row items-center flex-row-reverse">
            <div class="col-md-6 col-lg-5 col-xl-6 py-4 py-md-6 py-lg-8"><img class="img-fluid" src="~/Content/sks/img/ser1.jpg" alt="智動接待櫃檯" /></div>
            <div class="col-md-6 col-lg-7 col-xl-5 py-4 py-md-6 py-lg-8">
                <h2 class="text-gray-57-b">智動接待櫃檯</h2>
                <ul class="list-style-circle">
                    <li>人臉辨識與人證核實</li>
                    <li>支援現金、信用卡付款</li>
                    <li>語音對講功能，人員即時回應</li>
                    <li>入住、退房全自動，保護客人隱私</li>
                    <li>多國語言介面，更國際化的旅客服務</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 py-4 py-md-6 py-lg-8"><img class="img-fluid" src="~/Content/sks/img/ser2.jpg" alt="旅館管理系統" /></div>
            <div class="col-md-6 col-lg-7 col-xl-5 py-4 py-md-6 py-lg-8">
                <h2 class="text-gray-57-b">旅館管理系統</h2>
                <ul class="list-style-circle">
                    <li>PMS飯店管理系統</li>
                    <li>門管系統導入整合</li>
                    <li>提供電子發票加值中心</li>
                    <li>支援APP及網頁訂房</li>
                    <li>線上整合OTA</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 py-4 py-md-6 py-lg-8"><img class="img-fluid" src="~/Content/sks/img/ser3.jpg" alt="科技保全守護" /></div>
            <div class="col-md-6 col-lg-7 col-xl-5 py-4 py-md-6 py-lg-8">
                <h2 class="text-gray-57-b">科技保全守護</h2>
                <ul class="list-style-circle">
                    <li>24小時保全管制中心</li>
                    <li>裝置緊急求救系統對外求援</li>
                    <li>公共區域防護火災、水災、其它危險防護</li>
                    <li>瓦斯偵漏、淹水偵測、警報連線現場監控</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 py-4 py-md-6 py-lg-8"><img class="img-fluid" src="~/Content/sks/img/ser4.jpg" alt="24小時雲端服務中心" /></div>
            <div class="col-md-6 col-lg-7 col-xl-5 py-4 py-md-6 py-lg-8">
                <h2 class="text-gray-57-b">24小時雲端服務中心</h2>
                <ul class="list-style-circle">
                    <li>協助遠端連線機台操作</li>
                    <li>客戶IG/FB/MAIL/官網Q&amp;A</li>
                    <li>客訴問題排解</li>
                    <li>支援訂單處理(訂房、修改、取消等)</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.AIHotel })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>