﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "GPS即時車隊管理系統";
}
@section head{
    <title>新光保全-GPS即時車隊管理系統</title>
    <meta name="description" content="提供客戶24小時掌握車輛即時資訊，衛星定位、掌握司機配送、貨物情況、路線變動，即時線上追蹤，有效管理車輛位置、車輛派遣/出勤。"/>
    <meta name="twitter:title" content="新光保全-GPS即時車隊管理系統"/>
    <meta name="twitter:description" content="提供客戶24小時掌握車輛即時資訊，衛星定位、掌握司機配送、貨物情況、路線變動，即時線上追蹤，有效管理車輛位置、車輛派遣/出勤。"/>
    <meta property="og:title" content="新光保全-GPS即時車隊管理系統"/>
    <meta property="og:description" content="提供客戶24小時掌握車輛即時資訊，衛星定位、掌握司機配送、貨物情況、路線變動，即時線上追蹤，有效管理車輛位置、車輛派遣/出勤。"/>
    <link rel="canonical" href="@url" />
    <style>
        .st4 {
            stroke-dasharray: 2,3
        }

        .st4, .st5 {
            fill: none;
            stroke: #888;
            stroke-width: 2;
            stroke-miterlimit: 10
        }

        .st17 {
            fill: #002f87
        }

        .st18, .st19 {
            fill: none;
            stroke: #002f87;
            stroke-width: 3;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st19 {
            stroke: #555
        }

        .st45 {
            font-size: 24px
        }

        .st47 {
            font-size: 18px
        }

        .st48 {
            letter-spacing: 1
        }

        .st49, .st50 {
            fill: none;
            stroke: #888;
            stroke-width: 3;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st50 {
            fill: #f5f5f5;
            stroke: #555
        }

        .st0, .st1, .st2 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st1, .st2 {
            fill: #fff
        }

        .st2 {
            stroke: #ffc629
        }

        .st2-0, .st2-2 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st2-2 {
            stroke: #fed424
        }

        .st2-3 {
            fill: #555
        }

        .st2-4 {
            fill: none;
            stroke: #555;
            stroke-width: 2;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st3-0, .st3-1, .st3-2, .st3-4 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-linejoin: round;
            stroke-miterlimit: 10
        }

        .st3-1, .st3-2, .st3-4 {
            fill: #fff;
            stroke: #fed424
        }

        .st3-2, .st3-4 {
            fill: none
        }

        .st3-4 {
            stroke: #c90e2d
        }
    </style>
}

<section class="text-white h5 font-bold text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/gps-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/B7-BN.jpg);">
                    <h2 class="h1">GPS車隊管理系統</h2>
                    <p>GPS衛星定位防盜</p>
                    <p>防搶守護星介紹</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray text-center">
        <h2 class="text-gray-57">車隊管理</h2>
        <h2 class="mb-lg-4">即時、線上追蹤</h2>
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 col-md-4">
                <svg class="img-fluid mb-3" height="100">
                    <title>防盜功能</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B3-01"></use>
                </svg>
                <h3>防盜功能</h3>
            </div>
            <div class="col-6 col-md-4">
                <svg class="img-fluid mb-3" height="100">
                    <title>緊急求救功能</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-02"></use>
                </svg>
                <h3>緊急求救功能</h3>
            </div>
            <div class="col-6 col-md-4">
                <svg class="img-fluid mb-3" height="100">
                    <title>車隊管理</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-03"></use>
                </svg>
                <h3>車隊管理</h3>
            </div>
            <div class="col-6 col-md-4">
                <svg class="img-fluid mb-3" height="100">
                    <title>車輛定位</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-04"></use>
                </svg>
                <h3>車輛定位</h3>
            </div>
            <div class="col-6 col-md-4">
                <svg class="img-fluid mb-3" height="100">
                    <title>通話功能</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-05"></use>
                </svg>
                <h3>通話功能</h3>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee py-6 py-lg-8">
    <div class="container text-center">
        <h2 class="text-gray-57">服務流程</h2>
        <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 300">
        <text class="st45" transform="translate(98.945 238.411)">緊急按鈕</text>
        <text class="st47 st48" transform="translate(107.345 268.914)">車輛異常</text>
        <text class="st45" transform="translate(1082.323 238.596)">保全機動隊</text>
        <path class="st49" d="M99.4 172.7h-9.7v-11c0-4.5 2.9-8.5 7.2-9.9 2-.6 3.7-1.8 5-3.5 2-2.6 4.5-4.6 7-6l1.6-1M131.2 138.5s-5.2-.2-7.3-.2h-1.2M163.3 172.7h13.5l.1-8.7s1.6-11.8-17.6-13c-2-.1-4-1-5.4-2.4-3.1-3-9.9-8-21.7-9.7M114.1 172.7h37.7"></path>
        <circle class="st49" cx="157.7" cy="172.7" r="6.1"></circle>
        <path class="st50" d="M114.9 158.1c-5.3 0-9.5-4.3-9.5-9.5v-5.4c0-5.3 4.3-9.5 9.5-9.5 5.3 0 9.5 4.3 9.5 9.5v5.4c0 5.2-4.3 9.5-9.5 9.5zM132.2 128.1c.1-1 .9-1.7 1.9-1.5l3 .3c1 .1 1.6 1 1.5 1.9l-6.1 47.5-3.9-.5 3.6-47.7z"></path>
        <path class="st50" d="M93.3 181.5c0-13.7 9.7-18.7 21.6-18.7s21.6 5 21.6 18.7"></path>
        <path class="st18" d="M181.5 91.4v-9.3M164 94.7l-6.6-6.6M199 94.7l6.6-6.6"></path>
        <circle class="st18" cx="181.6" cy="130.5" r="3.1"></circle>
        <path class="st18" d="M181.6 124.4c-1.4 0-2.6-1.2-2.6-2.6v-9.9c0-1.4 1.2-2.6 2.6-2.6 1.4 0 2.6 1.2 2.6 2.6v9.9c0 1.4-1.2 2.6-2.6 2.6z"></path>
        <path class="st18" d="M181.6 133.6h-14.4c-1 0-1.9-.8-1.9-1.9v-19.6c0-7.3 5.9-13.3 13.3-13.3h5.2c7.7 0 14.1 6.3 14.1 14.1v20.8h.6c2.1 0 3.9 1.7 3.9 3.9v2.4h-41.6v-2.4c0-2.1 1.7-3.9 3.9-3.9h5.2"></path>
        <path class="st18" d="M623.6 163.4h-3.2c-2.3 0-4.1-1.8-4.1-4.1v-10.5c0-2.3 1.8-4.1 4.1-4.1h3.2v18.7zM686.8 144.7h3.2c2.3 0 4.1 1.8 4.1 4.1v10.5c0 2.3-1.8 4.1-4.1 4.1h-3.2v-18.7z"></path>
        <path class="st19" d="M623.7 165.4v-27.6c0-17.4 14.1-31.5 31.5-31.5s31.5 14.1 31.5 31.5v32.8c0 1.2-1 2.2-2.2 2.2h-23"></path>
        <path d="M670 169.8h-8.9c-1.8 0-3.2 1.4-3.2 3.2h0c0 1.8 1.4 3.2 3.2 3.2h8.9c1.8 0 3.2-1.4 3.2-3.2h0c0-1.8-1.5-3.2-3.2-3.2z" fill="#fff" stroke="#002f87" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10"></path>
        <path class="st19" d="M1122.8 128.7v9.3s2.5 14.9 16.5 14.5c14 .4 16.5-14.5 16.5-14.5v-7.3M1176.8 178.7v-12.4l-26.3-14.4-9.6 9.9 8 11.1 15.1-13M1104.8 178.7v-12.4l26.1-14.4 9.5 9.9-8.1 11.1-14.9-13"></path>
        <path class="st18" d="M1139.8 105.4l21.7 7.3-5.6 9.7H1123.1l-5.6-9.7 21.7-7.3zM1139.7 132.4c3 0 14.6-.9 21.2-4.9l-4.9-5.1H1123.2l-5.1 5.1c6.6 4.1 18.1 4.9 21 4.9h.6z"></path>
        <circle class="st18" cx="1139.5" cy="113.6" r="3.5"></circle>
        <path class="st4" d="M732.5 141.2h333.9"></path>
        <path class="st5" d="M1066.4 147.2l6.2-6-6.2-5.9"></path>
        <circle class="st17" cx="729.6" cy="141.2" r="3.2"></circle>
        <path class="st4" d="M243.9 141.2h333.9"></path>
        <path class="st5" d="M577.8 147.2l6.2-6-6.2-5.9"></path>
        <circle class="st17" cx="241.1" cy="141.2" r="3.2"></circle>
        <text class="st45" transform="translate(607.192 238.596)">管制中心</text>
        <text class="st47 st48" transform="translate(615.592 268.73)">電詢客戶</text>
        <path class="st5" d="M141.2 69.4v-1"></path>
        <path fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="1.9286,2.8929" d="M141.2 65.5V42.8"></path>
        <path class="st5" d="M141.2 41.4v-1h1"></path>
        <path fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="1.9994,2.999" d="M145.2 40.4h993.2"></path>
        <path class="st5" d="M1139.9 40.4h1v1"></path>
        <path fill="none" stroke="#888" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="2.0606,3.0909" d="M1140.9 44.5v29.3"></path>
        <path class="st5" d="M1140.9 75.4v1"></path>
        <path class="st4" d="M135.3 63.9l6.2 5.9 6.2-5.9"></path>
        <circle class="st17" cx="1140.8" cy="78.2" r="3.2"></circle>
        </svg>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container border-bottom-light-gray py-6 py-lg-8">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid mb-2" src="~/Content/sks/img/B7-bn2-1.jpg" alt="車輛防盜" />
                <h3>車輛防盜</h3>
                <p>當車輛遭破壞侵入時，立即觸動車輛警報，經由電信網路傳送至客服中心，客服中心立即通報車主，如需派遣即指揮外面巡邏機動保全車進行追蹤，同時配合警網聯合攔截。</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-2" src="~/Content/sks/img/B7-bn2-2.jpg" alt="緊急救援" />
                <h3>緊急救援</h3>
                <p>當車主遇緊急狀況按下緊急求救按鈕，客服中心立即通報緊急連絡人，並監聽車內狀況，如確認緊急狀況立即派遣保全車輛及報警支援處理。</p>
            </div>
            <div class="row divider border-sm-3n-none text-paragraph-gray text-center">
                <div class="col-6 col-md-3 mb-4 mb-md-8">
                    <svg class="img-fluid mb-3" height="100">
                        <title>安全</title>
                        <desc>以人、車安全為訴求。</desc>
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-06"></use>
                    </svg>
                    <h3 class="mb-2">安全</h3>
                    <p>以人、車安全為訴求。</p>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-8">
                    <svg class="img-fluid mb-3" height="100">
                        <title>管理</title>
                        <desc>企業車隊管理，提昇效能。</desc>
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-07"></use>
                    </svg>
                    <h3 class="mb-2">管理</h3>
                    <p>企業車隊管理，提昇效能。</p>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-8">
                    <svg class="img-fluid mb-3" height="100">
                        <title>派遣</title>
                        <desc>機動保全車輛派遣追蹤</desc>
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-08"></use>
                    </svg>
                    <h3 class="mb-2">派遣</h3>
                    <p>機動保全車輛派遣追蹤</p>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-8">
                    <svg class="img-fluid mb-3" height="100">
                        <title>服務</title>
                        <desc>24小時客服服務中心，提供監控、通報、資詢服務。</desc>
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B7-09"></use>
                    </svg>
                    <h3 class="mb-2">服務</h3>
                    <p>24小時客服服務中心，提供監控、通報、資詢服務。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container border-bottom-light-gray py-6 py-lg-8 mb-6">
        <h2 class="text-gray-57 text-center mb-4">車隊管理</h2>
        <div class="row justify-around">
            <div class="col-sm-5">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" >
                <path class="st0" d="M5.1 86.9h389.3v263.3H5.1zM5.1 206.2l52.7-52.8M5.1 295.3L213.6 86.7M5.1 334.7l71.2-71.2M91.5 350.1L354.3 87.4"></path>
                <path class="st0" d="M185.7 350.1l122.1-122 87.1 87.1M5.1 103.2l96 96M188.5 111.9l70.6 70.6M344.9 350.1l-79.6-79.5M57.8 242.5l70.7 70.7"></path>
                <g transform="translate(-50,-304)">
                <path class="st1" d="M31.8 329.4h15.1v12.8H31.8zM138.7 329.4h15.8v12.8h-15.8zM108.4 252H77.3l1.2-10.2h28.7zM52.4 253.2h81.8l9.9 27 10.4 12.4v36.8H31.8v-36.8l12.3-13.2z"></path>
                <path class="st1" d="M52.4 253.2h81.8l9.9 27 10.4 12.4v36.8H31.8v-36.8l12.3-13.2z"></path>
                <path class="st1" d="M52.4 253.2h81.8l9.9 27 10.4 12.4v36.8H31.8v-36.8l12.3-13.2 8.3-26.2z"></path>
                <path class="st0" d="M44.1 279.4l100 .8"></path>
                <path class="st1" d="M67.5 316h57.4v4.7H67.5z"></path>
                <circle class="st1" cx="48.7" cy="296.9" r="6.3">
                <animate attributeName="fill" values="#fff;#ffc629;#fff;#fff;#ffc629;#fff" keyTimes="0;.1;.2;.5;.9 ;1" dur="5" repeatCount="indefinite"></animate>
                </circle>
                <circle class="st1" cx="131.6" cy="296.9" r="6.3">
                <animate attributeName="fill" values="#fff;#ffc629;#fff;#fff;#ffc629;#fff" keyTimes="0;.1;.2;.5;.9 ;1" dur="5" repeatCount="indefinite"></animate>
                </circle>
                <path class="st1" d="M114.4 303.7H67l-2.4-8.7h52.2z"></path>
                <animateMotion dur="5s" path="M50.4 267.4h208l-25-87-169-3z" repeatCount="indefinite"></animateMotion>
              </g>
                <path class="st2" d="M289.1 80.1v-1c-.3-16-13.4-29-29.4-29.2-16.7-.2-30.3 13.2-30.3 29.8v1c.2 6.8 3 13.2 7.6 18.3l22.3 24.6 8.8-9.8 5.9-6.6 7.5-8.2c4.7-5.2 7.5-11.9 7.6-18.9z"></path>
                <circle class="st2" transform="rotate(-76.714 259.121 79.65)" cx="259.1" cy="79.7" r="12.2"></circle>
            </svg>
            </div>
            <div class="col-sm-7 col-lg-5 col-xl-4 text-vertical-center">
                <h2 class="text-gray-57-b">掌握車輛動態</h2>
                <ul class="list-style-circle">
                    <li>行駛軌跡查詢</li>
                    <li>行駛、超速、停留等記錄查詢</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                <circle class="st2-0" cx="66.3" cy="305.7" r="24.5"></circle>
                <circle class="st2-0" cx="198.2" cy="305.7" r="24.5"></circle>
                <path class="st2-0" d="M43.2 298.9H20v-87.1l37.5-37.2h49.6v-25.5h148.7v149.8h-32.5M174.5 298.9H92.9M107.1 174.6l-.3 125.7"></path>
                <path class="st2-0" d="M92 243.2H40.9v-26.5L58.3 199H92z"></path>
                <path d="M263.2 199.3V120c0-6.2-5.1-11.3-11.3-11.3h0c-6.2 0-11.3 5.1-11.3 11.3v79.4c-9.6 4.5-16 14.7-15.1 26.3 1.1 12.9 11.6 23.2 24.5 24.1 15.5 1.1 28.4-11.2 28.4-26.4-.1-10.7-6.3-19.8-15.2-24.1z" fill="#fff" stroke="#555" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10"></path>
                <g class="st2-2">
                <circle cx="251.7" cy="223.2" r="14.4"></circle>
                <line x1="251.7" y1="126.3" x2="251.7" y2="209">
                <animate attributeName="y1" values="135;156.3" keyTimes="0;1" dur="5" repeatCount="indefinite"></animate>
                </line>
                <animate attributeName="stroke" values="#fed424;#002f87;#fed424" keyTimes="0;0.5;1" dur="5" repeatCount="indefinite"></animate>
              </g>
                <line class="st0" x1="275.4" y1="130.1" y2="130.1" x2="329">
                <animate attributeName="x2" from="329" to="320" dur="1" repeatCount="indefinite"></animate>
              </line>
                <line class="st0" x1="275.4" y1="148.3" y2="148.3" x2="315">
                <animate attributeName="x2" from="315" to="320" dur="1" begin="0.5" repeatCount="indefinite"></animate>
              </line>
                <line class="st0" x1="275.4" y1="166.4" y2="166.4" x2="329">
                <animate attributeName="x2" from="329" to="320" dur="1" begin="0.5" repeatCount="indefinite"></animate>
              </line>
                <line class="st0" x1="275.4" y1="184.6" x2="315" y2="184.6">
                <animate attributeName="x2" from="315" to="320" dur="1" repeatCount="indefinite"></animate>
              </line>
                <path class="st2-3" d="M234.9 70.7h7.8V98h-5.2V75.6h-5.6l3-4.9zM256.6 79.5h-5.1c.1-2.9 1.1-5.3 2.8-6.9 1.7-1.7 3.9-2.5 6.6-2.5 1.7 0 3.1.3 4.4 1s2.3 1.7 3 3c.8 1.3 1.1 2.7 1.1 4 0 1.6-.5 3.4-1.4 5.2-.9 1.9-2.6 4.1-5.1 6.6l-3.1 3.2h9.7v4.8h-18.9v-2.5l8.4-8.6c2-2.1 3.4-3.7 4.1-5s1-2.4 1-3.4c0-1.1-.3-1.9-1-2.6-.7-.7-1.6-1-2.7-1s-2 .4-2.8 1.2c-.6.9-1 2-1 3.5zM273.1 87.5v-5.9c1.9-.9 3.4-1.4 4.6-1.4.8 0 1.7.1 2.6.4.9.3 2.2.8 3.8 1.5 1 .5 1.7.8 2 .9.4.1.9.2 1.3.2 1.4 0 3-.7 4.8-2.1v6c-1.6.9-3.1 1.3-4.6 1.3-.8 0-1.6-.1-2.5-.3-.9-.2-2.2-.7-4-1.6-1.2-.5-2-.8-2.4-.9-.4-.1-.8-.2-1.2-.2-.6 0-1.2.1-1.9.4-.6.3-1.4.9-2.5 1.7zM300.3 70.7h7.8V98h-5.2V75.6h-5.6l3-4.9zM326.3 70l4.4 2.2-4.8 9.3c2.3 0 4.3.8 5.9 2.5 1.6 1.7 2.4 3.7 2.4 6.2 0 2.4-.8 4.4-2.5 6-1.7 1.7-3.7 2.5-6 2.5-2.5 0-4.5-.9-6.2-2.6-1.6-1.7-2.5-3.7-2.5-5.9 0-.8.1-1.7.4-2.5.3-.9.8-2.2 1.8-3.9l7.1-13.8zm-.6 16.4c-1 0-1.8.3-2.4 1-.7.7-1 1.6-1 2.6 0 1.1.3 1.9 1 2.7.7.7 1.5 1.1 2.4 1.1 1 0 1.8-.4 2.5-1.1s1-1.6 1-2.7-.3-1.9-1-2.6c-.6-.7-1.5-1-2.5-1zM350.6 76.4c0 1.8-.6 3.3-1.9 4.5s-2.8 1.8-4.6 1.8c-1.8 0-3.3-.6-4.5-1.9a6.42 6.42 0 01-1.9-4.6c0-1.7.6-3.2 1.9-4.5 1.3-1.2 2.8-1.9 4.5-1.9 1.8 0 3.3.6 4.5 1.9 1.4 1.4 2 2.9 2 4.7zm-2.2 0c0-1.2-.4-2.3-1.2-3.1-.8-.8-1.8-1.2-2.9-1.2-1.2 0-2.2.4-3 1.3-.8.8-1.2 1.9-1.2 3 0 1.2.4 2.2 1.3 3 .8.9 1.8 1.3 3 1.3 1.1 0 2.1-.4 2.9-1.3s1.1-1.8 1.1-3zM380 75.5l-3.6 3.5c-2.5-2.6-5.3-3.9-8.3-3.9-2.6 0-4.8.9-6.6 2.7s-2.7 4-2.7 6.6c0 1.8.4 3.4 1.2 4.8.8 1.4 1.9 2.5 3.4 3.3s3.1 1.2 4.8 1.2c1.5 0 2.9-.3 4.1-.8s2.6-1.6 4.1-3.1l3.5 3.7c-2 2-3.9 3.3-5.7 4.1-1.8.8-3.8 1.1-6.1 1.1-4.2 0-7.7-1.3-10.4-4s-4.1-6.1-4.1-10.3c0-2.7.6-5.1 1.8-7.3 1.2-2.1 3-3.8 5.3-5.1s4.8-1.9 7.4-1.9c2.3 0 4.4.5 6.5 1.4 2.1.9 3.9 2.2 5.4 4z"></path>
                <g>
                <path class="st2-4" d="M66.3 286.3v10M85.6 305.7h-10M66.6 315v10M56.9 305.7h-10"></path>
                <animateTransform attributeName="transform" type="rotate" from="720,66.3,305.7" to="0,66.3,305.7" dur="1" repeatCount="indefinite"></animateTransform>
              </g>
                <g>
                <path class="st2-4" d="M198.2 286.3v10M217.5 305.7h-10M198.5 315v10M188.8 305.7h-10"></path>
                <animateTransform attributeName="transform" type="rotate" from="720,198.2,305.7" to="0,198.2,305.7" dur="1" repeatCount="indefinite"></animateTransform>
              </g>
            </svg>
            </div>
            <div class="col-sm-7 col-lg-5 col-xl-4 text-vertical-center">
                <h2 class="text-gray-57-b">冷藏車溫度控管</h2>
            </div>
            <div class="col-sm-5">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                <path class="st3-0" d="M190 174.9V204M81.4 226.1l51.2-51.2M306.9 226.1l-51.1-51.2M24.5 239.5V236c0-9.4 8.3-17 18.5-17h1.2c9.6 0 17.3 7.8 17.3 17.3v12.8c0 9.4-8.3 17-18.5 17s-18.5-7.6-18.5-17v-13.2M80.6 307.3v-10.9c0-16.6-12.4-30.1-29-30.1H34.5c-16.6 0-29 13.5-29 30.1v10.9h75.1zM43 268.1v39.2"></path>
                <path class="st3-0" d="M20.5 268.1L32.9 279l8.5-10.9M64 268.1L51.6 279 43 268.1M171.5 239.5V236c0-9.4 8.3-17 18.5-17h1.2c9.6 0 17.3 7.8 17.3 17.3v12.8c0 9.4-8.3 17-18.5 17s-18.5-7.6-18.5-17v-13.2M227.6 307.3v-10.9c0-16.6-12.4-30.1-29-30.1h-17.1c-16.6 0-29 13.5-29 30.1v10.9h75.1zM190 268.1v39.2"></path>
                <path class="st3-0" d="M167.5 268.1l12.3 10.9 8.6-10.9M210.9 268.1L198.5 279l-8.5-10.9M319.8 239.5V236c0-9.4 8.3-17 18.5-17h1.2c9.6 0 17.3 7.8 17.3 17.3v12.8c0 9.4-8.3 17-18.5 17s-18.5-7.6-18.5-17v-13.2M375.9 307.3v-10.9c0-16.6-12.4-30.1-29-30.1h-17.1c-16.6 0-29 13.5-29 30.1v10.9h75.1zM338.3 268.1v39.2"></path>
                <path class="st3-0" d="M315.8 268.1l12.4 10.9 8.5-10.9M359.2 268.1L346.9 279l-8.6-10.9M171.5 94.4v-3.5c0-9.4 8.3-17 18.5-17h18.5V104c0 9.4-8.3 17-18.5 17s-18.5-7.6-18.5-17V90.9M227.6 162.2v-10.9c0-16.6-13.5-30.1-30.1-30.1h-16c-16 0-29 13-29 29v11.9h75.1v.1z"></path>
                <path class="st3-0" d="M177.1 121.3l11.7 12.7 11.7-12.8M188.8 134l-7.9 9.2 9.1 19"></path>
                <path class="st3-0" d="M190 134l8 9.2-9.2 19M208.5 85.9v-12H190c-10.2 0-18.5 7.6-18.5 17v3.5H200c4.7 0 8.5-3.8 8.5-8.5v-12"></path>
                <circle class="st3-1" cx="227.7" cy="161.7" r="18.6"></circle>
                <path class="st3-2" d="M220.2 159.9l6.4 8.9 8.1-14.2"></path>
                <circle class="st3-1" cx="80.6" cy="307.5" r="18.6"></circle>
                <path class="st3-2" d="M73.1 305.7l6.4 8.8 8.1-14.1"></path>
                <circle class="st3-1" cx="227.5" cy="307.5" r="18.6"></circle>
                <path class="st3-2" d="M220 305.7l6.4 8.8 8.1-14.1"></path>
                <circle cx="375.9" cy="307.5" r="18.6" fill="#fff" stroke="#c90e2d" stroke-width="3" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                <path class="st3-4" d="M369.4 301l12.9 12.9M382.3 301l-12.9 12.9"></path>
            </svg>
            </div>
            <div class="col-sm-7 col-lg-5 col-xl-4 text-vertical-center">
                <h2 class="text-gray-57-b">觀看權限分級</h2>
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row justify-center items-center mb-">
        <div class="col-5 col-md-3 col-lg-2 col-xl-1"><img class="img-fluid" src="~/Content/sks/img/gps-logo.png" alt="GPS系統"/></div>
        <div class="col-6 col-md-4 col-lg-7 col-xl-5">
            <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0"><a href="https://apps.apple.com/tw/app/gps車輛追蹤總管/id912293534" target="_blank"><img class="img-fluid" src="~/Content/sks/img/download-appstore.png" alt="appstore"/></a></div>
            <div class="col-lg-6"><a href="https://play.google.com/store/apps/details?id=com.sks.sksfleetmanager&hl=zh_TW" target="_blank"><img class="img-fluid" src="~/Content/sks/img/download-googleplay.png" alt="googleplay"/></a></div>
            </div>
        </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.GPS })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>