﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "智慧商業整合服務";
}
@section head{
    <title>新光保全-智慧商業整合服務</title>
    <meta name="description" content="全方位的智慧整合服務，滿足任何場域商業需求。提供保全、智慧門管、影像監控、行動辦公、餐飲管理、資安防護與車隊管理，24小時監控中心，全年無休服務。" />
    <meta name="twitter:title" content="新光保全-智慧商業整合服務" />
    <meta name="twitter:description" content="全方位的智慧整合服務，滿足任何場域商業需求。提供保全、智慧門管、影像監控、行動辦公、餐飲管理、資安防護與車隊管理，24小時監控中心，全年無休服務。" />
    <meta property="og:title" content="新光保全-智慧商業整合服務" />
    <meta property="og:description" content="全方位的智慧整合服務，滿足任何場域商業需求。提供保全、智慧門管、影像監控、行動辦公、餐飲管理、資安防護與車隊管理，24小時監控中心，全年無休服務。" />
    <link rel="canonical" href="@url" />
    <style>
        .st1 {
            fill: #e0e3e5
        }

        .st2 {
            fill: #fcfdfd
        }

        .st4 {
            fill: #cbcccd
        }

        .st5 {
            fill: #bebdbc
        }

        .st6 {
            fill: #dddcdc
        }

        .st7 {
            fill: #777778
        }

        .st8 {
            fill: #edeff0
        }

        .st9 {
            fill: #e9e9e9
        }

        .st10 {
            fill: #fff
        }

        .st11 {
            fill: #666767
        }

        .st12 {
            opacity: .2
        }

        .st12, .st13 {
            fill: #023e97
        }

        .st14 {
            fill: none;
            stroke: #023e97;
            stroke-dasharray: 6,6
        }

        .st16 {
            font-size: 20px
        }

        .st17 {
            fill: #FFFFFF;
        }

        .st18 {
            fill: #D61518;
        }
    </style>
}

<section class="text-white h5 font-bold text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover vh-75 d-lg-none" style="background-image:url(/Content/sks/img/biz-banner-sm.jpg);"></div>
                <div class="bg-cover d-none d-lg-flex" style="background-image:url(/Content/sks/img/banner-index-2.jpg);">
                    <div class="col-lg-10 offset-lg-2 text-vertical-center vh-75">
                        <h2 class="h1">全方位智慧整合服務</h2>
                        <p>滿足您不同商業需求</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="bg-wave py-6 py-lg-8">
    <div class="container text-center">
        <h2 class="font-normal">全方位智慧生活好夥伴</h2>
        <h2 class="font-normal">安全保障到安心服務，共同打造智慧生活</h2>
        <div class="row justify-center">
            <div class="col-lg-10">
                <svg version="1.1" id="圖層_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 950 690" xml:space="preserve">
                <defs>
                <filter id="drop_shadow" filterunits="userSpaceOnUse">
                <fedropshadow dx="0" dy="0" stddeviation="2" flood-color="#000" flood-opacity="0.2"></fedropshadow>
                </filter>
              </defs>
                <path fill="#d2d2d2" d="M3.2 436.3L439 687.9l395.3-228.6-435.9-251.7z"></path>
                <path class="st1" d="M239.5 338.1l172.6-99.7 92.3 53.7-171.8 99.6z"></path>
                <path class="st2" d="M412.1 222.8v15.6l92.3 53.7.8-15.6zM239.5 322.5v15.6l92.3 53.7.8-15.6z"></path>
                <path fill="#cbcccd" stroke="#fff" d="M345.2 275l82.5 47.6"></path>
                <path class="st4" d="M332.6 376.4v15.3l171.8-99.6.8-15.6zM239.5 322.7V338l99.6-57.7 73-41.9v-15.6z"></path>
                <path class="st5" d="M214.2 506.1v23.8l26.5-15.3z"></path>
                <path class="st2" d="M160.9 468.8l.3 30.5 53 30.6v-23.8l14.5 8v24l51.8 30.1v-30.6z"></path>
                <path class="st1" d="M160.9 468.8l53.1-30.7 119.5 68.8-53 30.7z"></path>
                <path class="st4" d="M333.5 506.9l-53 30.7v30.6l53-30.7z"></path>
                <path class="st6" d="M167.4 480.6v17.5l39.8 23.1v-17.5zM234.2 518.5V536l39.9 23.1v-17.5z"></path>
                <path class="st5" d="M326.4 518.5V536l-39.8 23.1v-17.5z"></path>
                <path class="st2" d="M233.5 472.5v33.3l47.6 27.4.5-33z"></path>
                <path class="st4" d="M281.6 500.2l38.7-22.1-.7 32.9-38.5 22.2z"></path>
                <path class="st1" d="M233.5 472.5l38.5-22.2 48.3 27.8-38.7 22.1z"></path>
                <path class="st4" d="M256.1 481.7l6.3-3.7v-7.3l-6.3 3.6zM265.5 487.1l6.4-3.6v-7.3l-6.4 3.6zM275.3 492.7l6.3-3.6v-7.3l-6.3 3.6z"></path>
                <path class="st7" d="M268.9 470.6l12.8 7.4 12.5-7.3-12.6-7.3z"></path>
                <path class="st2" d="M256.1 481.7l-6.4-3.7v-7.3l6.4 3.6zM265.5 487.1l-6.3-3.6v-7.3l6.3 3.6zM275.3 492.7l-6.3-3.6v-7.3l6.3 3.6z"></path>
                <path class="st1" d="M249.7 470.7l6.4 3.6 6.3-3.6-6.3-3.7zM259.2 476.2l6.3 3.6 6.4-3.6-6.4-3.7zM269 481.8l6.3 3.6 6.3-3.6-6.3-3.7z"></path>
                <path class="st6" d="M237.4 480.6v22.2l38.7 22.3v-22.3z"></path>
                <path class="st5" d="M317.3 485l-.5 22.5-30.2 17.6v-22.3z"></path>
                <path class="st2" d="M294.1 556.9l.1 3.4 79.4 45.8v-3.2z"></path>
                <path class="st1" d="M297.1 555.4l-3 1.5 79.5 46 2.8-1.7z"></path>
                <path class="st4" d="M373.6 606.1l2.8-1.6v-3.3l-2.8 1.7z"></path>
                <path class="st2" d="M366.5 586.8v40.4l11.8 6.9-.2-40.6z"></path>
                <path class="st4" d="M378.1 593.5l23.4-13.5v40.5l-23.2 13.6z"></path>
                <path class="st1" d="M366.5 586.8l11.6 6.7 23.4-13.5-11.7-6.7z"></path>
                <path class="st6" d="M369.1 593.1v15.3l6.6 3.8v-15.3z"></path>
                <path class="st5" d="M388.7 593.1v15.3l-6.6 3.8v-15.3zM396.4 588.7V604l-6.6 3.9v-15.4zM439.2 368.6l40.3-22.5 146 84.2-39.5 22.8zM671.6 324.5l111.3-63.8v184.8l-98.6 57.1z"></path>
                <path class="st2" d="M439.2 338.2v30.4l3.3 1.9-.1-30.4z"></path>
                <path class="st2" d="M445.7 338.1v30.5l-3.2 1.9-.1-30.4z"></path>
                <path class="st5" d="M586 162.9l119.1-69.6v229.5L586 392.2z"></path>
                <path class="st1" d="M456.2 398.7l45.7 26.4 30.8-17.6-46-26.5z"></path>
                <path class="st2" d="M465.7 376.4V393l7 3.8-.2-16.4z"></path>
                <path class="st8" d="M479.2 376.2V393l-6.5 3.8-.3-16.4z"></path>
                <path class="st2" d="M678.5 108.6v153l26.6 15V123.9zM627.8 139.6v152.9l26.5 15.1V154.9zM586 162.8v290.8l26.6 15V178.1z"></path>
                <path class="st1" d="M705.8 93.7l-119.7 69.2-146.2-84.8L560 9.4z"></path>
                <path class="st1" d="M705.1 93.3l26.6 15.4-26.6 15.2-26.6-15.3zM654 123.9l26.6 15.4-26.6 15.3-26.6-15.3zM612.5 147.5l26.7 15.4-26.7 15.3-26.5-15.4z"></path>
                <path class="st4" d="M705.1 123.9l26.6-15.2-.1 153.1-26.5 14.8zM654 154.6l26.6-15.3-.1 153.2-26.5 14.8zM612.5 177.7l26.6-15.3-.1 290.7-26.5 14.8z"></path>
                <path class="st9" d="M453 85.7v260.4l131.2 76.5 1.8-259.7z"></path>
                <path class="st5" d="M439.2 108.6l13.4-7.6.4 15.5zM439.2 138.7l13.4-7.5.4 15.5zM439.2 169.4l13.4-7.6.4 15.5zM439.2 200.5l13.4-7.6.4 15.5zM439.2 230.7l13.4-7.6.4 15.5zM439.2 261.3l13.4-7.6.4 15.5zM439.2 291.9l13.4-7.5.4 15.5zM439.2 323l13.4-7.5.4 15.4zM465.7 108.3v245.1l13.5 8V116.3zM492.1 123.6v245.1l13.5 8V131.6zM518.5 138.8v245.1L532 392V146.9zM544.9 154.1v245.1l13.5 8V162.1zM571.3 169.4v245.1l13.4 8V177.4z"></path>
                <path class="st1" d="M479.2 361.4l-13.5 7.3 40.5 23.3 13.3-7.7z"></path>
                <path class="st2" d="M465.7 376.5v-7.8l40.5 23.3v8z"></path>
                <path class="st4" d="M506.2 400v-8l19-11v7.2z"></path>
                <path class="st2" d="M439.2 77.7v15.6L586 177.8v-14.9zM439.2 108.3v15.6L586 208.4v-14.9zM439.2 138.9v15.7L586 239v-14.9zM439.2 169.6v15.6L586 269.7v-14.9zM439.2 200.2v15.7L586 300.3v-14.9zM439.2 230.9v15.6L586 330.9V316zM439.2 261.5v15.6L586 361.6v-14.9zM439.2 292.1v15.7L586 392.2v-14.9zM439.2 322.8v15.6L586 422.9V408zM499.4 396.1v16.5l7 3.8-.2-16.4z"></path>
                <path class="st4" d="M512.9 395.8v16.8l-6.5 3.8-.3-16.4z"></path>
                <path class="st10" d="M456.2 398.7v6l45.8 26.2-.1-5.8z"></path>
                <path class="st8" d="M501.9 425.1l.1 5.8 30.7-18.1v-5.3z"></path>
                <path class="st2" d="M519.5 32.8v45.9l65.7 37.8.8-45.5z"></path>
                <path class="st4" d="M586 71l53.3-30.4-.9 45.4-53.2 30.5z"></path>
                <path class="st1" d="M519.5 32.8l53.2-30.7 66.6 38.5L586 71z"></path>
                <path class="st4" d="M550.7 45.4l8.7-5V30.3l-8.7 5zM563.8 53l8.7-5V37.8l-8.7 5.1zM577.3 60.7l8.7-5V45.6l-8.7 5z"></path>
                <path class="st7" d="M568.4 30.2L586 40.4l17.4-10.1-17.5-10.1z"></path>
                <path class="st2" d="M550.7 45.4l-8.7-5V30.3l8.7 5zM563.8 53l-8.7-5V37.8l8.7 5.1zM577.3 60.7l-8.8-5V45.6l8.8 5z"></path>
                <path class="st1" d="M542 30.3l8.7 5 8.7-5-8.7-5.1zM555.1 37.8l8.7 5.1 8.7-5.1-8.7-5zM568.5 45.6l8.8 5 8.7-5-8.7-5z"></path>
                <path class="st9" d="M524.9 43.9v30.7l53.4 30.8V74.7z"></path>
                <path class="st5" d="M635.2 50l-.6 31.1-41.8 24.3V74.7z"></path>
                <path class="st1" d="M635 289.2l98.7-57 61.5 35.7-12.3 7.1-4.1-2.7-12.6 7.3 4.4 2.5-12.3 7.1-4.4-2.5-12.3 7.1 4.3 2.5-12.3 7.1-4.4-2.5-12.3 7.1 4.4 2.5-12.3 7.2-4.4-2.6-12.3 7.1 4.3 2.6-12.3 7.1-61.6-35.6z"></path>
                <path class="st2" d="M622.7 296.3v170.8l61.6 35.5V331.9z"></path>
                <path class="st4" d="M684.3 331.9l12.3-7.1v170.7l-12.3 7.1zM709 317.8l12.3-7.1v170.8l-12.3 7.1zM733.6 303.4l12.3-7.1v170.8l-12.3 7.1zM758.3 288.8l12.3-7.1v170.8l-12.3 7.1zM782.9 274.8l12.3-7.1v170.7l-12.3 7.1z"></path>
                <path class="st2" d="M778.8 272.3l4.1 2.5v170.7l-4.1-2.1zM754.2 286.6l4.1 2.5v170.7l-4.1-2.2zM729.5 301.1l4.1 2.5v170.7l-4.1-2.2zM704.9 315.3l4.1 2.5v170.7l-4.1-2.2zM213.4 300.7v69.9l41.4 23.2v-69.6z"></path>
                <path class="st4" d="M280.3 308.6v69.9l-25.4 15.3v-69.6z"></path>
                <path class="st1" d="M213.4 300.7l41.5 23.5 25.4-15.6-40.2-23.1z"></path>
                <path class="st6" d="M219.4 310.8v6.6l5.9 3.4v-6.7zM219.4 320.8v6.6l5.9 3.4v-6.7zM219.4 330.8v6.6l5.9 3.4v-6.7zM231.2 317.7v6.7l5.8 3.3v-6.6zM231.2 327.7v6.6l5.8 3.4v-6.6zM231.2 337.7v6.6l5.8 3.4v-6.6zM231.2 347.7v6.6l5.8 3.4v-6.6zM231.2 357.7v6.6l5.8 3.4v-6.6zM231.2 367.7v6.6l5.8 3.4v-6.6zM242.9 324.6v6.7l5.8 3.4.1-6.7zM242.9 334.6v6.7l5.8 3.4.1-6.7zM242.9 344.6v6.7l5.8 3.4.1-6.7zM242.9 354.6v6.7l5.8 3.4.1-6.7zM242.9 364.6v6.7l5.8 3.4.1-6.7zM242.9 374.6v6.7l5.8 3.4.1-6.7z"></path>
                <path class="st5" d="M277.5 317.3v6.6l-5.8 3.4-.1-6.7zM277.5 327.3v6.6l-5.8 3.4-.1-6.7zM277.5 337.2v6.7l-5.8 3.4-.1-6.7zM277.5 347.2v6.7l-5.8 3.4-.1-6.7zM277.5 357.2v6.7l-5.8 3.4-.1-6.7zM277.5 367.2v6.7l-5.8 3.4-.1-6.7zM265.8 324.2v6.7l-5.8 3.3-.1-6.6zM265.8 334.2v6.6l-5.8 3.4-.1-6.6zM265.8 344.2v6.6l-5.8 3.4-.1-6.6zM265.8 354.2v6.6l-5.8 3.4-.1-6.6zM265.8 364.2v6.6l-5.8 3.4-.1-6.6zM265.8 374.2v6.6l-5.8 3.4-.1-6.6z"></path>
                <path class="st2" d="M162.5 331.5v69.9l41.5 23.2V355z"></path>
                <path class="st4" d="M229.5 339.4v69.9l-25.4 15.3V355z"></path>
                <path class="st1" d="M162.5 331.5l41.6 23.5 25.4-15.6-40.3-23.1z"></path>
                <path class="st6" d="M168.6 341.6v6.6l5.8 3.4.1-6.6zM168.6 351.6v6.6l5.8 3.4.1-6.6zM168.6 361.6v6.6l5.8 3.4.1-6.6zM180.3 348.5v6.7l5.9 3.4v-6.7zM180.3 358.5v6.7l5.9 3.4v-6.7zM180.3 368.5v6.7l5.9 3.4v-6.7zM180.3 378.5v6.7l5.9 3.4v-6.7zM180.3 388.5v6.7l5.9 3.3v-6.6zM180.3 398.5v6.6l5.9 3.4v-6.6zM192.1 355.4v6.7l5.8 3.4v-6.7zM192.1 365.4v6.7l5.8 3.4v-6.7zM192.1 375.4v6.7l5.8 3.4v-6.7zM192.1 385.4v6.7l5.8 3.4v-6.7zM192.1 395.4v6.7l5.8 3.4v-6.7zM192.1 405.4v6.7l5.8 3.4v-6.7z"></path>
                <path class="st5" d="M226.7 348.1v6.6l-5.8 3.4-.1-6.6zM226.7 358.1v6.6l-5.8 3.4-.1-6.6zM226.7 368.1v6.6l-5.8 3.4-.1-6.6zM226.7 378.1v6.6l-5.8 3.4-.1-6.6zM226.7 388.1v6.6l-5.8 3.4-.1-6.7zM226.7 398.1v6.6l-5.8 3.4-.1-6.7zM215 355v6.7l-5.9 3.4v-6.7zM215 365v6.7l-5.9 3.4v-6.7zM215 375v6.7l-5.9 3.4v-6.7zM215 385v6.7l-5.9 3.4v-6.7zM215 395v6.6l-5.9 3.4v-6.6zM215 405v6.6l-5.9 3.4v-6.6z"></path>
                <path class="st2" d="M108.5 361.5v69.9l41.4 23.2V385z"></path>
                <path class="st4" d="M175.4 369.4v69.9L150 454.6V385z"></path>
                <path class="st1" d="M108.5 361.5L150 385l25.4-15.6-40.2-23.1z"></path>
                <path class="st6" d="M114.5 371.6v6.6l5.9 3.4V375zM114.5 381.6v6.6l5.9 3.4v-6.7zM114.5 391.6v6.6l5.9 3.4v-6.7zM114.5 401.5v6.7l5.9 3.4v-6.7zM114.5 411.5v6.7l5.9 3.4v-6.7zM114.5 421.5v6.7l5.9 3.4v-6.7zM126.3 378.5v6.7l5.8 3.4v-6.7zM126.3 388.5v6.7l5.8 3.3v-6.6zM126.3 398.5v6.6l5.8 3.4v-6.6zM126.3 408.5v6.6l5.8 3.4v-6.6zM126.3 418.5v6.6l5.8 3.4v-6.6zM126.3 428.5v6.6l5.8 3.4v-6.6zM138 385.4v6.7l5.8 3.4.1-6.7zM138 395.4v6.7l5.8 3.4.1-6.7zM138 405.4v6.7l5.8 3.4.1-6.7zM138 415.4v6.7l5.8 3.4.1-6.7zM138 425.4v6.7l5.8 3.4.1-6.7zM138 435.4v6.7l5.8 3.4.1-6.7z"></path>
                <path class="st5" d="M172.6 378.1v6.6l-5.8 3.4-.1-6.6zM172.6 388.1v6.6l-5.8 3.4-.1-6.7zM172.6 398.1v6.6l-5.8 3.4-.1-6.7zM172.6 408v6.7l-5.8 3.4-.1-6.7zM172.6 418v6.7l-5.8 3.4-.1-6.7zM172.6 428v6.7l-5.8 3.4-.1-6.7zM160.9 385v6.7l-5.8 3.4-.1-6.7zM160.9 395v6.6l-5.8 3.4-.1-6.6zM160.9 405v6.6l-5.8 3.4-.1-6.6zM160.9 415v6.6l-5.8 3.4-.1-6.6zM160.9 425v6.6l-5.8 3.4-.1-6.6zM160.9 435v6.6l-5.8 3.4-.1-6.6z"></path>
                <path class="st4" d="M332.2 459.5l25.3-14.6-.1-3.4-2.7-1.6-28.5 16.2z"></path>
                <path class="st2" d="M329.1 444.9l2.8-5 11.3 6.5-2.8 4.9z"></path>
                <path class="st1" d="M343.2 446.4s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM340.4 451.3s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M339.3 454.2s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM353.4 446s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M360.7 476.3l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M357.6 461.6l2.8-4.9 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M371.7 463.1s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM368.9 468.1s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M367.8 471s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM381.9 462.8s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M377.7 485.6l25.3-14.7v-3.4l-2.8-1.5-28.4 16.2z"></path>
                <path class="st2" d="M374.6 470.9l2.8-4.9 11.3 6.4-2.7 5z"></path>
                <path class="st1" d="M388.7 472.4s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM386 477.4s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M384.8 480.3s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM399 472.1s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M394.8 494.9l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M391.7 480.2l2.8-4.9 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M405.8 481.7s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM403 486.7s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M401.9 489.6s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM416 481.4s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M403.8 456.2l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M400.7 441.5l2.8-4.9 11.3 6.4-2.7 5z"></path>
                <path class="st1" d="M414.8 443s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM412.1 448s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M410.9 450.9s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM425 442.7s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M420.8 465.5l25.4-14.7-.1-3.4-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M417.8 450.8l2.8-4.9 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M431.9 452.3s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM429.1 457.3s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M427.9 460.2s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM442.1 452s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M437.9 474.8l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M434.8 460.1l2.8-4.9 11.3 6.4-2.7 5z"></path>
                <path class="st1" d="M448.9 461.6s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM446.2 466.6s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M445 469.5s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM459.1 461.3s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M432 520l25.4-14.6-.1-3.5-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M429 505.4l2.8-5 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M443.1 506.8s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM440.3 511.8s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M439.1 514.7s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM453.3 506.5s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M449.1 529.3l25.3-14.6-.1-3.5-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M446 514.7l2.8-5 11.3 6.4-2.7 5z"></path>
                <path class="st1" d="M460.1 516.1s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM457.4 521.1s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M456.2 524s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM470.3 515.8s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M466.1 538.6l25.4-14.6-.1-3.5-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M463.1 524l2.8-5 11.3 6.5-2.8 4.9z"></path>
                <path class="st1" d="M477.2 525.5s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM474.4 530.4s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M473.2 533.3s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM487.4 525.1s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M475.2 499.9l25.3-14.7-.1-3.4-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M472.1 485.2l2.8-4.9 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M486.2 486.7s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM483.4 491.7s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M482.3 494.6s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM496.4 486.4s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M492.2 509.2l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M489.1 494.5l2.8-4.9 11.3 6.4-2.7 5z"></path>
                <path class="st1" d="M503.2 496s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM500.5 501s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M499.3 503.9s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM513.4 495.7s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M509.3 518.5l25.3-14.7-.1-3.4-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M506.2 503.8l2.8-4.9 11.3 6.4-2.8 5z"></path>
                <path class="st1" d="M520.3 505.3s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM517.5 510.3s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M516.4 513.2s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM530.5 505s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M496 559.2l25.3-14.6v-3.4l-2.8-1.6-28.4 16.2z"></path>
                <path class="st2" d="M493 544.6l2.8-5 11.2 6.5-2.7 4.9z"></path>
                <path class="st1" d="M507 546.1s11.4-6.5 14.2-4.9-11.3-6.5-11.3-6.5-2.9-1.6-14.2 4.9l11.3 6.5zM504.3 551s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M503.1 553.9s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM517.3 545.7s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M513.1 568.5l25.3-14.6-.1-3.4-2.7-1.6-28.4 16.2z"></path>
                <path class="st2" d="M510 553.9l2.8-5 11.3 6.5-2.8 4.9z"></path>
                <path class="st1" d="M524.1 555.4s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM521.3 560.3s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M520.2 563.2s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM534.3 555s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M530.1 577.8l25.3-14.6v-3.4l-2.8-1.6-28.4 16.2z"></path>
                <path class="st2" d="M527.1 563.2l2.8-5 11.2 6.5-2.7 4.9z"></path>
                <path class="st1" d="M541.1 564.7s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM538.4 569.6s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M537.2 572.5s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM551.4 564.3s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M539.1 539.1l25.4-14.6-.1-3.5-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M536.1 524.5l2.8-5 11.3 6.5-2.8 4.9z"></path>
                <path class="st1" d="M550.2 526s11.4-6.5 14.2-4.9-11.3-6.5-11.3-6.5-2.9-1.6-14.2 4.9l11.3 6.5zM547.4 530.9s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M546.2 533.8s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM560.4 525.6s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M556.2 548.4l25.3-14.6-.1-3.5-2.7-1.5-28.4 16.2z"></path>
                <path class="st2" d="M553.1 533.8l2.8-5 11.3 6.5-2.7 4.9z"></path>
                <path class="st1" d="M567.2 535.3s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM564.5 540.2s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M563.3 543.1s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4zM577.4 534.9s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1 1.9-3.4 1.9-3.4z"></path>
                <path class="st4" d="M573.2 557.7l25.4-14.6-.1-3.5-2.7-1.5-28.5 16.2z"></path>
                <path class="st2" d="M570.2 543.1l2.8-5 11.3 6.5-2.8 4.9z"></path>
                <path class="st1" d="M584.3 544.6s11.4-6.5 14.2-4.9c2.8 1.6-11.3-6.5-11.3-6.5s-2.9-1.6-14.2 4.9l11.3 6.5zM581.5 549.5s-11 6.6-8.3 8.2l-11.6-6.6s-2.8-1.4 8.5-8l11.4 6.4z"></path>
                <path class="st11" d="M580.4 552.4s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4zM594.5 544.2s2-1.2 2 1.1-2 3.4-2 3.4-1.9 1.2-1.9-1.1c-.1-2.3 1.9-3.4 1.9-3.4z"></path>
                <circle class="st12" cx="756" cy="388.8" r="16.8"></circle>
                <circle class="st13" cx="756" cy="388.8" r="6.4"></circle>
                <circle class="st12" cx="473" cy="188.8" r="16.8"></circle>
                <circle class="st13" cx="473" cy="188.8" r="6.4"></circle>
                <circle class="st12" cx="472" cy="380.8" r="16.8"></circle>
                <circle class="st13" cx="472" cy="380.8" r="6.4"></circle>
                <circle class="st12" cx="577" cy="304.8" r="16.8"></circle>
                <circle class="st13" cx="577" cy="304.8" r="6.4"></circle>
                <circle class="st12" cx="468" cy="538.8" r="16.8"></circle>
                <circle class="st13" cx="468" cy="538.8" r="6.4"></circle>
                <circle class="st12" cx="246" cy="490.7" r="16.8"></circle>
                <circle class="st13" cx="246" cy="491.8" r="6.4"></circle>
                <circle class="st12" cx="756" cy="299.8" r="16.8"></circle>
                <circle class="st13" cx="756" cy="299.8" r="6.4"></circle>
                <path class="st14" stroke-dashoffset="60" d="M756.2 299.6v-246c38.5.2 76.9.3 115.4.5">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="871.6" cy="53.6" r="40"></circle>
                <text transform="translate(851.803 47.493)">
                <tspan class="st16" x="0" y="0">保全</tspan>
                <tspan class="st16" x="0" y="24">服務</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M756.2 388.6h152v122.2">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="906.8" cy="511.7" r="40"></circle>
                <text transform="translate(887.969 505.112)">
                <tspan class="st16" x="0" y="0">資安</tspan>
                <tspan class="st16" x="0" y="24">管理</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M317.3 45.4h155.7v143">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="317.3" cy="46.5" r="40"></circle>
                <text transform="translate(294.975 39.955)">
                <tspan class="st16" x="0" y="0">雲端</tspan>
                <tspan class="st16" x="0" y="24">守護</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M121.3 176.6h199v204h152">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="117.5" cy="176.6" r="40"></circle>
                <text transform="translate(100.217 170.68)">
                <tspan class="st16" x="0" y="0">影像</tspan>
                <tspan class="st16" x="0" y="24">監控</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M45 490.7h202.7">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="43.3" cy="491.4" r="40"></circle>
                <text transform="translate(23.306 485.72)">
                <tspan class="st16" x="0" y="0">POS</tspan>
                <tspan class="st16" x="0" y="24">系統</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M467.9 538.2l-.9 108.1-213.5-2.4">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="253.5" cy="643.9" r="40"></circle>
                <text transform="translate(233.463 638.188)">
                <tspan class="st16" x="0" y="0">車隊</tspan>
                <tspan class="st16" x="0" y="24">管理</tspan>
              </text>
                <path class="st14" stroke-dashoffset="60" d="M577.2 305.1v304.5h132">
                <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
              </path>
                <circle class="st10" filter="url(#drop_shadow)" cx="704.9" cy="609.6" r="40"></circle>
                <text transform="translate(684.86 603.87)">
                <tspan class="st16" x="0" y="0">智慧</tspan>
                <tspan class="st16" x="0" y="24">門管</tspan>
              </text>
                <path d="M555.7,76.9l4.2-0.6c-1.2-5.9-6-12.2-11.7-14.9c-5.9-2.7-10.8-0.8-11.8,4.3l4.2,4.1l-4.2,0.3c1.1,6,5.9,12.5,11.8,15.2    c5.8,2.7,10.7,0.8,11.8-4.2L555.7,76.9z"></path>
                <path class="st17" d="M548.2,80.9c4.2,2,7.6,0.1,7.6-4c0-4.2-3.4-9.2-7.6-11.1c-4.2-2-7.6-0.1-7.6,4C540.6,74,544,79,548.2,80.9z"></path>
                <path class="st18" d="M548.2,80.4c3.9,1.8,7.1,0.1,7.1-3.8c0-3.9-3.2-8.6-7.1-10.4c-3.9-1.8-7.1-0.1-7.1,3.8    C541.1,74,544.3,78.6,548.2,80.4z"></path>
                <path class="st17" d="M555.3,76.7c0,0-2.4,2.6-7.2,0.3c-4.7-2.2-7-6.9-7-6.9s2.3-2.5,7-0.4C552.9,71.9,555.3,76.7,555.3,76.7z"></path>
                <path class="st18" d="M548.2,76.9c1.9,0.9,3.5,0.1,3.5-1.9c0-1.9-1.6-4.2-3.5-5.1c-1.9-0.9-3.5-0.1-3.5,1.9    C544.7,73.7,546.2,76,548.2,76.9z"></path>           
            </svg>
            </div>
        </div>
    </div>
</section>*@
<section class="mb-6 mb-lg-8">
    <div class="container-fluid text-paragraph-gray h6 text-center">
        <div class="row">
            <a href="@Url.Action("Security","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image:url(/Content/sks/img/B0-3-1.jpg);"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>保全服務</h2>
                <p>24小時365天 全年無休</p>
                <p class="mb-4">提供您更安全的守護</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Security","Business")">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <a href="@Url.Action("Office","Business")" class="col-md-6 offset-xl-1 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-2.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>商辦雲端守護</h2>
                <p class="mb-4">更合乎效益的物聯網社區安全解決方案</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Office","Business")">了解更多</a>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("WorkLink","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-3.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>WorkLink</h2>
                <p>行動辦公高效方案</p>
                <p class="mb-4">滿足企業行動商務需要</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("WorkLink","Business")">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <a href="@Url.Action("Access","Business")" class="col-md-6 offset-xl-1 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-4.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>智慧門管</h2>
                <p>智慧門禁管理</p>
                <p class="mb-4">差勤 安全 一應俱全</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Access","Business")">了解更多</a>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("Monitor","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-5.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>影像監控</h2>
                <p class="mb-4">隨時掌握營運狀況  全天候安全管理</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("Monitor","Business")">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <a href="@Url.Action("AISecurity","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/ai-banner-sm.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-5 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>AI智慧影像保全</h2>
                <p class="mb-4">AI人工智慧 可準備辨識「人」的影像</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("AISecurity","Business")">了解更多</a>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("POS","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-6.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="mb-0">SKPOS</h2>
                <h2>餐飲管理系統</h2>
                <p class="mb-4">開店管理好幫手</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("POS","Business")">了解更多</a>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <a href="@Url.Action("InfoSecurity","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-7.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-5 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>資安閘門服務</h2>
                <p class="mb-4">省錢 省時 省人力 專屬貼身保護</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("InfoSecurity","Business")">了解更多</a>
            </div>
        </div>
        @*<div class="row">
            <a class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/aih-0.jpg); visibility: visible; animation-name: fadeIn;" href="@Url.Action("AIHotel","Business")"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2 class="leading-none">智能旅館</h2>
                <h2>櫃檯代管</h2>
                <p>更智慧、舒適的智能旅館解決方案</p>
                <p class="mb-4"> 結合新光保全24小時管制中心</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("AIHotel","Business")">了解更多</a>
            </div>
        </div>*@
        <div class="row @*flex-row-reverse*@">
            <a href="@Url.Action("GPS","Business")" class="col-md-6 bg-cover vh-50 SKS fadeIn slow" style="background-image: url(/Content/sks/img/B0-3-8.jpg); visibility: visible; animation-name: fadeIn;"></a>
            <div class="col-md-6 col-xl-3 offset-xl-1 text-vertical-center py-4 SKS fadeIn slow delay-300ms" style="visibility: visible; animation-name: fadeIn;">
                <h2>GPS</h2>
                <h2>車隊系統</h2>
                <p>監控 防盜 防搶 管理</p>
                <p class="mb-4">企業車隊必備工具</p><a class="btn btn-outline-pill-dark self-center h5 font-bold" href="@Url.Action("GPS","Business")">了解更多</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-view py-6">
    <div class="container text-white">
        <div class="row no-gutters justify-center">
            <div class="col-sm-7 col-lg-5 col-xl-4 py-8">
                <h3 class="h4 font-normal mb-4">服務優勢</h3>
                <ul class="list-unstyled h3">
                    <li class="mb-4"><span class="h2">600 餘名</span><span>保全人員</span></li>
                    <li class="mb-4"><span class="h2">350 餘名</span><span>服務工程師</span></li>
                    <li class="mb-4"><span class="h2">250 餘名</span><span>業務人員</span></li>
                    <li class="mb-4"><span class="h2">250 餘輛</span><span>機動車輛</span></li>
                </ul>
            </div>
            <div class="col-sm-5 col-lg-7 col-xl-6 text-vertical-center items-center"><img class="img-fluid SKS fadeIn slow" src="~/Content/sks/img/sksandcar.png" alt="服務優勢" /></div>
        </div>
    </div>
</section>
