﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "資安閘門防護服務";
}
@section head{
    <title>新光保全-資安閘門防護服務</title>
    <meta name="description" content="資安閘門防護服務由關貿網路提供國內外資安情資、黑名單、網站、各種木馬與病毒即時阻擋，同時更擁有24小時關貿資安聯防中心，讓中小企業也能輕鬆擁有國家級的基礎資安。"/>
    <meta name="twitter:title" content="新光保全-資安閘門防護服務"/>
    <meta name="twitter:description" content="資安閘門防護服務由關貿網路提供國內外資安情資、黑名單、網站、各種木馬與病毒即時阻擋，同時更擁有24小時關貿資安聯防中心，讓中小企業也能輕鬆擁有國家級的基礎資安。"/>
    <meta property="og:title" content="新光保全-資安閘門防護服務"/>
    <meta property="og:description" content="資安閘門防護服務由關貿網路提供國內外資安情資、黑名單、網站、各種木馬與病毒即時阻擋，同時更擁有24小時關貿資安聯防中心，讓中小企業也能輕鬆擁有國家級的基礎資安。"/>
    <link rel="canonical" href="@url" />

    <style>
        .st1 {
            fill: none
        }

        .st3 {
            font-size: 18px
        }

        .st5 {
            font-size: 24px
        }

        .st8 {
            fill: none;
            stroke: #888;
            stroke-miterlimit: 10;
            stroke-dasharray: 2,3
        }

        .st8, .st9 {
            stroke-width: 2
        }

        .st10, .st9 {
            fill: none;
            stroke: #888;
            stroke-miterlimit: 10
        }

        .st10, .st11, .st12 {
            stroke-width: 3
        }

        .st11 {
            fill: none;
            stroke-miterlimit: 10;
            stroke: #002f87
        }

        .st12 {
            stroke: #aaa
        }

        .st12, .st13, .st14 {
            fill: none;
            stroke-miterlimit: 10
        }

        .st13 {
            stroke-width: 3;
            stroke: #ffc629
        }

        .st14 {
            stroke: #003d9c
        }

        .st15 {
            fill: #ffc629
        }

        .st17 {
            font-size: 25.2px
        }

        .st19, .st22 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-miterlimit: 10
        }

        .st22 {
            stroke: #aaa;
            stroke-width: 2
        }

        .st23 {
            fill: #002f87
        }
    </style>
}

<section class="text-blue-gray text-white h5 font-bold text-center text-lg-left">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover vh-75 text-vertical-center d-lg-none" style="background-image:url(/Content/sks/img/infosecurity-banner-sm.jpg);"></div>
                    <div class="bg-cover vh-75 text-vertical-center d-none d-lg-flex" style="background-image:url(/Content/sks/img/banner-info-2.jpg);">
                        <div class="container  pt-6 pt-md-0">
                            <div class="row  pl-lg-5">
                                <div class="col-lg-6">
                                    <h3 class="d-inline bg-blue-gray p-2 rounded-pill">關貿網路</h3>
                                    <h2 class="h1">資安閘門服務</h2>
                                    <p class="mb-0">經濟．超值．完善</p>
                                    <p class="mb-4">專機專用 專屬貼身保護</p><img class="img-fluid" src="~/Content/sks/img/hub.png" alt="關貿網路" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="bg-particle py-6 py-lg-8">
    <div class="container text-gray-23 h4 font-bold">
        <h2 class="text-gray-57 text-center mb-4">資安閘門防護</h2>
        <ul class="row justify-around list-style-circle">
            <li class="col-6 col-md-4 col-lg-3 mb-2 offset-lg-1">阻擋危險網站</li>
            <li class="col-6 col-md-4 col-lg-3 mb-2">過濾病毒</li>
            <li class="col-6 col-md-4 col-lg-3 mb-2">即時攻擊情資</li>
            <li class="col-6 col-md-4 col-lg-3 mb-2 offset-lg-1">防火牆</li>
            <li class="col-6 col-md-4 col-lg-3 mb-2">資安顧問團隊</li>
            <li class="col-6 col-md-4 col-lg-3 mb-2">設備彈性租賃</li>
        </ul>
    </div>
</section>
<section class="text-paragraph-gray h6 py-6 py-lg-8">
    <h2 class="text-gray-57 text-center mb-4">產品特色</h2>
    <div class="carousel slide carousel-fade" id="feature-banner" data-ride="carousel" data-pause="true">
        <ol class="carousel-indicators indicators-gray">
            <li class="active" data-target="#feature-banner" data-slide-to="0"></li>
            <li data-target="#feature-banner" data-slide-to="1"></li>
            <li data-target="#feature-banner" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row">
                        <div class="col-md-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/p-1.jpg); "></div>
                    </div>
                    <div class="bg-sktrade-trapezoid"></div>
                    <div class="container">
                        <div class="row justify-end items-center vh-100">
                            <div class="col-11 col-md-8 col-lg-6">
                                <h3 class="text-gray-23 h2">省錢</h3>
                                <p>設備採彈性租賃方案</p>
                                <p>輕鬆建立廣闊的資安防線</p>
                                <p class="mb-4">並提供專業資安團隊作為企業堅強後盾</p>
                                <h3 class="text-gray-23 h2">省時</h3>
                                <p>多合一資安防護設備</p>
                                <p>有效阻擋黑名單網站、木馬、蠕蟲程式</p>
                                <p class="mb-4">及各種病毒、惡意程式</p>
                                <h3 class="text-gray-23 h2">省人力</h3>
                                <p>企業不需自組資安團隊</p>
                                <p>提供國內外資安情資、全天候監控與威脅告警</p>
                                <p>及24小時專業客服諮詢服務</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row">
                        <div class="col-md-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/p-2.jpg); "></div>
                    </div>
                    <div class="bg-sktrade-trapezoid"></div>
                    <div class="container text-center">
                        <div class="row justify-md-end items-center vh-75">
                            <div class="col-md-8 col-lg-7 col-xl-6">
                                <h3 class="text-gray-23 h2">擁有多功能防護</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <svg class="img-fluid">
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-01"></use>
                                        </svg>
                                        <h4 class="h3 font-bold">防堵惡意網站</h4>
                                        <p>自動更新惡意中繼站黑名單</p>
                                    </div>
                                    <div class="col-4">
                                        <svg class="img-fluid">
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-02"></use>
                                        </svg>
                                        <h4 class="h3 font-bold">防火牆</h4>
                                        <p>主動攔截、阻擋駭客攻擊</p>
                                    </div>
                                    <div class="col-4">
                                        <svg class="img-fluid">
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-03"></use>
                                        </svg>
                                        <h4 class="h3 font-bold">病毒過濾</h4>
                                        <p>內建防毒引擎隨時防護</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row">
                        <div class="col-md-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/p-3.jpg); "></div>
                    </div>
                    <div class="bg-sktrade-trapezoid"></div>
                    <div class="container text-center">
                        <div class="row justify-md-end content-center items-center vh-75">
                            <div class="col-md-8 col-lg-7 col-xl-6">
                                <svg class="d-sm-inline-block" id="hours" width="120" height="120">
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-64"></use>
                                </svg>
                                <h2 class="d-sm-inline align-middle">小時資安團隊</h2>
                                <p class="font-bold">經濟的價格 擁有強大的 專業資安團隊</p>
                                <ul class="row list-unstyled text-gray-23">
                                    <li class="col-4 col-sm-7col-md-2"><span class="h2">50</span>位<p>資安顧問知識</p></li>
                                    <li class="col-4 col-sm-7col-md-2"><span class="h2">15</span>年<p>專業經驗</p></li>
                                    <li class="col-4 col-sm-7col-md-2"><span class="h2">24</span>小時<p>客服中心</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="d-none d-md-flex carousel-control-prev justify-start text-hide" href="#feature-banner" role="button" data-slide="prev">prev<span class="carousel-control-prev-icon ml-xl-6 prev-icon-dark" aria-hidden="true"></span></a><a class="d-none d-md-flex carousel-control-next justify-end text-hide" href="#feature-banner" role="button" data-slide="next">next<span class="carousel-control-next-icon mr-xl-6 next-icon-dark" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="container text-center py-6 py-lg-8">
        <h2 class="text-gray-57 mb-4">適用客群</h2>
        <div class="row divider border-sm-3n-none">
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>中小型企業</title>
                    <desc>確保企業資訊、資料安全包含防毒防駭、防個資洩漏及電子商務解決方案</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-09"></use>
                </svg>
                <h3>中小型企業</h3>
                <p>確保企業資訊、資料安全包含防毒防駭、防個資洩漏及電子商務解決方案</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>各類零售業</title>
                    <desc>零售業帶有大量客戶資料、金融交易資料為大宗資訊攻擊對象</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-06"></use>
                </svg>
                <h3>各類零售業</h3>
                <p>零售業帶有大量客戶資料、金融交易資料為大宗資訊攻擊對象</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>多據點營業</title>
                    <desc>中小型連鎖企業、醫療單位各分支點需連回總公司執行作業</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-05"></use>
                </svg>
                <h3>多據點營業</h3>
                <p>中小型連鎖企業、醫療單位各分支點需連回總公司執行作業</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>人員編制小</title>
                    <desc>無建置專門資訊或資安團隊之企業</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-07"></use>
                </svg>
                <h3>人員編制小</h3>
                <p>無建置專門資訊或資安團隊之企業</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8">
    <div class="container text-center">
        <h2 class="text-gray-57 mb-4">服務架構</h2>
        <div class="row justify-center">
            <div class="col-xl-10">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 907.3 393.7">
                    <style>.st1{fill:none}.st3{font-size:18px}.st5{font-size:24px}.st8{fill:none;stroke:#888;stroke-dasharray:2,3}.st8,.st9{stroke-width:2}.st10,.st9{fill:none;stroke:#888}.st10,.st11,.st12{stroke-width:3}.st11{fill:none;stroke:#002f87}.st12{stroke:#aaa}.st12,.st13,.st14{fill:none}.st13{stroke-width:3;stroke:#ffc629}.st14{stroke:#003d9c}.st15{fill:#ffc629}.st17{font-size:25.2px}.st19,.st22{fill:none;stroke:#555;stroke-width:3}.st22{stroke:#aaa;stroke-width:2}.st23{fill:#002f87}</style>
                    <path fill="#fafafa" d="M-166.9-34h1280v460h-1280z"></path>
                    <path class="st1" d="M753.6 376h157.9v18.7H753.6z"></path>
                    <text class="st3" transform="translate(757.415 392.004)">確保網路環境安全</text>
                    <path class="st1" d="M726.5 346.4h203.2V370H726.5z"></path>
                    <text class="st5" transform="translate(769.388 367.748)">企業使用者</text>
                    <path class="st1" d="M522.5 20.5h188.3v23.6H522.5z"></path>
                    <text class="st5" transform="translate(522.684 41.886)">關貿資安聯防中心</text>
                    <path class="st1" d="M146.3 346.4h106v21.7h-106z"></path>
                    <text class="st5" transform="translate(152.2 367.75)">網際網路</text>
                    <path fill="#fff" stroke="#e8e8e8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M387.5 278.5h237v41h-237z"></path>
                    <defs>
                        <path id="SVGID_1_" d="M622 314.4c0 1.2-1.3 2.6-2.4 2.6H392c-1.1 0-.9-1.3-.9-2.6v-31.5c0-1.2-.2-1.9.9-1.9h227.7c1.1 0 2.4.7 2.4 1.9l-.1 31.5z"></path>
                    </defs>
                    <clippath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_" overflow="visible"></use>
                    </clippath>
                    <g clip-path="url(#SVGID_2_)">
                        <image width="2408" height="382" xlink:href="/Content/sks/img/van.jpg" transform="matrix(.09118 0 0 .09471 396.055 280.574)" overflow="visible"></image>
                    </g>
                    <path fill="#eee" d="M573.8 252H437l-50.9 26h238.4z"></path>
                    <path class="st8" d="M496 232v-80"></path>
                    <path class="st9" d="M490.1 152.7l5.9-6.2 6 6.2"></path>
                    <path class="st8" d="M523 155v75"></path>
                    <path class="st9" d="M529 228.6l-6 6.2-5.9-6.2"></path>
                    <path class="st10" d="M438.1 37.3c-7.6-18.1-25-30.8-45.2-30.8-23.1 0-42.5 16.5-47.8 38.8h-1.5c-18.9 0-34.2 15.9-34.2 35.5s15.3 35.5 34.2 35.5h48.9"></path>
                    <path class="st11" d="M439.3 95.5c-2.3-1.4-4.9-2.2-7.8-2.2h-9.1c-8.8 0-15.4 7.4-15.4 16.6v6.5h77.7v-2.3M417.1 67.3h9.8c5.4 0 9.8 4.2 9.8 9.3v7.3c0 5.2-4.4 9.3-9.8 9.3s-9.8-4.2-9.8-9.3V67.3z"></path>
                    <path class="st11" d="M417.1 67.3v6.6c0 2.6 2 4.7 4.5 4.7h15.1"></path>
                    <path class="st10" d="M485.5 76.8c0-21.8-17-39.5-38-39.5-14.9 0-27.9 8.9-34.1 21.9"></path>
                    <path class="st11" d="M447.6 55.4h12.2c6.8 0 12.2 5.2 12.2 11.6v9c0 6.4-5.5 11.6-12.2 11.6s-12.2-5.2-12.2-11.6V55.4z"></path>
                    <path class="st11" d="M447.6 55.4v8.2c0 3.2 2.5 5.8 5.6 5.8H472M484.8 116.4v-7.8c0-11.4-8.2-20.6-19.2-20.6h-11.3c-11 0-19.2 9.2-19.2 20.6v7.9l49.7-.1z"></path>
                    <path class="st8" d="M273 301h74"></path>
                    <path class="st9" d="M346 294.3l5.8 6.2-5.8 6.2"></path>
                    <path class="st8" d="M667 301h77"></path>
                    <path class="st9" d="M743.3 294.3l6 6.2-6 6.2"></path>
                    <path class="st1" d="M-3.4 59.3H92v25.1H-3.4z"></path>
                    <text class="st3" transform="translate(8.26 75.32)">惡意攻擊</text>
                    <path class="st12" d="M20.4 2.1h47.7v34H20.4zM26.7 44.8h35.2"></path>
                    <path class="st13" d="M36.4 11.3l15.8 15.8M36.4 27.1l15.8-15.8"></path>
                    <path class="st1" d="M546.5 61.5H771v63.8H546.5z"></path>
                    <text class="st3" transform="translate(546.439 77.498)">7x24風險警告</text>
                    <text class="st3" transform="translate(546.439 113.498)">14年專業經驗</text>
                    <path class="st1" d="M709.8 61.5h224.5v63.8H709.8z"></path>
                    <text class="st3" transform="translate(709.766 77.498)">50位以上資安顧問知識</text>
                    <text class="st3" transform="translate(709.766 113.222)">全球即時攻擊情資</text>
                    <ellipse class="st14" cx="532.5" cy="71.4" rx="9" ry="9.3"></ellipse>
                    <path class="st14" d="M527.8 70.5l4.2 4.9 5.5-6.2"></path>
                    <ellipse class="st14" cx="532.5" cy="107" rx="9" ry="9.3"></ellipse>
                    <path class="st14" d="M527.8 106.1l4.2 4.9 5.5-6.2"></path>
                    <ellipse class="st14" cx="695.1" cy="71.4" rx="9" ry="9.3"></ellipse>
                    <path class="st14" d="M690.3 70.5l4.2 4.9 5.5-6.2"></path>
                    <ellipse class="st14" cx="695.1" cy="107" rx="9" ry="9.3"></ellipse>
                    <path class="st14" d="M690.3 106.1l4.2 4.9 5.5-6.2"></path>
                    <path class="st1" d="M337.7 66.3h37.7v31.2h-37.7z"></path>
                    <text class="st15 st17" transform="matrix(1.07 0 0 1 340.912 89.975)">24</text>
                    <text class="st17" transform="matrix(1.07 0 0 1 340.912 89.975)" fill="none" stroke="#ffc629" stroke-miterlimit="10">24</text>
                    <path class="st13" d="M346 61.8l-1.7 1.1c-5 3.8-8.2 9.8-8.2 16.7 0 11.5 9.1 20.7 20.2 20.7 11.2 0 20.2-9.3 20.2-20.7 0-11.5-9.1-20.7-20.2-20.7"></path>
                    <path class="st13" d="M340.7 60.4l6.6.9-.8 6.1"></path>
                    <ellipse class="st19" cx="199.1" cy="285.4" rx="40.6" ry="42.1"></ellipse>
                    <path class="st19" d="M162.9 266.7s31.5-14.6 72.3 0M235.3 305.2s-31.5 14.6-72.3 0M159.1 286.5h82M180.6 323.5s-14.1-32.7 0-75.1M217.7 248.4s14.1 32.7 0 75.1M198.6 329v-85M782.8 245.3h90.4v64.5h-90.4z"></path>
                    <path class="st10" d="M794.8 326h66.8"></path>
                    <path class="st11" d="M817 254.3h11.2c6.2 0 11.2 4.8 11.2 10.7v8.3c0 5.9-5 10.7-11.2 10.7s-11.2-4.8-11.2-10.7v-19zM805.3 309.7v-6.8c0-10.4 7.5-18.9 17.6-18.9h10.3c10 0 17.6 8.5 17.6 18.9v5.8"></path>
                    <path class="st1" d="M454.3 346.4h109.8v49.2H454.3z"></path>
                    <text class="st5" transform="translate(461.279 366.815)">資安閘門</text>
                    <text class="st3" transform="translate(473.279 391.474)">過濾阻擋</text>
                    <text class="st5" transform="translate(545.279 391.75)"></text>
                    <path class="st1" d="M-15.6 162.9h119.7V185H-15.6z"></path>
                    <text class="st3" transform="translate(8.26 178.939)">問題網站</text>
                    <path class="st12" d="M20.4 106.1h47.7v34H20.4zM26.7 148.8h35.2"></path>
                    <path class="st13" d="M32.4 134.5l11.7-21.1 11.7 21.1z"></path>
                    <path class="st15" d="M42.6 130.2c0-.8.6-1.5 1.5-1.5s1.5.6 1.5 1.5c0 .8-.6 1.5-1.5 1.5s-1.5-.7-1.5-1.5zm.3-7.7l-.1-2.3h2.5l-.1 2.3-.4 5h-1.6l-.3-5z"></path>
                    <path class="st1" d="M-8.1 260.5H96.6v21H-8.1z"></path>
                    <text class="st3" transform="translate(-.74 276.555)">不正常連線</text>
                    <path class="st12" d="M69.3 229c0-6.2-4.8-11.1-10.7-11.1-4.2 0-7.9 2.5-9.6 6.2"></path>
                    <path class="st12" d="M55.9 217.8c-2.1-5.1-7.1-8.7-12.8-8.7-6.5 0-12 4.7-13.5 10.9h-.4c-5.3 0-9.7 4.5-9.7 10s4.3 10 9.7 10h22.6"></path>
                    <path class="st1" d="M52.9 223.9H71V249H52.9z"></path>
                    <text transform="matrix(1.07 0 0 1 54.915 248.05)" font-size="25.92" fill="#aaa">?</text>
                    <path class="st13" d="M28.1 233.5h24"></path>
                    <path class="st1" d="M-6.3 360.1h101v21.4h-101z"></path>
                    <text class="st3" transform="translate(8.26 376.149)">電腦病毒</text>
                    <path class="st12" d="M40.7 320.7l-2.4-2.3c-1.3-1.4-2-3.3-2-5.3 0-4.4 3.6-8 8.1-8s8.1 3.6 8.1 8c0 2-.7 3.8-1.9 5.2l-2.5 2.4"></path>
                    <path class="st13" d="M44.4 309.5c2 0 3.7 1.6 3.7 3.6s-1.6 3.6-3.7 3.6c-2 0-3.7-1.6-3.7-3.6 0 .1.5-3.6 3.7-3.6z"></path>
                    <path class="st12" d="M43.9 321h-.2c-6.1 0-11.1 4.2-11.1 9.4v6.8c0 5.2 5 9.5 11.2 9.5s11.2-4.2 11.2-9.5v-6.8c.1-5.2-4.9-9.4-11.1-9.4z"></path>
                    <path class="st12" d="M55.1 332.4c-2.1 3.4-6.3 5.7-11.1 5.7s-9-2.3-11.1-5.7M33.2 326.8s-6.3 0-6.3-6.5M33.2 338s-6.3 0-6.3 6.5M55.2 326.8s6.3 0 6.3-6.5M55.2 338s6.3 0 6.3 6.5M56.2 332.9h8.4M32.6 332.5h-8"></path>
                    <path class="st1" d="M539.3 182.2h126.9v17.7H539.3z"></path>
                    <text class="st3" transform="translate(539.838 198.198)">資料庫即時更新</text>
                    <path class="st22" d="M97.6 67h21v304h-21M98.1 173h21M98.1 271h21M119.1 208h78v21"></path>
                    <circle class="st15" cx="197.1" cy="229.5" r="3.2"></circle>
                    <circle class="st15" cx="96.7" cy="371" r="3.2"></circle>
                    <circle class="st15" cx="96.7" cy="271" r="3.2"></circle>
                    <circle class="st15" cx="96.7" cy="173" r="3.2"></circle>
                    <circle class="st15" cx="96.7" cy="67" r="3.2"></circle>
                    <path class="st1" d="M-166.9-34h1280v460h-1280z"></path>
                    <circle class="st23" cx="267.8" cy="301" r="3.2"></circle>
                    <circle class="st23" cx="496" cy="232" r="3.2"></circle>
                    <circle class="st23" cx="523" cy="150.5" r="3.2"></circle>
                    <circle class="st23" cx="662" cy="301.2" r="3.2"></circle>
                    <radialgradient id="SVGID_3_" cx="231.15" cy="77.2" r="13.319" gradienttransform="matrix(1 0 0 -1 0 394)" gradientunits="userSpaceOnUse">
                        <stop offset="0" stop-color="#eee"></stop>
                        <stop offset="1" stop-color="#fafafa"></stop>
                    </radialgradient>
                    <path fill="url(#SVGID_3_)" stroke="#002f87" stroke-width="3" stroke-miterlimit="10" d="M238.7 309.8l-20.9-6.2 6.5 20.2 4-3.9 10 10.1 6.3-6.2-10-10.1z"></path>
                </svg>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Infosecurity })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>