﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "影像監控 保全服務-24小時服務管制中心";
}
@section head{
    <title>新光保全-影像監控 保全服務-24小時服務管制中心</title>
    <meta name="description" content="不論何時何地，透過影像顯示，嚇阻搶劫事件、紀錄竊賊模樣、存留恐嚇證據、預防騷擾、釐清糾紛原委，24小時全天候監控，智慧地守護您所愛的人事物。"/>
    <meta name="twitter:title" content="新光保全-影像監控 保全服務-24小時服務管制中心"/>
    <meta name="twitter:description" content="不論何時何地，透過影像顯示，嚇阻搶劫事件、紀錄竊賊模樣、存留恐嚇證據、預防騷擾、釐清糾紛原委，24小時全天候監控，智慧地守護您所愛的人事物。"/>
    <meta property="og:title" content="新光保全-影像監控 保全服務-24小時服務管制中心"/>
    <meta property="og:description" content="不論何時何地，透過影像顯示，嚇阻搶劫事件、紀錄竊賊模樣、存留恐嚇證據、預防騷擾、釐清糾紛原委，24小時全天候監控，智慧地守護您所愛的人事物。"/>
    <link rel="canonical" href="@url" />
    <style>
        .cls-13, .cls-14, .cls-3, .cls-4, .cls-9 {
            fill: none
        }

        .cls-2 {
            fill: #fff;
            stroke: #ffc629
        }

        .cls-2, .cls-3, .cls-4 {
            stroke-linejoin: round
        }

        .cls-2, .cls-3, .cls-4, .cls-9 {
            stroke-width: 3px
        }

        .cls-3, .cls-9 {
            stroke: #002f87
        }

        .cls-4 {
            stroke: #555
        }

        .cls-5 {
            font-size: 24px;
            fill: #232323;
            letter-spacing: .05em;
            font-weight: 700
        }

        .cls-13, .cls-14, .cls-9 {
            stroke-miterlimit: 10
        }

        .cls-11 {
            fill: #002f87
        }

        .cls-13, .cls-14 {
            stroke: #888;
            stroke-width: 2px
        }

        .cls-13 {
            stroke-dasharray: 2 3
        }
    </style>
}

<section class="h5 font-bold text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover bg-right text-vertical-center vh-75 pt-12" style="background-image:url(/Content/sks/img/B4-BN-01.jpg);">
                    <h2 class="h1">影像監控</h2>
                    <p>隨時掌握狀況 全天候安全安心</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray border-bottom-d9 py-6 py-lg-8">
        <h2 class="text-gray-57-b text-center mb-4">工作安全上的隱憂，新光保全幫您解決</h2><img class="img-fluid mb-4" src="~/Content/sks/img/pic-1.jpg" alt="無線保全系統" />
        <ul class="row no-gutters list-style-circle h5">
            <li class="col-6 col-sm-4 col-lg-3">嚇阻搶劫事件</li>
            <li class="col-6 col-sm-4 col-lg-3">紀錄竊賊模樣</li>
            <li class="col-6 col-sm-4 col-lg-3">存留恐嚇證據</li>
            <li class="col-6 col-sm-4 col-lg-3">預防騷擾</li>
            <li class="col-6 col-sm-4 col-lg-3">了解工作</li>
            <li class="col-6 col-sm-4 col-lg-3">店面情況</li>
            <li class="col-6 col-sm-4 col-lg-3">釐清糾紛原委</li>
            <li class="col-6 col-sm-4 col-lg-3">避免蓄意破壞</li>
        </ul>
    </div>
    <div class="container text-paragraph-gray text-center py-6 py-lg-8">
        <h2 class="text-gray-57 mb-4">選擇新光保全6大優勢</h2>
        <div class="row justify-center divider border-3n1-none border-md-2n1-none">
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>專業規劃</title>
                    <desc>為企業安全把脈</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-01"></use>
                </svg>
                <h3>專業規劃</h3>
                <p>為企業安全把脈</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>量身訂製</title>
                    <desc>依照需求 客制化設計</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-02"></use>
                </svg>
                <h3>量身訂製</h3>
                <p>依照需求 客制化設計</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>保修保固</title>
                    <desc>一次購買  永續服務</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-03"></use>
                </svg>
                <h3>保修保固</h3>
                <p>一次購買  永續服務</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>連動保全</title>
                    <desc>安全管理防護有保障</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-04"></use>
                </svg>
                <h3>連動保全</h3>
                <p>安全管理防護有保障</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>施工精良</title>
                    <desc>安全專業的施工保證</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-05-90"></use>
                </svg>
                <h3>施工精良</h3>
                <p>安全專業的施工保證</p>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>彈性整合方案</title>
                    <desc>提供全方位影像監控</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-06"></use>
                </svg>
                <h3>彈性整合方案</h3>
                <p>提供全方位影像監控</p>
            </div>
        </div>
    </div>
    <div class="container-fluid relative">
        <div class="row justify-end">
            <div class="col-lg-6 bg-cover bg-bottom inset-y-0" style="background-image:url(/Content/sks/img/fullday.jpg);"></div>
        </div>
        <div class="bg-trapezoid-yellow"></div>
        <div class="container min-vh-33 py-6 py-lg-8 relative">
            <h2>24H管制/客服中心</h2>
            <p class="h4">全年無休 安全又安心</p>
        </div>
    </div>
</section>
<section class="all-icon-80 text-paragraph-gray py-6 py-lg-8">
    <div class="carousel slide carousel-fade" id="feature-banner" data-ride="carousel" data-pause="true">
        <ol class="carousel-indicators indicators-gray">
            <li class="active" data-target="#feature-banner" data-slide-to="0"></li>
            <li data-target="#feature-banner" data-slide-to="1"></li>
            <li data-target="#feature-banner" data-slide-to="2"></li>
            <li data-target="#feature-banner" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row justify-end">
                        <div class="col-lg-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/b-1.jpg);"></div>
                    </div>
                    <div class="bg-skmonitor-trapezoid"></div><img class="d-none d-lg-inline absolute z-top w-25" src="~/Content/sks/img/products.png" alt="DVR高畫質系統" style="right:15%" />
                    <div class="container min-vh-60 py-6 py-lg-8 pr-xl-12 relative">
                        <h2>DVR高畫質系統</h2>
                        <ul class="list-style-circle row no-gutterse h6 pl-4">
                            <li class="col-md-4 col-lg-3">HD高畫質 夜間也清晰</li>
                            <li class="col-md-4 col-lg-3">最多支援16支攝影機</li>
                            <li class="col-md-4 col-lg-3">長時間錄製</li>
                        </ul>
                        <div class="row text-center">
                            <div class="col-4 col-md-3 col-xl-2">
                                <svg height="100">
                                    <title>百貨</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-07"></use>
                                </svg>
                                <h3 class="h4">百貨</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2">
                                <svg height="100">
                                    <title>工廠</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-08"></use>
                                </svg>
                                <h3 class="h4">工廠</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2 break-md-3 break-xl-0">
                                <svg height="100">
                                    <title>企業</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-09"></use>
                                </svg>
                                <h3 class="h4">企業</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2">
                                <svg height="100">
                                    <title>餐廳</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-05"></use>
                                </svg>
                                <h3 class="h4">餐廳</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2 break-xl-2">
                                <svg height="100">
                                    <title>醫院</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-11"></use>
                                </svg>
                                <h3 class="h4">醫院</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2 break-md-3 break-xl-0">
                                <svg height="100">
                                    <title>學校</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-12"></use>
                                </svg>
                                <h3 class="h4">學校</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2">
                                <svg height="100">
                                    <title>飯店</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-13"></use>
                                </svg>
                                <h3 class="h4">飯店</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2">
                                <svg height="100">
                                    <title>銀行</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-14"></use>
                                </svg>
                                <h3 class="h4">銀行</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2 break-md-3 break-xl-0">
                                <svg height="100">
                                    <title>賣場</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15"></use>
                                </svg>
                                <h3 class="h4">賣場</h3>
                            </div>
                            <div class="col-4 col-md-3 col-xl-2 break-xl-2">
                                <svg height="100">
                                    <title>車站</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-16"></use>
                                </svg>
                                <h3 class="h4">車站</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row justify-end">
                        <div class="col-lg-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/b-2.jpg);"></div>
                    </div>
                    <div class="bg-skmonitor-trapezoid"></div>
                    <div class="container min-vh-60 py-6 py-lg-8 relative">
                        <h2>AI 影像保全</h2>
                        <ul class="list-style-circle row no-gutters h6 pl-4">
                            <li class="col-md-6 col-lg-3 col-xl-2">內含保全系統</li>
                            <li class="col-md-6 col-lg-3 col-xl-2">雲端運算 影像分析</li>
                            <li class="col-md-6 col-lg-4">AI人工智慧技術 精準判斷</li>
                        </ul>
                        <div class="row text-center">
                            <div class="col-6 col-md-4 col-xl-2">
                                <svg height="100">
                                    <title>小型店面</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-05"></use>
                                </svg>
                                <h3>小型店面</h3>
                                <p>單一攝影機可涵蓋大部分範圍，或出入口單純之場域</p>
                            </div>
                            <div class="col-6 col-md-4 col-xl-3">
                                <svg height="100">
                                    <title>特定管制區</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-17"></use>
                                </svg>
                                <h3>特定管制區</h3>
                                <p>特定時段管制，不該有人出現的場域，例如：游泳池、頂樓、特殊倉庫、金庫、辦公室等</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row justify-end">
                        <div class="col-lg-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/b-3.jpg);"></div>
                    </div>
                    <div class="bg-skmonitor-trapezoid"></div>
                    <div class="container min-vh-60 py-6 py-lg-8 pr-md-13 relative">
                        <h2>方便看雲端監控</h2>
                        <ul class="list-style-circle row no-gutters h6 pl-4">
                            <li class="col-6 col-md-3 col-xl-2">雲端儲存</li>
                            <li class="col-6 col-md-3 col-xl-2">系統管理</li>
                            <li class="col-6 col-md-3 col-xl-2">成本低</li>
                            <li class="col-6 col-md-3 col-xl-2">快速建置</li>
                            <li class="col-6 col-md-3 col-xl-2">設備租賃</li>
                            <li class="col-6 col-md-3 col-xl-2">及時通知</li>
                            <li class="col-6 col-md-4">SSL安全認證</li>
                        </ul>
                        <div class="row text-center">
                            <div class="col-6 col-md-3 col-xl-2">
                                <svg class="img-fluid">
                                    <title>餐飲店</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-18"></use>
                                </svg>
                                <h4 class="font-bold">餐飲店</h4>
                            </div>
                            <div class="col-6 col-md-3 col-xl-2">
                                <svg class="img-fluid">
                                    <title>店面</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-05"></use>
                                </svg>
                                <h4 class="font-bold">店面</h4>
                            </div>
                            <div class="col-6 col-md-3 col-xl-2">
                                <svg class="img-fluid">
                                    <title>辦公室</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-81"></use>
                                </svg>
                                <h4 class="font-bold">辦公室</h4>
                            </div>
                            <div class="col-6 col-md-3 col-xl-2">
                                <svg class="img-fluid">
                                    <title>幼稚園</title>
                                    <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-19"></use>
                                </svg>
                                <h4 class="font-bold">幼稚園</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid relative">
                    <div class="row justify-end">
                        <div class="col-lg-6 bg-cover inset-y-0" style="background-image:url(/Content/sks/img/p-4.jpg);"></div>
                    </div>
                    <div class="bg-skmonitor-trapezoid"></div>
                    <div class="container min-vh-60 py-6 py-lg-8 pr-md-13 relative">
                        <h2>超星光級攝影機</h2>
                        <p>可支援在微光的環境，且無任何輔助光源下，仍然可以顯示清晰的彩色畫面的攝影機。</p><img class="d-none d-md-inline absolute z-top w-33" src="~/Content/sks/img/p-4.png" alt="超星光級攝影機" style="top:15%;right:15%" />
                    </div>
                </div>
            </div><a class="d-none d-md-flex carousel-control-prev justify-start text-hide" href="#feature-banner" role="button" data-slide="prev">prev<span class="carousel-control-prev-icon ml-xl-6 prev-icon-dark" aria-hidden="true"></span></a><a class="d-none d-md-flex carousel-control-next justify-end text-hide" href="#feature-banner" role="button" data-slide="next">next<span class="carousel-control-next-icon mr-xl-6 next-icon-dark" aria-hidden="true"></span></a>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8 d-none">
    <div class="container text-center">
        <h2 class="text-gray-57 mb-4">服務架構</h2>
        <div class="row justify-center">
            <div class="col-xl-8">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 902.14 362.83">
                    <circle class="cls-2" cx="122.55" cy="253.79" r="51.91" transform="rotate(-82.89 122.562 253.794)"></circle>
                    <path class="cls-3" d="M826.53 40.7l21.63 7.34-5.56 9.66h-32.82l-5.55-9.66 21.63-7.34h.67z"></path>
                    <path class="cls-3" d="M826.33 67.69c3 0 14.61-.87 21.19-4.94l-4.92-5.06h-32.82l-5.07 5.06c6.58 4.07 18.06 4.94 21 4.94zm3.4-18.77a3.54 3.54 0 11-3.54-3.53 3.54 3.54 0 013.54 3.53z"></path>
                    <path class="cls-4" d="M809.5 65.69V75S812 89.87 826 89.43C840 89.87 842.5 75 842.5 75v-7.31m21 48v-12.48l-26.29-14.37-9.67 9.92 8.03 11.04 15.14-12.97m-59.21 18.86v-12.48l26.04-14.37 9.54 9.92-8.09 11.04-14.92-12.97"></path>
                    <text class="cls-5" transform="translate(46.95 353.65)">智慧辨識發報</text>
                    <path class="cls-3" d="M584.27 87.08h3.24v18.69h-3.24a4.1 4.1 0 01-4.1-4.1V91.18a4.1 4.1 0 014.1-4.1zM653.96 105.77h-3.24V87.08h3.24a4.1 4.1 0 014.1 4.1v10.49a4.1 4.1 0 01-4.1 4.1z"></path>
                    <path class="cls-4" d="M587.66 107.77V80.2a31.46 31.46 0 0131.46-31.46 31.47 31.47 0 0131.46 31.46V113a2.23 2.23 0 01-2.22 2.22h-23"></path>
                    <path d="M633.89 112.16H625a3.21 3.21 0 00-3.21 3.2h0a3.21 3.21 0 003.21 3.21h8.87a3.21 3.21 0 003.2-3.21h0a3.2 3.2 0 00-3.18-3.2z" stroke="#002f87" stroke-width="3" stroke-linejoin="round" fill="#fff"></path>
                    <g clip-path="url(#clip-path)">
                        <image width="281" height="311" transform="matrix(.43 0 0 .42 62.91 34.19)" xlink:href="~/Content/sks/img/cam.png"></image>
                    </g>
                    <path class="cls-2" d="M84.15 71.14a45 45 0 10-4.21 5.47l11.3 4.3z"></path>
                    <path class="cls-2" d="M20.88 63.36L45.3 21.07l24.41 42.29H20.88z"></path>
                    <path d="M42.32 54.46a3 3 0 113 3.13 3 3 0 01-3-3.13zM42.94 40l-.17-4.47h5L47.65 40l-.73 9.54h-3.25z" fill="#ffc629"></path>
                    <circle class="cls-9" cx="369.8" cy="92.3" r="90.78" transform="rotate(-45 369.8 92.294)"></circle>
                    <path class="cls-9" d="M425 90.83A24.43 24.43 0 00378.73 80m15.96-13.6a31.68 31.68 0 00-59.79 4.92h-1a22 22 0 000 43.94h31.44"></path>
                    <text transform="translate(372.23 108.35)" fill="#002f87" font-size="18" letter-spacing=".1em" font-family="MicrosoftJhengHeiBold,Microsoft JhengHei" font-weight="700">
                        SKS
                        <tspan x="0" y="24">Cloud</tspan>
                    </text>
                    <text class="cls-5" transform="translate(345.61 353.65)">APP</text>
                    <path class="cls-4" d="M348.15 250.06h46v66h-46z"></path>
                    <path class="cls-3" d="M376.89 299.92a5.34 5.34 0 11-5.34-5.34 5.34 5.34 0 015.34 5.34z"></path>
                    <text class="cls-5" transform="translate(593.51 356.56)">客戶</text>
                    <path class="cls-4" d="M604 261v10.74c0 7.64 6.76 13.83 15.09 13.83 8.34 0 15.09-6.19 15.09-13.83v-14.8"></path>
                    <path class="cls-3" d="M634.2 256.94v-9.8h-15.09c-8.33 0-15.09 6.19-15.09 13.83v2.87h23.28a6.9 6.9 0 006.9-6.9v-9.8"></path>
                    <path class="cls-4" d="M649.73 319.11v-8.88c0-13.53-10.12-24.5-23.65-24.5h-13.93c-13.54 0-23.66 11-23.66 24.5v8.88z"></path>
                    <text class="cls-5" transform="translate(568.31 153.74)">管制中心</text>
                    <text class="cls-5" transform="translate(764.21 151.74)">
                        派遣機動隊
                        <tspan x="28.17" y="30">(外撿)</tspan>
                    </text>
                    <circle class="cls-4" cx="825.28" cy="284.22" r="32.29"></circle>
                    <text class="cls-5" transform="translate(750.94 351.78)">客戶自行排除</text>
                    <path class="cls-11" d="M816.185 270.607l23.617 23.617-3.599 3.6-23.617-23.618z"></path>
                    <path class="cls-11" d="M812.586 294.225l23.618-23.618 3.599 3.6-23.618 23.617z"></path>
                    <path d="M123.5 244.88c3.57 0 4.32 1.43 4.46 2.24a6.13 6.13 0 00.58 1.88c1.39 2.76 5.56 8.74 14.94 6.8 12.06-2.49 11.78-10.44 11.78-10.44v-2a9.78 9.78 0 00-9.79-9.78H99.63a9.78 9.78 0 00-9.78 9.78v2s-.29 7.95 11.78 10.44c9.37 1.94 13.55-4 14.94-6.8a6.13 6.13 0 00.58-1.88c.14-.81.88-2.24 4.46-2.24zm6.38 29.12h-14.65a6.9 6.9 0 01-6.9-6.9 6.9 6.9 0 016.9-6.89h14.65a6.89 6.89 0 016.89 6.89 6.89 6.89 0 01-6.89 6.9z" stroke-width="3" stroke-linejoin="round" stroke="#ffc629" fill="none"></path>
                    <path class="cls-13" d="M372.05 206.73v24"></path>
                    <path class="cls-14" d="M378.23 228.22l-6.18 5.94-6.17-5.94"></path>
                    <circle class="cls-11" cx="372.05" cy="202.23" r="3.25"></circle>
                    <path class="cls-13" d="M608.5 220.69v-43"></path>
                    <path class="cls-14" d="M602.56 178.35l5.94-6.17 5.94 6.17"></path>
                    <path class="cls-13" d="M635.5 180.69v39"></path>
                    <path class="cls-14" d="M641.44 217.31l-5.94 6.17-5.94-6.17"></path>
                    <circle class="cls-11" cx="608.5" cy="221.69" r="3.25"></circle>
                    <circle class="cls-11" cx="635.5" cy="176.18" r="3.25"></circle>
                    <path class="cls-13" d="M501.13 92.06h39"></path>
                    <path class="cls-14" d="M537.74 86.12l6.17 5.94-6.17 5.95"></path>
                    <circle class="cls-11" cx="496.62" cy="92.06" r="3.25"></circle>
                    <path class="cls-13" d="M203.13 92.06h39"></path>
                    <path class="cls-14" d="M239.74 86.12l6.17 5.94-6.17 5.95"></path>
                    <circle class="cls-11" cx="198.62" cy="92.06" r="3.25"></circle>
                    <path class="cls-13" d="M428.5 285.06h111.63"></path>
                    <path class="cls-14" d="M537.74 279.12l6.17 5.94-6.17 5.95"></path>
                    <circle class="cls-11" cx="428.62" cy="285.06" r="3.25"></circle>
                    <path class="cls-13" d="M705.13 92.06h39"></path>
                    <path class="cls-14" d="M741.74 86.12l6.17 5.94-6.17 5.95"></path>
                    <circle class="cls-11" cx="700.62" cy="92.06" r="3.25"></circle>
                    <path class="cls-13" d="M705.13 286.06h39"></path>
                    <path class="cls-14" d="M741.74 280.12l6.17 5.94-6.17 5.95"></path>
                    <circle class="cls-11" cx="700.62" cy="286.06" r="3.25"></circle>
                </svg>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Monitor })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>
