﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "商辦雲端守護";
}
@section head{
    <title>新光保全-商辦雲端守護</title>
    <meta name="description" content="更合乎效益的商辦大樓安全解決方案! 取代夜間警衛，物聯網24小時智慧監控，出入口/死角安全保護與緊急狀況即時通知，提供更智慧安全的辦公環境◦"/>
    <meta name="twitter:title" content="新光保全-商辦雲端守護"/>
    <meta name="twitter:description" content="更合乎效益的商辦大樓安全解決方案! 取代夜間警衛，物聯網24小時智慧監控，出入口/死角安全保護與緊急狀況即時通知，提供更智慧安全的辦公環境◦"/>
    <meta property="og:title" content="新光保全-商辦雲端守護"/>
    <meta property="og:description" content="更合乎效益的商辦大樓安全解決方案! 取代夜間警衛，物聯網24小時智慧監控，出入口/死角安全保護與緊急狀況即時通知，提供更智慧安全的辦公環境◦"/>
    <link rel="canonical" href="@url" />
    <style>
        .st3-0 {
            fill: #fff
        }

        .st3-1 {
            fill: #b5b5b5
        }

        .st3-2 {
            fill: #d2d1cf
        }

        .st3-5, .st3-6 {
            stroke-miterlimit: 10;
            fill: #fff;
            stroke: #b5b5b5;
            stroke-width: 3
        }

        .st3-6 {
            fill: none
        }

        .st1 {
            fill: none
        }

        .st2 {
            fill: #232323
        }

        .st4 {
            font-size: 14px
        }

        .st5 {
            fill: #555
        }

        .st6 {
            font-size: 16.222px
        }

        .st10, .st7, .st8 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-miterlimit: 10
        }

        .st10, .st8 {
            stroke-linejoin: round
        }

        .st10 {
            stroke: #ffc629
        }

        .st11 {
            fill: #ffc629
        }

        .st12 {
            font-size: 17px
        }

        .st13 {
            fill: none;
            stroke: #002f87;
            stroke-width: 3;
            stroke-miterlimit: 10
        }

        .st14 {
            font-size: 18px
        }

        .st17 {
            font-size: 24px
        }

        .st18 {
            letter-spacing: 1
        }

        .st19 {
            fill: #002f87
        }

        .st21, .st22 {
            fill: none;
            stroke: #aaa;
            stroke-width: 3;
            stroke-miterlimit: 10
        }

        .st22 {
            stroke-width: 2
        }

        .st23 {
            stroke-dasharray: 2,3
        }

        .st23, .st24 {
            fill: none;
            stroke: #888;
            stroke-width: 2;
            stroke-miterlimit: 10
        }

        .st25 {
            fill: #fff
        }

        .st26 {
            fill: none;
            stroke: #002f87;
            stroke-width: 2;
            stroke-miterlimit: 10
        }
    </style>
}

<section class="bg-gray-ee">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item text-white h5 font-bold text-center active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75" style="background-image:url(/Content/sks/img/A3-BN-01.jpg)">
                    <h2 class="h1">商辦雲端守護</h2>
                    <p>管委首選</p>
                    <p>更合乎效益的物聯網商辦大樓安全解決方案</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center border-y-white">
        <div class="row items-center">
            <div class="col-md-5 col-lg-4 bg-cover bg-top vh-50" style="background-image:url(/Content/sks/img/B1-BN2-01.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-7">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-xl-3">
                        <svg class="w-100 vh-25">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-01"></use>
                        </svg>
                    </div>
                    <div class="col-lg-8 col-xl-9 text-vertical-center">
                        <p class="h2 font-bold">我們擁有北中南3處</p>
                        <p class="h2 font-bold">管制/服務中心</p>
                        <p class="h4">全年無休 安全守護 社區安全 讓您放心</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center py-6 py-lg-8">
    <h2 class="text-gray-57">駐衛警工作內容</h2>
    <div class="white-gray-black">
        <div class="container py-6 py-lg-8">
            <div class="row justify-around">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <svg class="img-fluid" height="110">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-icon-sun"></use>
                    </svg>
                    <h3 class="h2">日間</h3>
                    <ul class="list-style-circle text-left h4 d-inline-block">
                        <li>安全維護</li>
                        <li>信件收發</li>
                        <li>訪客接待</li>
                        <li>庶務工作</li>
                        <li>車道管制</li>
                    </ul>
                </div>
                <div class="d-none d-sm-block col-sm-4 text-vertical-center self-center">
                    <svg class="img-fluid" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 432.3 434.6" xml:space="preserve">

                    <circle class="st3-0" cx="216.1" cy="216.3" r="216.1"></circle>
                    <path class="st3-1" d="M401 188.9c-.7 0-1.4-.3-1.7-1l-52.2-82.6-53 81.7c-.6 1-1.9 1.2-2.9.6s-1.2-1.9-.6-2.9l54.8-84.4c.4-.6 1-.9 1.7-.9s1.4.4 1.7 1l53.9 85.3c.6 1 .3 2.2-.6 2.8-.4.3-.7.4-1.1.4zm-38.3-96.8L68.9 141.5l-1.1-6.9 293.9-49.4z"></path>
                    <circle class="st3-1" cx="346.3" cy="91.9" r="11.1"></circle>
                    <circle class="st3-0" cx="346.3" cy="91.9" r="7.3"></circle>
                    <circle class="st3-1" cx="86.1" cy="137.6" r="11.1"></circle>
                    <circle class="st3-0" cx="86.1" cy="137.6" r="7.3"></circle>
                    <path class="st3-1" d="M140.2 234.6c-.7 0-1.4-.3-1.7-1l-52.2-82.5-53 81.7c-.6 1-1.9 1.2-2.9.6s-1.2-1.9-.6-2.9l54.8-84.4c.4-.6 1-.9 1.7-.9s1.4.4 1.7 1l53.9 85.3c.6 1 .3 2.2-.6 2.9-.3.1-.7.2-1.1.2z"></path>
                    <path class="st3-2" d="M205.7 139.7h17.9v150.7h-17.9z"></path>
                    <path class="st3-2" d="M231.5 303.8c0-8.4-6.8-15.2-15.2-15.2H213c-8.4 0-15.2 6.8-15.2 15.2v22.1h33.7v-22.1z"></path>
                    <path d="M242 325.7h-54.7c-6.5 0-11.8 4.7-12.9 10.8H255c-1.2-6.2-6.6-10.8-13-10.8z" fill="#c5c5c5"></path>
                    <path class="st3-1" d="M293.3 351.5c0-8.4-6.8-15.2-15.2-15.2h-127c-8.4 0-15.2 6.8-15.2 15.2v.2h157.3v-.2h.1z"></path>
                    <path class="st3-2" d="M218.1 86.1c-.1 0-.1 0-.2-.1-.1 0-.2-.1-.4-.1-.9-.2-1.8-.3-2.8-.3h-.2c-1 0-1.9.1-2.8.3-.1 0-.2.1-.4.1-.1 0-.1 0-.2.1-9.5 2.5-12.1 14.5-12.1 14.5v31.6c.4.3.8.6 1.1.9 1.3 1.5 3.3 4.3 3.3 7.1h22.4c0-2.7 2-5.5 3.3-7.1.3-.3.7-.6 1.1-.9v-31.6c0 .1-2.6-12-12.1-14.5z"></path>
                    <circle class="st3-0" cx="214.6" cy="113" r="3.5"></circle>
                    <path class="st3-2" d="M28.2 229c0 20.5 9.7 38.5 24.5 49.5 9.4 6.9 20.8 11 33.1 11 31.8 0 57.6-27 57.6-60.4h-25.9l-89.3-.1zm350.1-45.7h-89.4c0 20.5 9.7 38.5 24.5 49.5 9.4 6.9 20.8 11 33.1 11 31.8 0 57.6-27.1 57.6-60.4h-25.8v-.1z"></path>
                    <path d="M67.5 202.3s-3.1 4.4-2.4 7c.2.9 1.4 1.8 2.4 1.8 1.1 0 2.2-1 2.4-1.8.7-2.6-2.4-7-2.4-7zm-6.8 6.8s-3.1 4.4-2.4 7c.2.9 1.4 1.8 2.4 1.8 1.1 0 2.2-1 2.4-1.8.7-2.6-2.4-7-2.4-7z" stroke-linejoin="round" fill="none" stroke="#a8a8a8" stroke-width="2" stroke-miterlimit="10"></path>
                    <path class="st3-5" d="M86.6 186l12.4 4.5-3.2 5.8H76.9l-3.2-5.8 12.5-4.5z"></path>
                    <path class="st3-6" d="M86.5 202.1c1.7 0 8.4-.6 12.2-2.9l-2.8-3H77l-2.9 3c3.8 2.3 10.4 2.9 12.1 2.9h.3z"></path>
                    <circle class="st3-1" cx="86.4" cy="191.2" r="2"></circle>
                    <path class="st3-6" d="M76.7 200.7v5.6s1.8 8.6 9.9 8.3c8 .3 9.9-8.3 9.9-8.3v-4.8m10.9 27.7v-6.7l-14.9-8.3-5.4 5.7 4.6 6.4 8.6-7.7m-33.9 10.6v-6.7l15-8.3 5.5 5.7-4.7 6.4-8.6-7.7"></path>
                    <path class="st3-5" d="M347.8 140.6l12.4 4.5-3.2 5.8h-18.9l-3.2-5.8 12.5-4.5z"></path>
                    <path class="st3-6" d="M347.7 156.7c1.7 0 8.4-.6 12.2-2.9l-2.8-3h-18.9l-2.9 3c3.8 2.3 10.4 2.9 12.1 2.9h.3z"></path>
                    <circle class="st3-1" cx="347.6" cy="145.8" r="2"></circle>
                    <path class="st3-6" d="M337.9 155.3v5.6s1.8 8.6 9.9 8.3c8 .3 9.9-8.3 9.9-8.3v-4.8m10.9 27.7v-6.7l-14.9-8.3-5.4 5.7 4.6 6.4 8.6-7.7m-33.9 10.6v-6.7l15-8.3 5.5 5.7-4.7 6.4-8.6-7.7"></path>
              </svg>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-white">
                    <svg class="img-fluid" height="110">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-icon-moon"></use>
                    </svg>
                    <h3 class="h2">夜間</h3>
                    <ul class="list-style-circle text-left h4 d-inline-block">
                        <li>安全維護</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h6 text-center py-6 py-lg-8">
    <div class="container">
        <div class="text-gray-57 mb-6 mb-lg-8">
            <p class="h4">更合乎效益的管理方案</p>
            <h2>商辦雲端守護</h2>
            <p class="h2 font-bold">提供您全方面的解決方案</p>
        </div>
    </div>
    <h2 class="text-gray-57 mb-4">服務優勢</h2>
    <div class="carousel slide carousel-fade" id="feature-banner" data-ride="carousel" data-pause="true">
        <ol class="carousel-indicators indicators-gray">
            <li class="active" data-target="#feature-banner" data-slide-to="0"></li>
            <li data-target="#feature-banner" data-slide-to="1"></li>
            <li data-target="#feature-banner" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container-fluid bg-gray-ee">
                    <div class="row flex-row-reverse">
                        <div class="col-md-6 vh-50 bg-cover" style="background-image:url(/Content/sks/img/BN2-01.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toright-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 text-vertical-center min-vh-33">
                            <h2>費用更精準運用</h2>
                            <p class="mb-0">取代夜班警衛</p>
                            <p class="mb-0">降低一例一休增加的人力成本</p>
                            <p>讓費用更精準用在刀口上</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid bg-gray-ee">
                    <div class="row">
                        <div class="col-md-6 vh-50 bg-cover" style="background-image:url(/Content/sks/img/BN2-02.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 text-vertical-center min-vh-33">
                            <h2>設備故障立即通報</h2>
                            <p>電機設備與雲端守護系統連線，若發生設備故障，即可第一時間通報維修，避免造成不便及產生安全疑慮！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container-fluid bg-gray-ee">
                    <div class="row flex-row-reverse">
                        <div class="col-md-6 vh-50 bg-cover" style="background-image:url(/Content/sks/img/BN2-03.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toright-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 text-vertical-center min-vh-33">
                            <h2>守護強化安全死角</h2>
                            <p>降低大樓安全死角不易查巡，造成安全上的漏洞，透過新保雲端守護強化社區安全！</p>
                        </div>
                    </div>
                </div>
            </div><a class="d-none d-md-flex carousel-control-prev justify-start text-hide" href="#feature-banner" role="button" data-slide="prev">prev<span class="carousel-control-prev-icon ml-xl-6 prev-icon-dark" aria-hidden="true"></span></a><a class="d-none d-md-flex carousel-control-next justify-end text-hide" href="#feature-banner" role="button" data-slide="next">next<span class="carousel-control-next-icon mr-xl-6 next-icon-dark" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="container text-paragraph-gray text-center mt-6 mt-lg-8 py-4">
        <h2 class="text-gray-57 mb-4">服務項目</h2>
        <div class="row divider border-sm-3n-none">
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>門禁出入管理</title>
                    <desc>透過物聯網設備，整合管理社區、停車場個出入口，確保社區門戶安全</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-A3-01"></use>
                </svg>
                <h3>門禁出入管理</h3>
                <p>透過物聯網設備，整合管理社區、停車場個出入口，確保社區門戶安全</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>保全系統防護</title>
                    <desc>針對社區內重要區域（管委會辦公室、機房等）設計保全防線，提升社區安全</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-A3-02"></use>
                </svg>
                <h3>保全系統防護</h3>
                <p>針對社區內重要區域（管委會辦公室、機房等）設計保全防線，提升社區安全</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>影像監控整合</title>
                    <desc>社區監視影像連回新光保全管制中心，24小時全天候安全監控</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-A3-03"></use>
                </svg>
                <h3>影像監控整合</h3>
                <p>社區監視影像連回新光保全管制中心，24小時全天候安全監控</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>設備監控連線</title>
                    <desc>機電、消防設備即時監控、異常時透過APP通報社區管理人員及時報修</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-A3-04"></use>
                </svg>
                <h3>設備監控連線</h3>
                <p>機電、消防設備即時監控、異常時透過APP通報社區管理人員及時報修</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee mb-6 mb-md-10">
    <div class="carousel slide carousel-fade" id="feature-banner2" data-ride="carousel" data-pause="true">
        <ol class="carousel-indicators indicators-gray">
            <li class="active" data-target="#feature-banner2" data-slide-to="0"></li>
            <li data-target="#feature-banner2" data-slide-to="1"></li>
            <li data-target="#feature-banner2" data-slide-to="2"></li>
            <li data-target="#feature-banner2" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="container py-6 py-lg-8 bg-cover" style="background-image:url(/Content/sks/img/BN3-01.jpg);">
                    <div class="bg-gray-ee-gradient toright-50 circle-lg"></div>
                    <div class="row justify-between">
                        <div class="col-lg-7 text-gray-23">
                            <h2>透過系統整合</h2>
                            <h2>提供更安全的辦公空間</h2>
                            <ul class="list-style-circle h6 text-gray">
                                <li>支援第二螢幕廣告</li>
                                <li>安全防護防止入侵</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-xl-4 min-vh-60">
                            <ul class="list-unstyled font-bold h4">
                                <li class="py-2"><span class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-1.png" alt="安全死角防護" /></span><span class="d-inline-block">安全死角防護</span></li>
                                <li class="py-2"><span class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-item-4.png" alt="影像監視設備" /></span><span class="d-inline-block">影像監視設備</span></li>
                                <li class="py-2"><span class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-2.png" alt="停車場水位偵測" /></span><span class="d-inline-block">停車場水位偵測</span></li>
                                <li class="py-2"><span class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-3.png" alt="進出管理" /></span><span class="d-inline-block">進出管理</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container py-6 py-lg-8 bg-cover" style="background-image:url(/Content/sks/img/BN3-02.jpg);">
                    <div class="bg-gray-ee-gradient toright-50 circle-lg"></div>
                    <div class="row justify-between">
                        <div class="col-lg-7">
                            <h2>緊急狀況即時通知</h2>
                            <p class="h5">遇火災及淹水時可發出警報疏散</p>
                        </div>
                        <div class="col-lg-5 col-xl-4 min-vh-60 text-paragraph-gray">
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-無線主機.png" alt="無線主機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">無線主機</h3>
                                    <p>各項訊號，轉由雲端管制中心監控</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-火災感知.png" alt="火災感知" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">火災感知</h3>
                                    <p class="font-normal">偵測到煙霧/熱能發出警訊</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-item-4.png" alt="高畫質攝影機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">高畫質攝影機</h3>
                                    <p>200~500萬畫素，掌握現場安全</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-火災感知.png" alt="訊號控制" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">訊號控制</h3>
                                    <p>整合各項設備輸出訊號</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-2.png" alt="水位偵測" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">水位偵測</h3>
                                    <p>偵測到積水狀況發出警訊</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container py-8 bg-cover" style="background-image:url(/Content/sks/img/BN3-03.jpg);">
                    <div class="bg-gray-ee-gradient toright-50 circle-lg"></div>
                    <div class="row justify-between">
                        <div class="col-lg-7">
                            <h2>出入口安全防護</h2>
                            <h2>防止陌生人進出</h2>
                            <p>結合門禁管理影像監控</p>
                            <p>停車場/公共區域門窗放置感知器</p>
                            <p>系統可隨時偵測異常狀況發生</p>
                        </div>
                        <div class="col-lg-5 col-xl-4 text-paragraph-gray min-vh-60">
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-3.png" alt="門禁卡機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">門禁卡機</h3>
                                    <p class="h6 font-normal">可沿用社區原有卡機</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-03-門弓器.png" alt="門弓器" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">門弓器</h3>
                                    <p class="h6 font-normal">開門後自動回彈關門</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-03-保全磁簧.png" alt="保全磁簧" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">保全磁簧</h3>
                                    <p class="h6 font-normal">開啟時傳訊，防止破壞入侵</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-03-鐵捲門感知器.png" alt="鐵捲門感知器" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">鐵捲門感知器</h3>
                                    <p class="h6 font-normal">開啟時傳訊，防止破壞入侵</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-item-4.png" alt="高畫質攝影機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4">高畫質攝影機</h3>
                                    <p class="h6 font-normal">200~500萬畫素，即時掌握安全</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="container py-8 bg-cover" style="background-image:url(/Content/sks/img/BN3-04.jpg);">
                    <div class="bg-gray-ee-gradient toright-50 circle-lg"></div>
                    <div class="row justify-between">
                        <div class="col-lg-7">
                            <h2>停車場/地下室/頂樓</h2>
                            <h2>安全死角有保護</h2>
                        </div>
                        <div class="col-lg-5 col-xl-4 text-paragraph-gray min-vh-60">
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-無線主機.png" alt="無線主機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4 font-bold">無線主機</h3>
                                    <p class="h6 font-normal">各項訊號，轉由雲端管制中心監控</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-01-item-1.png" alt="緊急按鈕" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4 font-bold">緊急按鈕</h3>
                                    <p class="h6 font-normal">發生狀況，即時通知新光保全</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-03-保全磁簧.png" alt="保全磁簧" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4 font-bold">保全磁簧</h3>
                                    <p class="h6 font-normal">開啟時傳訊，防止破壞入侵</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-04-PIR感知器.png" alt="PIR感知器" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4 font-bold">PIR感知器</h3>
                                    <p class="h6 font-normal">紅外線偵測，入侵偵測範圍時傳訊</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="bg-white-circle mr-2"><img src="~/Content/sks/img/BN3-02-item-4.png" alt="高畫質攝影機" /></div>
                                <div class="d-inline-block align-middle">
                                    <h3 class="h4 font-bold">高畫質攝影機</h3>
                                    <p class="h6 font-normal">200~500萬畫素，即時掌握安全</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="d-none d-md-flex carousel-control-prev justify-start text-hide" href="#feature-banner2" role="button" data-slide="prev">prev<span class="carousel-control-prev-icon ml-xl-6 prev-icon-dark" aria-hidden="true"></span></a><a class="d-none d-md-flex carousel-control-next justify-end text-hide" href="#feature-banner2" role="button" data-slide="next">next<span class="carousel-control-next-icon mr-xl-6 next-icon-dark" aria-hidden="true"></span></a>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8 mb-6 mb-lg-8">
    <div class="container text-center">
        <h2 class="text-gray-57">服務流程</h2>
        <div class="row justify-center">
            <div class="col-xl-10" style="margin-left:-30%">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1150 450" width="120%" style="max-width:120%">
                    <g>
                        <g>
                            <rect x="882.4" y="218.2" class="st1" width="87.5" height="49.8" />
                            <text transform="matrix(1 0 0 1 910.3091 230.6553)" class="st2 st3 st4">PND</text>
                            <text transform="matrix(1 0 0 1 897.109 251.8193)" class="st2 st3 st4">指揮勤務</text>
                        </g>
                        <rect x="705" y="419.5" class="st1" width="103.7" height="31.7" />
                        <text transform="matrix(1 0 0 1 727.498 431.917)" class="st2 st3 st4">前往標的</text>
                        <rect x="566.2" y="232.7" class="st1" width="139.9" height="31.7" />
                        <text transform="matrix(1 0 0 1 591.9312 245.1826)" class="st2 st3 st4">連回現場影像</text>
                        <rect x="581.7" y="108.5" class="st1" width="85.1" height="32.5" />
                        <text transform="matrix(1 0 0 1 590.6004 122.9844)" class="st5 st3 st6">APP推播</text>
                        <g>
                            <rect x="606.8" y="37.8" class="st7" width="34.9" height="51.7" />
                            <circle class="st7" cx="624.2" cy="77.4" r="4.2" />
                        </g>
                        <rect x="387" y="89.2" class="st1" width="147.3" height="51.8" />
                        <text transform="matrix(1 0 0 1 422.8275 103.5792)" class="st5 st3 st6">社區主委/</text>
                        <text transform="matrix(1 0 0 1 414.2275 125.1791)" class="st5 st3 st6">委員/駐衛警</text>
                        <g>
                            <g>
                                <polygon class="st7" points="460.3,37 472.8,41.5 469.6,47.3 460.3,47.3 460,47.3 450.7,47.3 447.5,41.5 459.9,37 			" />
                                <path class="st7" d="M460.2,53.1c1.7,0,8.4-0.6,12.2-2.9l-2.8-3h-9.3H460h-9.3l-2.9,3c3.8,2.3,10.4,2.9,12.1,2.9H460.2z" />
                                <circle class="st5" cx="460.1" cy="42.2" r="2" />
                            </g>
                            <path class="st7" d="M450.4,51.7v5.6c0,0,1.8,8.6,9.9,8.3c8,0.3,9.9-8.3,9.9-8.3v-4.8" />
                            <g>
                                <polyline class="st7" points="481.2,80.2 481.2,73.5 466.3,65.2 460.8,70.9 465.5,77.3 474,69.6 			" />
                            </g>
                            <g>
                                <polyline class="st7" points="440.1,80.2 440.1,73.5 455.1,65.2 460.6,70.9 456,77.3 447.4,69.6 			" />
                            </g>
                        </g>
                        <g>
                            <line class="st8" x1="416.8" y1="309.8" x2="498" y2="310" />
                            <polyline class="st8" points="423.2,309.8 423.4,228.6 460.6,239.8 460.4,309.9 		" />
                            <polyline class="st8" points="461.7,251.1 490.1,251.1 489.9,310 		" />

                            <rect x="431.3" y="247.7" transform="matrix(3.005963e-03 -1 1 3.005963e-03 184.2335 689.147)" class="st8" width="12.9" height="9" />

                            <rect x="431.3" y="268" transform="matrix(3.005963e-03 -1 1 3.005963e-03 163.9097 709.3641)" class="st8" width="12.9" height="9" />

                            <rect x="431.1" y="288.2" transform="matrix(3.005963e-03 -1 1 3.005963e-03 143.5852 729.3817)" class="st8" width="12.9" height="9" />
                        </g>
                        <path class="st9" d="M502.1,212.5c-15,0-27.2,12.1-27.2,27.1c0,9,4.3,17,11.1,21.9l-6,10.8l10.5-8.1c3.5,1.7,7.4,2.6,11.5,2.6
		c15,0,27.2-12.1,27.2-27.1C529.2,224.7,517.1,212.5,502.1,212.5z" />
                        <polygon class="st10" points="487.3,250.1 502.1,224.7 516.7,250.2 	" />
                        <g>
                            <g>
                                <path class="st11" d="M500.2,244.3c0-0.9,0.7-1.6,1.6-1.6s1.6,0.7,1.6,1.7c0,0.9-0.7,1.7-1.6,1.7
				C500.9,246,500.2,245.2,500.2,244.3z M500.6,236.6l-0.1-2.4h2.7l-0.1,2.4l-0.4,5.1H501L500.6,236.6z" />
                            </g>
                        </g>
                        <rect x="762.8" y="353.8" class="st1" width="107.2" height="29.2" />
                        <text transform="matrix(1 0 0 1 772.1892 368.887)" class="st2 st3 st12">雲平台監控</text>
                        <g>
                            <path class="st8" d="M816.1,263.6c3.4-6.9,10.5-11.6,18.7-11.6c11.5,0,20.8,9.3,20.8,20.8c0,0-0.3,6.3-3.3,8.5" />
                            <path class="st8" d="M829.7,252c-4.2-9.6-13.7-16.3-24.8-16.3c-12.7,0-23.3,8.7-26.2,20.5h-0.8c-10.4,0-18.7,8.4-18.7,18.7
			c0,10.4,8.4,18.7,18.7,18.7h26.8h9.6" />
                            <path class="st13" d="M840.6,278.7c-16.2,0.1-26.4,14.9-26.4,14.9s10.4,14.8,26.9,14.9c16.2-0.1,26.4-14.9,26.4-14.9
			S857.1,278.9,840.6,278.7z" />
                            <path class="st13" d="M837.5,286.3c1.1-0.3,2.1-0.7,3.3-0.7c4.4,0,8,3.6,8,8s-3.6,8-8,8s-8-3.6-8-8c0-1.2,0.3-2.4,0.7-3.4
			C833.6,290.3,834.8,287.1,837.5,286.3z" />
                        </g>
                        <rect x="1010.9" y="353.8" class="st1" width="79" height="26" />
                        <text transform="matrix(1 0 0 1 1024.0393 368.8865)" class="st2 st3 st12">機動隊</text>
                        <rect x="754.6" y="150.5" class="st1" width="116.8" height="24.7" />
                        <text transform="matrix(1 0 0 1 754.595 166.54)" class="st5 st3 st14">連絡相關單位</text>
                        <rect x="725.9" y="85.1" class="st1" width="161.5" height="15.8" />
                        <text transform="matrix(1 0 0 1 771.5337 99.7016)" class="st5 st3 st15">110/119</text>
                        <g>
                            <path class="st13" d="M809.6,37.5l0.2-3.6c0.1-1.3,1.2-2.4,2.6-2.3l12.1,0.8c1.3,0.1,2.4,1.2,2.3,2.6l-0.2,3.6" />
                            <circle class="st7" cx="767.7" cy="66.3" r="6.9" />
                            <circle class="st7" cx="838.3" cy="66.3" r="6.9" />
                            <path class="st7" d="M844.7,69.5h9.4c2.3,0,4.2-1.8,4.4-4.1l1.1-15.1c0.1-1-0.5-2-1.4-2.5c-1.8-0.8-5.1-2.1-9.5-2.6
			c-2.6-0.3-5.2-1-7.6-2.1l-6.4-2.9c-0.7-0.3-1.5-0.5-2.3-0.6L805,38.1c-1.2-0.1-2.3,0.2-3.3,0.7l-16,8.4c0,0-16,1.8-28.6,7
			c-1.9,0.8-3.3,2.4-3.8,4.4c-0.6,2.5-1.2,5.9-0.4,8.8l1.4,2.7h6.5" />
                            <line class="st7" x1="774.4" y1="69.6" x2="832" y2="69.6" />
                        </g>
                        <g>
                            <g>
                                <rect x="456" y="332.4" class="st1" width="51.6" height="24.4" />
                                <text transform="matrix(1 0 0 1 456.0139 353.7383)" class="st16 st17 st18">事故</text>
                            </g>
                            <g>
                                <circle class="st13" cx="435.1" cy="344.6" r="13.2" />
                                <g>
                                    <rect x="426.4" y="334.9" class="st1" width="17.5" height="19.4" />
                                    <text transform="matrix(1 0 0 1 429.7865 350.8833)" class="st19 st16 st14">1</text>
                                </g>
                            </g>
                        </g>
                        <g>
                            <g>
                                <rect x="807.2" y="319.3" class="st1" width="52.6" height="24.5" />
                                <text transform="matrix(1 0 0 1 807.1605 340.6521)" class="st16 st17 st18">管制</text>
                            </g>
                            <circle class="st13" cx="786.2" cy="331.6" r="13.2" />
                            <g>
                                <rect x="777.5" y="321.9" class="st1" width="17.5" height="19.4" />
                                <text transform="matrix(1 0 0 1 780.8862 337.8835)" class="st19 st16 st14">2</text>
                            </g>
                        </g>
                        <g>
                            <g>
                                <rect x="1041.3" y="318.6" class="st1" width="52.5" height="25.9" />
                                <text transform="matrix(1 0 0 1 1041.2836 339.9514)" class="st16 st17 st18">處置</text>
                            </g>
                            <g>
                                <g>
                                    <circle class="st20" cx="1020.2" cy="331.6" r="13.2" />
                                    <g>
                                        <rect x="1011.5" y="321.9" class="st1" width="17.5" height="19.4" />
                                        <text transform="matrix(1 0 0 1 1014.8862 337.8835)" class="st19 st16 st14">3</text>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g>
                            <g>
                                <rect x="803.9" y="115.6" class="st1" width="52.5" height="25.9" />
                                <text transform="matrix(1 0 0 1 803.9004 136.9514)" class="st16 st17 st18">處置</text>
                            </g>
                            <circle class="st13" cx="782.9" cy="128.6" r="13.2" />
                            <g>
                                <rect x="774.1" y="118.9" class="st1" width="17.5" height="19.4" />
                                <text transform="matrix(1 0 0 1 777.5032 134.8835)" class="st19 st16 st14">3</text>
                            </g>
                        </g>
                        <rect x="177.4" y="388.1" class="st1" width="125.6" height="26.5" />
                        <text transform="matrix(1 0 0 1 202.5091 404.1567)" class="st2 st16 st14">設備異常</text>
                        <g>
                            <g>
                                <polyline class="st21" points="264.7,375.1 264.7,333 215.7,333 215.7,375.1 245.7,375.1 			" />
                                <line class="st21" x1="230.4" y1="350.2" x2="243.4" y2="350.2" />
                                <circle class="st21" cx="224.6" cy="350.2" r="2.1" />
                                <line class="st21" x1="230.4" y1="359.3" x2="243.4" y2="359.3" />
                                <circle class="st21" cx="224.6" cy="359.3" r="2.1" />
                                <polyline class="st21" points="255.3,332 255.3,338.5 248.9,350.8 255.3,350.8 248.9,362.5 256.2,362.5 248.8,375 245.8,375.1
							" />
                            </g>
                        </g>
                        <rect x="176.4" y="245.7" class="st1" width="125.6" height="27.9" />
                        <text transform="matrix(1 0 0 1 201.5088 261.7171)" class="st2 st16 st14">保全發報</text>
                        <path class="st21" d="M258.2,197.2c0,0,3.9,30.2-18.8,37.3c0,0-21.3-6.5-19.3-37.3c6.9,0.5,13.7-2.2,18.3-7.3l0.8-0.8l1.1,1.2
		c4.5,4.9,11,7.4,17.7,7L258.2,197.2z" />
                        <rect x="177.4" y="113.7" class="st1" width="125.6" height="26.5" />
                        <text transform="matrix(1 0 0 1 202.5057 129.642)" class="st2 st16 st14">進出管制</text>
                        <g>
                            <g>

                                <rect x="226.5" y="72" transform="matrix(9.070885e-03 -1 1 9.070885e-03 149.7365 327.6496)" class="st21" width="27.3" height="32.5" />
                                <path class="st21" d="M241.7,55.3c-4-0.1-7.6,3-7.7,7.1l-0.4,12l15,0.5l0.4-12C249.1,58.9,245.8,55.5,241.7,55.3z" />
                            </g>
                        </g>
                        <g>
                            <polyline class="st22" points="301.2,122 322.2,122 322.2,396 301.2,396 		" />
                            <line class="st22" x1="300.7" y1="254" x2="321.7" y2="254" />
                        </g>
                        <line class="st22" x1="322.7" y1="271" x2="403.7" y2="271" />
                        <circle class="st11" cx="300.3" cy="396" r="3.2" />
                        <circle class="st11" cx="299.3" cy="254" r="3.2" />
                        <circle class="st11" cx="402.2" cy="270.5" r="3.2" />
                        <circle class="st11" cx="300.3" cy="122" r="3.2" />
                        <g>
                            <polyline class="st23" points="461.7,379 461.7,404 1057.7,404 1057.7,385 		" />
                            <polyline class="st24" points="455.9,379.5 462,373.5 468.2,379.5 		" />
                        </g>
                        <circle class="st19" cx="1057.2" cy="382.5" r="3.2" />
                        <g>
                            <line class="st23" x1="813.3" y1="209" x2="813.3" y2="185" />
                            <polyline class="st24" points="807.1,187.5 813.3,181.6 819.5,187.5 		" />
                            <circle class="st19" cx="813.3" cy="213.5" r="3.2" />
                        </g>
                        <g>
                            <line class="st23" x1="463.3" y1="209" x2="463.3" y2="151" />
                            <polyline class="st24" points="457.1,152.5 463.3,146.6 469.4,152.5 		" />
                            <circle class="st19" cx="463.3" cy="213.5" r="3.2" />
                        </g>
                        <line class="st23" x1="887.7" y1="272.5" x2="964.5" y2="272.5" />
                        <polyline class="st24" points="963.8,266.4 969.7,272.5 963.8,278.7 	" />
                        <circle class="st19" cx="888.2" cy="272.5" r="3.2" />
                        <g>
                            <line class="st23" x1="546.7" y1="260.8" x2="724.7" y2="260.8" />
                            <polyline class="st24" points="722.1,254.9 728.2,260.8 722.1,266.8 		" />
                            <line class="st23" x1="724.7" y1="287.8" x2="550.7" y2="287.8" />
                            <polyline class="st24" points="550.1,293.8 544,287.8 550.1,281.9 		" />
                            <circle class="st19" cx="547.2" cy="260.8" r="3.2" />

                            <ellipse transform="matrix(0.6099 -0.7925 0.7925 0.6099 55.0541 686.9069)" class="st19" cx="725.2" cy="287.5" rx="3.2" ry="3.2" />
                        </g>
                        <line class="st22" x1="511.7" y1="66.7" x2="581.2" y2="66.7" />
                        <circle class="st11" cx="579.7" cy="66.7" r="3.2" />
                        <circle class="st11" cx="511.2" cy="66.5" r="3.2" />
                        <g>
                            <circle class="st7" cx="1010.7" cy="286.3" r="6.9" />
                            <circle class="st7" cx="1081.3" cy="286.3" r="6.9" />
                            <path class="st7" d="M1087.7,289.5h10.7c1.6,0,2.9-1.2,3-2.8l1.2-16.5c0.1-1-0.5-2-1.4-2.5c-1.8-0.8-5.1-2.1-9.5-2.6
			c-2.6-0.3-5.2-1-7.6-2.1l-6.4-2.9c-0.7-0.3-1.5-0.5-2.3-0.6l-14.9-0.8l-12.6-0.7c-1.2-0.1-2.3,0.2-3.3,0.7l-16,8.4
			c0,0-16,1.8-28.6,7c-1.9,0.8-3.3,2.4-3.8,4.4c-0.6,2.5-1.2,5.9-0.4,8.8l1.4,2.7h6.5" />
                            <line class="st7" x1="1017.4" y1="289.6" x2="1075" y2="289.6" />
                            <polyline class="st7" points="1029.2,267 1065.2,268 1068,259.2 		" />
                        </g>
                        <polygon class="st25" points="1088.7,232 1096.2,236.3 1096.2,227.7 	" />
                        <g>
                            <path class="st13" d="M1077.4,235.5c0,8-6.5,14.5-14.5,14.5s-14.5-6.5-14.5-14.5" />
                            <path class="st13" d="M1048.5,235.5c0-8,6.5-14.5,14.5-14.5s14.5,6.5,14.5,14.5" />
                            <path class="st26" d="M1062.8,228c-8.1,0.1-13.3,7.5-13.3,7.5s5.2,7.4,13.5,7.5c8.1-0.1,13.3-7.5,13.3-7.5S1071.1,228,1062.8,228z
			" />
                            <circle class="st26" cx="1062.9" cy="235.5" r="6" />
                            <polygon class="st25" points="1050,235.5 1043.6,231.9 1043.6,239.2 		" />
                            <polygon class="st25" points="1075.5,235.5 1081.9,239.2 1081.9,231.9 		" />
                        </g>
                        <polyline class="st7" points="786.2,47 822.2,48 823.9,39.1 	" />
                    </g>
                    <g>
                        <g>
                            <line class="st10" x1="769.6" y1="21" x2="773.3" y2="25.2" />
                            <line class="st10" x1="799.5" y1="23" x2="795.3" y2="26.7" />
                            <line class="st10" x1="784.7" y1="18" x2="784.3" y2="24" />
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="bg-view py-6">
    <div class="container text-white">
        <div class="row no-gutters justify-center">
            <div class="col-sm-7 col-lg-5 col-xl-4 py-8">
                <h3 class="h4 font-normal mb-4">服務優勢</h3>
                <ul class="list-unstyled h3">
                    <li class="mb-4"><span class="h2">600 餘名</span><span>保全人員</span></li>
                    <li class="mb-4"><span class="h2">350 餘名</span><span>服務工程師</span></li>
                    <li class="mb-4"><span class="h2">250 餘名</span><span>業務人員</span></li>
                    <li class="mb-4"><span class="h2">250 餘輛</span><span>機動車輛</span></li>
                </ul>
            </div>
            <div class="col-sm-5 col-lg-7 col-xl-6 text-vertical-center items-center"><img class="img-fluid SKS fadeIn slow" src="~/Content/sks/img/sksandcar.png" alt="服務優勢" /></div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Office })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>