﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "SKPOS系統";
}
@section head{
    <title>新光保全-SKPOS系統</title>
    <meta name="description" content="餐飲管理與零售好幫手! 整合多元支付、線上訂餐、會員管理、報表分析，解決經營管理的煩惱，輕鬆搞定開店、營運、行銷大小事。" />
    <meta name="twitter:title" content="新光保全-SKPOS系統" />
    <meta name="twitter:description" content="餐飲管理與零售好幫手! 整合多元支付、線上訂餐、會員管理、報表分析，解決經營管理的煩惱，輕鬆搞定開店、營運、行銷大小事。" />
    <meta property="og:title" content="新光保全-SKPOS系統" />
    <meta property="og:description" content="餐飲管理與零售好幫手! 整合多元支付、線上訂餐、會員管理、報表分析，解決經營管理的煩惱，輕鬆搞定開店、營運、行銷大小事。" />
    <link rel="canonical" href="@url" />
    <style>
        @@media (min-width: 768px) {
            .btn-outline-pill-dark, .btn-outline-pill-white, .btn-sks-blue {
                padding: 10px 30px;
            }
        }

    </style>
}

<section class="text-white h5 text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
            <li data-target="#main-banner" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 bg-x-75" style="background-image:url(/Content/sks/img/banner-pos-1.jpg);">
                    <div class="col-lg-6 col-xl-4 offset-lg-3">
                        @*<a href="https://www.mypos.com.tw/" target="_blank">*@<img class="mb-4" height="60" src="~/Content/sks/img/skpos_logo.svg" alt="POS系統" />@*</a>*@
                        <h2 class="h1">SKPOS系統</h2>
                        <p>餐飲管理好幫手 零售好幫手</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75" style="background-image:url(/Content/sks/img/banner-pos-2.jpg);">
                    <div class="col-lg-6 col-xl-4 offset-xl-6 offset-lg-6">
                        @*<a href="https://www.mypos.com.tw/" target="_blank">*@
                            <img class="mb-4" height="60" src="~/Content/sks/img/skpos_logo.svg" alt="POS系統" />
                        @*</a>*@
                        <h2 class="h1">SKPOS系統</h2>
                        <p>SKPOS是您的好幫手</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h5 font-bold text-center text-lg-left">
    <div class="container-fluid text-black text-paragraph-gray">
        <div class="row border-y-white">
            <div class="col-md-6 border-right-white SKS fadeIn slow">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover text-vertical-center vh-50" style="background-image:url(/Content/sks/img/left-pos.png);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee py-8 text-vertical-center">
                        <div class="ml-2">
                            <h3>掃碼點餐</h3>
                            <p>點餐／入座／預約</p>
                            <p>滿足多種餐飲型態需求</p>
                            <a class="btn btn-outline-pill-dark self-center h5 font-bold my-3" style="border-radius:10px" href="https://www.sks.com.tw/Event/POSQU">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-left-white SKS fadeIn slow delay-200ms">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover text-vertical-center vh-50" style="background-image:url(/Content/sks/img/right-pos.png);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee py-8 text-vertical-center">
                        <div class="ml-2">
                            <h3>自助點餐機</h3>
                            <p>點餐帶位效率好</p>
                            <p>有效降低人力成本</p>
                            <a class="btn btn-outline-pill-dark self-center h5 font-bold my-3" style="border-radius:10px" href="https://www.sks.com.tw/Event/POS-order">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-6 py-lg-8">
    <div class="bg-particle">
        <div class="container text-center py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-6"><img class="img-fluid" src="~/Content/sks/img/SKpos.png" alt="SKPOS是您好選擇" /></div>
                <div class="col-lg-6 text-vertical-center">
                    <p class="h4">銷售報表總是亂七八糟? 內用外帶點餐總是手忙腳亂?</p>
                    <h2>SKPOS是您好選擇</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-paragraph-gray text-center py-6 py-lg-8">
        <h2 class="font-normal mb-4">SKPOS優勢</h2>
        <div class="row divider border-sm-3n-none">
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>餐桌管理</title>
                    <desc>不論是併桌拆桌輕鬆掌握各桌狀況</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_01-34"></use>
                </svg>
                <h3>餐桌管理</h3>
                <p>不論是併桌拆桌</p>
                <p>輕鬆掌握各桌狀況</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>多元支付</title>
                    <desc>支援各樣行動支付提供消費者便利選擇</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_02-35"></use>
                </svg>
                <h3>多元支付</h3>
                <p>支援各樣行動支付</p>
                <p>提供消費者便利選擇</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>報表分析</title>
                    <desc>銷售狀況隨時控管營運狀況一目瞭然</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_03-36"></use>
                </svg>
                <h3>報表分析</h3>
                <p>銷售狀況隨時控管</p>
                <p>營運狀況一目瞭然</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>彈性後台</title>
                    <desc>彈性調整選項快速簡單設定</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_04-37"></use>
                </svg>
                <h3>彈性後台</h3>
                <p>彈性調整選項</p>
                <p>快速簡單設定</p>
            </div>
        </div>
        <div class="row divider border-sm-3n-none">
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>操作簡單</title>
                    <desc>畫面簡潔商品照顯示少出錯</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_05-38"></use>
                </svg>
                <h3>操作簡單</h3>
                <p>畫面簡潔</p>
                <p>商品照顯示少出錯</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>會員管理</title>
                    <desc>會員儲值/紅利/推播帶動客戶回流</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_06-39"></use>
                </svg>
                <h3>會員管理</h3>
                <p>會員儲值/紅利/推播</p>
                <p>帶動客戶回流</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>線上訂餐</title>
                    <desc>消費者下單不漏接店內接單 增加營收</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_07-40"></use>
                </svg>
                <h3>線上訂餐</h3>
                <p>消費者下單不漏接</p>
                <p>店內接單 增加營收</p>
            </div>
            <div class="col-6 col-md-3 mb-4">
                <svg class="img-fluid mb-4" height="100">
                    <title>系統整合</title>
                    <desc>會員儲值/紅利/推播</desc>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_08-41"></use>
                </svg>
                <h3>系統整合</h3>
                <p>會員儲值/紅利/推播</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee">
    <div class="container-fluid text-paragraph-gray text-center">
        <div class="row flex-row-reverse">
            <div class="col-sm-6 vh-50 bg-cover" style="background-image: url(/Content/sks/img/43342686.jpg)">
                <div class="bg-gray-ee-gradient tobottom no-gradient-sm"></div>
            </div>
            <div class="col-sm-6 py-4 text-vertical-center">
                <h2>24H線上客服</h2>
                <p>全年無休 解決大小事</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 vh-50 bg-cover" style="background-image: url(/Content/sks/img/engineer.jpg)">
                <div class="bg-gray-ee-gradient tobottom no-gradient-sm"></div>
            </div>
            <div class="col-sm-6 py-4 text-vertical-center">
                <h2>全國百位工程師</h2>
                <p>隨時待命 讓您高枕無憂</p>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container border-bottom-light-gray py-6 py-lg-8">
        <div class="row justify-end">
            <div class="col-md-5 text-center mb-md-8"><img class="img-fluid" src="~/Content/sks/img/SKpos-2.png" alt="SKPOS餐飲/零售版" /></div>
            <div class="col-md-6 text-vertical-center mb-6 mb-md-8">
                <h2>SKPOS餐飲/零售版</h2>
                <ul class="list-style-circle h6">
                    <li>支援第二螢幕設定</li>
                    <li>多樣促銷設定</li>
                    <li>可擴充相關配備</li>
                    <li>及時庫存查詢</li>
                </ul>
            </div>
            <div class="col-md-5 text-center"><img class="img-fluid" src="~/Content/sks/img/POS機ipad.png" alt="iPad餐飲版" /></div>
            <div class="col-md-6 text-vertical-center">
                <h2>iPad餐飲版</h2>
                <ul class="list-style-circle h6">
                    <li>單店支援多平板</li>
                    <li>專屬訂餐APP</li>
                    <li>及時接單</li>
                    <li>即時推播</li>
                    <li>雲端報表</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center py-6 py-lg-8">
        <h2 class="mb-4">適用各種餐飲/零售經營類型</h2>
        <div class="row divider">
            <div class="col-4">
                <svg class="img-fluid" height="85">
                    <title>單一店家</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B6-05"></use>
                </svg>
                <h3>單一店家</h3>
            </div>
            <div class="col-4">
                <svg class="img-fluid" height="85">
                    <title>連鎖店</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_10-43"></use>
                </svg>
                <h3>連鎖店</h3>
            </div>
            <div class="col-4">
                <svg class="img-fluid" height="85">
                    <title>多品牌企業</title>
                    <use xlink:href="~/Content/sks/img/sprite.svg#icon-B_11-44"></use>
                </svg>
                <h3>多品牌企業</h3>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8 mb-6">
    <div class="container text-center">
        <h2 class="mb-4">SKPOS滿足各樣需求</h2>
        <div class="row text-white">
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-1.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>文青店面</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-2.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>百貨零售</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-3.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>高級餐廳</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-4.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>早午餐</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-5.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>小吃攤</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-6.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>下午茶</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-7.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>速食快餐</h3>
                    </div>
                </div>
            </div>
            <div class="col-6 py-3">
                <div class="relative bg-cover vh-33" style="background-image:url(/Content/sks/img/store-8.jpg);">
                    <div class="mask-dark text-vertical-center">
                        <h3>飲料店</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    @*<div class="row justify-center items-center mb-6">
        <div class="col-10 col-md-4 col-lg-7 col-xl-4">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <img class="img-fluid" src="/Content/sks/img/SKS_SSC.png" alt="POS系統">
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="row justify-center items-center mb-6">
        <div class="col-6 col-md-4 col-lg-7 col-xl-4">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0"><a href="https://apps.apple.com/tw/app/skpos-智慧店面訂餐系統/id998474154" target="_blank"><img class="img-fluid" src="/Content/sks/img/download-appstore.png" alt="appstore" /></a></div>
                <div class="col-lg-6"><a href="https://play.google.com/store/apps/details?id=com.sks.pos.iorder&amp;hl=zh_TW" target="_blank"><img class="img-fluid" src="/Content/sks/img/download-googleplay.png" alt="googleplay" /></a></div>
            </div>
        </div>
    </div>*@
    @*<div class="text-center"><a class="btn btn-outline-pill-dark h5 font-bold" href="https://www.mypos.com.tw/" target="_blank">了解更多</a></div>*@
</div>
<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.POS })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>