﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "保全服務 客製規劃 專業服務 值得您信賴‎";
}
@section head{
    <title>新光保全-保全服務 客製規劃 專業服務 值得您信賴‎</title>
    <meta name="description" content="全天候24小時的科技守護，提供您全方位的安全保護，不論是哪種場所新光保全都能提供安全的保障，可針對客戶不同需要，提供專業優質的服務。"/>
    <meta name="twitter:title" content="新光保全-保全服務 客製規劃 專業服務 值得您信賴‎"/>
    <meta name="twitter:description" content="全天候24小時的科技守護，提供您全方位的安全保護，不論是哪種場所新光保全都能提供安全的保障，可針對客戶不同需要，提供專業優質的服務。"/>
    <meta property="og:title" content="新光保全-保全服務 客製規劃 專業服務 值得您信賴‎"/>
    <meta property="og:description" content="全天候24小時的科技守護，提供您全方位的安全保護，不論是哪種場所新光保全都能提供安全的保障，可針對客戶不同需要，提供專業優質的服務。"/>
    <link rel="canonical" href="@url" />
}

<section class="text-white h5 font-bold text-center">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75" style="background-image:url(/Content/sks/img/B1-BN-01.jpg);">
                    <h2 class="h1">保全服務</h2>
                    <p>全天候24小時的科技守護<br class="d-md-none"><span class="d-none d-md-inline">&nbsp;</span>提供您全方位的安全保護</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8 h6">
    <h2 class="text-gray-57-b text-center mb-4">新光保全3大優勢 陪您安心打拼工作</h2>
    <div class="carousel slide carousel-fade" id="sub-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item bg-gray-ee active" data-interval="10000">
                <div class="container-fluid">
                    <div class="row items-center">
                        <div class="col-md-6 bg-cover bg-top vh-66" style="background-image:url(/Content/sks/img/B1-BN2-01.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 offset-xl-1 py-4">
                            <h2 class="mb-4">服務最完善</h2>
                            <ul class="list-unstyled">
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-63"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">全省600餘名業務/服務人員</p>
                                        <p class="mb-0">提供安全綿密、迅速的服務網</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-64"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">全天候7x24服務專線</p>
                                        <p class="mb-0">會辦系統不遺漏任何需求</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-65"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">超過30年經驗專業施工團隊</p>
                                        <p class="mb-0">執行各項安全設備施工安裝</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-gray-ee" data-interval="10000">
                <div class="container-fluid">
                    <div class="row items-center flex-row-reverse">
                        <div class="col-md-6 bg-cover bg-top vh-66" style="background-image:url(/Content/sks/img/B1-BN2-02.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toright-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 py-4">
                            <h2 class="mb-4">勤務迅速</h2>
                            <ul class="list-unstyled">
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-66"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">超逾250台機動車輛</p>
                                        <p class="mb-0">客戶比最高</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <span class="mr-2">
                                        <svg class="img-fluid" width="80" height="80">
                                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-67"></use>
                                        </svg>
                                    </span><div class="d-inline-block align-middle">
                                        <p class="mb-0">獨有勤務派遣服務PND導航系統</p>
                                        <p class="mb-0">最速到達現場</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <span class="mr-2">
                                        <svg class="img-fluid" width="80" height="80">
                                            <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-68"></use>
                                        </svg>
                                    </span><div class="d-inline-block align-middle">
                                        <p class="mb-0">在地化的管制中心</p>
                                        <p class="mb-0">服務效率最貼心</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-gray-ee" data-interval="10000">
                <div class="container-fluid">
                    <div class="row items-center">
                        <div class="col-md-6 bg-cover bg-top vh-66" style="background-image:url(/Content/sks/img/B1-BN2-03.jpg);">
                            <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
                        </div>
                        <div class="col-md-6 col-xl-4 offset-xl-1 py-4">
                            <h2 class="mb-4">設備齊全</h2>
                            <ul class="list-unstyled">
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-69"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">在地自主研發</p>
                                        <p class="mb-0">提供最適合台灣環境商品</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-70"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">智慧家系統，APP一手掌握</p>
                                        <p class="mb-0">讓您隨時關心重要人事物</p>
                                    </div>
                                </li>
                                <li class="mb-4">
                                    <svg class="img-fluid mr-2" width="80" height="80">
                                        <circle cx="50%" cy="50%" r="40" fill="#fff"></circle>
                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-B4-15-71"></use>
                                    </svg><div class="d-inline-block align-middle">
                                        <p class="mb-0">融合未來物聯網發展</p>
                                        <p class="mb-0">提供AIOT完整解決方案</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee mb-4">
    <div class="container-fluid text-paragraph-gray text-center h6">
        <div class="row" id="smartlife">
            <div class="col-md-5 vh-50 bg-cover fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/lock.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-4 col-lg-3 text-vertical-center py-4">
                <h2>啟動智慧生活</h2>
                <h2>第一道防線</h2>
                <p>｜智慧 IoT｜即時影像｜安全防護｜</p>
                <p>免費規劃 居家/辦公皆適用<br class="d-xl-none"> 全系列耶魯型號<br class="d-none d-lg-block">皆能結合新保服務</p>
            </div>
            <div class="col-md-3 col-lg-4 vh-50 bg-cover SKS fadeIn slow delay-300ms d-none d-md-block" style="background-image:url(/Content/sks/img/lockpeople.jpg);">
                <div class="bg-gray-ee-gradient totop toright-md"></div>
            </div>
        </div>
    </div>
</section>
<section class="h5 py-6 py-lg-8" id="place">
    <div class="container-fluid py-4 text-gray-57-b text-center">
        <h2>不論是哪種場所</h2>
        <h2>新光保全都能提供安全的保障</h2>
        <h3 class="h4 mb-4">全方位服務 讓保全不再是保全</h3>
        <div class="row text-white border-y-white">
            <div class="col-6 col-md-3 bg-cover vh-33 text-vertical-center border-x-white SKS fadeInDown slow delay-900ms" style="background-image:url(/Content/sks/img/B1-BN3-01.jpg);">
                <div class="mask-dark"></div>
                <div class="self-center z-top">
                    <h3>辦公室</h3><a class="z-top btn btn-pill-white px-4 px-lg-6 btn-place-intro" href="#" data-place="office">了解更多</a>
                </div>
            </div>
            <div class="col-6 col-md-3 bg-cover vh-33 text-vertical-center border-x-white SKS fadeInDown slow delay-600ms" style="background-image:url(/Content/sks/img/B1-BN3-02.jpg);">
                <div class="mask-dark"></div>
                <div class="self-center z-top">
                    <h3>小型商店</h3><a class="z-top btn btn-pill-white px-4 px-lg-6 btn-place-intro" href="#" data-place="grocery">了解更多</a>
                </div>
            </div>
            <div class="col-6 col-md-3 bg-cover vh-33 text-vertical-center border-x-white SKS fadeInDown slow delay-300ms" style="background-image:url(/Content/sks/img/B1-BN3-03.jpg);">
                <div class="mask-dark"></div>
                <div class="self-center z-top">
                    <h3>工廠</h3><a class="z-top btn btn-pill-white px-4 px-lg-6 btn-place-intro" href="#" data-place="factory">了解更多</a>
                </div>
            </div>
            <div class="col-6 col-md-3 bg-cover vh-33 text-vertical-center border-x-white SKS fadeInDown slow" style="background-image:url(/Content/sks/img/B1-BN3-04.jpg);">
                <div class="mask-dark"></div>
                <div class="self-center z-top">
                    <h3>大型賣場</h3><a class="z-top btn btn-pill-white px-4 px-lg-6 btn-place-intro" href="#" data-place="mart">了解更多</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="intro-section"></div>
<section class="py-4 border-bottom-light-gray text-anchor-gray-97 service-change" data-mart="true" data-factory="true" data-grocery="true" data-office="true">
    <div class="container-fluid h2 text-gray-57 text-center">
        <h3 class="h2 font-normal" id="title-place">辦公室</h3>
        <div class="bg-cover vh-75 mx-n3" id="banner-place" style="background-image:url(/Content/sks/img/B1-BN3-01.jpg);"></div>
    </div>
    <!-- AI智慧影像保全-->
    <div class="bg-change service-change" data-mart="true" data-factory="true" data-grocery="false" data-office="false">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-5 text-center text-vertical-center mb-4">
                    <h2>AI智慧影像保全</h2>
                    <p class="text-gray">運用AI智慧辨識「人形」發報</p>
                </div>
                <div class="col-lg-7 mb-4">
                    <p class="h3">AI智慧影像保全，連接雲端運算及影像分析技術，提供24小時異常發報派遣服務</p>
                    <ul class="list-style-circle pl-5">
                        <li>客製化規劃服務，量身打造安全空間</li>
                        <li>設備多元，因應各場所設計施工增添安全</li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="row no-gutters justify-center text-center">
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-01.png" alt="鐵捲門感知器" /></div>
                            <h3 class="h4">鐵捲門感知器</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-02.png" alt="門窗偵知器" /></div>
                            <h3 class="h4">門窗偵知器</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-03.png" alt="玻璃震動感知器" /></div>
                            <h3 class="h4">玻璃震動感知器</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-04.png" alt="紅外線感知" /></div>
                            <h3 class="h4">紅外線感知</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-05.png" alt="火災感知" /></div>
                            <h3 class="h4">火災感知</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-06.png" alt="緊急按鈕" /></div>
                            <h3 class="h4">緊急按鈕</h3>
                        </div>
                        <div class="col-4 col-lg">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-07.png" alt="金庫感知器" /></div>
                            <h3 class="h4">金庫感知器</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 防盜防災-->
    <div class="bg-change service-change" data-mart="false" data-factory="false" data-grocery="true" data-office="true">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-5 text-center text-vertical-center mb-4">
                    <h2>防盜防災</h2>
                    <p class="text-gray h5">智慧科技 保護您的財產安全</p>
                </div>
                <div class="col-lg-7 mb-4">
                    <h3>無線保全系統 透過無線設備輕鬆設定財產安全</h3>
                    <ul class="h6 list-style-circle pl-5">
                        <li>客製化規劃服務，量身打造安全空間</li>
                        <li>設備無線化，不破壞裝潢增添安全</li>
                        <li>智慧化一鍵達成，簡易APP設計遠端遙控</li>
                    </ul>
                    <div class="row no-gutters">
                        <div class="col-5 col-md-fifth text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-02.png" alt="門窗偵知器" /></div>
                            <h3 class="h4">門窗偵知器</h3>
                        </div>
                        <div class="col-5 col-md-fifth text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-04.png" alt="紅外線感知" /></div>
                            <h3 class="h4">紅外線感知</h3>
                        </div>
                        <div class="col-5 col-md-fifth text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-05.png" alt="火災感知" /></div>
                            <h3 class="h4">火災感知</h3>
                        </div>
                        <div class="col-5 col-md-fifth text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-06.png" alt="緊急按鈕" /></div>
                            <h3 class="h4">緊急按鈕</h3>
                        </div>
                        <div class="col-5 col-md-fifth text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/3-1AI智慧影像保全-07.png" alt="金庫感知器" /></div>
                            <h3 class="h4">金庫感知器</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 全系列高畫質監控-->
    <div class="bg-change service-change" data-mart="true" data-factory="true" data-grocery="true" data-office="true">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-5 text-vertical-center text-center mb-4">
                    <h2>全系列高畫質監控</h2>
                    <p class="text-gray h5">讓你看得清楚又放心</p>
                </div>
                <div class="col-lg-7 mb-4">
                    <h3>DVR、DVR攝影機   機種齊全為您精心挑選</h3>
                    <div class="row no-gutters">
                        <div class="col-md-6 mb-lg-4">
                            <ul class="h6 list-style-circle mb-0 pl-5">
                                <li>專業規劃，為企業門市安全把關</li>
                                <li>量身訂製，客製化的專業規劃</li>
                                <li>保修保固，一次購買永續服務</li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-4">
                            <ul class="h6 list-style-circle mb-0 pl-5">
                                <li>施工精良，專業安全的施工品保</li>
                                <li>連動保全，安全管理更上一層樓</li>
                                <li>完整方案，全方面影像監控服務</li>
                            </ul>
                        </div>
                        <div class="col-5 col-md-3 text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/4-2全系列高畫質監控-01.png" alt="半球攝影機" /></div>
                            <h3 class="h4">半球攝影機</h3>
                        </div>
                        <div class="col-5 col-md-3 text-center">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/4-2全系列高畫質監控-02.png" alt="槍型攝影機" /></div>
                            <h3 class="h4">槍型攝影機</h3>
                        </div>
                        <div class="col-5 col-md-3 text-center service-change" data-mart="false" data-factory="true" data-grocery="false" data-office="true">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/BN3-02-item-4.png" alt="AI攝影機" /></div>
                            <h3 class="h4">AI攝影機</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--門禁差勤管理系統-->
    <div class="bg-change service-change" data-mart="true" data-factory="true" data-grocery="true" data-office="true">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-5 text-center text-vertical-center mb-4">
                    <h2>門禁差勤管理系統</h2>
                    <p class="text-gray h5 mb-4">省錢又好用的人事助理</p>
                    <div class="row justify-center">
                        <div class="col-4">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/BN3-01-item-3.png" alt="考勤卡機" /></div>
                            <h3 class="h4">考勤卡機</h3>
                        </div>
                        <div class="col-4 service-change" data-mart="true" data-factory="true" data-grocery="false" data-office="true">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/4-3門禁差勤管理系統-02.png" alt="人臉辨識機" /></div>
                            <h3 class="h4">人臉辨識機</h3>
                        </div>
                        <div class="col-4 service-change" data-mart="ture" data-factory="true" data-grocery="false" data-office="true">
                            <div class="bg-border-light-gray-circle mb-4"><img width="80" height="80" src="~/Content/sks/img/4-3門禁差勤管理系統-03.png" alt="門弓器" /></div>
                            <h3 class="h4">門弓器</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mb-4">
                    <h3>門禁差勤管理系統</h3>
                    <ul class="h6 list-style-circle pl-5">
                        <li>安全管制，系統操作與控制分離設計，提高門禁安全性</li>
                        <li>多層控管，彈性區分等級及時間管制</li>
                        <li>異常管理，遲到早退曠職等異常管理</li>
                        <li>彈性管理，提供彈性上下班功能</li>
                        <li>系統服務，操作簡單管理效率提升</li>
                    </ul>
                    <h3>iDAKA雲端智慧考勤服務 向傳統卡鐘說掰掰</h3>
                    <div class="row no-gutters">
                        <div class="col-sm-6 mb-sm-4">
                            <ul class="h6 list-style-circle mb-0 pl-5">
                                <li>APP手機打卡</li>
                                <li>雲端管理平台</li>
                                <li>打卡記錄管理</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <ul class="h6 list-style-circle mb-0 pl-5">
                                <li>快速施工建置</li>
                                <li>降底管理成本</li>
                                <li>線上公告發佈</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--GPS車輛衛星定位-->
    <div class="bg-change service-change" data-mart="true" data-factory="true" data-grocery="false" data-office="false">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-lg-5 text-center text-vertical-center mb-4">
                    <h2>GPS車輛衛星定位</h2>
                    <p class="text-gray">企業車輛管理必備工具</p>
                </div>
                <div class="col-lg-7 mb-4">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <ul class="list-style-circle mb-0 pl-5">
                                <li>車輛即時監控</li>
                                <li>行車歷史軌跡</li>
                                <li>車輛即時訊號類別</li>
                                <li>多功能管理報表</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-circle mb-0 pl-5">
                                <li>車輛異常狀況警告</li>
                                <li>客製化功能需求開發</li>
                                <li>管理者監看權限管理</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--其他相關服務-->
    <div class="bg-change service-change" data-mart="true" data-factory="true" data-grocery="true" data-office="true">
        <div class="container py-6 py-lg-8">
            <div class="row">
                <div class="col-md-5 text-center text-vertical-center mb-4">
                    <h2>其他相關服務</h2>
                    <p class="text-gray h5">運用AI智慧辨識「人形」發報</p>
                </div>
                <div class="col-md-7 mb-4">
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <span class="bg-border-light-gray-circle mb-4 mr-md-2"><img src="~/Content/sks/img/4-5其他相關服務-01.png" alt="金庫" /></span>
                            <div class="d-inline-block align-middle">
                                <h3 class="h4">金庫</h3>
                                <p class="mb-0">可依據您的用途與需求挑選</p>
                                <p class="mb-0">並可與新光保全系統連線</p>
                            </div>
                        </li>
                        <li class="mb-4">
                            <span class="mr-md-2"><img class="img-fluid" src="~/Content/sks/img/4-6其他相關服務-02.png" alt="AED" /></span>
                            <div class="d-inline-block align-middle">
                                <h3 class="h4">AED</h3>
                                <p class="mb-0">成為友善門市行列</p>
                                <p class="mb-0">別人需要裡，看見生命的價值</p>
                            </div>
                        </li>
                        <li class="mb-4 service-change" data-mart="false" data-factory="true" data-grocery="true" data-office="true">
                            <span class="bg-border-light-gray-circle mb-4 mr-md-2"><img class="img-fluid" src="~/Content/sks/img/資安閘門.png" alt="資安閘門" /></span>
                            <div class="d-inline-block align-middle">
                                <h3 class="h4">資安閘門</h3>
                                <p class="mb-0">省錢、省時、省人力的安全防禦</p>
                                <p class="mb-0">保障公司資訊安全</p>
                            </div>
                        </li>
                        <li class="mb-4 service-change" data-mart="false" data-factory="false" data-grocery="true" data-office="false">
                            <span class="bg-border-light-gray-circle mb-4 mr-md-2"><img class="img-fluid" src="~/Content/sks/img/POS.png" alt="POS" /></span>
                            <div class="d-inline-block align-middle">
                                <h3 class="h4">POS</h3>
                                <p class="mb-0">開店忙碌我們都知道</p>
                                <p class="mb-0">輕鬆管理經營大小事</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 text-right">
                    <a class="h5 scroll-href" href="#place">
                        <svg width="28" height="28">
                            <g fill="none" stroke="#979797">
                                <circle cx="14" cy="12" r="10"></circle>
                                <path d="m 7 14l7-6 l7 6"></path>
                            </g>
                        </svg>BACK
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8 bg-lighter-gray">
    <div class="container text-paragraph-gray h5 text-center text-md-left">
        <div class="row justify-center items-center mb-6">
            <div class="col-4 col-md-3 col-lg-2 mb-2"><img class="img-fluid" src="~/Content/sks/img/SK-PLUS-icon_02.png" alt="新光保全plus"></div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h3 class="leading-none mb-0">守護城市2</h3>
                <p class="mb-2">專屬控制介面APP整合行動服務</p>
                <div class="row">
                    <div class="col-6 col-lg-5 mb-4 mb-md-0"><a href="https://apps.apple.com/tw/app/新光保全-守護城市2/id1378211074"><img class="img-fluid" src="~/Content/sks/img/download-appstore.png" alt="appstore"></a></div>
                    <div class="col-6 col-lg-5"><a href="https://play.google.com/store/apps/details?id=com.sks.sksplus"><img class="img-fluid" src="~/Content/sks/img/download-googleplay.png" alt="googleplay"></a></div>
                </div>
            </div>
        </div>
        <div class="row justify-center items-center">
            <div class="col-4 col-md-3 col-lg-2 mb-2"><img class="img-fluid" src="~/Content/sks/img/wireless_logo.png" alt="智慧生活"></div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h3 class="leading-none mb-0">智慧生活2s</h3>
                <p class="mb-2">開啟生活無限安全</p>
                <div class="row">
                    <div class="col-6 col-lg-5 mb-4 mb-md-0"><a href="https://apps.apple.com/tw/app/%E6%99%BA%E6%85%A7%E7%94%9F%E6%B4%BB2s/id1604536804"><img class="img-fluid" src="~/Content/sks/img/download-appstore.png" alt="appstore"></a></div>
                    <div class="col-6 col-lg-5"><a href="https://play.google.com/store/search?q=%E6%99%BA%E6%85%A7%E7%94%9F%E6%B4%BB2S&c=apps&hl=zh_TW"><img class="img-fluid" src="~/Content/sks/img/download-googleplay.png" alt="googleplay"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Security })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>