﻿@model sks.ViewModels.Product.ProductIndexView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "生活購物專區";
    string productId = "list-product";
    int pathType = Convert.ToInt32(Request.QueryString["type"]);

}
@section head{
    <title>新光保全-生活購物專區</title>
    <meta name="description" content="生活購物專區" />
    <meta name="twitter:title" content="新光保全-生活購物專區" />
    <meta name="twitter:description" content="生活購物專區" />
    <meta property="og:title" content="新光保全-生活購物專區" />
    <meta property="og:description" content="生活購物專區" />
    <link rel="canonical" href="@url" />

    <style>
        .st2 {
            fill: #fff000
        }

        .st3 {
            fill: #6bc7f1
        }

        .st0 {
            fill: none;
            stroke: #999899;
            stroke-width: 2
        }
    </style>
}
<section class="text-white text-center font-bold" id="page-top">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover bg-bottom text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/shop-banner.jpg);">
                    <div class="container">
                        <div class="row justify-center">
                            <div class="col-10 col-xl-12 pt-6 pt-md-0"><img class="img-fluid" src="~/Content/sks/img/shop-logo.png" alt="生活購物區"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid full-fluid border-bottom-light-gray">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3 col-xl-2 bg-aside py-6 py-lg-8">
            <aside class="list-group h5 text-center" id="list-tab" role="tablist">
                @foreach (var item in Model.CategoryList)
                {
                    string active = item.ID == pathType ? "active" : null;
                    <a class="list-group-item list-group-item-action change-hash @active" id="@productId@item.ID-list" href="#@productId@item.ID" aria-controls="@productId@item.ID" role="tab" data-toggle="list" data-type="@item.ID">@item.Name</a>
                }
            </aside>
        </div>
        <div class="col-lg-9 col-xl-10 py-6 py-xl-8">
            <div class="tab-content">

                <section class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-list">
                    <div class="row flex-column items-center">
                        <div class="col-12 text-center">
                            <h2 class="text-gray-57 mb-4" id="productname"></h2>
                        </div>
                        <div class="col-10 col-sm-9">
                            <div class="row" id="productlist">
                            </div>
                            @{
                                Html.RenderPartial("_Page", Model.PageResult);
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
            $(function () {
                //取得新聞中心api
                const apiUrl = '@Url.Action("GetProductList")';
                var divpage = $('#productlist');
                const urlParams = new URLSearchParams(window.location.search);
                var myParam = urlParams.get('CurrentPage');
                var type = urlParams.get('type');
                var datatype = localStorage.getItem('producttype', type);
                var typestr = $(".list-group-item-action").filter(".active").text();

                var pathtype = @pathType;
                if (pathtype == 0) {
                    $(".list-group-item-action").first().addClass("active");
                    typestr = "生活家電";
                }
                $("#productname").text(typestr);
                if (datatype == null) {
                    localStorage.setItem('producttype', 1);
                    datatype = 1;
                }
                if (myParam == null) {
                    myParam = 1;
                }
                $.get(apiUrl + '?type=' + type + '&CurrentPage=' + myParam, function (result) {
                    divpage.append(result);
                });

                $('.page-item').click(function () {
                    var pagedata = $(this).filter(".active").attr('data-pager');
                    if (pagedata) {
                        localStorage.setItem('producttype', typestr);
                        datatype = localStorage.getItem('producttype')
                        toSearchResult(myParam, datatype);
                    }
                })

                $('.list-group-item-action').click(function () {
                    var typestr = $(this).data('type');
                    var name = $(this).text();
                    $("#productname").text(name)
                    localStorage.setItem('producttype', typestr);
                    datatype = localStorage.getItem('producttype')
                    if (typestr) {
                        toSearchResult(1, datatype);
                    }
                })
        });

        const Url = '@Url.Action("Shop")';

        function toSearchResult(currentPage, type) {
            var params = {
                CurrentPage: currentPage,
                type: type
            };
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + params[key]
            }).join('&');
            const origin = window.location.origin;
            const url = origin + Url + '?' + queryString;
            window.location.href = url;
        }
    </script>
}
