﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "WorkLink行動辦公高效商務平台";
}
@section scripts{
    <title>新光保全-WorkLink行動辦公高效商務平台</title>
    <meta name="description" content="WorkLink 提供企業組織專屬行動商務智慧平台，結合行動打卡、簽核、簽到等功能，員工勤務記錄商務需求一次到位，多產業皆適用。"/>
    <meta name="twitter:title" content="新光保全-WorkLink行動辦公高效商務平台"/>
    <meta name="twitter:description" content="WorkLink 提供企業組織專屬行動商務智慧平台，結合行動打卡、簽核、簽到等功能，員工勤務記錄商務需求一次到位，多產業皆適用。"/>
    <meta property="og:title" content="新光保全-WorkLink行動辦公高效商務平台"/>
    <meta property="og:description" content="WorkLink 提供企業組織專屬行動商務智慧平台，結合行動打卡、簽核、簽到等功能，員工勤務記錄商務需求一次到位，多產業皆適用。"/>
    <link rel="canonical" href="@url" />

}

<section>
    <div class="bg-worklink">
        <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item text-white h5 font-bold text-center active" data-interval="10000">
                    <div class="container py-8">
                        <div class="row items-center">
                            <div class="col-md-6"><img class="img-fluid" src="~/Content/sks/img/worklink-bn.png" alt="WorkLink" /></div>
                            <div class="col-md-6">
                                <div class="text-vertical-center items-center">
                                    <h2 class="h1 mb-0">WorkLink</h2>
                                    <h2 class="h1">行動辦公高效方案</h2>
                                    <ul class="list-unstyled list-inline border border-white w-75">
                                        <li class="list-inline-item">行動打卡</li>
                                        <li class="list-inline-item">行動簽到</li>
                                        <li class="list-inline-item">行動簽核</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container h6 py-6">
        <div class="row">
            <div class="col-md-8 text-vertical-center">
                <h2 class="text-worklink">出眾效率 讓商務生活精彩轉變</h2>
                <p>雲端技術建構之行動整合平台，便捷商務應用功能及高度資訊安全等級，滿足企業行動商務需求。</p>
                <p>採用商業服務趨勢SaaS（軟體即服務）建構而成，有效提升管理效率，協助企業邁入行動資訊時代。</p>
            </div>
            <div class="col-4 d-none d-md-block"><img class="img-fluid" src="~/Content/sks/img/worklink-01.png" alt="出眾效率 讓商務生活精彩轉變" /></div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="bg-light-blue py-4">
        <h2 class="text-worklink text-center">功能介紹</h2>
    </div>
    <div class="container text-gray h6 py-6 py-lg-8">
        <div class="row mb-4">
            <div class="col-md-6"><img class="img-fluid" src="~/Content/sks/img/worklink-02.png" alt="行動簽核" /></div>
            <div class="col-md-6 text-vertical-center items-center items-md-start">
                <h3 class="h2 text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-01"></use>
                    </svg><span class="align-middle">行動簽核</span><span class="badge-alert ml-2 px-2 py-lg-1 px-lg-4">加值服務</span>
                </h3>
                <p>行動公文簽核，提升行政流程執行效率。</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6"><img class="img-fluid" src="~/Content/sks/img/worklink-03.png" alt="行動打卡" /></div>
            <div class="col-md-6 text-vertical-center items-center items-md-start">
                <h3 class="h2 text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-02"></use>
                    </svg><span class="align-middle">行動打卡</span><span class="badge-alert ml-2 px-2 py-lg-1 px-lg-4">加值服務</span>
                </h3>
                <p>地理定位打卡，有效掌握團隊出勤狀態。</p>
            </div>
        </div>
        <div class="row mb-6">
            <div class="col-md-6"><img class="img-fluid" src="~/Content/sks/img/worklink-04.png" alt="行動簽到" /></div>
            <div class="col-md-6 text-vertical-center items-center items-md-start">
                <h3 class="h2 text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-03"></use>
                    </svg><span class="align-middle">行動簽到</span><span class="badge-alert ml-2 px-2 py-lg-1 px-lg-4">加值服務</span>
                </h3>
                <p>多點多時簽到，便捷管理人員勤務紀錄。</p>
            </div>
        </div>
        <div class="row justify-center">
            <div class="col-md-4 mb-4">
                <h3 class="text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-04"></use>
                    </svg><span class="align-middle">雲端檔案</span>
                </h3>
                <p>輕鬆存取及分享，操作簡單方便，雲端異地備援，不佔手機電腦空間。</p><img class="img-fluid" src="~/Content/sks/img/worklink-05.png" alt="雲端檔案" />
            </div>
            <div class="col-md-4 mb-4">
                <h3 class="text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-05"></use>
                    </svg><span class="align-middle">線上公告</span>
                </h3>
                <p>讓您知道誰已讀未讀，確保行政管理部重要訊息佈達。</p><img class="img-fluid" src="~/Content/sks/img/worklink-06.png" alt="線上公告" />
            </div>
            <div class="col-md-4 mb-4">
                <h3 class="text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-06"></use>
                    </svg><span class="align-middle">即時對話</span>
                </h3>
                <p>可知群組對話已讀名單，資料檔案永久儲存於雲端。</p><img class="img-fluid" src="~/Content/sks/img/worklink-07.png" alt="即時對話" />
            </div>
            <div class="col-md-4">
                <h3 class="text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-07"></use>
                    </svg><span class="align-middle">通訊錄</span>
                </h3>
                <p>輕鬆掌握人員聯繫資料，同事溝通好便利。</p><img class="img-fluid" src="~/Content/sks/img/worklink-08.png" alt="通訊錄" />
            </div>
            <div class="col-md-4">
                <h3 class="text-worklink">
                    <svg width="30" height="30">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-worklink-08"></use>
                    </svg><span class="align-middle">訊息通知</span>
                </h3>
                <p>外部通知用 email，內部通知用 Worklink，信箱不再被淹沒。</p><img class="img-fluid" src="~/Content/sks/img/worklink-09.png" alt="訊息通知" />
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8 text-center">
    <h2 class="text-worklink mb-4">開始讓工作更有效率</h2>
    <div class="container-fluid bg-worklink mb-4">
        <div class="row">
            <div class="col-6 border-right border-right-white py-6 pb-md-0">
                <div class="row no-gutters">
                    <div class="col-md-7 mb-4 mb-md-0"><img class="img-fluid" src="~/Content/sks/img/worklink-btn1.png" alt="專人服務" /></div>
                    <div class="col-md-5 text-vertical-center"><a class="btn btn-pill-worklink-white h3" href="tel:0800668689">專人服務</a></div>
                </div>
            </div>
            <div class="col-6 border-right border-left-white py-6 pb-md-0">
                <div class="row no-gutters">
                    <div class="col-md-7 mb-4 mb-md-0"><img class="img-fluid" src="~/Content/sks/img/worklink-btn2.png" alt="免費試用" /></div>
                    <div class="col-md-5 text-vertical-center"><a class="btn btn-pill-worklink-white h3" href="https://www.worklink.app/register/SKS" target="_blank">免費試用</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.WorkLink })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>