﻿@using sks.Models
@model sks.ViewModels.CorporateSocial.CorporateSocialView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    int type = (int)NewsType.ClassRoom;
    ViewBag.Title = "安心教室";
}
@section head{
    <title>新光保全-安心教室</title>
    <meta name="description" content="親子揪團、親子共學、安全教育。新光保全以安心教室安全教育推廣計畫，積極深入校園及社區，讓毎個人都學會，如何擁有安心安全的生活。"/>
    <meta name="twitter:title" content="新光保全-安心教室"/>
    <meta name="twitter:description" content="親子揪團、親子共學、安全教育。新光保全以安心教室安全教育推廣計畫，積極深入校園及社區，讓毎個人都學會，如何擁有安心安全的生活。"/>
    <meta property="og:title" content="新光保全-安心教室"/>
    <meta property="og:description" content="親子揪團、親子共學、安全教育。新光保全以安心教室安全教育推廣計畫，積極深入校園及社區，讓毎個人都學會，如何擁有安心安全的生活。"/>
    <link rel="canonical" href="@url" />
    <style>
        .st0 {
            fill: none;
            stroke: #999899;
            stroke-width: 2
        }
    </style>
}

<section>
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-50 bg-right" style="background-image:url(/Content/sks/img/room_BN.jpg);background-position-x:93%">
                    <div class="container">
                        <div class="row justify-end justify-sm-start justify-md-end justify-lg-start ">
                            <div class="col-6 col-md-5 col-lg-6"><img class="img-fluid" src="/Content/sks/img/room_BN_logo2.png" alt="安心教室"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-cover bg-right relative" style="background-image:url(/Content/sks/img/children.jpg);">
        <div class="mask-light d-md-none"></div>
        <div class="container text-paragraph-gray vh-100 pt-6 pt-md-13">
            <div class="row">
                <div class="col-auto offset-xl-2">
                    <h2>關於安心教室</h2>
                    <p>自2007年起</p>
                    <p>新光保全以安心教室安全教育推廣計畫</p>
                    <p>積極深入校園及社區</p>
                    <p>讓毎個人都學會，如何擁有安心安全的生活。</p>
                    <p>提供更優質、專業的活動體驗與課程，</p>
                    <p>能讓安心的種子，深植在毎個人心中。</p>
                    <p>至今</p>
                    <p>已辦理超過 500 場 安全教育宣導活動</p>
                    <p>總受惠人數 50,000 人次</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4 mb-md-0">
        <div class="row no-gutters">
            <div class="col-md-7 mb-4 mb-md-0"><img class="img-fluid" src="~/Content/sks/img/animals.jpg" alt="前往安心教室臉書粉專" /></div>
            <div class="col-md-5 text-vertical-center">
                <p class="h5 text-center">前往安心教室臉書粉專</p>
                <div class="relative">
                <div class="form-row">
                    <div class="col-3 text-right">
                    <svg width="60" height="60" style="height: 25px;">
                        <use fill="#365595" xlink:href="~/Content/sks/img/sprite.svg#icon-fb"></use>
                    </svg>
                    </div>
                    <div class="col-9">
                    <div class="input-group border border-gray rounded-lg p-1">
                        <input class="bg-white h4 form-control" type="text" value="安心教室" disabled="disabled"/>
                        <div class="input-group-append">
                        <svg width="50" height="50">
                            <style>.st0{fill:none;stroke:#999899;stroke-width:2}</style>
                            <circle class="st0" cx="22.2" cy="22.2" r="12.4"></circle>
                            <path class="st0" d="M30.5 30.5l15.6 15.6"></path>
                        </svg>
                        </div>
                    </div>
                    </div>
                </div><a class="inset-0" target="_blank" href="https://www.facebook.com/homeshoplove"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-cover bg-right relative" style="background-image:url(/Content/sks/img/children2.jpg);">
        <div class="mask-light d-lg-none"></div>
        <div class="container text-paragraph-gray py-6 py-md-10 py-lg-13">
            <div class="row">
                <div class="col-12">
                    <h2>一件讓人安心的小事</h2>
                    <p>走進學校、社區、機構、鄉鎮，不厭其煩教導重要的安全知識</p>
                    <p>這是，新光保全一直默默進行的，一件讓人「安心」的小事</p>
                    <p>2007年以來，「安心教室」不曾間斷</p>
                    <p>我們相信</p>
                    <p>有一天，某個孩子，因此躲開陌生人</p>
                    <p>有一天，某位爸爸在地震、火災中，帶全家平安逃生</p>
                    <p>有一天，某位高中生，用CPR+AED，救回一個倒下的人</p>
                    <p>希望安心的種子，深植每個人心中</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-md-8" id="news">
    <div class="container h6">
        <h2 class="text-gray-57 text-center mb-4">新聞中心</h2>
        <select class="form-control mb-4 bg-white border-black rounded" id="select-news-year">
            <option value="0">依年分搜尋</option>
            @for (int i = DateTime.Now.Year; i >= 2017; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
        <div id="pages"></div>

        @{
            Html.RenderPartial("_Page", Model.NewsList);
        }
    </div>
</section>
@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
            $(function () {
                //取得新聞中心api
                const apiUrl = '@Url.Action("GetNewsList")';
                var divpage = $('#pages');
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('CurrentPage');
                const year = urlParams.get('year');
                $.get(apiUrl + '?year='+ year +'&type=' + @type + '&CurrentPage=' + myParam, function (result) {
                    divpage.append(result);
                });
                if (myParam !== null || year !== null) {
                    $("html, body").animate({
                        scrollTop: $("#news").offset().top
                    }, {
                        duration: 1000, easing: "swing"
                        });
                    $('#select-news-year').val(year);
                }
                if (year == null) {
                    $('#select-news-year').val('0');
                }
                $('.page-item').click(function () {
                    var pagedata = $(this).filter(".active").attr('data-pager');
                    if (pagedata) {
                        $.get(apiUrl + '?year=' + year +'&type=' + @type +'&CurrentPage=' + pagedata, function (result) {
                            divpage.empty();
                            divpage.append(result);
                        });
                    }
                })
                $('#select-news-year').on('change', function (e) {
                    var selectedTable = $(this).val();
                    if (selectedTable) {
                        toSearchResult(selectedTable);
                    }
                });
        });

                //新聞頁
        const Url = '@Url.Action("ClassRoom")';

        function toSearchResult(year) {
            var params = {
                year: year
            };
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + params[key]
            }).join('&');
            const origin = window.location.origin;
            const pathname = window.location.pathname;
            const url = origin + Url + '?' + queryString;
            window.location.href = url;
        }
    </script>
}
