﻿@using sks.Models
@model sks.ViewModels.CorporateSocial.CorporateSocialView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    int type = (int)NewsType.CultureAndArts;
    ViewBag.Title = "文化藝術基金會";
}
@section head{
    <title>新光保全-文化藝術基金會</title>
    <meta name="description" content="新光保全自1980年創設以來，長期關懷台灣本土文化藝術發展，「提昇文化生活品質、健全藝術發展環境」為目標，以專業非營利藝術支持機構的角色，擔任藝術創意與民間團體交流合作的連結。" />
    <meta name="twitter:title" content="新光保全-文化藝術基金會" />
    <meta name="twitter:description" content="新光保全自1980年創設以來，長期關懷台灣本土文化藝術發展，「提昇文化生活品質、健全藝術發展環境」為目標，以專業非營利藝術支持機構的角色，擔任藝術創意與民間團體交流合作的連結。" />
    <meta property="og:title" content="新光保全-文化藝術基金會" />
    <meta property="og:description" content="新光保全自1980年創設以來，長期關懷台灣本土文化藝術發展，「提昇文化生活品質、健全藝術發展環境」為目標，以專業非營利藝術支持機構的角色，擔任藝術創意與民間團體交流合作的連結。" />
    <link rel="canonical" href="@url" />

    <style>
        .st0, .st1, .st2 {
            stroke: #aaa;
            stroke-miterlimit: 10
        }

        .st0 {
            stroke-width: 2;
            stroke-linejoin: round;
            fill: none
        }

        .st1, .st2 {
            fill: #ffc629
        }

        .st2 {
            fill: #fff;
            stroke-width: 2;
            stroke-linejoin: round
        }

        .st4 {
            font-size: 24px
        }

        .table-download td {
            border-color: #c0c0c0;
        }

        .table-download th {
            border-color: #00477D
        }

        .table-download thead th {
             border-top: 2px solid #00477D;
             border-bottom: 2px solid #00477D;
        }
    </style>
}

<section>
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-50 bg-right" style="background-image:url(/Content/sks/img/foundation-BN.jpg);">
                    <div class="container text-center"><img class="img-fluid" src="~/Content/sks/img/art-title.png" alt="文化藝術基金會" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-lg-6">
        <h2 class="text-gray font-normal mb-0">認識基金會</h2>
    </div>
    <div class="bg-gray-e4">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 py-6">
                    <h3 class="h4 font-bold">簡介</h3>
                    <p>2004年1月由創辦人吳東進先生成立「財團法人台灣新光保全文化藝術基金會」，以「提昇文化生活品質、健全藝術發展環境」為目標，為國人提供一個真善、真美之環境。</p>
                    <h3 class="h4 font-bold">宗旨</h3>
                    <p>以從事有關文化藝術事務、藝文教育推廣、促進國際文化交流、弘揚文化、培養人才、及舉辦教育性、正當休閒、娛樂藝術等活動為宗旨。</p>
                    <h3 class="h4 font-bold">目標</h3>
                    <p>「提昇文化生活品質 健全藝術發展環境」支持對本土及國際文化藝術的發展，結合社會資源，以實踐企業回饋社會的使命，為台灣藝術創作能量的提昇、國際能見度的拓展累積貢獻更多心力。</p>
                    <h3 class="h4 font-bold">獲獎記錄</h3>
                    <p class="mb-0">2008年獲得第九屆文馨獎、2010年獲得第十屆文馨獎</p>
                </div>
                <div class="col-xl-6 text-center bg-black py-6"><img class="img-fluid" src="~/Content/sks/img/concert.jpg" alt="慈善基金會" /></div>

            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container h6 text-center">
        <h2 class="text-gray-57 mb-4">組織架構</h2>
        <div class="row justify-center">
            <div class="col-md-9 mb-6 mb-lg-8 px-xl-12">
                <svg class="img-fluid" viewbox="0 0 723.9 654.6">
                    <path class="st0" d="M361.9 91.1v421.2M101 544.1v-30.6h521.8v30.6M361.9 543.4v-30.7"></path>
                    <circle class="st1" cx="622.8" cy="544.1" r="3.2"></circle>
                    <circle class="st1" cx="362.2" cy="544.1" r="3.2"></circle>
                    <circle class="st1" cx="101" cy="544.1" r="3.2"></circle>
                    <path class="st2" d="M261.9 1.1h200v90h-200zM261.9 129.9h200v90h-200zM261.9 258.8h200v90h-200zM261.9 387.7h200v90h-200zM261.9 563.5h200v90h-200zM1 563.5h200v90H1zM522.8 563.5h200v90h-200z"></path>
                    <text class="st4" transform="translate(325.899 54.82)">董事會</text>
                    <text class="st4" transform="translate(325.899 183.126)">董事長</text>
                    <text class="st4" transform="translate(325.899 313.077)">執行長</text>
                    <text class="st4" transform="translate(325.899 619.039)">企劃部</text>
                    <text class="st4" transform="translate(587.447 619.039)">財務部</text>
                    <text class="st4" transform="translate(64.351 619.039)">行政部</text>
                    <text class="st4" transform="translate(313.899 441.384)">副執行長</text>
                </svg>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4">
                <h3>董事會</h3>
                <p class="mb-0">本會董事會由董事七人組成，第一屆董事由原捐助人選聘之，第二屆以後董事由前一屆董事會選聘之(董事均為無給職)。</p>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4">
                <h3>董事長</h3>
                <p class="mb-0">本會董事互選一人為董事長，綜理會務，對外代表本會。</p>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4">
                <h3>執行長</h3>
                <p class="mb-0">本會設置執行長一人，承董事會及董事長之命辦理一切事務。</p>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4">
                <h3>會計</h3>
                <p class="mb-0">本會財務調度及會計相關事宜辦理。</p>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4">
                <h3>會務</h3>
                <p class="mb-0">本會工作計劃及會務相關事宜執行。</p>
            </div>
            <div class="col-6 col-md-4 border-y-light-gray py-4"></div>
        </div>
    </div>
</section>
<section class="bg-gray-ee py-6 py-lg-8">
    <div class="container">
        <h2 class="text-gray-57 text-center">公開資訊</h2>
        <table class="table table-download table-content-middle">
            <thead>
                <tr>
                    <th scope="col">年份</th>
                    <th scope="col">項目名稱</th>
                    <th scope="col">檔案下載</th>
                </tr>
            </thead>
            <tbody>
                @{ int year = DateTime.Now.Year - 1911; }
                @for (int i = year; i >= 106; i--)
                {
                    var g = 1;
                    var query = Model.FileList.Where(p => p.FiscalYear == i);
                    int count = query.Count();
                    if (count > 0)
                    {
                        var firstData = query.FirstOrDefault();
                        var css = g == count && count == 1 ? "border-top: 2px solid #00477D;border-bottom: 2px #00477D solid;" : "border-top: 2px solid #00477D;";
                        var cssstr = g == count && count > 1 ? "border-bottom: 2px #00477D solid;" : "";
                        <tr>
                            <th style="@css@cssstr" class="h2 text-center px-0" scope="row" rowspan="@count">@i</th>
                            <td style="@css@cssstr">@firstData.Title</td>
                            <td style="@css@cssstr"><a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@firstData.FileName"></a></td>
                        </tr>
                        query = query.Skip(1);
                        foreach (var item in query)
                        {
                            g++;
                            css = g == count && count == 1 ? "border-top: 2px solid #00477D;" : "";
                            cssstr = g == count && count > 1 ? "border-bottom: 2px #00477D solid;" : "";
                            <tr style="@css @cssstr">
                                <td style="@css @cssstr">@item.Title</td>
                                <td style="@css @cssstr">
                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>
<section class="py-6 py-md-8" id="news">
    <div class="container h6">
        <h2 class="text-gray-57 text-center mb-4">活動訊息</h2>
        <select class="form-control mb-4 bg-white border-black rounded" id="select-news-year">
            <option value="0">依年分搜尋</option>
            @for (int i = DateTime.Now.Year; i >= 2017; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
        <div id="pages"></div>

        @{
            Html.RenderPartial("_Page", Model.NewsList);
        }
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
            $(function () {
                //取得新聞中心api
                const apiUrl = '@Url.Action("GetNewsList")';
                var divpage = $('#pages');
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('CurrentPage');
                const year = urlParams.get('year');
                $.get(apiUrl + '?year='+ year +'&type=' + @type + '&CurrentPage=' + myParam, function (result) {
                    divpage.append(result);
                });
                if (myParam !== null || year !== null) {
                    $("html, body").animate({
                        scrollTop: $("#news").offset().top
                    }, {
                        duration: 1000, easing: "swing"
                        });
                    $('#select-news-year').val(year);
                }
                if (year == null) {
                    $('#select-news-year').val('0');
                }
                $('.page-item').click(function () {
                    var pagedata = $(this).filter(".active").attr('data-pager');
                    if (pagedata) {
                        $.get(apiUrl + '?year=' + year +'&type=' + @type +'&CurrentPage=' + pagedata, function (result) {
                            divpage.empty();
                            divpage.append(result);
                        });
                    }
                })
                $('#select-news-year').on('change', function (e) {
                    var selectedTable = $(this).val();
                    if (selectedTable) {
                        toSearchResult(selectedTable);
                    }
                });
        });

                //新聞頁
        const Url = '@Url.Action("CultureArtfoundation")';

        function toSearchResult(year) {
            var params = {
                year: year
            };
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + params[key]
            }).join('&');
            const origin = window.location.origin;
            const pathname = window.location.pathname;
            const url = origin + Url + '?' + queryString;
            window.location.href = url;
        }
    </script>
}