﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "企業社會責任";
}
@section head{
    <title>新光保全-永續ESG</title>
    <meta name="description" content="基於回饋社會的使命，秉持「取之於社會，用之於社會」的精神，致力提供客戶保障與安心服務，為社會大眾貢獻一己之力。"/>
    <meta name="twitter:title" content="新光保全-永續ESG"/>
    <meta name="twitter:description" content="基於回饋社會的使命，秉持「取之於社會，用之於社會」的精神，致力提供客戶保障與安心服務，為社會大眾貢獻一己之力。"/>
    <meta property="og:title" content="新光保全-永續ESG"/>
    <meta property="og:description" content="基於回饋社會的使命，秉持「取之於社會，用之於社會」的精神，致力提供客戶保障與安心服務，為社會大眾貢獻一己之力。"/>
    <link rel="canonical" href="@url" />
}

<section class="text-white h6">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 relative" style="background-image:url(/Content/sks/img/K0-BN.jpg);">
                    <div class="container">
                        <h2 class="h1">永續ESG</h2>
                        <p>基於回饋社會的使命</p>
                        <p>秉持「取之於社會，用之於社會」的精神</p>
                        <p>致力提供客戶保障與安心服務</p>
                        <p>為社會大眾貢獻一己之力</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container">
        <div class="row justify-around">
            <div class="col-md-6 col-xl-5 mb-6">
                <div class="row no-gutters">
                    <div class="col-4 col-md-3 mt-n3">
                        <svg class="img-fluid" height="70">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-kicon1-02"></use>
                        </svg>
                    </div>
                    <div class="col-8 col-md-9">
                        <h3>安心教室</h3>
                        <p class="text-gray">2007年以來，新光保全一直默默進行的，一件讓人「安心」的小事， 以保全本業專長成立的「安心教室」以行動安全教育模式，走進台灣各地，防震、防災、人身、急救及銀髮居家安全教育向下紮根，讓各年齡層的民眾都能具備安全防災的知識。</p><a class="text-dark-blue" href="@Url.Action("ClassRoom","CorporateSocial")">
                            了解更多
                            <svg width="16" height="16">
                                <path fill="none" stroke="#002f82" d="M0 0l6 6-6 6"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 mb-6">
                <div class="row no-gutters">
                    <div class="col-4 col-md-3 mt-n3">
                        <svg class="img-fluid" height="70">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-kicon2-02"></use>
                        </svg>
                    </div>
                    <div class="col-8 col-md-9">
                        <h3>文化藝術基金會</h3>
                        <p class="text-gray">以「提升文化生活品質、健全藝術發展環境」為宗旨，希望以非營利的文藝支持者角色，擔任文化藝術的推廣使者，並作為民間團體交流合作的溝通橋樑與連結網絡。</p><a class="text-dark-blue" href="@Url.Action("CultureArtfoundation","CorporateSocial")">
                            了解更多
                            <svg width="16" height="16">
                                <path fill="none" stroke="#002f82" d="M0 0l6 6-6 6"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 mb-6">
                <div class="row no-gutters">
                    <div class="col-4 col-md-3 mt-n3">
                        <svg class="img-fluid" height="70">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-kicon3-02"></use>
                        </svg>
                    </div>
                    <div class="col-8 col-md-9">
                        <h3>關懷社會福利基金會</h3>
                        <p class="text-gray">以「促進社會福祉、幫助弱勢」，秉持人本精神，深切關懷台灣每個角落，新光保全社福基金會結合社會資源，實踐企業回饋社會的使命，並以守護社會大眾為己任，努力創造和諧幸福的安心生活。</p><a class="text-dark-blue" href="@Url.Action("WelfareFoundation","CorporateSocial")">
                            了解更多
                            <svg width="16" height="16">
                                <path fill="none" stroke="#002f82" d="M0 0l6 6-6 6"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 mb-6">
                <div class="row no-gutters">
                    <div class="col-4 col-md-3 mt-n3">
                        <svg class="img-fluid" height="70">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-kicon4-02"></use>
                        </svg>
                    </div>
                    <div class="col-8 col-md-9">
                        <h3>永續報告書</h3>
                        <p class="text-gray">新光保全每年持續發行報告書，持續從公司治理、環境永續、社會公益全方位為利害關係人創造最大價值，並努力提供企業資訊透明度和經營績效，擴大對社會的正向影響力，邁向永續經營。</p>
                        <a class="text-dark-blue" target="_blank" href="https://esg.sks.com.tw/">
                            了解更多
                            <svg width="16" height="16">
                                <path fill="none" stroke="#002f82" d="M0 0l6 6-6 6"></path>
                            </svg>
                        </a>
                            <a class="text-dark-blue" href="~/Content/sks/file/2023新保ESG報告書-0807.pdf" target="_blank" download="2023新光保全永續報告書">
                                報告書下載
                                <svg width="16" height="16">
                                    <path fill="none" stroke="#002f82" d="M0 0l6 6-6 6"></path>
                                </svg>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vh-100 bg-cover" style="background-image:url(/Content/sks/img/K0-bg.jpg);"></div>
</section>
