﻿@using sks.Models
@model sks.ViewModels.CorporateSocial.CorporateSocialView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    int type = (int)NewsType.Welfare;
    ViewBag.Title = "關懷社會福利基金會";
}
@section head{
    <title>新光保全-關懷社會福利基金會</title>
    <meta name="description" content="2011年12月成立，以「促進社會福址、幫助弱勢」為宗旨，「長者、婦女、孩童」為主要服務對象結合保全本業專長，提供弱勢族群「安全守護、安心照護」等協助。" />
    <meta name="twitter:title" content="新光保全-關懷社會福利基金會" />
    <meta name="twitter:description" content="2011年12月成立，以「促進社會福址、幫助弱勢」為宗旨，「長者、婦女、孩童」為主要服務對象結合保全本業專長，提供弱勢族群「安全守護、安心照護」等協助。" />
    <meta property="og:title" content="新光保全-關懷社會福利基金會" />
    <meta property="og:description" content="2011年12月成立，以「促進社會福址、幫助弱勢」為宗旨，「長者、婦女、孩童」為主要服務對象結合保全本業專長，提供弱勢族群「安全守護、安心照護」等協助。" />
    <link rel="canonical" href="@url" />
    <style>
        .bg-welfare {
            background-image: linear-gradient(to right, #f5f5f5 40%,transparent), url("/Content/sks/img/welfare.jpg");
            background-position: center, bottom right;
            background-size: cover, cover;
            background-repeat: no-repeat;
        }

        .table-download td {
            border-color: #c0c0c0
        }

        .table-download th {
            border-color: #00477D
        }

        .table-download thead th {
            border-top: 2px solid #00477D;
            border-bottom: 2px solid #00477D;
        }

        .st0 {
            clip-path: url(#SVGID_2_);
        }

        .st1 {
            font-family: 'MicrosoftJhengHeiBold';
        }

        .st2 {
            font-size: 25px;
        }

        .st3 {
            clip-path: url(#SVGID_4_);
        }

        .st4 {
            font-size: 22px;
        }

        .st5 {
            clip-path: url(#SVGID_6_);
        }

        .st6 {
            clip-path: url(#SVGID_8_);
        }

        .st7 {
            clip-path: url(#SVGID_10_);
        }

        .st8 {
            clip-path: url(#SVGID_12_);
        }

        .st9 {
            clip-path: url(#SVGID_14_);
        }

        .st10 {
            clip-path: url(#SVGID_16_);
        }

        .st11 {
            clip-path: url(#SVGID_18_);
        }

        .st12 {
            clip-path: url(#SVGID_20_);
        }

        .st13 {
            clip-path: url(#SVGID_22_);
        }

        .st14 {
            clip-path: url(#SVGID_24_);
        }

        .st15 {
            clip-path: url(#SVGID_26_);
        }

        .st16 {
            clip-path: url(#SVGID_28_);
        }

        .st17 {
            clip-path: url(#SVGID_30_);
        }

        .st18 {
            clip-path: url(#SVGID_32_);
        }

        .st19 {
            clip-path: url(#SVGID_34_);
        }

        .st20 {
            clip-path: url(#SVGID_36_);
        }

        .st21 {
            clip-path: url(#SVGID_38_);
        }

        .st22 {
            clip-path: url(#SVGID_40_);
        }

        .st23 {
            clip-path: url(#SVGID_42_);
        }

        .st24 {
            fill-rule: evenodd;
            clip-rule: evenodd;
        }

        @@media(min-width:1024px) {
            .bg-welfare {
                background-size: cover, contain;
            }
        }
    </style>
}
<section>
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-50 bg-left" style="background-image:url(/Content/sks/img/welfare-BN.jpg);">
                    <div class="container text-center">
                        <img class="img-fluid" src="~/Content/sks/img/welfare-title.png" alt="關懷社會福利基金會" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-welfare relative">
        <div class="mask-light d-md-none"></div>
        <div class="container pt-6 pb-10 py-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-gray font-normal">認識基金會</h2>
                    <h3 class="h4 font-bold">簡介</h3>
                    <p>2011年12月成立，以「促進社會福址、幫助弱勢」為宗旨，「長者、婦女、孩童」為主要服務對象結合保全本業專長，提供弱勢族群「安全守護、安心照護」等協助。</p>
                    <h3 class="h4 font-bold">宗旨</h3>
                    <p>促進社會福址並依循計畫回饋社會、幫助弱勢，繼續以守護社會大眾為己任，努力創造和諧幸福的安心生活為目標。</p>
                    <h3 class="h4 font-bold">目標</h3>
                    <p>「促進社會福祉、幫助弱勢」，秉持人本精神，深切關懷台灣每個角落，新光保全社福基金會結合社會資源，實踐企業回饋社會的使命，並以守護社會大眾為己任，努力創造和諧幸福的安心生活。</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container h6">
        <h2 class="text-gray-57 mb-4">組織架構</h2>
        <div class="row justify-center">
            <div class="col-12 mb-6 mb-lg-8 px-xl-12">
                <svg class="img-fluid" viewBox="0 0 500 568"><g><g><g><g><defs><rect id="SVGID_1_" x="-52.062" y="45.309" width="530.67" height="14.485" />				</defs><clipPath id="SVGID_2_"><use xlink:href="#SVGID_1_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_2_)"><text transform="matrix(1 0 0 1 80.1321 56.8398)" font-family="'MicrosoftJhengHeiBold'" font-size="12.8866">財團法人新光保全關懷社會福利基金會組織圖</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_3_" x="77.876" y="89.835" width="53.618" height="30.258" />				</defs><clipPath id="SVGID_4_"><use xlink:href="#SVGID_3_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_4_)"><text transform="matrix(1 0 0 1 88.9568 108.5107)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">董事長</text>				</g>			</g>		</g>	</g></g><g><text transform="matrix(1 0 0 1 151.3279 108.3242)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">鄭澤芳</text></g><rect x="131.701" y="89.835" fill="none" width="74.082" height="30.258" /><g><g><g><g><defs><rect id="SVGID_5_" x="77.876" y="144.371" width="53.618" height="30.258" />				</defs><clipPath id="SVGID_6_"><use xlink:href="#SVGID_5_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_6_)"><text transform="matrix(1 0 0 1 88.4417 163.6104)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">執行長</text>				</g>			</g>		</g>	</g></g><g><text transform="matrix(1 0 0 1 150.9563 163.0947)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">曾哲青</text></g><rect x="131.701" y="144.371" fill="none" width="74.082" height="30.258" /><g><g><g><g><defs><rect id="SVGID_7_" x="131.701" y="189.02" width="74.082" height="28.557" />				</defs><clipPath id="SVGID_8_"><use xlink:href="#SVGID_7_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_8_)"><text transform="matrix(1 0 0 1 150.9563 207.2886)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">湯傑郎</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_9_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_10_"><use xlink:href="#SVGID_9_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_10_)"><text transform="matrix(1 0 0 1 24.5042 269.1836)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">社</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_11_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_12_"><use xlink:href="#SVGID_11_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_12_)"><text transform="matrix(1 0 0 1 24.5042 282.1719)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">會</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_13_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_14_"><use xlink:href="#SVGID_13_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_14_)"><text transform="matrix(1 0 0 1 24.5042 295.1621)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">服</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_15_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_16_"><use xlink:href="#SVGID_15_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_16_)"><text transform="matrix(1 0 0 1 24.5042 308.1699)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">務</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_17_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_18_"><use xlink:href="#SVGID_17_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_18_)"><text transform="matrix(1 0 0 1 24.5042 321.1602)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_19_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_20_"><use xlink:href="#SVGID_19_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_20_)"><text transform="matrix(1 0 0 1 24.5042 334.1504)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_21_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_22_"><use xlink:href="#SVGID_21_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_22_)"><text transform="matrix(1 0 0 1 15.5959 269.1836)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_23_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_24_"><use xlink:href="#SVGID_23_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_24_)"><text transform="matrix(1 0 0 1 15.5959 282.1719)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_25_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_26_"><use xlink:href="#SVGID_25_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_26_)"><text transform="matrix(1 0 0 1 15.5959 295.1621)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_27_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_28_"><use xlink:href="#SVGID_27_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_28_)"><text transform="matrix(1 0 0 1 12.0706 308.1699)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">彭</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_29_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_30_"><use xlink:href="#SVGID_29_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_30_)"><text transform="matrix(1 0 0 1 12.0706 321.1602)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">國</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_31_" x="3.659" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_32_"><use xlink:href="#SVGID_31_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_32_)"><text transform="matrix(1 0 0 1 12.0706 334.1504)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">強</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_33_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_34_"><use xlink:href="#SVGID_33_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_34_)"><text transform="matrix(1 0 0 1 77.8186 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">照</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_35_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_36_"><use xlink:href="#SVGID_35_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_36_)"><text transform="matrix(1 0 0 1 77.8186 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">護</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_37_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_38_"><use xlink:href="#SVGID_37_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_38_)"><text transform="matrix(1 0 0 1 77.8186 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">推</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_39_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_40_"><use xlink:href="#SVGID_39_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_40_)"><text transform="matrix(1 0 0 1 77.8186 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">廣</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_41_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_42_"><use xlink:href="#SVGID_41_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_42_)"><text transform="matrix(1 0 0 1 77.8186 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_43_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_44_"><use xlink:href="#SVGID_43_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_44_)"><text transform="matrix(1 0 0 1 77.8186 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_45_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_46_"><use xlink:href="#SVGID_45_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_46_)"><text transform="matrix(1 0 0 1 68.9202 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_47_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_48_"><use xlink:href="#SVGID_47_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_48_)"><text transform="matrix(1 0 0 1 68.9202 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_49_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_50_"><use xlink:href="#SVGID_49_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_50_)"><text transform="matrix(1 0 0 1 68.9202 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_51_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_52_"><use xlink:href="#SVGID_51_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_52_)"><text transform="matrix(1 0 0 1 65.3948 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">曾</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_53_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_54_"><use xlink:href="#SVGID_53_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_54_)"><text transform="matrix(1 0 0 1 65.3948 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">哲</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_55_" x="57.474" y="256.752" width="40.671" height="83.506" />				</defs><clipPath id="SVGID_56_"><use xlink:href="#SVGID_55_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_56_)"><text transform="matrix(1 0 0 1 65.3948 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">青</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_57_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_58_"><use xlink:href="#SVGID_57_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_58_)"><text transform="matrix(1 0 0 1 132.6882 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">研</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_59_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_60_"><use xlink:href="#SVGID_59_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_60_)"><text transform="matrix(1 0 0 1 132.6882 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">究</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_61_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_62_"><use xlink:href="#SVGID_61_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_62_)"><text transform="matrix(1 0 0 1 132.6882 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">開</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_63_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_64_"><use xlink:href="#SVGID_63_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_64_)"><text transform="matrix(1 0 0 1 132.6882 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">發</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_65_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_66_"><use xlink:href="#SVGID_65_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_66_)"><text transform="matrix(1 0 0 1 132.6882 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_67_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_68_"><use xlink:href="#SVGID_67_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_68_)"><text transform="matrix(1 0 0 1 132.6882 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_69_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_70_"><use xlink:href="#SVGID_69_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_70_)"><text transform="matrix(1 0 0 1 123.7815 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_71_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_72_"><use xlink:href="#SVGID_71_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_72_)"><text transform="matrix(1 0 0 1 123.7815 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_73_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_74_"><use xlink:href="#SVGID_73_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_74_)"><text transform="matrix(1 0 0 1 123.7815 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_75_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_76_"><use xlink:href="#SVGID_75_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_76_)"><text transform="matrix(1 0 0 1 120.2561 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">鄭</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_77_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_78_"><use xlink:href="#SVGID_77_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_78_)"><text transform="matrix(1 0 0 1 120.2561 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">澤</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_79_" x="111.288" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_80_"><use xlink:href="#SVGID_79_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_80_)"><text transform="matrix(1 0 0 1 120.2561 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">芳</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_81_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_82_"><use xlink:href="#SVGID_81_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_82_)"><text transform="matrix(1 0 0 1 186.5193 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">專</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_83_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_84_"><use xlink:href="#SVGID_83_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_84_)"><text transform="matrix(1 0 0 1 186.5193 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">案</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_85_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_86_"><use xlink:href="#SVGID_85_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_86_)"><text transform="matrix(1 0 0 1 186.5193 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">企</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_87_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_88_"><use xlink:href="#SVGID_87_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_88_)"><text transform="matrix(1 0 0 1 186.5193 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">劃</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_89_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_90_"><use xlink:href="#SVGID_89_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_90_)"><text transform="matrix(1 0 0 1 186.5193 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_91_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_92_"><use xlink:href="#SVGID_91_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_92_)"><text transform="matrix(1 0 0 1 186.5193 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_93_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_94_"><use xlink:href="#SVGID_93_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_94_)"><text transform="matrix(1 0 0 1 177.6204 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_95_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_96_"><use xlink:href="#SVGID_95_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_96_)"><text transform="matrix(1 0 0 1 177.6204 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_97_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_98_"><use xlink:href="#SVGID_97_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_98_)"><text transform="matrix(1 0 0 1 177.6204 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_99_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_100_"><use xlink:href="#SVGID_99_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_100_)"><text transform="matrix(1 0 0 1 174.0955 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">鄒</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_101_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_102_"><use xlink:href="#SVGID_101_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_102_)"><text transform="matrix(1 0 0 1 174.0955 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">國</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_103_" x="165.155" y="256.752" width="40.619" height="83.506" />				</defs><clipPath id="SVGID_104_"><use xlink:href="#SVGID_103_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_104_)"><text transform="matrix(1 0 0 1 174.0955 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">民</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_105_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_106_"><use xlink:href="#SVGID_105_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_106_)"><text transform="matrix(1 0 0 1 240.3582 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">財</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_107_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_108_"><use xlink:href="#SVGID_107_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_108_)"><text transform="matrix(1 0 0 1 240.3582 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">務</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_109_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_110_"><use xlink:href="#SVGID_109_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_110_)"><text transform="matrix(1 0 0 1 240.3582 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">管</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_111_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_112_"><use xlink:href="#SVGID_111_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_112_)"><text transform="matrix(1 0 0 1 240.3582 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">理</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_113_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_114_"><use xlink:href="#SVGID_113_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_114_)"><text transform="matrix(1 0 0 1 240.3582 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_115_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_116_"><use xlink:href="#SVGID_115_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_116_)"><text transform="matrix(1 0 0 1 240.3582 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_117_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_118_"><use xlink:href="#SVGID_117_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_118_)"><text transform="matrix(1 0 0 1 231.4509 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_119_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_120_"><use xlink:href="#SVGID_119_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_120_)"><text transform="matrix(1 0 0 1 231.4509 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_121_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_122_"><use xlink:href="#SVGID_121_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_122_)"><text transform="matrix(1 0 0 1 231.4509 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_123_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_124_"><use xlink:href="#SVGID_123_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_124_)"><text transform="matrix(1 0 0 1 227.925 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">許</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_125_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_126_"><use xlink:href="#SVGID_125_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_126_)"><text transform="matrix(1 0 0 1 227.925 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">清</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_127_" x="218.969" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_128_"><use xlink:href="#SVGID_127_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_128_)"><text transform="matrix(1 0 0 1 227.925 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">秀</text>				</g>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_129_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_130_"><use xlink:href="#SVGID_129_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_130_)"><text transform="matrix(1 0 0 1 293.6829 269.1836)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">人</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_131_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_132_"><use xlink:href="#SVGID_131_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_132_)"><text transform="matrix(1 0 0 1 293.6829 282.1719)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">資</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_133_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_134_"><use xlink:href="#SVGID_133_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_134_)"><text transform="matrix(1 0 0 1 293.6829 295.1621)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_135_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_136_"><use xlink:href="#SVGID_135_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_136_)"><text transform="matrix(1 0 0 1 293.6829 308.1699)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_137_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_138_"><use xlink:href="#SVGID_137_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_138_)"><text transform="matrix(1 0 0 1 284.7756 269.1836)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_139_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_140_"><use xlink:href="#SVGID_139_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_140_)"><text transform="matrix(1 0 0 1 284.7756 282.1719)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_141_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_142_"><use xlink:href="#SVGID_141_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_142_)"><text transform="matrix(1 0 0 1 284.7756 295.1621)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_143_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_144_"><use xlink:href="#SVGID_143_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_144_)"><text transform="matrix(1 0 0 1 281.2493 308.1699)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">黃</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_145_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_146_"><use xlink:href="#SVGID_145_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_146_)"><text transform="matrix(1 0 0 1 281.2493 321.1602)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">春</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_147_" x="272.835" y="256.752" width="40.618" height="83.506" />			</defs><clipPath id="SVGID_148_"><use xlink:href="#SVGID_147_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_148_)"><text transform="matrix(1 0 0 1 281.2493 334.1504)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">明</text>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_149_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_150_"><use xlink:href="#SVGID_149_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_150_)"><text transform="matrix(1 0 0 1 348.5432 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">管</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_151_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_152_"><use xlink:href="#SVGID_151_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_152_)"><text transform="matrix(1 0 0 1 348.5432 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">理</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_153_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_154_"><use xlink:href="#SVGID_153_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_154_)"><text transform="matrix(1 0 0 1 348.5432 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">本</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_155_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_156_"><use xlink:href="#SVGID_155_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_156_)"><text transform="matrix(1 0 0 1 348.5432 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_157_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_158_"><use xlink:href="#SVGID_157_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_158_)"><text transform="matrix(1 0 0 1 339.637 269.6992)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_159_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_160_"><use xlink:href="#SVGID_159_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_160_)"><text transform="matrix(1 0 0 1 339.637 282.6875)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_161_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_162_"><use xlink:href="#SVGID_161_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_162_)"><text transform="matrix(1 0 0 1 339.637 295.6777)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_163_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_164_"><use xlink:href="#SVGID_163_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_164_)"><text transform="matrix(1 0 0 1 336.1106 308.6855)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">翁</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_165_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_166_"><use xlink:href="#SVGID_165_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_166_)"><text transform="matrix(1 0 0 1 336.1106 321.6758)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">宗</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_167_" x="326.65" y="256.752" width="40.618" height="83.506" />				</defs><clipPath id="SVGID_168_"><use xlink:href="#SVGID_167_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_168_)"><text transform="matrix(1 0 0 1 336.1106 334.665)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">賢</text>				</g>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_169_" x="381.031" y="256.752" width="114.897" height="83.506" />			</defs><clipPath id="SVGID_170_"><use xlink:href="#SVGID_169_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_170_)"><text transform="matrix(1 0 0 1 408.2688 279.9893)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">諮</text><text transform="matrix(1 0 0 1 419.6077 280.3574)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text><text transform="matrix(1 0 0 1 425.3303 279.9893)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">詢</text><text transform="matrix(1 0 0 1 436.6702 280.3574)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text><text transform="matrix(1 0 0 1 439.5569 280.3574)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text><text transform="matrix(1 0 0 1 442.4436 279.9893)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">委</text><text transform="matrix(1 0 0 1 453.7834 280.3574)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text><text transform="matrix(1 0 0 1 459.5061 279.9893)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">員</text>			</g>		</g>	</g></g><g><g><g><defs><rect id="SVGID_171_" x="381.031" y="256.752" width="114.897" height="83.506" />			</defs><clipPath id="SVGID_172_"><use xlink:href="#SVGID_171_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_172_)"><text transform="matrix(1 0 0 1 396.5872 297.9453)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">許振煙、鄒國民</text>			</g>		</g>	</g></g><rect x="381.031" y="256.752" fill="none" width="114.897" height="83.506" /><g><text transform="matrix(1 0 0 1 396.5872 310.3965)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">李鴻生、沈明蔚</text></g><g><text transform="matrix(1 0 0 1 419.5872 323.3965)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">黃春明</text></g><rect x="381.031" y="256.752" fill="none" width="114.897" height="83.506" /><g><g><g><g><defs><rect id="SVGID_173_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_174_"><use xlink:href="#SVGID_173_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_174_)"><text transform="matrix(1 0 0 1 26.3176 369.5303)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">A</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_175_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_176_"><use xlink:href="#SVGID_175_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_176_)"><text transform="matrix(1 0 0 1 27.0608 382.5488)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">E</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_177_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_178_"><use xlink:href="#SVGID_177_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_178_)"><text transform="matrix(1 0 0 1 26.1326 395.5381)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">D</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_179_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_180_"><use xlink:href="#SVGID_179_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_180_)"><text transform="matrix(1 0 0 1 25.0198 408.5283)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">推</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_181_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_182_"><use xlink:href="#SVGID_181_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_182_)"><text transform="matrix(1 0 0 1 25.0198 421.5176)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">廣</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_183_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_184_"><use xlink:href="#SVGID_183_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_184_)"><text transform="matrix(1 0 0 1 25.0198 434.5068)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_185_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_186_"><use xlink:href="#SVGID_185_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_186_)"><text transform="matrix(1 0 0 1 16.1121 369.5303)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_187_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_188_"><use xlink:href="#SVGID_187_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_188_)"><text transform="matrix(1 0 0 1 12.5862 382.5488)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">專</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_189_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_190_"><use xlink:href="#SVGID_189_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_190_)"><text transform="matrix(1 0 0 1 12.5862 395.5381)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">案</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_191_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_192_"><use xlink:href="#SVGID_191_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_192_)"><text transform="matrix(1 0 0 1 12.5862 408.5283)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">推</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_193_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_194_"><use xlink:href="#SVGID_193_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_194_)"><text transform="matrix(1 0 0 1 12.5862 421.5176)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">廣</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_195_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_196_"><use xlink:href="#SVGID_195_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_196_)"><text transform="matrix(1 0 0 1 12.5862 434.5068)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">人</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_197_" x="3.659" y="358.66" width="40.671" height="92.268" />				</defs><clipPath id="SVGID_198_"><use xlink:href="#SVGID_197_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_198_)"><text transform="matrix(1 0 0 1 12.5862 447.5156)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">員</text>				</g>			</g>		</g>	</g></g><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 71.8499 375.7158)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">日</text><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 71.8499 388.7344)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">照</text><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 71.8499 401.7246)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">中</text><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 71.8499 414.7139)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">心</text><g><g><g><defs><rect id="SVGID_199_" x="57.474" y="358.66" width="40.671" height="92.268" />			</defs><clipPath id="SVGID_200_"><use xlink:href="#SVGID_199_" overflow="visible" />			</clipPath><g clip-path="url(#SVGID_200_)" enable-background="new    "><text transform="matrix(1 0 0 1 69.9504 375.7158)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>			</g>		</g>	</g></g><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><rect x="57.474" y="358.66" fill="none" width="40.671" height="92.268" /><g><g><g><g><defs><rect id="SVGID_201_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_202_"><use xlink:href="#SVGID_201_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_202_)"><text transform="matrix(1 0 0 1 133.2039 370.0459)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">服</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_203_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_204_"><use xlink:href="#SVGID_203_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_204_)"><text transform="matrix(1 0 0 1 133.2039 383.0645)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">務</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_205_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_206_"><use xlink:href="#SVGID_205_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_206_)"><text transform="matrix(1 0 0 1 133.2039 396.0537)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_207_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_208_"><use xlink:href="#SVGID_207_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_208_)"><text transform="matrix(1 0 0 1 124.2961 370.0459)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_209_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_210_"><use xlink:href="#SVGID_209_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_210_)"><text transform="matrix(1 0 0 1 120.7708 383.0645)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">工</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_211_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_212_"><use xlink:href="#SVGID_211_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_212_)"><text transform="matrix(1 0 0 1 120.7708 396.0537)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">程</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_213_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_214_"><use xlink:href="#SVGID_213_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_214_)"><text transform="matrix(1 0 0 1 120.7708 409.0439)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">維</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_215_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_216_"><use xlink:href="#SVGID_215_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_216_)"><text transform="matrix(1 0 0 1 120.7708 422.0332)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">護</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_217_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_218_"><use xlink:href="#SVGID_217_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_218_)"><text transform="matrix(1 0 0 1 120.7708 435.0225)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">人</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_219_" x="111.288" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_220_"><use xlink:href="#SVGID_219_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_220_)"><text transform="matrix(1 0 0 1 120.7708 448.0313)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">員</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_221_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_222_"><use xlink:href="#SVGID_221_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_222_)"><text transform="matrix(1 0 0 1 187.0334 370.0459)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">企</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_223_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_224_"><use xlink:href="#SVGID_223_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_224_)"><text transform="matrix(1 0 0 1 187.0334 383.0645)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">劃</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_225_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_226_"><use xlink:href="#SVGID_225_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_226_)"><text transform="matrix(1 0 0 1 187.0334 396.0537)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">室</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_227_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_228_"><use xlink:href="#SVGID_227_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_228_)"><text transform="matrix(1 0 0 1 178.137 370.0459)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_229_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_230_"><use xlink:href="#SVGID_229_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_230_)"><text transform="matrix(1 0 0 1 174.6111 383.0645)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">專</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_231_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_232_"><use xlink:href="#SVGID_231_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_232_)"><text transform="matrix(1 0 0 1 174.6111 396.0537)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">案</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_233_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_234_"><use xlink:href="#SVGID_233_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_234_)"><text transform="matrix(1 0 0 1 174.6111 409.0439)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">執</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_235_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_236_"><use xlink:href="#SVGID_235_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_236_)"><text transform="matrix(1 0 0 1 174.6111 422.0332)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">行</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_237_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_238_"><use xlink:href="#SVGID_237_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_238_)"><text transform="matrix(1 0 0 1 174.6111 435.0225)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">人</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_239_" x="165.155" y="358.66" width="40.619" height="92.268" />				</defs><clipPath id="SVGID_240_"><use xlink:href="#SVGID_239_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_240_)"><text transform="matrix(1 0 0 1 174.6111 448.0313)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">員</text>				</g>			</g>		</g>	</g></g><g><g><g><g><defs><rect id="SVGID_241_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_242_"><use xlink:href="#SVGID_241_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_242_)"><text transform="matrix(1 0 0 1 240.8743 369.5303)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">財</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_243_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_244_"><use xlink:href="#SVGID_243_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_244_)"><text transform="matrix(1 0 0 1 240.8743 382.5488)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">務</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_245_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_246_"><use xlink:href="#SVGID_245_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_246_)"><text transform="matrix(1 0 0 1 240.8743 395.5381)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">部</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_247_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_248_"><use xlink:href="#SVGID_247_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_248_)"><text transform="matrix(1 0 0 1 231.9666 369.5303)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402"></text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_249_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_250_"><use xlink:href="#SVGID_249_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_250_)"><text transform="matrix(1 0 0 1 228.4407 382.5488)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">出</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_251_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_252_"><use xlink:href="#SVGID_251_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_252_)"><text transform="matrix(1 0 0 1 228.4407 395.5381)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">納</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_253_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_254_"><use xlink:href="#SVGID_253_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_254_)"><text transform="matrix(1 0 0 1 228.4407 408.5283)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">行</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_255_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_256_"><use xlink:href="#SVGID_255_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_256_)"><text transform="matrix(1 0 0 1 228.4407 421.5176)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">政</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_257_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_258_"><use xlink:href="#SVGID_257_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_258_)"><text transform="matrix(1 0 0 1 228.4407 434.5068)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">人</text>				</g>			</g>		</g>	</g><g><g><g><defs><rect id="SVGID_259_" x="218.969" y="358.66" width="40.618" height="92.268" />				</defs><clipPath id="SVGID_260_"><use xlink:href="#SVGID_259_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_260_)"><text transform="matrix(1 0 0 1 228.4407 447.5156)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">員</text>				</g>			</g>		</g>	</g></g><rect x="131.186" y="90.351" width="0.724" height="29.124" /><rect x="77.155" y="89.062" width="1.289" height="31.752" /><rect x="131.186" y="120.814" width="0.724" height="22.835" /><rect x="205.268" y="90.351" width="1.289" height="30.412" /><rect x="131.186" y="144.938" width="0.724" height="29.124" /><rect x="77.155" y="143.649" width="1.289" height="31.752" /><rect x="131.186" y="175.402" width="0.724" height="10.567" /><rect x="205.268" y="144.938" width="1.289" height="30.413" /><rect x="131.186" y="187.258" width="0.724" height="56.237" /><rect x="4.175" y="256.031" width="40.825" height="1.288" /><rect x="58.041" y="256.031" width="40.825" height="1.288" /><rect x="111.856" y="256.031" width="40.824" height="1.288" /><rect x="165.67" y="256.031" width="40.824" height="1.288" /><rect x="219.536" y="256.031" width="40.822" height="1.288" /><rect x="273.351" y="256.031" width="40.824" height="1.288" /><rect x="327.216" y="256.031" width="40.825" height="1.288" /><rect x="23.505" y="243.969" width="0.722" height="12.063" /><rect x="4.175" y="339.742" width="40.825" height="1.289" /><rect x="77.32" y="244.691" width="0.724" height="11.34" /><rect x="58.041" y="339.742" width="40.825" height="1.289" /><rect x="131.186" y="232.784" width="0.724" height="23.196" /><rect x="111.856" y="339.742" width="40.824" height="1.289" /><rect x="185" y="244.691" width="0.722" height="11.34" /><rect x="165.67" y="339.742" width="40.824" height="1.289" /><rect x="238.815" y="244.691" width="0.724" height="11.34" /><rect x="219.536" y="339.742" width="40.822" height="1.289" /><rect x="273.351" y="339.742" width="40.824" height="1.289" /><rect x="327.216" y="339.742" width="40.825" height="1.289" /><rect x="2.887" y="256.031" width="1.288" height="85" /><rect x="43.763" y="257.319" width="1.289" height="83.712" /><rect x="4.175" y="357.938" width="40.825" height="1.289" /><rect x="56.752" y="256.031" width="1.289" height="85" /><rect x="97.577" y="257.319" width="1.289" height="83.712" /><rect x="58.041" y="357.938" width="40.825" height="1.289" /><rect x="110.567" y="256.031" width="1.289" height="85" /><rect x="151.392" y="257.319" width="1.288" height="83.712" /><rect x="111.856" y="357.938" width="40.824" height="1.289" /><rect x="164.381" y="256.031" width="1.289" height="85" /><rect x="205.206" y="257.319" width="1.288" height="83.712" /><rect x="165.67" y="357.938" width="40.824" height="1.289" /><rect x="218.247" y="256.031" width="1.289" height="85" /><rect x="259.073" y="257.319" width="1.288" height="83.712" /><rect x="4.175" y="450.36" width="40.825" height="1.289" /><rect x="58.041" y="450.36" width="40.825" height="1.289" /><rect x="111.856" y="450.36" width="40.824" height="1.289" /><rect x="165.67" y="450.36" width="40.824" height="1.289" /><rect x="131.186" y="341.031" width="0.724" height="16.906" /><rect x="164.381" y="357.938" width="1.289" height="93.766" /><rect x="409.227" y="132.309" width="0.722" height="119.175" /><rect x="23.505" y="341.031" width="0.722" height="16.906" /><rect x="77.32" y="341.031" width="0.724" height="16.906" /><rect x="185" y="341.031" width="0.722" height="16.906" /><rect x="238.815" y="341.031" width="0.724" height="16.906" /><rect x="292.68" y="244.691" width="0.722" height="11.34" /><rect x="346.494" y="244.691" width="0.722" height="11.34" /><rect x="2.887" y="357.938" width="1.288" height="93.766" /><rect x="43.763" y="359.227" width="1.289" height="92.477" /><rect x="56.752" y="357.938" width="1.289" height="93.766" /><rect x="97.577" y="359.227" width="1.289" height="92.477" /><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 78.8499 485.7158)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">枋</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 78.8499 498.7344)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">橋</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 78.8499 511.7246)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">日</text><text transform="matrix(1 0 0 1 78.8499 537.7041)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">中</text><text transform="matrix(1 0 0 1 78.8499 550.1641)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">心</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 78.8499 524.7139)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">照</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 66.425 498.7344)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">鍾</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 66.425 511.7246)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">秋</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 66.425 524.7139)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">菊</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 66.425 537.7041)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">主</text><rect x="57.474" y="468.66" fill="none" width="40.671" height="92.268" /><text transform="matrix(1 0 0 1 66.425 550.6934)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">任</text><rect x="58.041" y="467.938" width="40.825" height="1.289" /><rect x="58.041" y="560.36" width="40.825" height="1.289" /><rect x="77.32" y="451.031" width="0.724" height="16.906" /><rect x="56.752" y="467.938" width="1.289" height="93.766" /><rect x="97.577" y="469.227" width="1.289" height="92.477" /><rect x="110.567" y="357.938" width="1.289" height="93.766" /><rect x="151.392" y="359.227" width="1.288" height="92.477" /><rect x="205.206" y="359.227" width="1.288" height="92.477" /><rect x="218.247" y="357.938" width="1.289" height="93.766" /><rect x="259.073" y="359.227" width="1.288" height="92.477" /><rect x="272.062" y="256.031" width="1.289" height="85" /><rect x="312.886" y="257.319" width="1.289" height="83.712" /><rect x="325.928" y="256.031" width="1.288" height="85" /><rect x="366.752" y="257.319" width="1.289" height="83.712" /><rect x="380.309" y="256.031" width="1.289" height="85" /><rect x="495.361" y="257.319" width="1.289" height="83.712" /><rect x="78.444" y="89.062" width="128.063" height="1.289" /><rect x="78.444" y="119.526" width="128.063" height="1.289" /><rect x="131.907" y="131.588" width="278.093" height="0.721" /><rect x="78.444" y="143.649" width="128.063" height="1.289" /><rect x="78.444" y="174.062" width="128.063" height="1.289" /><g><g><g><g><defs><rect id="SVGID_261_" x="77.876" y="188.652" width="53.618" height="30.258" />				</defs><clipPath id="SVGID_262_"><use xlink:href="#SVGID_261_" overflow="visible" />				</clipPath><g clip-path="url(#SVGID_262_)"><text transform="matrix(1 0 0 1 82.4417 207.8911)" font-family="'MicrosoftJhengHeiBold'" font-size="11.3402">副執行長</text>				</g>			</g>		</g>	</g></g><rect x="131.701" y="188.652" fill="none" width="74.082" height="30.258" /><rect x="131.186" y="165.095" width="0.724" height="22.835" /><rect x="131.186" y="189.219" width="0.724" height="29.124" /><rect x="77.155" y="187.93" width="1.289" height="31.752" /><rect x="205.268" y="189.219" width="1.289" height="30.413" /><rect x="78.444" y="187.93" width="128.063" height="1.289" /><rect x="78.444" y="218.393" width="128.063" height="1.289" /><rect x="24.227" y="243.969" width="322.989" height="0.722" /><rect x="381.598" y="256.031" width="115.052" height="1.288" /><rect x="381.598" y="339.742" width="115.052" height="1.289" /><rect x="219.536" y="357.938" width="40.822" height="1.289" /><rect x="219.536" y="450.36" width="40.822" height="1.289" /><path d="M412.949,248.093l-3.458,4.382l-3.464-4.382c-0.066-0.103-0.066-0.258,0.141-0.361c0.138-0.051,0.348-0.051,0.483,0.103	l3.112,4.021h-0.554l3.115-4.021c0.066-0.103,0.345-0.154,0.48-0.103C413.02,247.835,413.088,247.99,412.949,248.093z	 M409.907,240.206v11.804h-0.695v-11.804H409.907z" /></svg>
            

            </div>
            <div class="col-4 border-y-light-gray py-4">
                <h3 class="text-center">董事會</h3>
                <p class="mb-0">本會董事會由董事七人組成，第一屆董事由原捐助人選聘之，第二屆以後董事由前一屆董事會選聘之(董事均為無給職)。</p>
            </div>
            <div class="col-4 border-y-light-gray py-4">
                <h3 class="text-center">董事長</h3>
                <p class="mb-0">本會董事互選一人為董事長，綜理會務，對外代表本會。</p>
            </div>
            <div class="col-4 border-y-light-gray py-4">
                <h3 class="text-center">執行長</h3>
                <p class="mb-0">本會設置執行長一人，承董事會及董事長之命辦理一切事務。</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee py-6 py-lg-8">
    <div class="container">
        <h2 class="text-gray-57 text-center">公開資訊</h2>
        <table class="table table-download table-content-middle">
            <thead>
                <tr>
                    <th scope="col">年份</th>
                    <th scope="col">項目名稱</th>
                    <th scope="col">檔案下載</th>
                </tr>
            </thead>
            <tbody>
                @{ int year = DateTime.Now.Year - 1911; }
                @for (int i = year; i >= 106; i--)
                {
                    var g = 1;
                    var query = Model.FileList.Where(p => p.FiscalYear == i);
                    int count = query.Count();
                    if (count > 0)
                    {
                        var firstData = query.FirstOrDefault();
                        var css = g == count && count == 1 ? "border-top: 2px solid #00477D;border-bottom: 2px #00477D solid;" : "border-top: 2px solid #00477D;";
                        var cssstr = g == count && count > 1 ? "border-bottom: 2px #00477D solid;" : "";
                        <tr>
                            <th style="@css@cssstr" class="h2 text-center px-0" scope="row" rowspan="@count">@i</th>
                            <td style="@css@cssstr">@firstData.Title</td>
                            <td style="@css@cssstr"><a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@firstData.FileName"></a></td>
                        </tr>
                        query = query.Skip(1);
                        foreach (var item in query)
                        {
                            g++;
                            css = g == count && count == 1 ? "border-top: 2px solid #00477D;" : "";
                            cssstr = g == count && count > 1 ? "border-bottom: 2px #00477D solid;" : "";
                            <tr style="@css @cssstr">
                                <td style="@css @cssstr">@item.Title</td>
                                <td style="@css @cssstr">
                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>
<section class="py-6 py-md-8" id="news">
    <div class="container h6">
        <h2 class="text-gray-57 text-center mb-4">活動訊息</h2>
        <select class="form-control mb-4 bg-white border-black rounded" id="select-news-year">
            <option value="0">依年分搜尋</option>
            @for (int i = DateTime.Now.Year; i >= 2017; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
        <div id="pages"></div>

        @{
            Html.RenderPartial("_Page", Model.NewsList);
        }
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
            $(function () {
                //取得新聞中心api
                const apiUrl = '@Url.Action("GetNewsList")';
                var divpage = $('#pages');
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('CurrentPage');
                const year = urlParams.get('year');
                $.get(apiUrl + '?year='+ year +'&type=' + @type + '&CurrentPage=' + myParam, function (result) {
                    divpage.append(result);
                });
                if (myParam !== null || year !== null) {
                    $("html, body").animate({
                        scrollTop: $("#news").offset().top
                    }, {
                        duration: 1000, easing: "swing"
                        });
                    $('#select-news-year').val(year);
                }
                if (year == null) {
                    $('#select-news-year').val('0');
                }
                $('.page-item').click(function () {
                    var pagedata = $(this).filter(".active").attr('data-pager');
                    if (pagedata) {
                        $.get(apiUrl + '?year=' + year +'&type=' + @type +'&CurrentPage=' + pagedata, function (result) {
                            divpage.empty();
                            divpage.append(result);
                        });
                    }
                })
                $('#select-news-year').on('change', function (e) {
                    var selectedTable = $(this).val();
                    if (selectedTable) {
                        toSearchResult(selectedTable);
                    }
                });
        });

                //新聞頁
        const Url = '@Url.Action("WelfareFoundation")';

        function toSearchResult(year) {
            var params = {
                year: year
            };
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + params[key]
            }).join('&');
            const origin = window.location.origin;
            const pathname = window.location.pathname;
            const url = origin + Url + '?' + queryString;
            window.location.href = url;
        }
    </script>
}
