﻿@using sks.Models
@model sks.ViewModels.Shareholder.ShareholderView
@{
    var query = Model.FileList;
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "公司治理";
}
@section head{
    <title>新光保全-公司治理</title>
    <meta name="description" content="台灣新光保全股份有限公司 股票代號：9925" />
    <meta name="twitter:title" content="新光保全-公司治理" />
    <meta name="twitter:description" content="台灣新光保全股份有限公司 股票代號：9925" />
    <meta property="og:title" content="新光保全-公司治理" />
    <meta property="og:description" content="台灣新光保全股份有限公司 股票代號：9925" />
    <link rel="canonical" href="@url" />
    <style>
        .table td {
            vertical-align: middle
        }
    </style>
}
<section class="text-white text-center font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image: url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">公司治理</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid full-fluid fade-in table-item-content">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3 col-xl-2 bg-aside py-6 py-lg-8">
            @if (!Model.IsMoblie)
            {
                <div class="list-group h5 text-center" role="tablist">
                    <a class="list-group-item change-hash active" id="list-chairman-list" href="#list-chairman" role="tab" data-toggle="tab" aria-controls="chairman">董事會成員</a>
                    <a class="list-group-item change-hash" id="list-committee-list" href="#list-committee" role="tab" data-toggle="tab" aria-controls="committee">功能性委員會</a>
                    <a class="list-group-item change-hash" id="list-rules-list" href="#list-rules" role="tab" data-toggle="tab" aria-controls="rules">公司內規</a>
                    <a class="list-group-item change-hash" id="list-chaining-list" href="#list-chaining" role="tab" data-toggle="tab" aria-controls="chaining">運作情形</a>
                </div>
            }
        </div>
        <div class="col-lg-9 col-xl-10 py-6 py-xl-8 min-vh-100">
            <div class="container list-outer">
                <div class="tab-content h6">
                    <div class="tab-pane fade show active" id="list-governance" role="tabpanel" aria-labelledby="list-governance-list">
                        @if (Model.IsMoblie)
                        {
                            <div class="list-tab-control">
                                <div class="list-responsive mb-6 mb-lg-8">
                                    <ul class="tabs-brand-red border-y-light-gray nav nav-tabs justify-center " role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link change-hash active" id="list-chairman-list" href="#list-chairman" role="tab" data-toggle="tab" aria-controls="chairman">董事會成員</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link change-hash" id="list-committee-list" href="#list-committee" role="tab" data-toggle="tab" aria-controls="committee">功能性委員會</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link change-hash" id="list-rules-list" href="#list-rules" role="tab" data-toggle="tab" aria-controls="rules">公司內規</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link change-hash" id="list-chaining-list" href="#list-chaining" role="tab" data-toggle="tab" aria-controls="chaining" aria-selected="true">運作情形</a>
                                        </li>
                                        @*<li class="nav-item">
                                                <a class="nav-link change-hash" id="list-chaining2-list" href="#list-chaining2" role="tab" data-toggle="tab" aria-controls="chaining2" aria-selected="true">運作情形2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link change-hash" id="list-chaining3-list" href="#list-chaining3" role="tab" data-toggle="tab" aria-controls="chaining3" aria-selected="true">運作情形3</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link change-hash" id="list-chaining4-list" href="#list-chaining4" role="tab" data-toggle="tab" aria-controls="chaining4" aria-selected="true">運作情形4</a>
                                            </li>*@
                                    </ul>
                                </div>
                                <div class="list-controller list-control-prev" data-control="prev">
                                    <span class="prev-icon-dark list-icon"></span>
                                </div>
                                <div class="list-controller list-control-next" data-control="next">
                                    <span class="next-icon-dark list-icon"></span>
                                </div>
                            </div>
                        }

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list-chairman" role="tabpanel" aria-labelledby="list-chairman-list">
                            <h3 class="border-title brand-red">董事會成員</h3>
                            <h4 style="font-weight:bold;border-left: 5px orange solid;padding-left: 13px;">
                                董事會成員簡歷及其職權
                            </h4>
                            <article class="list-nested" style="margin-left:20px">
                                <p class="leading-loose">本公司現任董事會由9席董事組成，包含4位獨立董事及5位非獨立董事。<p />
                                <p class="leading-loose">全體董事採候選人提名制度，股東應就候選人名單中選任之。
                                <p /> <p class="leading-loose">
                                    有關獨立董事之專業資格、持股與兼職限制、提名方式及其他應遵行事項之辦法，依相關法令規定辦理。
                                </p>
                                <p>依公司章程第19規定，董事會職權如下：
                                <p />
                                <p class="leading-loose">本公司現任董事會由9席董事組成，包含4位獨立董事及5位非獨立董事。<p />

                                <p>
                                    一、營業方針之決定。
                                </p>
                                <p>
                                    二、編制重要章程及契約。
                                </p>
                                <p>
                                    三、分支機構之設立及裁撤。
                                </p>
                                <p>
                                    四、編造預算及決算。
                                </p>
                                <p>
                                    五、盈餘分派之審定。
                                </p>
                                <p>
                                    六、資本增減之擬定。
                                </p>
                                <p>
                                    七、其他依公司法及股東會所賦予之職權。
                                </p>
                            </article>
                            <div class="@(Model.IsMoblie ? "text-nowrap":"")" style="@(Model.IsMoblie ? "overflow-x:auto":"")">
                                <table class="table table-brand-yellow table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="10%">職稱</th>
                                            <th scope="col" width="9%">姓名</th>
                                            <th scope="col" width="20%">法人名稱</th>
                                            <th scope="col" width="26%">學歷</th>
                                            <th scope="col" width="35%">經歷</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row">董事長</td>
                                            <td>吳昕東</td>
                                            <td>盈盈投資股份有限公司</td>
                                            <td>紐約新學院基礎研究系</td>
                                            <td>
                                                大台北區瓦斯股份有限公司 副董事長
                                                <br />
                                                新光人壽保險股份有限公司 董事
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">董事</td>
                                            <td>林伯峰</td>
                                            <td>東盈投資股份有限公司</td>
                                            <td>台灣大學法律系</td>
                                            <td>
                                                財團法人資訊工業策進會 董事
                                                <br />
                                                其陽科技股份有限公司 獨立董事
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row">董事</td>
                                            <td>洪國超</td>
                                            <td>新光醫療財團法人</td>
                                            <td>
                                                美國紐約市立大學財金碩士
                                            </td>
                                            <td>
                                                誠泰銀行 總經理
                                                <br />
                                                新光金國際創業投資股份有限公司 董事長
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">董事</td>
                                            <td>村井豪</td>
                                            <td>
                                                綜合警備保障株式會社
                                            </td>
                                            <td>
                                                早稲田大学大学院
                                            </td>
                                            <td>
                                                綜合警備保障株式会社 Group CEO
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row">董事</td>
                                            <td>井內毅</td>
                                            <td>日商株式會社GM INVESTMENTS</td>
                                            <td>東京都立大學經濟學部</td>
                                            <td>台灣守谷商會股份有限公司 總經理</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">獨立董事</td>
                                            <td>朱建州</td>
                                            <td></td>
                                            <td>國立中正大學會計學研究所碩士</td>
                                            <td>銓興聯合會計師事務所 會計師</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">獨立董事</td>
                                            <td>李浩正</td>
                                            <td></td>
                                            <td>紐約州立大學石溪分校電機所博士</td>
                                            <td>遠東集團集團綜效中心銀行策略顧問</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">獨立董事</td>
                                            <td>李世光</td>
                                            <td></td>
                                            <td>美國康乃爾大學理論及應用力學博士</td>
                                            <td>國立臺灣大學應用力學研究所(主職)特聘教授</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">獨立董事</td>
                                            <td>羅名威</td>
                                            <td></td>
                                            <td>美國紐約大學法學院碩士</td>
                                            <td>眾達國際法律事務所合夥人</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*<h4 style="font-weight:bold;border-left: 5px darkblue solid;padding-left: 13px;">
                多元化政策與落實情形
            </h4>
            <img id="policy" src="~/Content/sks/img/1310.png" class="img-fluid"/>*@

                        </div>
                        <div class="tab-pane fade show" id="list-committee" role="tabpanel" aria-labelledby="list-committee-list">
                            <h3 class="border-title brand-red">功能性委員會</h3>
                            <h4 style="font-weight:bold;border-left: 5px orange solid;padding-left: 13px;">
                                審計委員會簡歷及其職權
                            </h4>
                            <article class="list-nested" style="margin-left:20px">
                                <p>本公司之審計委員會由 4 名獨立董事組成，且至少 1 人應具備會計或財務專長。<p />
                                <p class="leading-loose">
                                    全審計委員會旨在協助董事會履行其監督公司在執行有關會計、稽核、財務報導流程及財務控制上的品質和誠信度，
                                    審計委員會職權如下：
                                <p />
                                <p>一、依證交法第十四條之一規定訂定或修正內部控制制度。</p>

                                <p>二、內部控制制度有效性之考核。</p>
                                <p>三、依證交法第三十六條之一規定訂定或修正取得或處分資產、從事衍生性商品交易、資金貸與他人、為他人背書或提供保證之重大財務業務行為之處理程序。</p>
                                <p>四、涉及董事自身利害關係之事項。</p>
                                <p>五、重大之資產或衍生性商品交易。</p>
                                <p>六、重大之資金貸與、背書或提供保證。</p>
                                <p>七、募集、發行或私募具有股權性質之有價證券。</p>
                                <p>八、簽證會計師之委任、解任或報酬。</p>
                                <p>九、財務、會計或內部稽核主管之任免。</p>
                                <p>十、由董事長、經理人及會計主管簽名或蓋章之年度財務報告及須經會計師查核簽證之第二季財務報告。</p>
                                <p>十一、其他公司或主管機關規定之重大事項。</p>

                            </article>
                            <table class="table table-brand-yellow table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" width="13%">職稱</th>
                                        <th scope="col" width="12%">姓名</th>
                                        <th scope="col" width="35%">經歷</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>朱建州</td>
                                        <td>銓興聯合會計師事務所會計師</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李浩正</td>
                                        <td>遠東集團集團綜效中心銀行策略顧問</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李世光</td>
                                        <td>國立臺灣大學應用力學研究所(主職)特聘教授</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>羅名威</td>
                                        <td>眾達國際法律事務所合夥人</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 style="font-weight:bold;border-left: 5px orange solid;padding-left: 13px;">
                                薪資報酬委員會簡歷及其權責
                            </h4>
                            <article class="list-nested" style="margin-left:20px">
                                <p class="leading-loose">為健全公司董事及經理人之薪資報酬制度，本公司於2011年12月設立「薪資報酬委員會」，本委員會成員由董事會決議委任之，總人數不得少於三人，其中應至少包括本公司獨立董事一人，並由全體成員推舉具獨立董事身份之成員擔任召集人及會議主席。本屆薪資報酬委員會召集人及會議主席為李浩正獨立董事。
                                <p />
                                <p class="leading-loose">
                                    薪酬報酬委員會職司訂定並定期檢討董事及經理人年度及長期之績效目標與薪資報酬之政策、制度、標準與結構。依「薪資報酬委員會組織規程」規定，薪資報酬委員會每年至少召開二次會議，會議召開情形與薪酬委員出席率，敬請參考本公司各年度年報。
                                </p>

                            </article>
                            <table class="table table-brand-yellow table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" width="13%">職稱</th>
                                        <th scope="col" width="12%">姓名</th>
                                        <th scope="col" width="35%">經歷</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>朱建州</td>
                                        <td>銓興聯合會計師事務所會計師</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李浩正</td>
                                        <td>遠東集團集團綜效中心銀行策略顧問</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>羅名威</td>
                                        <td>眾達國際法律事務所合夥人</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 style="font-weight:bold;border-left: 5px orange solid;padding-left: 13px;">
                                永續發展委員會成員簡歷及其職權
                            </h4>
                            <article class="list-nested" style="margin-left:20px">
                                <p class="leading-loose">本公司為強化公司治理，於111.12.22經董事會通過將永續發展委員會提升為董事會的功能性委員會，委員會成員人數為5人，由董事長及4名獨立董事等5位委員組成 應至少每半年召開會議一次，並得視需要隨時召開會議。<p />
                                <p class="leading-loose">
                                    本委員會為本公司永續發展相關工作之決策及督導單位，包含公司治理、永續經營、環境與社會面等領域，以強化公司經營體制，且致力於環境保育，並善盡社會責任。
                                </p>
                            </article>
                            <table class="table table-brand-yellow table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" width="13%">職稱</th>
                                        <th scope="col" width="12%">姓名</th>
                                        <th scope="col" width="35%">經歷</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">董事長</td>
                                        <td>吳昕東</td>
                                        <td>
                                            大台北區瓦斯股份有限公司 副董事長
                                            <br />新光人壽保險股份有限公司 董事
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>朱建州</td>
                                        <td>銓興聯合會計師事務所會計師</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李浩正</td>
                                        <td>遠東集團集團綜效中心銀行策略顧問</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李世光</td>
                                        <td>國立臺灣大學應用力學研究所(主職)特聘教授</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>羅名威</td>
                                        <td>眾達國際法律事務所合夥人</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 style="font-weight:bold;border-left: 5px orange solid;padding-left: 13px;">
                                投資評估委員會成員簡歷及其職權
                            </h4>
                            <article class="list-nested" style="margin-left:20px">
                                <p class="leading-loose">
                                    為落實ESG企業永續發展並提升公司治理，於111.12.22 經董事會通過設立投資評估委員會委員會成員人數為5人，由董事長及4名獨立董事等5位委員組成委員會至少每年召開一次，並可依案件之需求隨時召開。督導權責單位執行投資前評估及投資後管理，以期降低投資風險並提升股東權益。
                                </p>
                            </article>
                            <table class="table table-brand-yellow table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" width="13%">職稱</th>
                                        <th scope="col" width="12%">姓名</th>
                                        <th scope="col" width="35%">經歷</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">董事長</td>
                                        <td>吳昕東</td>
                                        <td>
                                            大台北區瓦斯股份有限公司 副董事長
                                            <br />新光人壽保險股份有限公司 董事
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>朱建州</td>
                                        <td>銓興聯合會計師事務所會計師</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李浩正</td>
                                        <td>遠東集團集團綜效中心銀行策略顧問</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>李世光</td>
                                        <td>國立臺灣大學應用力學研究所(主職)特聘教授</td>
                                    </tr>
                                    <tr>
                                        <td scope="row">獨立董事</td>
                                        <td>羅名威</td>
                                        <td>眾達國際法律事務所合夥人</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade show" id="list-rules" role="tabpanel" aria-labelledby="list-rules-list">
                            <h3 class="border-title brand-red">公司內規</h3>
                            <table class="table table-download">
                                <thead>
                                    <tr>
                                        <th scope="col">項目名稱</th>
                                        <th scope="col">下載檔案</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        query = Model.FileList.Where(p => p.Type == (int)GovernanceType.Rules).OrderByDescending(p => p.CreateTime);
                                    }
                                    @foreach (var item in query)
                                    {
                                        <tr>
                                            <!--1為True-->
                                            @if (item.isFile == 1)
                                            {
                                                <th scope="row">@item.Title</th>
                                                <td>
                                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <th scope="row">
                                                    <a class="pr-2" href="@item.Link" target="_blank">@item.Title<span class="icon btn-play"></span></a>
                                                </th>
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade show" id="list-chaining" role="tabpanel" aria-labelledby="list-chaining-list">
                            <h3 class="border-title brand-red">運作情形</h3>
                            <table class="table table-download">
                                <thead>
                                    <tr>
                                        <th scope="col">項目名稱</th>
                                        <th scope="col">下載檔案</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        query = Model.FileList.Where(p => p.Type == (int)GovernanceType.Training).OrderByDescending(p => p.CreateTime);
                                    }
                                    @foreach (var item in query)
                                    {
                                        <tr>
                                            <!--1為True-->
                                            @if (item.isFile == 1)
                                            {
                                                <th scope="row">@item.Title</th>
                                                <td>
                                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <th scope="row">
                                                    <a class="pr-2" href="@item.Link" target="_blank">@item.Title<span class="icon btn-play"></span></a>
                                                </th>
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @*<div class="tab-pane fade show" id="list-chaining2" role="tabpanel" aria-labelledby="list-chaining2-list">
            <h3 class="border-title brand-red">運作情形2</h3>
            <table class="table table-download">
                <thead>
                    <tr>
                        <th scope="col">項目名稱</th>
                        <th scope="col">下載檔案</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        query = Model.FileList.Where(p => p.Type == (int)GovernanceType.Training2).OrderByDescending(p => p.CreateTime);
                    }
                    @foreach (var item in query)
                    {
                        <tr>
                            <!--1為True-->
                            @if (item.isFile == 1)
                            {
                                <th scope="row">@item.Title</th>
                                <td>
                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                </td>
                            }
                            else
                            {
                                <th scope="row">
                                    <a class="pr-2" href="@item.Link" target="_blank">@item.Title<span class="icon btn-play"></span></a>
                                </th>
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="list-chaining3" role="tabpanel" aria-labelledby="list-chaining3-list">
            <h3 class="border-title brand-red">運作情形3</h3>
            <table class="table table-download">
                <thead>
                    <tr>
                        <th scope="col">項目名稱</th>
                        <th scope="col">下載檔案</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        query = Model.FileList.Where(p => p.Type == (int)GovernanceType.Training3).OrderByDescending(p => p.CreateTime);
                    }
                    @foreach (var item in query)
                    {
                        <tr>
                            <!--1為True-->
                            @if (item.isFile == 1)
                            {
                                <th scope="row">@item.Title</th>
                                <td>
                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                </td>
                            }
                            else
                            {
                                <th scope="row">
                                    <a class="pr-2" href="@item.Link" target="_blank">@item.Title<span class="icon btn-play"></span></a>
                                </th>
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="list-chaining4" role="tabpanel" aria-labelledby="list-chaining4-list">
            <h3 class="border-title brand-red">運作情形4</h3>
            <table class="table table-download">
                <thead>
                    <tr>
                        <th scope="col">項目名稱</th>
                        <th scope="col">下載檔案</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        query = Model.FileList.Where(p => p.Type == (int)GovernanceType.Training4).OrderByDescending(p => p.CreateTime);
                    }
                    @foreach (var item in query)
                    {
                        <tr>
                            <!--1為True-->
                            @if (item.isFile == 1)
                            {
                                <th scope="row">@item.Title</th>
                                <td>
                                    <a class="icon btn-download" target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/@item.FileName"></a>
                                </td>
                            }
                            else
                            {
                                <th scope="row">
                                    <a class="pr-2" href="@item.Link" target="_blank">@item.Title<span class="icon btn-play"></span></a>
                                </th>
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>