﻿@using sks.Models;
@using sks.Utility.Cmind
@model sks.ViewModels.Home.HomeView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "台灣新光保全(股)公司　AIoT服務的提供者";
}
@section head{
    <title>台灣新光保全(股)公司　AIoT服務的提供者</title>
    <meta name="description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <meta name="twitter:title" content="台灣新光保全(股)公司　AIoT服務的提供者" />
    <meta name="twitter:description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <meta property="og:title" content="台灣新光保全(股)公司　AIoT服務的提供者" />
    <meta property="og:description" content="新光保全(9925)善用科技，提供家庭與商業保全、監控、POS、智慧門管、智慧建築服務，擴大5G、AI及IoT的運用，期望成為全方位的智慧生活好夥伴，AIoT服務的提供者。" />
    <link rel="canonical" href="@url" />
    <link rel="stylesheet" href="~/Content/sks/css/popup.css" />
    <style>
        .bg-house {
            background: rgba(0,0,0,0.1) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 200'%3E%3Cg fill='none' stroke='%23A8A8A8' stroke-width='3'%3E%3Cpath d='M3515.1,1516.5l95.9,8.9c2.6,0.2,4.5,2.4,4.5,5V1631h-100.5'/%3E%3Cpath d='M3410.9,1631h90.5v-146.3c0-2.4-1.7-4.5-4.1-4.9l-116.4-21.2c-1.7-0.3-3.5,0.3-4.6,1.6l-34.8,39'/%3E%3Cpath d='M3397.6,1507.2V1631h-123.3v-103.2c0-2.4,1.7-4.5,4.1-4.9l113.3-20.7C3394.8,1501.7,3397.6,1504,3397.6,1507.2z'/%3E%3Cpath d='M3261.7,1549.7l-95.9,8.9c-2.6,0.2-4.5,2.4-4.5,5v67.5h100.5'/%3E%3Cpath d='M376.1,87.5l95.9,8.9c2.6,0.2,4.5,2.4,4.5,5V202H376.1'/%3E%3Cpath d='M271.9,202h90.5V55.7c0-2.4-1.7-4.5-4.1-4.9L241.9,29.5c-1.7-0.3-3.5,0.3-4.6,1.6l-34.8,39'/%3E%3Cpath d='M258.6,78.2V202H135.3V98.8c0-2.4,1.7-4.5,4.1-4.9l113.3-20.7C255.8,72.7,258.6,75,258.6,78.2z'/%3E%3Cpath d='M122.7,120.7l-95.9,8.9c-2.6,0.2-4.5,2.4-4.5,5V202h100.5'/%3E%3C/g%3E%3C/svg%3E") 60vw bottom /30% no-repeat
        }
    </style>
}

<section class="text-white h5 font-bold text-center text-lg-left">
    <div class="carousel slide" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.BannerList.Count(); i++)
            {
                string classstr = i == 0 ? "active" : null;
                <li class="@classstr" data-target="#main-banner" data-slide-to="@i"></li>
            }
        </ol>
        <div class="carousel-inner">
            @{ int k = 0; }
            @foreach (var item in Model.BannerList)
            {
                var classstr = k == 0 ? "active" : null;
                //文字左右偏移
                var textclassstr = "";
                //電腦版文字上下偏移
                var offsetclass = item.isOffset ? "pt-130px" : null;
                //文字上下偏移
                var phoneoffsetclass = item.isPhoneOffset ? "mt-10 mt-lg-0" : null;
                //文字顏色
                var textcolorClass = item.TextColor == (int)TextColor.White ? "text-white" : "text-black";
                //連結按鈕顏色與文字顏色一致
                var linkcolorClass = item.TextColor == (int)TextColor.White ? "btn-outline-pill-white" : "btn-outline-pill-dark";
                if (item.Type == (int)BannerType.Pic)
                {
                    textclassstr = item.Position == (int)PositionType.Left ? "col-lg-7" : "col-lg-7 offset-lg-5";
                    textcolorClass = item.Position == (int)PositionType.Left ? textcolorClass : "bg-left " + textcolorClass;

                    <div class="carousel-item @classstr" data-interval="10000">
                        @if (Model.IsFromMobile)
                        {

                            var target = item.Link?.Substring(0, 1) == "/" ? "" : "target=_blank";

                            <a href="@item.Link" @target>

                                <div class="bg-cover text-vertical-center h-ratio-100vw d-md-flex @textcolorClass" style="background-image:url(/FileUploads/BannerPhoto/@item.Image);">
                                    @if (!Model.IsFromMobile)
                                    {
                                        <div class="container pt-lg-0 @offsetclass @phoneoffsetclass">
                                            <div class="row">
                                                <div class="@textclassstr">
                                                    @if (item.isLogo)
                                                    {
                                                        <svg width="300" height="80">
                                                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-wireless-logo-03"></use>
                                                        </svg>
                                                    }
                                                    <h2 class="h3 leading-tight">@item.Intro</h2>
                                                    <p class="h1 leading-tight">@item.Title</p>
                                                    @if (!string.IsNullOrEmpty(item.Link))
                                                    {
                                                        if (item.Link.Substring(0, 1) == "/")
                                                        {
                                                            <a class="btn @linkcolorClass" href="@item.Link">了解更多</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn @linkcolorClass" href="@item.Link" target="_blank">了解更多</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="bg-cover text-vertical-center h-ratio-100vw d-md-none" style="background-image:url(/FileUploads/BannerPhoto/@item.MobileImg);"></div>
                                </div>
                            </a>

                        }
                        else
                        {
                            <div class="bg-cover text-vertical-center h-ratio-100vw @textcolorClass" style="background-image:url(/FileUploads/BannerPhoto/@item.Image);">
                                @if (!Model.IsFromMobile)
                                {
                                    <div class="container pt-lg-0 @offsetclass @phoneoffsetclass">
                                        <div class="row">
                                            <div class="@textclassstr">
                                                @if (item.isLogo)
                                                {
                                                    <svg width="300" height="80">
                                                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-wireless-logo-03"></use>
                                                    </svg>
                                                }
                                                <h2 class="h3 leading-tight">@item.Intro</h2>
                                                <p class="h1 leading-tight">@item.Title</p>
                                                @if (!string.IsNullOrEmpty(item.Link))
                                                {
                                                    var target = item.Link.Substring(0, 1) == "/" ? "" : "target=_blank";
                                                    <a class="btn @linkcolorClass" href="@item.Link" @target>了解更多</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="bg-cover text-vertical-center h-ratio-100vw d-md-none" style="background-image:url(/FileUploads/BannerPhoto/@item.MobileImg);"></div>
                            </div>

                        }
                    </div>
                }
                else
                {
                    <div class="carousel-item @classstr" data-interval="10000">
                        <div class="bg-cover text-vertical-center h-ratio-100vw items-center modal-trigger" data-toggle="modal" data-target="#sksVideo" data-video="@item.VideoId" style="background-image:url('http://img.youtube.com/vi/@item.VideoId/maxresdefault.jpg');">
                            <svg width="100" height="100">
                                <rect x="5" y="20" width="90" height="60" fill="white"></rect>
                                <use xlink:href="~/Content/sks/img/sprite.svg#icon-yt" fill="red"></use>
                            </svg>
                        </div>
                    </div>
                }
                k++;
            }
        </div>
    </div>
</section>

<section>
    <div class="container-fluid h2 text-center">
        <div class="row border-y-white">
            <div class="col-sm-4 bg-cover vh-33 border-right-white SKS fadeInDown slow" style="background-image:url(/Content/sks/img/home.jpg);"><a class="mask-dark lighten text-white lineheight-vh-33" href="@Url.Action("Index","SmartHome")">家庭</a></div>
            <div class="col-sm-4 bg-cover vh-33 border-x-white SKS fadeInDown slow delay-200ms" style="background-image:url(/Content/sks/img/office.jpg);"><a class="mask-dark lighten text-white lineheight-vh-33" href="@Url.Action("Index","Business")">商業</a></div>
            <div class="col-sm-4 bg-cover vh-33 border-left-white SKS fadeInDown slow delay-400ms" style="background-image:url(/Content/sks/img/intelligence.jpg);"><a class="mask-dark lighten text-white lineheight-vh-33" href="@Url.Action("Index","Green")">智慧建築</a></div>
        </div>
    </div>
    <div class="bg-sksBlue">
        <div class="container text-white h5 text-center text-lg-left py-4">
            <div class="row no-gutter items-center">
                <div class="col-sm-6 col-lg-8 col-xl-7">
                    <p class="border-bottom-d9 mb-0 pb-2">我們誠摯邀您撥打客服專線</p>
                    <ul class="row no-gutters list-unstyled mb-0 list-a-sksyellow-hover">
                        <li class="col-lg-4 py-2">北區<a class="text-white" href="tel:0800097668"> 0800-097-668</a></li>
                        <li class="col-lg-4 py-2">中區<a class="text-white" href="tel:0800697668"> 0800-697-668</a></li>
                        <li class="col-lg-4 py-2">南區<a class="text-white" href="tel:0800897668"> 0800-897-668</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-5 text-center">
                    <a class="btn btn-pill-white shadow-sm icon-user-hover" href="@Url.Action("Index","User")">
                        <svg width="30" height="30">
                            <use xlink:href="~/Content/sks/img/sprite.svg#icon-index-icon-97"></use>
                        </svg><span class="h4 align-middle">用戶專區</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-6 py-lg-8">
    <div class="container h4">
        <h3 class="mb-4"><a href="@Url.Action("Index","News")">新聞中心</a></h3>
        <ul class="row list-unstyled divider-lg divider-h">
            @foreach (var item in Model.NewsList)
            {
                <li class="col-lg-4 py-2">
                    <time class="h6 text-gray">@item.OnlineTime.ToString("yyyy-MM-dd")</time>
                    <a class="d-block tracking-wide" href="@Url.Action("Detail","News",new { id = item.ID })">
                        @if (!string.IsNullOrEmpty(item.Title))
                        {
                            @HtmlHelperExtensions.AntiXssRaw(item.Title.Replace(" ", "<br/>"))
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
</section>
<section class="bg-office bg-cover">
    <div class="bg-house inset-0"></div>
    <div class="container text-white h5 font-bold">
        <div class="row flex-column vh-50 justify-center">
            <div class="col-lg-6">
                <h2>新保生活體驗館</h2>
            </div>
            <div class="col-8 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="border-sks"></div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <a class="btn btn-pill-white" target="_blank" href="https://www.sks.com.tw/reservation/index.html">
                    <span class="align-middle">線上預約</span>
                    <svg width="20" height="20">
                        <g fill="none" stroke="#000">
                            <path d="M8 2l10 8-10 8"></path>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-cover bg-night py-6 py-lg-8">
    <div class="container h4 leading-loose text-white">
        <div class="row justify-between no-gutters items-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <p>我們在邁向AIoT領航家的路上，將繼續秉持著「信實、專業、服務、創新」的企業核心理念，持續開發整合AIoT服務方案。</p>
                <h4>
                    提供客戶從安全保障、安心照護到智慧生活的貼心服務
                </h4>
            </div>
            <div class="col-md-6 col-lg-7">
                <svg class="w-100 vh-33">
                    <defs>
                        <g id="glowing">
                            <circle fill="#fed01f" r="5%">
                                <animate attributeName="opacity" values="0.6;0.3,0" dur="4" repeatCount="indefinite"></animate>
                                <animate attributeName="r" values="5%;6%;7%" dur="4" repeatCount="indefinite"></animate>
                            </circle>
                            <circle fill="#fed01f" r="5%">
                                <animate attributeName="opacity" values="0.6;0.3,0" dur="4" repeatCount="indefinite" begin="2s"></animate>
                                <animate attributeName="r" values="5%;6%;7%" dur="4" repeatCount="indefinite" begin="2s"></animate>
                            </circle>
                            <circle fill="#fff" r="5%"></circle>
                        </g>
                        <filter id="drop_shadow" filterunits="userSpaceOnUse">
                            <fedropshadow dx="0" dy="0" stddeviation="2" flood-color="#fff" flood-opacity="1"></fedropshadow>
                            <fedropshadow dx="0" dy="0" stddeviation="3" flood-color="#fff" flood-opacity="1"></fedropshadow>
                            <fedropshadow dx="0" dy="0" stddeviation="4" flood-color="#fff" flood-opacity="1"></fedropshadow>
                        </filter>
                    </defs>
                    <use href="#glowing" x="6%" y="26%">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="0"></animateTransform>
                    </use>
                    <line x1="6%" x2="6%" y1="26%" y2="71%" stroke="white" stroke-width="2" stroke-dasharray="2 5" stroke-dashoffset="50">
                        <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
                    </line>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="6%" cy="71%" r="3">
                        <animate attributeName="r" values="3;6;3" dur="2" repeatCount="indefinite" begin="0" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="17%" cy="21%" r="0">
                        <animate attributeName="r" values="0;0;0;0;0" dur="6" repeatCount="indefinite" begin="0" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <use x="3.5%" y="-24%" width="5%" xlink:href="/Content/sks/img/sprite.svg#icon-index-icon-92">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="0"></animateTransform>
                    </use>
                    <use href="#glowing" x="28%" y="27%">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="4"></animateTransform>
                    </use>
                    <line x1="28%" x2="28%" y1="27%" y2="72%" stroke="white" stroke-width="2" stroke-dasharray="2 5" stroke-dashoffset="50">
                        <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
                    </line>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="28%" cy="72%" r="3">
                        <animate attributeName="r" values="3;6;3" dur="2" repeatCount="indefinite" begin="-4" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="39%" cy="62%" r="0">
                        <animate attributeName="r" values="0;4;0;0;0" dur="6" repeatCount="indefinite" begin="8" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <use x="25.5%" y="-23%" width="5%" xlink:href="/Content/sks/img/sprite.svg#icon-index-icon-93">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="4"></animateTransform>
                    </use>
                    <use href="#glowing" x="50%" y="39%">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="5"></animateTransform>
                    </use>
                    <line x1="50%" x2="50%" y1="39%" y2="84%" stroke="white" stroke-width="2" stroke-dasharray="2 5" stroke-dashoffset="50">
                        <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
                    </line>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="50%" cy="84%" r="3">
                        <animate attributeName="r" values="3;6;3" dur="2" repeatCount="indefinite" begin="-5" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="61%" cy="84%" r="0">
                        <animate attributeName="r" values="0;5;0;0;0" dur="6" repeatCount="indefinite" begin="10" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <use x="47.5%" y="-11%" width="5%" xlink:href="/Content/sks/img/sprite.svg#icon-index-icon-94">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="5"></animateTransform>
                    </use>
                    <use href="#glowing" x="72%" y="43%">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="1"></animateTransform>
                    </use>
                    <line x1="72%" x2="72%" y1="43%" y2="88%" stroke="white" stroke-width="2" stroke-dasharray="2 5" stroke-dashoffset="50">
                        <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
                    </line>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="72%" cy="88%" r="3">
                        <animate attributeName="r" values="3;6;3" dur="2" repeatCount="indefinite" begin="-1" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="83%" cy="48%" r="0">
                        <animate attributeName="r" values="0;1;0;0;0" dur="6" repeatCount="indefinite" begin="2" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <use x="69.5%" y="-7%" width="5%" xlink:href="/Content/sks/img/sprite.svg#icon-index-icon-95">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="1"></animateTransform>
                    </use>
                    <use href="#glowing" x="94%" y="41%">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="3"></animateTransform>
                    </use>
                    <line x1="94%" x2="94%" y1="41%" y2="86%" stroke="white" stroke-width="2" stroke-dasharray="2 5" stroke-dashoffset="50">
                        <animate attributeName="stroke-dashoffset" to="0" dur="3s" repeatCount="indefinite"></animate>
                    </line>
                    <circle filter="url(#drop_shadow)" fill="#fff" cx="94%" cy="86%" r="3">
                        <animate attributeName="r" values="3;6;3" dur="2" repeatCount="indefinite" begin="-3" calcMode="spline" keySplines="0.25,0.1,0.25,1"></animate>
                    </circle>
                    <use x="91.5%" y="-9%" width="5%" xlink:href="/Content/sks/img/sprite.svg#icon-index-icon-96">
                        <animateTransform attributeName="transform" type="translate" values="0,0;0,20;0,0" dur="8" repeatCount="indefinite" fill="freeze" begin="3"></animateTransform>
                    </use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="py-6 py-lg-8 bg-lighter-gray">
    <div class="container text-paragraph-gray h5 text-center text-md-left">
        <div class="row justify-center items-center mb-6">
            <div class="col-4 col-md-3 col-lg-2 mb-2"><img class="img-fluid" src="~/Content/sks/img/SK-PLUS-icon_02.png" alt="新光保全plus" /></div>
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h3 class="leading-none mb-0">守護城市2</h3>
                <p class="mb-2">專屬控制介面APP整合行動服務</p>
                <div class="row">
                    <div class="col-6 col-lg-5 mb-4 mb-md-0"><a href="https://apps.apple.com/tw/app/新光保全-守護城市2/id1378211074"><img class="img-fluid" src="~/Content/sks/img/download-appstore.png" alt="appstore" /></a></div>
                    <div class="col-6 col-lg-5"><a href="https://play.google.com/store/apps/details?id=com.sks.sksplus"><img class="img-fluid" src="~/Content/sks/img/download-googleplay.png" alt="googleplay" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="sksVideo" tabindex="-1" role="dialog" aria-labelledby="sksVideo" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="100%" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>