﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "網頁地圖";
}
@section head{
    <title>網頁地圖 | 新光保全</title>
    <meta name="description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <meta name="twitter:title" content="網頁地圖 | 新光保全"/>
    <meta name="twitter:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <meta property="og:title" content="網頁地圖 | 新光保全"/>
    <meta property="og:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <link rel="canonical" href="@url" />
}

<section class="text-white text-center font-bold mb-4">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image: url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">網站地圖</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-anchor-black leading-loose py-6 py-lg-8">
        <div class="row">
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/SmartHome">家庭</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/SmartHome/Community">社區雲端守護</a></li>
                        <li><a href="/SmartHome/Wireless">家庭保全服務</a></li>
                        <li><a href="/SmartHome/Care">居家照護陪伴</a></li>
                        <li><a href="http://www.aedmap.com.tw/" target="_blank">AED</a></li>
                        <li><a href="https://www.sks.com.tw/Event/sklcuvc">UVC紫光殺菌機</a></li>
                        <li><a href="https://www.sks.com.tw/Event/sksfireextinguisher">新保滅火寶</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/Business">商業</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/Business/Office">商業雲端守護</a></li>
                        <li><a href="/Business/AISecurity">AI智慧影像保全</a></li>
                        <li><a href="/Business/Security">商業保全服務</a></li>
                        <li><a href="/Business/Monitor">影像監控</a></li>
                        <li><a href="/Business/Access">智慧門管</a></li>
                        <li><a href="https://www.sks.com.tw/Event/bnb">智慧民宿套房</a></li>
                        <li><a href="/Business/Infosecurity">資安閘門服務</a></li>
                        <li><a href="/Business/POS">SKPOS</a></li>
                        <li><a href="/Business/GPS">GPS車隊管理</a></li>
                        <li><a href="https://www.sks.com.tw/Event/dashcam">數位式行車記錄器</a></li>
                        <li><a href="https://www.sks.com.tw/Event/dvrcar">行車視野輔助系統</a></li>
                        <li><a href="/Business/AIHotel">智能旅館</a></li>
                        <li><a href="https://www.sks.com.tw/Event/LADAKE">來打卡行動考勤</a></li>
                        <li><a href="/Business/WorkLink">WorkLink</a></li>
                        @*<li><a href="/Business/Shop">生活購物專區</a></li>*@
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/Green">智慧建築</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/Green/Architecture">智慧綠建築</a></li>
                        <li><a href="/Green/Prevention">智慧防災</a></li>
                        <li><a href="https://www.sks.com.tw/Event/firealarm">火警通報服務</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/About">關於新保</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/About#list-intro">新保簡介</a></li>
                        @*<li><a href="/About#list-milestone">里程碑</a></li>*@
                        <li><a href="/About#list-award">獲獎紀錄</a></li>
                        <li><a href="/News/Index">新聞中心</a></li>
                        <li><a href="/Robots">機器人專區</a></li>
                        <li><a href="/About#list-groups">事業群</a></li>
                        <li><a href="/About#list-cooperations">關係企業</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/Shareholder">投資人專區</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/Shareholder#list-infomation">公司基本資料</a></li>
                        <li><a href="/Shareholder#list-finance">財務資訊</a></li>
                        <li><a href="/Shareholder#list-columns">股東專欄</a></li>
                        <li><a href="/Shareholder#list-questions">問答集</a></li>
                        <li><a href="/Shareholder#list-connection">投資人聯絡資訊</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/Company">公司治理</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/Company#list-chairman">董事會成員</a></li>
                        <li><a href="/Company#list-committee">功能性委員會</a></li>
                        <li><a href="/Company#list-rules">公司內規</a></li>
                        <li><a href="/Company#list-chaining">運作情形</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/Stakeholder">利害關係人專區</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E9%9A%B1%E7%A7%81%E6%AC%8A%E4%BF%9D%E8%AD%B7%E8%81%B2%E6%98%8E.pdf">隱私權保護聲明</a></li>
                        <li><a target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E5%80%8B%E4%BA%BA%E8%B3%87%E6%96%99%E6%AA%94%E6%A1%88%E5%AE%89%E5%85%A8%E7%B6%AD%E8%AD%B7%E8%A8%88%E7%95%AB.pdf">個人資料檔案 安全維護計畫</a></li>
                        <li><a target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E6%80%A7%E9%A8%B7%E6%93%BE%E9%98%B2%E6%B2%BB%E6%8E%AA%E6%96%BD%E7%94%B3%E8%A8%B4%E5%8F%8A%E6%87%B2%E6%88%92%E8%BE%A6%E6%B3%95(20230307).pdf">性騷擾防治措施 申訴及懲戒辦法</a></li>
                        <li><a href="https://www.sks.com.tw/FileUploads/Document/2022%E6%96%B0%E5%85%89%E4%BF%9D%E5%85%A8%E6%B0%B8%E7%BA%8C%E5%A0%B1%E5%91%8A%E6%9B%B8%E8%81%B7%E5%A0%B4%E5%AE%89%E5%85%A8%E8%88%87%E5%81%A5%E5%BA%B7.pdf" target="_blank">職業安全與健康</a></li>
                        <li><a href="http://csr.sks.com.tw/" target="_blank">CSR專區</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/User">用戶專區</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="http://www2.sks.com.tw/svc/" target="_blank">客戶查詢</a></li>
                        <li><a href="http://www.skgps.com.tw/skstemp/tlogin.aspx" target="_blank">冷凍溫度查詢</a></li>
                        <li><a href="http://www.isee24.com.tw/Login.aspx" target="_blank">監控網</a></li>
                        <li><a href="http://www2.sks.com.tw/kman/changekmanreq.aspx" target="_blank">聯絡人異動</a></li>
                        <li><a href="http://www2.sks.com.tw/kman/changeNO.aspx" target="_blank">設定服務變更</a></li>
                        <li><a href="http://www.skgps.com.tw/sksfleetweb2/" target="_blank">GPS車隊管理</a></li>
                        <li><a href="http://careu.sklc.com.tw/login" target="_blank">健康照護網</a></li>
                        <li><a href="https://www.sks.com.tw/Event/publication" target="_blank">新保季刊</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-md-3">
                <h5 class="mb-4"><a href="/CorporateSocial">ESG專區</a></h5>
                <nav class="border-top-light-gray py-4">
                    <ul class="list-unstyled">
                        <li><a href="/CorporateSocial/WelfareFoundation">關懷社會福利基金</a></li>
                        <li><a href="/CorporateSocial/CultureArtfoundation">文化藝術基金會</a></li>
                        <li><a href="/CorporateSocial/ClassRoom">安心教室</a></li>
                        <li><a href="https://esg.sks.com.tw" target="_blank">ESG</a></li>
                        @*<li><a href="https://www.sks.com.tw/Event/FANGQIAO" target="_blank">枋橋日照中心</a></li>*@
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>