﻿@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "居家照護陪伴";
}
@section head{
    <title>新光保全-居家照護陪伴</title>
    <meta name="description" content="Care U雲端居家照護幫您24小時貼身照顧長輩，緊急求救、報安異常、用藥提醒、緊急聯絡；每日血壓/血糖量測記錄，定期關心叮嚀。" />
    <meta name="twitter:title" content="新光保全-居家照護陪伴" />
    <meta name="twitter:description" content="Care U雲端居家照護幫您24小時貼身照顧長輩，緊急求救、報安異常、用藥提醒、緊急聯絡；每日血壓/血糖量測記錄，定期關心叮嚀。" />
    <meta property="og:title" content="新光保全-居家照護陪伴" />
    <meta property="og:description" content="Care U雲端居家照護幫您24小時貼身照顧長輩，緊急求救、報安異常、用藥提醒、緊急聯絡；每日血壓/血糖量測記錄，定期關心叮嚀。" />
    <link rel="canonical" href="@url" />
    <style>
        .st0, .st1 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-linejoin: round
        }

        .st1 {
            stroke: #ffaeae
        }

        .st3 {
            font-size: 24px
        }

        .st5 {
            font-size: 18px
        }

        .st6 {
            stroke-dasharray: 2,3
        }

        .st6, .st7 {
            fill: none;
            stroke: #888;
            stroke-width: 2;
            stroke-miterlimit: 10
        }

        .st8 {
            fill: #fa464c
        }

        .st16 {
            font-size: 35px
        }

        .st17 {
            fill: #fff;
            stroke: #aaa;
            stroke-width: 3;
            stroke-linejoin: round
        }

        .st2-1 {
            font-size: 18px
        }

        .st2-3 {
            fill: #fff;
            stroke: #fa464c;
            stroke-width: 3
        }

        .st2-4 {
            fill: #fa464c
        }

        .st2-6, .st2-7 {
            fill: none;
            stroke: #555;
            stroke-width: 3;
            stroke-linejoin: round
        }

        .st2-7 {
            stroke: #ffaeae
        }

        .st2-9 {
            font-size: 24px
        }

        .st2-10 {
            stroke-dasharray: 2,3
        }

        .st2-10, .st2-11, .st2-14 {
            fill: none;
            stroke: #888;
            stroke-width: 2
        }

        .st2-14 {
            stroke: #aaa
        }
    </style>
}

<section class="h5 font-bold text-center text-lg-left">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active leading-tight" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/care-banner-sm.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/A1-BN-01.jpg);">
                    <div class="col-lg-6 offset-lg-6">
                        <h3 class="mb-0">照護爸媽其實很簡單</h3>
                        <h2 class="h1 leading-tight">Care U雲端居家照護</h2>
                        <p class="mb-0">24小時貼身照護</p>
                        <p>遠距照護、即時回應、健康管理</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-black text-paragraph-gray">
        <div class="row border-y-white">
            <div class="col-md-6 border-right-white SKS fadeIn slow">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover vh-33" style="background-image:url(/Content/sks/img/60429705.jpg);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee text-vertical-center py-4">
                        <h2>安心照護</h2>
                        <p>高齡社會來臨</p>
                        <p>如何照顧家中的長輩</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-left-white SKS fadeIn slow delay-200ms">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover vh-33" style="background-image:url(/Content/sks/img/60429709.jpg);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee text-vertical-center py-4">
                        <h2>健康照護</h2>
                        <p>每日血壓/血糖量測</p>
                        <p>隨時記錄做好健康管理</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray h6 text-center px-5 px-sm-3">
        <div class="row justify-around items-center mb-6 mb-lg-8">
            <div class="col-6 col-md-5 col-lg-4 col-xl-3 border-sks mb-4">
                <h2>安心照護</h2>
                <p class="text-black h4 font-bold">簡單使用，一鍵搞定</p>
            </div>
            <div class="col-7 col-md-6 col-lg-4"><img class="img-fluid" src="~/Content/sks/img/A1-product-1.png" alt="安心照護" /></div>
        </div>
        <div class="row border-y-light-gray">
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>緊急通報</h3>
                <p>當長輩有緊急狀況時，可立即用隨身緊急按鈕(手環或項掛)向照護中心求助。</p>
            </div>
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>外出簡訊</h3>
                <p>當長輩外出或回家時，按外出鍵即可自動通知家人。</p>
            </div>
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>報安異常</h3>
                <p>當長輩在宅生活動態發生異常時，系統自動定時感知及通報照護中心。</p>
            </div>
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>用藥提醒</h3>
                <p>系統每日定時提醒長輩用藥時間到了。</p>
            </div>
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>關懷問安</h3>
                <p>照護中心定期電話聯繫，關懷長輩平安狀況。</p>
            </div>
            <div class="col-6 col-md-4 py-4 border-y-light-gray">
                <h3>家人速撥</h3>
                <p>提供與家人速撥通話功能，免記電話號碼。</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8">
    <div class="container text-center">
        <h2 class="font-normal mb-4">安心照護服務流程</h2>
        <div class="row justify-center">
            <div class="col-xl-8">
                <svg class="img-fluid" viewBox="0 0 852.4 426.7">
                    <image width="251" height="213" xlink:href="~/Content/sks/img/care-4.png" transform="matrix(.996 0 0 .996 313.798 .125)" overflow="visible" opacity=".55"></image>
                    <image width="6000" height="4000" xlink:href="/Content/sks/img/care-1.png" transform="matrix(.05 0 0 .05 286.338 19.71)" overflow="visible"></image>
                    <path class="st0" d="M781.5 71.3v9.3s-3.6 17.3-19.9 16.8c-16.3.5-19.9-16.8-19.9-16.8V69.4M750.9 60.5s12.5 11.2 30.6 10.8"></path>
                    <path class="st1" d="M736.7 83.5c0-13.5 11-24.5 24.5-24.5s24.5 11 24.5 24.5"></path>
                    <path class="st1" d="M736.7 76.5c0-13.5 11-24.5 24.5-24.5s24.5 11 24.5 24.5"></path>
                    <path class="st0" d="M745.8 107.8l8.8-5v-6.4M729.5 127.6c0-6.8 0-11.5 9.6-16.2l5.4-3 1.2-.7M777.3 107.7l-8.8-4.9v-6.4M793.6 127.6c0-6.8 0-10.6-9.6-16.2l-5.4-3-1.3-.7M771.3 45.3h-20.4M771.3 45.3h.3C786.3 49.4 786 66 786 66v46M750.9 45.3C736.3 49.5 736.5 66 736.5 66v46M777.3 107.8c-8.8 8.5-22.7 8.6-31.5.1"></path>
                    <text class="st3" transform="translate(47.958 166.92)">使用者</text>
                    <text class="st5" transform="translate(200.758 90.4)">關懷</text>
                    <text class="st5" transform="translate(613.758 89.34)">回報</text>
                    <text class="st3" transform="translate(737.588 163.92)">家屬</text>
                    <path class="st0" d="M51.9 131.6c0-6.8 0-11.5 9.6-16.2l5.4-3 10-5.6v-6.4M73.9 131.6v-23M116 131.6c0-6.8 0-10.6-9.6-16.2l-5.4-3-10-5.6v-6.4M94.2 131.6v-23M91.4 107.1c-4.2 4.1-10.8 4.1-15 0M71.5 96.8s-.7-6 7.6-9.3M96 96.8s.7-6-7.6-9.3"></path>
                    <path class="st0" d="M104 71.2c0-11-9-20-20-20s-20 9-20 20l.1 2.1v11.3s3.6 17.3 19.9 16.8c16.3.5 19.9-16.8 19.9-16.8v-9.3l.1-4.1zM63.7 82.2c-3 0-5.5-2.5-5.5-5.5s2.5-5.5 5.5-5.5"></path>
                    <path class="st0" d="M103.7 71.2c3 0 5.5 2.5 5.5 5.5s-2.5 5.5-5.5 5.5"></path>
                    <path class="st1" d="M75.2 61.2h16M75.2 68.2h16"></path>
                    <path class="st6" d="M563.9 116.1h141.6"></path>
                    <path class="st7" d="M703.2 110.1l6.1 6-6.1 5.9"></path>
                    <circle class="st8" cx="561" cy="116.1" r="3.3"></circle>
                    <path class="st6" d="M290.2 116.1H148.6"></path>
                    <path class="st7" d="M150.9 110.1l-6.1 6 6.1 5.9"></path>
                    <circle class="st8" cx="293.1" cy="116.1" r="3.3"></circle>
                    <path fill="none" stroke="#aaa" stroke-width="2" stroke-miterlimit="10" d="M.3 328.4h852"></path>
                    <path d="M505.7 328.2c0 43.8-35.5 79.3-79.3 79.3s-79.3-35.5-79.3-79.3 35.5-79.3 79.3-79.3c21 0 41.2 8.4 56.1 23.2 14.8 14.9 23.2 35 23.2 56.1z" fill="#fff" stroke="#fa464c" stroke-width="3" stroke-miterlimit="10"></path>
                    <text class="st3" transform="translate(49.308 423.83)">生活轉介</text>
                    <text transform="translate(727.118 423.83)">
                        <tspan class="st3" x="0" y="0" font-family="ArialMT">119</tspan>
                        <tspan class="st3" x="40" y="0">通知</tspan>
                    </text>
                    <text class="st3" transform="translate(206.148 423.61)">輔具轉介</text>
                    <text class="st3" transform="translate(553.128 423.61)">到宅查看</text>
                    <text class="st8" transform="translate(383.648 359.27)" letter-spacing="2" font-size="20">照護中心</text>
                    <text class="st8 st16" transform="translate(379.958 328.28)">C</text>
                    <text class="st8 st16" transform="translate(399.348 328.28)">a</text>
                    <text class="st8 st16" transform="translate(416.258 328.28)">r</text>
                    <text class="st8 st16" transform="translate(427.528 328.28)">e U</text>
                    <path class="st6" d="M427.8 205.7v24"></path>
                    <path class="st7" d="M434 227.2l-6.2 6-6.2-6"></path>
                    <circle class="st8" cx="427.8" cy="201.2" r="3.3"></circle>
                    <circle class="st8" cx="849.1" cy="328.4" r="3.3"></circle>
                    <circle class="st8" cx="3.6" cy="328.4" r="3.3"></circle>
                    <circle class="st17" cx="98.3" cy="328.5" r="62.4"></circle>
                    <circle class="st17" cx="250.3" cy="328.5" r="62.4"></circle>
                    <circle class="st17" cx="602.3" cy="328.5" r="62.4"></circle>
                    <circle class="st17" transform="rotate(-80.781 754.265 328.439)" cx="754.3" cy="328.5" r="62.4"></circle>
                    <path class="st1" d="M96.3 349.5v7.7h4.7v-7.7h7.6v-4.6H101v-7.7h-4.7v7.7h-7.6v4.6z"></path>
                    <path class="st0" d="M127.9 315.7l4.6 4.7c2.3 2 2.6 5.6.5 7.9-.2.2-.3.4-.5.5-2.7 2.4-6.6 2.4-9.3 0l-25.2-23-25.1 22.9c-2.6 2.3-6.4 2.3-9 0-2.3-2-2.5-5.4-.5-7.7.2-.2.3-.4.5-.5l34.4-31.4 8.9 8.2 8.3 7.6-.2-7.8h12.1l.5 18.6z"></path>
                    <circle class="st0" cx="98.6" cy="347.2" r="20.5"></circle>
                    <path class="st0" d="M233.8 330.9l29 29c2.6 2.6 6.9 2.6 9.5 0 2.6-2.6 2.6-6.9 0-9.5l-29.5-29.6c.7-2 1.1-4.2 1-6.4 0-8.9-7.2-16.1-16.2-16.1-2 0-4 .4-5.8 1.1l11.1 11.2-9.4 9.4-11-11c-3 8.4 1.3 17.6 9.7 20.7 3.4 1.2 7.1 1.3 10.5.2l1.1 1z"></path>
                    <circle class="st1" cx="273.6" cy="310.6" r="5.4"></circle>
                    <path class="st1" d="M264.1 318.6l-1.8 3 6.3 3.8 1.9-3.2c.9-1.5 2.8-2 4.3-1.1.5.3.9.7 1.1 1.2l1.9 3.3 6.4-3.6-1.8-3.2c-.8-1.5-.3-3.4 1.2-4.2.5-.3 1-.4 1.6-.4h3.8l.1-7.3h-3.7c-1.7 0-3.1-1.4-3.1-3.2 0-.5.2-1.1.4-1.5l1.9-3.3-6.3-3.7-1.9 3.2c-.9 1.5-2.8 2-4.3 1.1-.5-.3-.9-.7-1.1-1.1l-1.9-3.3-6.4 3.6 1.8 3.2c.9 1.5.4 3.4-1.1 4.3-.5.3-1 .4-1.6.4H258v7.3h3.4c1.7 0 3.1 1.4 3.1 3.1.1.6-.1 1.1-.4 1.6z"></path>
                    <circle class="st1" cx="571.6" cy="329.9" r="4.6"></circle>
                    <circle class="st1" cx="632.9" cy="329.9" r="4.6"></circle>
                    <path class="st0" d="M620.2 334.9h-35l-1.8-6.4H622z"></path>
                    <path class="st0" d="M573.6 297.2H631l7 19 7.3 8.6v25.9h-86.1v-25.9l8.6-9.2zM560.8 350.7h9v9h-9zM636.3 350.7h9v9h-9zM567.8 315.6h70.5"></path>
                    <path class="st0" d="M584.2 344.1h40.3v6.6h-40.3z"></path>
                    <circle class="st0" cx="731" cy="353.5" r="8"></circle>
                    <circle class="st0" cx="773.9" cy="353.5" r="8"></circle>
                    <path class="st0" d="M723.4 351.3h-7.5V323l12.2-12.1h16.1v-8.3h48.4v48.7H782M766.2 351.3h-26.6M744.2 310.9l-.1 40.9"></path>
                    <path class="st0" d="M739.3 333.2h-16.6v-8.6l5.7-5.8h10.9z"></path>
                    <path class="st1" d="M766.7 326.6v8.9h5.5v-8.9h8.9v-5.5h-8.9v-8.9h-5.5v8.9h-8.9v5.5z"></path>
                    <path class="st0" d="M752.5 295.4h9.1v7.2h-9.1z"></path>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container text-paragraph-gray h6 text-center px-5 px-sm-3">
        <div class="row justify-around items-center mb-6 mb-lg-8">
            <div class="col-7 col-md-4 col-lg-4"><img class="img-fluid" src="~/Content/sks/img/A1-product-2.png" alt="健康照護"></div>
            <div class="col-8 col-md-8 col-lg-6 col-xl-4">
                <h2 class="border-sks">健康照護 雲端管理</h2><a class="btn btn-outline-secondary h3 btn-block" href="http://careu.sklc.com.tw/" target="_blank">健康照護網</a>
            </div>
        </div>
        <div class="row border-y-light-gray">
            <div class="col-6 py-4 border-y-light-gray">
                <h3>雲端管理</h3>
                <p>量測數值隨量隨傳至雲端並記錄數據，長輩或子女可以隨時上網查詢，後端照護中心隨時為長輩的健康把關。</p>
            </div>
            <div class="col-6 py-4 border-y-light-gray">
                <h3>異常通知</h3>
                <p>量測數值異常時，後端照護中心適時關懷提醒。</p>
            </div>
            <div class="col-6 py-4 border-y-light-gray">
                <h3>服務優化</h3>
                <p>每月量測數據報表寄送，方便長輩回診使用。可轉介藥師免費送藥到府。</p>
            </div>
            <div class="col-6 py-4 border-y-light-gray">
                <h3>問安服務</h3>
                <p>照護中心定時關懷長輩狀況。</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8">
    <div class="container text-center">
        <h2 class="font-normal mb-4">健康照護服務流程</h2>
        <div class="row justify-center">
            <div class="col-xl-8">
                <svg class="img-fluid" viewBox="0 0 732 440">
                    <image width="119" height="86" xlink:href="~/Content/sks/img/care-5.png" transform="translate(203.892 4.673) scale(.9943)" overflow="visible"></image>
                    <text class="st2-1" transform="translate(222.34 131.796)">隨時量測</text>
                    <text class="st2-1" transform="translate(222.34 359.796)">定期追蹤</text>
                    <text class="st2-1" transform="translate(452.28 359.796)">隨時查看</text>
                    <text class="st2-1" transform="translate(18.8 221.965)">每月</text>
                    <text class="st2-1" transform="translate(-1 243.565)">報表寄送</text>
                    <text class="st2-1" transform="translate(339.22 431.705)">異常通知</text>
                    <path class="st2-3" d="M473.4 238.8c0 53.3-43.2 96.5-96.5 96.5s-96.5-43.2-96.5-96.5 43.2-96.5 96.5-96.5c25.6 0 50.1 10.2 68.2 28.3 18.2 18.1 28.3 42.6 28.3 68.2z"></path>
                    <path class="st2-3" d="M342.7 211.2c-.5-1.4-.9-2.8-1-4.3 0 0-2.6-19.7 17.6-22.7 0 0 13.7 0 17.6 12.4 3.9-12.4 17.6-12.4 17.6-12.4 20.1 3 17.6 22.7 17.6 22.7-.1 1.5-.5 2.9-1 4.3M405.5 221.3c-10.2 14-28.6 28-28.6 28s-18.4-14-28.6-28"></path>
                    <path class="st2-3" d="M336.8 215.8h23.5l4.8-10.7 9.1 18.7 7.5-22 7 22 3.9-8h24.5"></path>
                    <text class="st2-4" transform="translate(319.73 281.495)" font-size="21.47">健康照護網</text>
                    <path class="st2-6" d="M108.2 308.3H86.4M119.1 336.1v10s-3.9 18.6-21.3 18c-17.4.5-21.3-18-21.3-18s-.4 1.1 0-12 25.5-9.5 25.5-9.5 3.3 10.9 17.1 11.5z"></path>
                    <path class="st2-6" d="M63.5 396.3c0-7.2 0-12.3 10.3-17.3l5.8-3.2 10.8-6V363M132.1 396.3c0-7.2 0-11.3-10.3-17.3l-5.8-3.2-10.8-6V363"></path>
                    <path class="st2-6" d="M90.4 369.8c-21.2 0-19.4-12.1-19.4-12.1v-27.2s-.3-17.7 15.4-22.1h22.2c15.7 4.4 15.4 22.1 15.4 22.1v27.2s2.2 12.1-18.7 12.1"></path>
                    <path class="st2-7" d="M81.6 374.6l15.7 6.7-4 7.2-19.5-9.5zM113.5 374.6l-15.7 6.7 4 7.2 19.5-9.5z"></path>
                    <path class="st2-6" d="M673 328.3v9.3s-3.6 17.4-19.9 16.8c-16.3.5-19.9-16.8-19.9-16.8v-11.2M642.4 317.5s12.5 11.2 30.6 10.8"></path>
                    <path class="st2-7" d="M628.3 340.4c0-13.5 11-24.5 24.5-24.5s24.5 11 24.5 24.5"></path>
                    <path class="st2-7" d="M628.3 333.4c0-13.5 11-24.5 24.5-24.5s24.5 11 24.5 24.5"></path>
                    <path class="st2-6" d="M637.3 364.7l8.9-4.9v-6.4M621.1 384.6c0-6.8 0-11.5 9.6-16.2l5.4-3 1.2-.7M668.9 364.7l-8.8-4.9v-6.4M685.2 384.6c0-6.8 0-10.6-9.6-16.2l-5.4-3-1.3-.7M662.8 302.3h-20.4M662.8 302.3h.3c14.7 4.1 14.4 20.7 14.4 20.7v46M642.4 302.3C627.8 306.5 628 323 628 323v46M668.8 364.7c-8.8 8.5-22.7 8.6-31.5.1"></path>
                    <text class="st2-8 st2-9" transform="translate(629.12 419.236)">家屬</text>
                    <text class="st2-8 st2-9" transform="translate(61.81 148.085)">使用者</text>
                    <path class="st2-6" d="M65.8 112.8c0-6.8 0-11.5 9.6-16.2l5.4-3 10-5.6v-6.4M87.7 112.8V89.7M129.9 112.8c0-6.8 0-10.6-9.6-16.2l-5.4-3-10.1-5.6v-6.4M108.1 112.8V89.7M105.2 88.2c-4.2 4.1-10.8 4.1-15 0M85.3 77.9s-.7-6 7.6-9.3M109.9 77.9s.7-6-7.6-9.3"></path>
                    <path class="st2-6" d="M117.8 52.3c0-11-9-20-20-20s-20 9-20 20l.1 2.1v11.3S81.5 83 97.8 82.5c16.3.5 19.9-16.8 19.9-16.8v-9.3l.1-4.1zM77.6 63.3c-3 0-5.5-2.5-5.5-5.5s2.5-5.5 5.5-5.5"></path>
                    <path class="st2-6" d="M117.6 52.3c3 0 5.5 2.5 5.5 5.5s-2.5 5.5-5.5 5.5"></path>
                    <path class="st2-7" d="M89.1 42.4h16M89.1 49.4h16"></path>
                    <path class="st2-10" d="M587.4 381.5H392.6v-21.6"></path>
                    <path class="st2-11" d="M399.1 359.6l-6-6.1-5.9 6.1"></path>
                    <circle class="st2-4" cx="592.9" cy="381.5" r="3.3"></circle>
                    <path class="st2-10" d="M166.4 95.7h194.9v21.6"></path>
                    <path class="st2-11" d="M355.8 117.6l5.9 6.2 5.9-6.2"></path>
                    <circle class="st2-4" cx="165.9" cy="95.7" r="3.3"></circle>
                    <path class="st2-10" d="M534.1 95.7H393.6v21.6"></path>
                    <path class="st2-11" d="M534 89.8l6.2 5.9-6.2 6"></path>
                    <circle class="st2-4" cx="393.9" cy="121.7" r="3.3"></circle>
                    <path class="st2-10" d="M166.4 381.5h194.9v-21.6"></path>
                    <path class="st2-11" d="M355.8 359.6l5.9-6.1 5.9 6.1"></path>
                    <circle class="st2-4" cx="165.9" cy="381.5" r="3.3"></circle>
                    <text class="st2-8 st2-9" transform="translate(61.81 428.086)">護理師</text>
                    <text transform="translate(584.66 108.436)" font-size="17.41">數值上傳雲端</text>
                    <path d="M683 62.1c-10.8-25-39.9-36.6-65-25.7-14.1 6.1-24.6 18.5-28.3 33.4h-1.5c-18.9.3-34 15.9-33.7 34.9.3 18.5 15.2 33.4 33.7 33.7h104c21.1 0 38.1-17.1 38.1-38.1 0-21.1-17.1-38.1-38.1-38.1-10.2 0-19.9 4.1-27.1 11.3" fill="none" stroke="#a8a8a8" stroke-width="3" stroke-linejoin="round"></path>
                    <path class="st2-14" d="M97.4 292.3V167.2"></path>
                    <circle class="st2-4" cx="97.4" cy="168.7" r="3.3"></circle>
                    <circle class="st2-4" cx="97.2" cy="292.2" r="3.3"></circle>
                    <path class="st2-14" d="M592.6 400.3H165.1"></path>
                    <circle class="st2-4" cx="165.9" cy="400.3" r="3.3"></circle>
                    <circle class="st2-4" cx="593.1" cy="400.6" r="3.3"></circle>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="relative bg-care py-6 py-8">
    <div class="container">
        <div class="row justify-center">
            <div class="col-6 d-none d-md-block"><img class="img-fluid" src="~/Content/sks/img/pixta_20064770_L.png" alt="健康照護" /></div>
            <div class="col-md-6 text-vertical-center">
                <h2 class="mb-4">想了解更多</h2>
                <ul class="row list-unstyled thems-border-bottom mb-4">
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>安心照護服務</h3>
                    </li>
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>健康照護服務</h3>
                    </li>
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>生活轉介</h3>
                    </li>
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>輔具補助免費諮詢代辦</h3>
                    </li>
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>日照中心</h3>
                    </li>
                    <li class="col-7 col-lg-6 col-xl-4 mb-4">
                        <h3>居家服務員</h3>
                    </li>
                </ul>
                <a class="btn btn-outline-pill-dark" href="http://www.sklc.com.tw/" target="_blank">
                    <span class="align-middle h5 font-bold">前往新保生活關懷</span>
                    <svg width="20" height="20">
                        <g fill="none" stroke="#000">
                            <path d="M8 2l10 8-10 8"></path>
                        </g>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>

<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Care })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>