﻿@model sks.ViewModels.Shared.BaseView
@using sks.Models
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "新光保全 新保智慧家";
   
}
@section head{
    <title>新光保全-新保智慧家</title>
    <meta name="description" content="無線保全系統開啟家庭智慧生活體驗，火災煙霧/瓦斯偵測、出入安全，透過無線技術及行動APP隨時遠端監控，輕鬆擁有安全舒適且便捷的居家生活。" />
    <meta name="twitter:title" content="新光保全-新保智慧家" />
    <meta name="twitter:description" content="無線保全系統開啟家庭智慧生活體驗，火災煙霧/瓦斯偵測、出入安全，透過無線技術及行動APP隨時遠端監控，輕鬆擁有安全舒適且便捷的居家生活。" />
    <meta property="og:title" content="新光保全-新保智慧家" />
    <meta property="og:description" content="無線保全系統開啟家庭智慧生活體驗，火災煙霧/瓦斯偵測、出入安全，透過無線技術及行動APP隨時遠端監控，輕鬆擁有安全舒適且便捷的居家生活。" />
    <link rel="canonical" href="@url" />
}

<section class="h5 font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li class="active" data-target="#main-banner" data-slide-to="0"></li>
            <li data-target="#main-banner" data-slide-to="1"></li>
            <li data-target="#main-banner" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item text-center active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/wireless-banner-sm1.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/A02-BN-02.jpg);">
                    <svg class="mx-auto" width="300" height="100">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-wireless-logo-03"></use>
                    </svg>
                    <h2 class="h1">豪宅 質感更升級</h2>
                    <p>不擔心裝潢被破壞 裝設方便簡單</p>
                    <p>無須額外大規模施工</p>
                </div>
            </div>
            <div class="carousel-item text-center" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/wireless-banner-sm2.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/A02-BN-03.jpg);">
                    <svg class="mx-auto" width="300" height="100">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-wireless-logo-03"></use>
                    </svg>
                    <h2 class="h1">包租公必備神器</h2>
                    <p>花小錢安全感大升級</p>
                    <p>給房客無微不至的照護</p>
                </div>
            </div>
            <div class="carousel-item text-center" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-75 d-lg-none" style="background-image:url(/Content/sks/img/wireless-banner-sm3.jpg);"></div>
                <div class="bg-cover text-vertical-center vh-75 d-none d-lg-flex" style="background-image:url(/Content/sks/img/A02-BN-04.jpg);">
                    <svg class="mx-auto" width="300" height="100">
                        <use xlink:href="~/Content/sks/img/sprite.svg#icon-wireless-logo-03"></use>
                    </svg>
                    <h2 class="h1">無線保全系統</h2>
                    <p>開啟智能生活</p>
                    <p>創造無線生活，無線新意</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-lg-8 text-center">
        <div class="text-gray-57 border-bottom-d9 mb-4 py-4 py-md-6">
            <h2>無線保全系統</h2>
            <h2>建置專屬的智慧家庭</h2>
            <p class="h6">透過無線技術及行動APP，輕鬆轉動安全舒適且便捷的居家生活</p>
        </div>
        <div class="text-gray-57 py-4 py-md-6">
            <h3 class="h2 font-normal">服務功能</h3>
            <h2>無線保全帶來的智慧生活體驗</h2>
        </div>
        <div class="row justify-center font-bold text-white">
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/lock.jpg);"><a class="h4 mask-dark text-white lineheight-vh-25 scroll-href" href="#smartlife">啟動智慧生活第一道防線</a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#smartlife">啟動智慧生活第一道防線</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-200ms slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/61739151.jpg);"><a class="h4 mask-dark text-white lineheight-vh-25 scroll-href" href="#install">安裝便捷方便</a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#install">安裝便捷方便</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-400ms slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/61739160.jpg);"><a class="h4 mask-dark text-white lineheight-vh-25 scroll-href" href="#safe">防災安全</a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#safe">防災安全</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-600ms slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/46725899.jpg);"><a class="h4 mask-dark text-white lineheight-vh-25 scroll-href" href="#remote">遠端監控</a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#remote">遠端監控</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-800ms slow">
                <div class="relative bg-cover vh-25" style="background-size: 185%;background-image:url(/Content/sks/img/27056788.jpg);background-position: left bottom;"><a class="h4 mask-dark text-white lineheight-vh-25 scroll-href" href="#monitor">家人出入安全</a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#monitor">家人出入安全</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-1000ms slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/center-man.jpg);"><a class="h4 mask-dark text-white text-vertical-center scroll-href" href="#service"><span>管制中心</span><span>緊急事件通知</span></a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#service">管制中心緊急事件通知</a></div>
            </div>
            <div class="col-6 col-lg-4 my-3 SKS bounceInUp delay-1s slow">
                <div class="relative bg-cover vh-25" style="background-image:url(/Content/sks/img/26338302.jpg);"><a class="h4 mask-dark text-white text-vertical-center scroll-href" href="#customized"><span>客製化服務</span><span>適用於各種場所</span></a><a class="d-none d-md-inline-block white-arrow-bottom text-hide scroll-href" href="#customized">客製化服務適用於各種場所</a></div>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-ee mb-4">
    <div class="container-fluid text-black text-paragraph-gray">
        <div class="row border-y-white">
            <div class="col-md-6 border-right-white SKS fadeIn slow" style="visibility: visible; animation-name: fadeIn;">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover text-vertical-center vh-50" style="background-image: url(/Content/sks/img/YDM3109.jpg);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee py-4 text-vertical-center @(Model.IsMoblie ? "text-center":"")">
                        <div class="ml-2">
                            <h3>三合一電子鎖</h3>
                            <p>YALE YDM3109 +</p>
                            <p>熱感觸控/密碼/卡片</p>
                            <a class="btn btn-outline-pill-dark self-center h5 font-bold my-3" style="border-radius:10px" href="https://www.sks.com.tw/Event/YALE3109">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border-left-white SKS fadeIn slow delay-200ms" style="visibility: visible; animation-name: fadeIn;">
                <div class="row">
                    <div class="col-lg-6 col-xl-7 bg-cover text-vertical-center vh-50" style="background-image: url(/Content/sks/img/YDR323.jpg);">
                        <div class="bg-gray-ee-gradient tobottom toleft-lg"></div>
                    </div>
                    <div class="col-lg-6 col-xl-5 bg-gray-ee py-4 text-vertical-center @(Model.IsMoblie ? "text-center":"")">
                        <div class="ml-2">
                            <h3>輔助電子鎖</h3>
                            <p>YALE YDR323 +</p>
                            <p>熱感觸控卡片密碼電子鎖</p>
                            <a class="btn btn-outline-pill-dark self-center h5 font-bold my-3" style="border-radius:10px" href="https://www.sks.com.tw/Event/YDR323">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-paragraph-gray text-center h6">
        <div class="row" id="smartlife">
            <div class="col-md-4 vh-50 bg-cover fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/lock.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-5 col-lg-4 text-vertical-center py-4">
                <h2>啟動智慧生活</h2>
                <h2>第一道防線</h2>
                <p>｜智慧 IoT｜即時影像｜安全防護｜</p>
                <p>免費規劃 居家/辦公皆適用<br class="d-xl-none"> 全系列耶魯型號<br class="d-none d-lg-block">皆能結合新保服務</p>
            </div>
            <div class="col-md-3 col-lg-4 vh-50 bg-cover SKS fadeIn slow delay-300ms d-none d-md-block" style="background-image:url(/Content/sks/img/lockpeople.jpg);">
                <div class="bg-gray-ee-gradient totop toright-md"></div>
            </div>
        </div>
        <div class="row flex-row-reverse" id="fire">
            <div class="col-md-6 offset-lg-1 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image: url(/Content/sks/img/Fire.png); visibility: visible; animation-name: fadeIn;">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 col-lg-4 text-vertical-center py-4">
                <h2>
                    新保滅火寶
                </h2>
                <p>
                    居家車用 雙效輕巧 600g
                </p>
                <a style="margin-top:20px" class="btn btn-outline-pill-dark self-center h5 font-bold" target="_blank" href="https://www.sks.com.tw/Event/sksfireextinguisher">了解更多</a>
            </div>

        </div>
        <div class="row" id="install">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/61739151.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>安裝便捷方便</h2>
                <p>採用無線傳輸</p>
                <p>安裝無需配線施工，依家中需求進行配置</p>
            </div>
        </div>
        <div class="row flex-row-reverse" id="safe">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/61739160.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>防災安全</h2>
                <p>火災煙霧/瓦斯偵測</p>
                <p>當偵測到煙霧時，發出警聲提醒</p>
                <p>手機即時接收訊息，降低損害</p>
            </div>
        </div>
        <div class="row" id="remote">
            <div class="col-md-5 vh-50 bg-cover fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/46725900.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-4 col-lg-3 text-vertical-center py-4">
                <h2>遠端監控</h2>
                <p>透過行動裝置連結家中攝影機</p>
                <p>不在家也能觀看家中大小事</p>
            </div>
            <div class="col-md-3 col-lg-4 vh-50 bg-cover SKS fadeIn slow delay-300ms d-none d-md-block" style="background-image:url(/Content/sks/img/46725899.jpg);">
                <div class="bg-gray-ee-gradient totop toright-md"></div>
            </div>
        </div>
        <div class="row flex-row-reverse" id="monitor">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/27056788.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>家人出入安全</h2>
                <p>當門窗有異常開啟時，手機立刻發出預警</p>
                <p>管制中心並可即時派遺保全</p>
                <p>您可立即遠端觀看家中狀況</p>
            </div>
        </div>
        <div class="row" id="service">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/center-man.jpg);">
                <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>24小時</h2>
                <h2>管制/客服中心</h2>
                <p>緊急事件通知</p>
                <p>若有異常狀況發生時，可即時通報處理</p>
            </div>
        </div>
        <div class="row flex-row-reverse" id="customized">
            <div class="col-md-6 vh-50 bg-cover SKS fadeIn slow delay-300ms" style="background-image:url(/Content/sks/img/26338302.jpg);">
                <div class="bg-gray-ee-gradient tobottom toright-md"></div>
            </div>
            <div class="col-md-6 text-vertical-center py-4">
                <h2>客製化服務</h2>
                <p>針對居家環境與預算不同，提供完整的客製化服務</p>
                <p>打造便利舒適且兼顧的居家安全</p>
            </div>
        </div>
    </div>
</section>
<div class="container text-center text-md-left">
    <div class="row justify-center items-center">
        <div class="col-4 col-md-3 col-lg-2 mb-2"><img class="img-fluid" src="~/Content/sks/img/wireless_logo.png" alt="智慧生活2s" /></div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h3 class="leading-none mb-0">智慧生活2s</h3>
            <p class="mb-2">開啟生活無限安全</p>
            <div class="row">
                <div class="col-6 col-lg-5 mb-4 mb-md-0"><a href="https://apps.apple.com/tw/app/%E6%99%BA%E6%85%A7%E7%94%9F%E6%B4%BB2s/id1604536804" target="_blank"><img class="img-fluid" src="/Content/sks/img/download-appstore.png" alt="appstore" /></a></div>
                <div class="col-6 col-lg-5"><a href="https://play.google.com/store/search?q=%E6%99%BA%E6%85%A7%E7%94%9F%E6%B4%BB2S&c=apps&hl=zh_TW" target="_blank"><img class="img-fluid" src="/Content/sks/img/download-googleplay.png" alt="googleplay" /></a></div>
            </div>
        </div>
    </div>
</div>
<a class="fixed-pill fix-btn3 h6 show" href="@Url.Action("Index","Contact", new { productId = (int)Products.Wireless })">
    <svg class="img-fluid mr-1 mb-1" height="20" width="20" style="height: 20px;">
        <use xlink:href="~/Content/sks/img/sprite.svg#icon-fixed-service"></use>
    </svg><span>專人服務</span>
</a>
