﻿@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
    ViewBag.Title = "服務據點";
}
@section head{
    <title>新光保全-服務據點</title>
    <meta name="description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <meta name="twitter:title" content="新光保全-服務據點"/>
    <meta name="twitter:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <meta property="og:title" content="新光保全-服務據點"/>
    <meta property="og:description" content="客服中心：0800-668-850 服務信箱：service@sks.com.tw為提供顧客便利且全方位服務，堅持用心提供專業、優質服務"/>
    <link rel="canonical" href="@url" />
}

<section class="text-white text-center font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image: url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">服務據點</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter-gray py-6 py-lg-8">
    <div class="container">
        <div class="form-row justify-center">
            <label class="text-right col-3 col-md-2 col-form-label" for="region">所在區域</label>
            <div class="col-4 col-md-2 form-group">
                <select class="form-control bg-white border-black rounded" id="region" name="region">
                    <option value="all" selected="selected" disabled="disabled">請選擇</option>
                </select>
            </div>
            <div class="col-5 col-md-2 form-group">
                <select class="form-control bg-white border-black rounded" id="county" name="counties" disabled="disabled">
                    <option value="all" selected="selected">全部</option>
                </select>
            </div>
            <div class="col-md-6 col-lg-4 form-group">
                <input class="form-control bg-white border-black rounded" id="addr" type="text" placeholder="請輸入您的所在位置或街道名稱關鍵字" />
            </div>
            <div class="col-5 col-md-4 col-lg-2 form-group">
                <button class="btn btn-block btn-sks-blue px-0 py-1" id="searchAddr">搜尋據點</button>
            </div>
        </div>
    </div>
</section>
<section class="py-6 py-lg-8">
    <div class="container">
        <p class="search-result"></p>
        <div class="table-responsive-sm text-center">
            <table class="table table-w-150 table-content-middle d-none">
                <thead>
                    <tr>
                        <th width="30%">營運處</th>
                        <th width="30%">地址</th>
                        <th>電話</th>
                        @*<th width="25%">備註</th>*@
                    </tr>
                </thead>
                <tbody class="col-2-left"></tbody>
            </table>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Content/sks/js/location.js?v=11"></script>
}
