﻿@model sks.ViewModels.Shared.HeaderView
@{
    Layout = null;
    string url = Request.Url.Scheme + "://" + Request.Url.Host;
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.Title) ? "新光保全" : ViewBag.Title;
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MLVFH4P');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta property="og:image" content="@url/Content/sks/img/Imgog.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="新光保全公司官方網站" />
    <meta name="twitter:card" content="summary" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="YuHaoSyu" />
    <meta name="theme-color" content="#fed01f" />
    <meta name="msapplication-navbutton-color" content="#fed01f" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#fed01f" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />

    <link rel="shortcut icon" href="@url/Content/sks/img/ico.png" type="image/png" />
    <link rel="stylesheet" href="~/Content/sks/css/style.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168205468-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168205468-1');
    </script>
    <style>
        .mwt_border {
            display: inline-block;
            width: 70px;
            height: 150px;
            text-align: end;
            font-size: 16px;
            background: #ffc129;
            position: fixed;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 102px;
            margin-right: 10px;
            -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr
        }
            /*箭頭下*/
            .mwt_border .arrow_b_int {
                width: 0px;
                height: 0px;
                border-width: 15px;
                border-style: solid;
                border-color: #ffc129 transparent transparent transparent;
                position: absolute;
                bottom: -27px;
                right: 20px;
            }
        @@media(min-width:1024px) {
            header [class*=navbar-expand] .min-rem-lg-15 {
                min-width: 10em;
            }
        }
    </style>
    @RenderSection("head", required: false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLVFH4P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="header"></div>
    <header class="fixed-top">
        <div class="container relative">
            <nav class="navbar navbar-expand-lg">
                <img class="logo-icon mr-1" height="30" src="~/Content/sks/img/logo.svg" alt="新光Logo" />
                <h1 class="text-hide mr-auto mr-lg-2 mr-xl-6">
                    <a href="@Url.Action("Index","Home")">@ViewBag.Title<svg width="125" height="30"><use class="logo-text" xlink:href="~/Content/sks/img/sprite.svg#icon-sks-text"></use></svg></a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-lg-between pl-5 pl-lg-0" id="mobile-menu">
                    <ul class="navbar-nav justify-lg-between flex-lg-grow-2 flex-xl-grow-4 mr-xl-6 my-2">
                        <li class="nav-item dropdown" id="mobile-menu-service">
                            <a class="nav-link dropdown-toggle" href=".#" role="button" id="mobile-menu-servicesub" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">服務項目</a>
                            <div class="dropdown-menu min-rem-lg-45" id="mobile-menu-service-dropdown">
                                <div class="row d-block d-lg-flex no-gutters">
                                    <div class="col-lg-4">
                                        <a class="nav-link dropdown-item nav-link-title jsindex-link" href="/SmartHome" data-list=".jslist-home">家庭<span class="js-plus d-lg-none">&plus;</span></a>
                                        <ul class="list-unstyled pl-4 pl-lg-0 jslist-home jslist">
                                            <li><a class="dropdown-item" href="/SmartHome/Community">社區雲端守護</a></li>
                                            <li><a class="dropdown-item" href="/SmartHome/Wireless">家庭保全服務</a></li>
                                            <li><a class="dropdown-item" href="/SmartHome/Care">居家照護陪伴</a></li>
                                            <li><a class="dropdown-item" href="http://www.aedmap.com.tw" target="_blank">AED</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/sklcuvc">UVC紫光殺菌機</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/sksfireextinguisher">新保滅火寶</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="nav-link dropdown-item nav-link-title jsindex-link" href="/Business" data-list=".jslist-biz">商業<span class="js-plus d-lg-none">&plus;</span></a>
                                        <ul class="list-unstyled pl-4 pl-lg-0 jslist-biz jslist">
                                            <li><a class="dropdown-item" href="/Business/Office">商辦雲端守護</a></li>
                                            <li><a class="dropdown-item" href="/Business/AISecurity">AI智慧影像防護</a></li>
                                            <li><a class="dropdown-item" href="/Business/Security">商業保全服務</a></li>
                                            <li><a class="dropdown-item" href="/Business/Monitor">影像監控</a></li>
                                            <li><a class="dropdown-item" href="/Business/Access">智慧門管</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/bnb">智慧民宿套房</a></li>
                                            <li><a class="dropdown-item" href="/Business/Infosecurity">資安閘門服務</a></li>
                                            <li><a class="dropdown-item" href="/Business/POS">SKPOS</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4">
                                        <ul class="list-unstyled pl-4 pl-lg-0 jslist-biz jslist">
                                            <li><a class="dropdown-item" href="/Business/GPS">GPS車隊管理</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/dashcam">數位式行車記錄器</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/dvrcar">行車視野輔助系統</a></li>
                                            <li><a class="dropdown-item" href="/Business/AIHotel">智能旅館</a></li>
                                            <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/LADAKE">來打卡行動考勤</a></li>
                                            <li><a class="dropdown-item" href="/Business/WorkLink">WorkLink</a></li>
                                        </ul>
                                        <a class="nav-link dropdown-item nav-link-title jsindex-link" href="/Green" data-list=".jslist-build">智慧建築<span class="js-plus d-lg-none">&plus;</span></a>
                                        <ul class="list-unstyled pl-4 pl-lg-0 jslist-build jslist">
                                            <li><a class="dropdown-item" href="/Green/Architecture">智慧綠建築</a></li>
                                            <li><a class="dropdown-item" href="/Green/Prevention">智慧防災</a></li>
                                             <li><a class="dropdown-item" href="https://www.sks.com.tw/Event/firealarm">火警通報服務</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown" id="mobile-menu-about">
                            <a class="nav-link dropdown-toggle" href=".#" role="button" data-toggle="dropdown" id="mobile-menu-aboutsub" aria-haspopup="true" aria-expanded="false">關於新保</a>
                            <div class="dropdown-menu min-rem-lg-15" id="mobile-menu-about-dropdown">
                                <div class="row d-block d-lg-flex no-gutters">
                                    <div class="col-lg-12">
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-intro-list" href="/About/Index#list-intro">新保簡介</a>
                                        @*<a class="dropdown-item mobile-list-tab" data-tab="#list-milestone-list" href="/About/Index#list-milestone">里程碑</a>*@
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-award-list" href="/About/Index#list-award">獲獎紀錄</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#-list" href="/News">新聞中心</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#-list" href="/Robots">機器人專區</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-groups-list" href="/About/Index#list-groups">事業群</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-cooperations-list" href="/About/Index#list-cooperations">關係企業</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown" id="mobile-menu-shareholder">
                            <a class="nav-link dropdown-toggle" href=".#" role="button" data-toggle="dropdown" id="mobile-menu-shareholdersub" aria-haspopup="true" aria-expanded="false">投資人專區</a>
                            <div class="dropdown-menu min-rem-lg-15" id="mobile-menu-shareholder-dropdown">
                                <div class="row d-block d-lg-flex no-gutters">
                                    <div class="col-lg-12">
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-infomation-list" href="/Shareholder#list-infomation">公司基本資料</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-finance-list" href="/Shareholder#list-finance">財務資訊</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-columns-list" href="/Shareholder#list-columns">股東專欄</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-questions-list" href="/Shareholder#list-questions">問答集</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-connection-list" href="/Shareholder#list-connection">投資人聯絡資訊</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown" id="mobile-menu-company">
                            <a class="nav-link dropdown-toggle" href=".#" role="button" data-toggle="dropdown" id="mobile-menu-companysub" aria-haspopup="true" aria-expanded="false">公司治理</a>
                            <div class="dropdown-menu min-rem-lg-15" id="mobile-menu-company-dropdown">
                                <div class="row d-block d-lg-flex no-gutters">
                                    <div class="col-lg-12">
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-chairman-list" href="/Company#list-chairman">董事會成員</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-committee-list" href="/Company#list-committee">功能性委員會</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-rules-list" href="/Company#list-rules">公司內規</a>
                                        <a class="dropdown-item mobile-list-tab" data-tab="#list-chaining-list" href="/Company#list-chaining">運作情形</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="/Stakeholder"><span class="nav-link-hover" data-hover="利害關係人專區"> 利害關係人專區</span></a></li>
                        <li class="nav-item dropdown d-lg-none" id="mobile-menu-stakeholder">
                            <a class="nav-link dropdown-toggle" href="/Stakeholder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">利害關係人專區</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item mobile-list-tab" target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E9%9A%B1%E7%A7%81%E6%AC%8A%E4%BF%9D%E8%AD%B7%E8%81%B2%E6%98%8E.pdf">隱私權保護聲明</a>
                                <a class="dropdown-item mobile-list-tab" target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E5%80%8B%E4%BA%BA%E8%B3%87%E6%96%99%E6%AA%94%E6%A1%88%E5%AE%89%E5%85%A8%E7%B6%AD%E8%AD%B7%E8%A8%88%E7%95%AB.pdf">個人資料檔案 安全維護計畫</a>
                                <a class="dropdown-item mobile-list-tab" target="_blank" href="https://www.sks.com.tw/FileUploads/Document/%E6%80%A7%E9%A8%B7%E6%93%BE%E9%98%B2%E6%B2%BB%E6%8E%AA%E6%96%BD%E7%94%B3%E8%A8%B4%E5%8F%8A%E6%87%B2%E6%88%92%E8%BE%A6%E6%B3%95(20230307).pdf">性騷擾防治措施 申訴及懲戒辦法</a>
                                <a class="dropdown-item mobile-list-tab" href="https://www.sks.com.tw/FileUploads/Document/2022%E6%96%B0%E5%85%89%E4%BF%9D%E5%85%A8%E6%B0%B8%E7%BA%8C%E5%A0%B1%E5%91%8A%E6%9B%B8%E8%81%B7%E5%A0%B4%E5%AE%89%E5%85%A8%E8%88%87%E5%81%A5%E5%BA%B7.pdf" target="_blank">職業安全與健康</a>
                                <a class="dropdown-item mobile-list-tab" data-tab="http://csr.sks.com.tw/" href="http://csr.sks.com.tw/" target="_blank">CSR專區</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="/CorporateSocial"><span class="nav-link-hover" data-hover="ESG專區">ESG專區</span></a></li>
                        <li class="nav-item dropdown d-lg-none" id="mobile-menu-responsibility">
                            <a class="nav-link dropdown-toggle" href="/CorporateSocial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ESG專區</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item mobile-list-tab" href="/CorporateSocial/ClassRoom">安心教室</a>
                                <a class="dropdown-item mobile-list-tab" href="/CorporateSocial/CultureArtfoundation">文化藝術基金會</a>
                                <a class="dropdown-item mobile-list-tab" href="/CorporateSocial/WelfareFoundation">關懷社會福利基金會</a>
                                <a class="dropdown-item mobile-list-tab" href="https://esg.sks.com.tw/" target="_blank">永續報告書</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row flex-lg-grow-1 justify-lg-between">
                        <li class="nav-item mr-2">
                            <a class="nav-link p-0" target="_blank" href="https://www.facebook.com/skstaiwan/">
                                <svg width="25" height="25">
                                    <use class="icon-fb" xlink:href="~/Content/sks/img/sprite.svg#icon-fb"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link p-0" target="_blank" href="https://www.youtube.com/watch?v=juKX1ip7If0&amp;t=4s">
                                <svg width="25" height="25">
                                    <use class="icon-yt" xlink:href="~/Content/sks/img/sprite.svg#icon-yt"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link p-0" href="@Url.Action("Index","User")">
                                <svg width="25" height="25">
                                    <use class="icon-h-location" xlink:href="~/Content/sks/img/sprite.svg#icon-index-icon-97"></use>
                                </svg><span class="icon-text d-none d-xl-inline">用戶專區</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0" id="showSearchBar" href="@Url.Action("Index","Search")">
                                <svg width="33" height="33">
                                    <use class="icon-search" xlink:href="~/Content/sks/img/sprite.svg#icon-search"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()
    <section class="border-sks py-6 py-lg-8">
        <div class="container text-center">
            <div class="row no-gutters divider border-sm-none">
                <div class="col-6 col-md-3">
                    <a class="d-block font-md hover-area mx-xl-8 py-4" href="@Url.Action("Index","Location")">
                        <svg class="img-fluid mb-4" height="80">
                            <title>服務據點</title>
                            <use class="contact" xlink:href="~/Content/sks/img/sprite.svg#icon-footer-1"></use>
                        </svg><span class="d-block h4 font-bold">服務據點</span>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="d-block font-md hover-area mx-xl-8 py-4" href="@Url.Action("Index","Contact")">
                        <svg class="img-fluid mb-4" height="80">
                            <title>聯絡我們</title>
                            <use class="contact" xlink:href="~/Content/sks/img/sprite.svg#icon-footer-2"></use>
                        </svg><span class="d-block h4 font-bold">聯絡我們</span>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="d-block font-md hover-area mx-xl-8 py-4" href="https://www.104.com.tw/company/5msc8qo?roleJobCat=0_0&amp;area=0&amp;page=1&amp;pageSize=20&amp;order=8&amp;asc=0" target="_blank">
                        <svg class="img-fluid mb-4" height="80">
                            <title>企業徵才</title>
                            <use class="contact" xlink:href="~/Content/sks/img/sprite.svg#icon-footer-3"></use>
                        </svg><span class="d-block h4 font-bold">企業徵才</span>
                    </a>
                </div>
                <div class="col-6 col-md-3">
                    <a class="d-block font-md hover-area mx-xl-8 py-4" href="@Url.Action("Index","Stakeholder")">
                        <svg class="img-fluid mb-4" height="80">
                            <title>利害人關係專區</title>
                            <use class="contact" xlink:href="~/Content/sks/img/sprite.svg#icon-footer-4"></use>
                        </svg><span class="d-block h4 font-bold">利害人關係專區</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-6 bg-lighter-gray">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/SmartHome">家庭用戶</a></h5>
                    <ul>
                        <li><a href="@Url.Action("Community","SmartHome")">社區雲端守護</a></li>
                        <li><a href="@Url.Action("Wireless","SmartHome")">家庭保全服務</a></li>
                        <li><a href="@Url.Action("Care","SmartHome")">居家照護陪伴</a></li>
                        <li><a href="http://www.aedmap.com.tw/" target="_blank">AED</a></li>
                        <li><a href="https://www.sks.com.tw/Event/sklcuvc">UVC紫光殺菌機</a></li>
                        <li><a href="https://www.sks.com.tw/Event/sksfireextinguisher">新保滅火寶</a></li>
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/Business">商業用戶</a></h5>
                    <ul>
                        <li><a href="/Business/Office">商業雲端守護</a></li>
                        <li><a href="/Business/AISecurity">AI智慧影像保全</a></li>
                        <li><a href="/Business/Security">商業保全服務</a></li>
                        <li><a href="/Business/Monitor">影像監控</a></li>
                        <li><a href="/Business/Access">智慧門管</a></li>
                        <li><a href="https://www.sks.com.tw/Event/bnb">智慧民宿套房</a></li>
                        <li><a href="/Business/Infosecurity">資安閘門服務</a></li>
                        <li><a href="/Business/POS">SKPOS</a></li>
                        <li><a href="/Business/GPS">GPS車隊管理</a></li>
                        <li><a href="https://www.sks.com.tw/Event/dashcam">數位式行車記錄器</a></li>
                        <li><a href="https://www.sks.com.tw/Event/dvrcar">行車視野輔助系統</a></li>
                        <li><a href="/Business/AIHotel">智能旅館</a></li>
                        <li><a href="https://www.sks.com.tw/Event/LADAKE">來打卡行動考勤</a></li>
                        <li><a href="/Business/WorkLink">WorkLink</a></li>
                        @*<li><a href="/Business/Shop">生活購物專區</a></li>*@
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/Green">智慧建築</a></h5>
                    <ul>
                        <li><a href="/Green/Architecture">智慧綠建築</a></li>
                        <li><a href="/Green/Prevention">智慧防災</a></li>
                        <li><a href="https://www.sks.com.tw/Event/firealarm">火警通報服務</a></li>
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/About">關於新保</a></h5>
                    <ul>
                        <li><a class="hot-reload" href="/About#list-intro">新保簡介</a></li>
                        @*<li><a class="hot-reload" href="/About#list-milestone">里程碑</a></li>*@
                        <li><a class="hot-reload" href="/About#list-award">獲獎紀錄</a></li>
                        <li><a href="@Url.Action("Index","News")">新聞中心</a></li>
                        <li><a href="/Robots">機器人專區</a></li>
                        <li><a class="hot-reload" href="/About#list-groups">事業群</a></li>
                        <li><a class="hot-reload" href="/About#list-cooperations">關係企業</a></li>
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/CorporateSocial">ESG專區</a></h5>
                    <ul>
                        <li><a href="@Url.Action("WelfareFoundation","CorporateSocial")">關懷社會福利基金</a></li>
                        <li><a href="@Url.Action("CultureArtfoundation","CorporateSocial")">文化藝術基金會</a></li>
                        <li><a href="@Url.Action("ClassRoom","CorporateSocial")">安心教室</a></li>
                        <li><a href="https://esg.sks.com.tw" target="_blank">ESG</a></li>
                        @*<li><a href="https://www.sks.com.tw/Event/FANGQIAO">枋橋日照中心</a></li>*@
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/Stakeholder">相關法規</a></h5>
                    <ul>
                        <li><a class="hot-reload" href="/Stakeholder#list-privacy">隱私權聲明</a></li>
                        <li><a class="hot-reload" href="/Stakeholder#list-profile">個人資料檔案<br>安全維護計畫</a></li>
                        <li><a target="_blank" href="https://wwwadmin.sks.com.tw/FileUploads/Document/%E6%80%A7%E9%A8%B7%E6%93%BE%E9%98%B2%E6%B2%BB%E6%8E%AA%E6%96%BD%E7%94%B3%E8%A8%B4%E5%8F%8A%E6%87%B2%E6%88%92%E8%BE%A6%E6%B3%95(20230307).pdf">性騷擾防治法</a></li>
                        <li><a class="hot-reload" href="/Stakeholder#list-safety">職業安全與健康</a></li>
                    </ul>
                </div>
                <div class="col-4 col-sm-3 col-lg mb-5">
                    <h5><a href="/User">用戶專區</a></h5>
                    <ul>
                        <li><a href="http://www2.sks.com.tw/svc/" target="_blank">客戶查詢</a></li>
                        <li><a href="http://www.skgps.com.tw/skstemp/tlogin.aspx" target="_blank">冷凍溫度查詢</a></li>
                        <li><a href="http://www.isee24.com.tw/Login.aspx" target="_blank">監控網</a></li>
                        <li><a href="http://www2.sks.com.tw/kman/changekmanreq.aspx" target="_blank">聯絡人異動</a></li>
                        <li><a href="http://www2.sks.com.tw/kman/changeNO.aspx" target="_blank">設定服務變更</a></li>
                        <li><a href="http://www.skgps.com.tw/sksfleetweb2/" target="_blank">GPS車隊管理</a></li>
                        <li><a href="http://careu.sklc.com.tw/login" target="_blank">健康照護網</a></li>
                        <li><a href="https://www.sks.com.tw/Event/publication" target="_blank">新保季刊</a></li>
                    </ul>
                </div>
                <div class="col-3 col-sm-2 col-lg mb-5"><img width="60" src="~/Content/sks/img/logo.svg" alt="新光Logo" /><a class="fix-round fix-btn scroll-href h6 show" href="#header"><span class="arrow-top"></span><span class="d-none d-md-inline">TOP</span></a></div>


                <div class="col-9 col-sm-12 col-lg-12 mt-xl-6">
                    <address class="d-sm-flex">
                        <p class="font-bold mr-2 mb-0">客服電話</p>
                        <ul class="list-inline list-text-sksblue-hover text-gray">
                            <li class="list-inline-item d-block d-sm-inline-block mr-0">北區<a class="text-gray" href="tel:0800097668">0800-097668<span class="d-none d-sm-inline">&nbsp;|&nbsp;</span></a></li>
                            <li class="list-inline-item d-block d-sm-inline-block mr-0">中區<a class="text-gray" href="tel:0800097668">0800-697668<span class="d-none d-sm-inline">&nbsp;|&nbsp;</span></a></li>
                            <li class="list-inline-item d-block d-sm-inline-block mr-0">南區<a class="text-gray" href="tel:0800097668">0800-897668</a></li>
                        </ul>
                    </address>
                </div>
            </div>
            <h6 class="border-top pt-5">Copyright ©新光保全股份有限公司<span>&nbsp;</span><span class="d-block d-md-inline-block">TAIWAN SHIN KONG SECURITY CO.,LTD</span><span class="d-none d-md-inline">&nbsp;|&nbsp;</span><a class="text-sksBlue" target="_blank" href="https://www.google.com.tw/maps/place/114台北市內湖區行愛路128號/25.0638904,121.5779162,17z">台北市內湖區行愛路128號</a><span class="d-none d-sm-inline">&nbsp;|&nbsp;</span><a class="text-sksBlue d-block d-md-inline-block" href="@Url.Action("Index","SiteMap")">網站地圖</a></h6>
        </div>
    </footer>


    <a class="fix-round2 fix-btn2 h6 show" href="https://wlsecurity999.sks.com.tw/webagent/client.html" target="_blank">
        @if ((ViewContext.RouteData.Values["controller"].ToString().IndexOf("CorporateSocial") != -1 && ViewContext.RouteData.Values["action"].ToString().IndexOf("Index") == -1) || ViewContext.RouteData.Values["action"].ToString().IndexOf("Index") != -1 && ViewContext.RouteData.Values["controller"].ToString().IndexOf("Event") == -1)
        {
            <div class="mwt_border fixed-pill2 fix-btn3 show">
                <span class="arrow_b_int"></span>
                <span class="arrow_b_out"></span>
                在此為您服務<br />
                新光保全線上客服
            </div>
        }
        <img src="~/Content/sks/img/CS.svg" width="125" height="125" />
    </a>

    <script src="~/Content/sks/js/vendors.js"></script>
    <script src="~/Content/sks/js/script.js"></script>
    <script>
        $(window).on('load', function () {
            if (location.hash.indexOf("%23") > -1)
                location.hash = location.hash.replace("%23", "#");

            var message = '@TempData["Message"]';
            if (null != message && '' != message) {
                alert(message);
            }
        });
        setTimeout(() => {
            $(".fixed-pill2").removeClass("show").addClass("d-none")
            $(".fixed-pill").removeClass("show").addClass("d-none")
        }, "10000");
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
