﻿@model sks.Models.Cmind.Page
@{
    var prePageDisable = Model.CurrentPage == 1;
    var prePageDisableCss = prePageDisable ? "disabled cc_pointer" : null;
    var prePage = (Model.CurrentPage - 1);

    var nextPageDisable = Model.CurrentPage == Model.TotalPages;
    var nextPageDisableCss = nextPageDisable ? "disabled cc_pointer" : null;
    var nextPage = (Model.CurrentPage + 1);

    var currentPage = Model.CurrentPage;

    var start = (Model.CurrentPage - 1) * Model.PageSize + 1;
    var end = start + (Model.Count - 1);

    int showPagesCount = 2;
    int showPageStart = Math.Max(Model.CurrentPage - showPagesCount, 1);
    int showPageEnd = Math.Min(Model.CurrentPage + showPagesCount, Model.TotalPages);
}

@if (Model.TotalPages > 0)
{
    <nav>
        <ul class="pagination justify-center cc_cursor">
            @if (prePageDisable)
            {
                <li><a class="page-link @prePageDisableCss" aria-label="Previous">«</a></li>
            }
            else
            {
                <li class="paginate_button page-item" data-pager="@prePage"><a class="page-link @prePageDisableCss" href="#" aria-label="Previous">«</a></li>
            }

            @for (int i = showPageStart; i <= showPageEnd; i++)
            {
                var currentPageActive = (i == currentPage) ? "active" : null;
                if (!string.IsNullOrEmpty(currentPageActive))
                {
                    <li class="page-item @currentPageActive"><a class="page-link">@i</a></li>

                }
                else
                {
                    <li class="pagination__page paginate_button page-item @currentPageActive" data-pager="@i"><a class="page-link" href="#">@i</a></li>

                }
            }
            @if (nextPageDisable)
            {
                <li><a class="page-link @nextPageDisableCss" aria-label="Next">»</a></li>
            }
            else
            {
                <li class="paginate_button page-item" data-pager="@nextPage"><a class="page-link @nextPageDisableCss" href="#" aria-label="Next">»</a></li>
            }
        </ul>
    </nav>
}
