﻿
<section class="text-white text-center font-bold" id="page-top">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">錯誤</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid full-fluid border-bottom-light-gray">
    <div class="row items-center">
        <div class="col-md-5 col-lg-4 bg-cover bg-top vh-50" style="background-image:url(/Content/sks/img/BN2-01.jpg);">
            <div class="bg-gray-ee-gradient tobottom toleft-md"></div>
        </div>
        <div class="col-md-7 cc_cursor">
            <div class="row no-gutters">
                <div class="col-lg-4 col-xl-3">

                </div>
                <div class="col-lg-8 col-xl-9 text-vertical-center">
                    <p class="h2 font-bold">404 Error</p>
                    <p class="h4">
                        <span style="font-size:24px">
                            找不到此頁面 <br />
                            搜尋的內容已經移除 <br />
                            您可以回到<a class="" style="margin:20px 0;color:blue" href="@Url.Action("Index","Home")">首頁</a>或使用菜單上方的搜尋 <br />
                            或是<a class="" style="margin:20px 0;color:blue" href="@Url.Action("Index","Contact")">聯絡我們</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        let href = location.hash + '-list'
        $(href).click()
        setTimeout(() => {
            $(window).scrollTop(0)
        }, 150)
    </script>
}