﻿@using sks.Models;
@using sks.Utility.Cmind;

@model sks.ViewModels.News.NewsView
@{
    var link = "";
    var title = "";
    var subtitle = "";
    switch (Model.Type)
    {
        case (int)NewsType.News:
            link = "/News/Index";
            title = "新聞中心";
            break;
        case (int)NewsType.ClassRoom:
            link = "/CorporateSocial/ClassRoom";
            title = "安心教室";
            subtitle = "活動";
            break;
        case (int)NewsType.Welfare:
            link = "/CorporateSocial/WelfareFoundation";
            title = "關懷社會褔利基金會";
            subtitle = "活動";
            break;
        case (int)NewsType.CultureAndArts:
            link = "/CorporateSocial/CultureArtfoundation";
            title = "文化藝術基金會";
            subtitle = "活動";
            break;
        default:
            link = "/Shareholder/Index?list=list-columns-list&nav=list-important-list";
            title = "股東會專區";
            subtitle = "重大消息";
            break;
    }
    var textclass = Model.Type == (int)NewsType.News ? "vh-33" : "vh-50";
    ViewBag.Title = title + Model.Title;
}
@section head{
    <meta property="og:title" content="新光保全 @title @Model.Title" />
    <title>新光保全 @title | @Model.Title</title>
    @if (!String.IsNullOrEmpty(Model.Content))
    {
        string content = System.Text.RegularExpressions.Regex.Replace(Model.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
        if (content.Count() > 60)
        {
            content = content.Substring(0, 60);
        }
        <meta property="og:description" content="@content">
        <meta name="description" content="@content">
    }
    <style>
        @@media(max-width:1024px) {
            .vh-50 {
                height: 39vh !important;
            }
        }
    </style>
}

<section class="text-white text-center font-bold">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center @textclass relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark py-9">
                        <h2 class="h1">@title</h2>
                        <h2 class="h1">@subtitle</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main class="py-6 py-lg-8">
    <div class="container py-6 py-lg-8">
        <article class="h5">
            @if (!string.IsNullOrEmpty(Model.MainImage))
            {
                <img class="img-fluid mb-4" src="https://wwwadmin.sks.com.tw/FileUploads/NewsPhoto/@Model.MainImage" />
            }
            <h2 class="h3 mb-4">@Model.Title</h2>
            <p class="text-gray mb-4">
                發布日期：
                <time>@Model.OnlineTime.ToString("yyyy-MM-dd")</time>
            </p>

            @HtmlHelperExtensions.AntiXssRaw(Model.Content)
        </article>
    </div>
    <div class="container py-6 py-lg-8"><a href="@link">< &nbsp; 返回列表</a></div>
</main>