﻿@model sks.ViewModels.News.NewsIndexView
@{
    string url = Request.Url.Scheme + "://" + Request.Url.Host + Request.Url.LocalPath;
}
@section head{
    @if (Model.PageResult.Data.Count() > 0)
    {
        var firstData = Model.PageResult.Data.FirstOrDefault();
        string content = System.Text.RegularExpressions.Regex.Replace(firstData.Content, @"\<.*?\>", String.Empty).Replace("&nbsp;", String.Empty).Trim();
        if (content.Count() > 60)
        {
            content = content.Substring(0, 60);
        }
        <meta property="og:title" content="新光保全 新聞中心 @firstData.Title" />
        <title>新光保全 新聞中心 | @firstData.Title</title>
        <meta property="og:description" content="@content">
        <meta name="description" content="@content">
        <link rel="canonical" href="@url" />
        ViewBag.Title= "新聞中心"+ firstData.Title;
    }
}

<section class="text-white text-center font-bold" id="page-top">
    <div class="carousel slide carousel-fade" id="main-banner" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <div class="bg-cover text-vertical-center vh-33 relative" style="background-image:url(/Content/sks/img/about-banner.jpg);">
                    <div class="mask-dark">
                        <h2 class="h1 lineheight-vh-33">關於新保</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid full-fluid border-bottom-light-gray">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3 col-xl-2 bg-aside py-6 py-lg-8">
            <aside class="list-group h5 text-center" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="/About/Index#list-intro">新保簡介</a>
                @*<a class="list-group-item list-group-item-action" href="/About/Index#list-milestone">里程碑</a>*@
                <a class="list-group-item list-group-item-action" href="/About/Index#list-award">獲獎紀錄</a>
                <a class="list-group-item list-group-item-action active" href="#" aria-controls="news" role="tab" data-toggle="list">新聞中心</a>
                <a class="list-group-item list-group-item-action" href="/Robots">機器人專區</a>
                <a class="list-group-item list-group-item-action" href="/About/Index#list-groups">事業群</a>
                <a class="list-group-item list-group-item-action" href="/About/Index#list-cooperations">關係企業</a>
            </aside>
        </div>
        <div class="col-lg-9 col-xl-10 py-6 py-xl-8">
            <div class="tab-content">
                <section class="tab-pane fade show active" id="list-news" role="tabpanel" aria-labelledby="list-news-list">
                    <div class="container h6">
                        <h2 class="text-gray-57 text-center mb-4">新聞中心</h2>
                        <select class="form-control mb-4 bg-white border-black rounded" id="select-news-year">
                            <option value="0">依年分搜尋</option>
                            @for (int i = DateTime.Now.Year; i >= 2015; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <ul class="list-unstyled divider-h mb-4">
                            @foreach (var item in Model.PageResult.Data)
                            {
                                <li class="py-4 px-lg-10 px-xl-11">
                                    <a href="@Url.Action("Detail","News",new { id = item.ID })">
                                        <time class="mr-4">@item.OnlineTime.ToString("yyyy-MM-dd")</time>
                                        <span class="d-block d-lg-inline">@item.Title</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        @{
                            Html.RenderPartial("_Page", Model.PageResult);
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const searchstr = urlParams.get('year');
            if (searchstr !== null) {
                $('#select-news-year').val(searchstr);
            }
        });
        $('#select-news-year').on('change', function (e) {
            var selectedTable = $(this).val();
            if (selectedTable) {
                toSearchResult(selectedTable);
            }
        });

        //新聞頁
        const Url = '@Url.Action("Index")';

        function toSearchResult(year) {
            var params = {
                year: year
            };
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + params[key]
            }).join('&');
            const origin = window.location.origin;
            const pathname = window.location.pathname;
            const url = origin + Url + '?' + queryString;
            window.location.href = url;
        }
    </script>
}
